<template>
  <div v-if="cmsPageContent">
    <div class="container" v-html="cmsPageContent.content" />
  </div>
</template>

<script>
import { htmlDecode } from '@vue-storefront/core/filters/html-decode'
import config from 'config'
export default {
  name: 'Example',
  computed: {
    cmsPageContent () {
      return this.$store.state.cmsPage.current
    },
    pageTitle () {
      return this.$store.state.cmsPage.current ? this.$store.state.cmsPage.current.meta_title || this.$store.state.cmsPage.current.title : ''
    },
    pageDescription () {
      return this.$store.state.cmsPage.current ? this.$store.state.cmsPage.current.meta_description : ''
    },
    pageKeywords () {
      return this.$store.state.cmsPage.current ? this.$store.state.cmsPage.current.meta_keywords : ''
    }
  },
  metaInfo () {
    return {
      title: htmlDecode(this.$route.meta.title || this.pageTitle),
      meta: [
        { vmid: 'description', name: 'description', content: htmlDecode(this.pageDescription) },
        { vmid: 'keywords', name: 'keywords', content: htmlDecode(this.pageKeywords) },
        { vmid: 'title', name: 'title', content: htmlDecode(this.$route.meta.title || this.pageTitle) }
      ]
    }
  },
  watch: {
    '$route': 'validateRoute'
  },
  methods: {
    validateRoute () {
      let urlkey = this.$route.fullPath.replace('/', '')
      let currentRoute = urlkey.split('/').pop()
      this.$store.dispatch('cmsPage/single', { value: currentRoute, setCurrent: true }).then(cmsPage => {
        if (!cmsPage) {
          this.$router.push(this.localizedRoute('/'))
        }
      })
    }
  },
  mounted () {
    this.validateRoute()
  }
}
</script>
