<template>
  <div class="signup-buttons flex justify-center">
    <div id="fb-root" />
    <a href="#" class="google-signup mr-10 rounded-3xl" @click.prevent="loginWithGoogle">
      <img src="/assets/google-icon.svg" alt="amazon" width="40" height="40">
    </a>
    <a href="#" class="facebook-signup rounded-3xl mr-10" @click.prevent="loginWithFacebook">
      <svg class="rounded-3xl" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="40" height="40" rx="20" fill="#4267B2" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.999 15.4915L22.549 15.4924C21.4119 15.4924 21.1915 16.0183 21.1915 16.7899V18.4924H23.9037L23.5504 21.1596H21.1915V28.0015H18.3637V21.1596H15.999V18.4924H18.3637V16.5265C18.3637 14.2437 19.7954 13.0015 21.8857 13.0015C22.887 13.0015 23.7477 13.0737 23.999 13.1065V15.4915Z" fill="white" />
      </svg>
    </a>
    <a href="#" class="twitter-signup rounded-3xl mr-10" @click="loginWithTwitter">
      <svg class="rounded-3xl" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="40" height="40" rx="20" fill="#1DA1F2" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.362 17.2392C26.368 17.3802 26.372 17.5212 26.372 17.6641C26.372 22.0001 23.07 27.001 17.032 27.001C15.178 27.001 13.453 26.4581 12 25.5273C12.257 25.5573 12.518 25.5723 12.783 25.5723C14.321 25.5723 15.736 25.0484 16.86 24.1676C15.423 24.1416 14.211 23.1929 13.793 21.8892C13.994 21.9271 14.199 21.9471 14.411 21.9471C14.71 21.9471 15 21.9072 15.276 21.8322C13.774 21.5312 12.643 20.2045 12.643 18.6149C12.643 18.6009 12.643 18.5869 12.643 18.5729C13.085 18.8189 13.592 18.9668 14.13 18.9838C13.249 18.395 12.669 17.3902 12.669 16.2525C12.669 15.6506 12.831 15.0867 13.114 14.6018C14.733 16.5874 17.152 17.8941 19.88 18.031C19.824 17.7911 19.795 17.5402 19.795 17.2832C19.795 15.4706 21.265 14.001 23.077 14.001C24.022 14.001 24.875 14.3999 25.473 15.0377C26.221 14.8908 26.924 14.6178 27.558 14.2419C27.313 15.0077 26.792 15.6506 26.115 16.0575C26.779 15.9775 27.411 15.8016 28 15.5406C27.56 16.1985 27.003 16.7763 26.362 17.2392Z" fill="white" />
      </svg>
    </a>
    <a href="#" class="amazon-signup rounded-3xl mr-10" @click.prevent="loginWithAmazon">
      <img src="/assets/amazon-icon.svg" alt="amazon" width="40" height="40">
    </a>
  </div>
</template>

<script>
import { router } from '@vue-storefront/core/app';
import i18n from '@vue-storefront/i18n'

export default {
  name: 'SocialSignup',
  methods: {
    loginWithGoogle () {
      this.$bus.$emit('notification-progress-start', i18n.t('Please a wait...'))
      let store = this.$store;
      this.$gAuth
        .signIn()
        .then(GoogleUser => {
          var profile = GoogleUser.getBasicProfile();
          var userInfo = {
            firstname: profile.getGivenName(),
            lastname: profile.getFamilyName(),
            email: profile.getEmail(),
            type: 'google',
            typeId: GoogleUser.getId()
          }
          this.$store.dispatch('social-auth/signup', userInfo, store)
          router.push('/')
        })
        .catch(error => {
          this.$bus.$emit('notification-progress-stop')
          console.log('error', error)
        })
    },
    loginWithFacebook () {
      window.FB.login(response => {
        if (response.authResponse) {
          window.FB.api('/me', { locale: 'en_US', fields: 'email,first_name,last_name' }, (response) => {
            this.$bus.$emit('notification-progress-start', i18n.t('Please a wait...'))
            if (response && response.email) {
              var userInfo = {
                firstname: response.first_name,
                lastname: response.last_name,
                email: response.email,
                type: 'facebook',
                typeId: response.id
              }
              this.$store.dispatch('social-auth/signup', userInfo)
            } else {
              this.$store.dispatch('notification/spawnNotification', {
                type: 'error',
                message: i18n.t('Please update your email into the facebook account.'),
                action1: { label: i18n.t('OK') }
              })
            }
            router.push('/')
          });
        } else {
          this.$bus.$emit('notification-progress-stop')
        }
      }, { scope: 'public_profile,email' })
    },
    loginWithAmazon () {
      try {
        const options = {
          scope: 'profile',
          pkce: true
        }
        this.$bus.$emit('notification-progress-start', i18n.t('Please a wait...'))
        window.amazon.Login.authorize(options, (response) => {
          if (response.error) {
            this.$bus.$emit('notification-progress-stop')
            throw new Error('[Amazon: authorize]' + response.error)
          }
          window.amazon.Login.retrieveToken(response.code, (response) => {
            if (response.error) {
              this.$bus.$emit('notification-progress-stop')
              throw new Error('[Amazon: retrieveToken]' + response.error)
            }
            window.amazon.Login.retrieveProfile(response.access_token, (response) => {
              if (response.error) {
                this.$bus.$emit('notification-progress-stop')
                throw new Error('[Amazon: retrieveProfile]' + response.error)
              }
              if (response && response.profile && response.profile.PrimaryEmail) {
                var userInfo = {
                  firstname: response.profile.Name,
                  lastname: response.profile.Name,
                  email: response.profile.PrimaryEmail,
                  type: 'amazon',
                  typeId: response.profile.CustomerId
                }
                this.$store.dispatch('social-auth/signup', userInfo)
              } else {
                this.$store.dispatch('notification/spawnNotification', {
                  type: 'error',
                  message: i18n.t('Please update your email into the amazon account.'),
                  action1: { label: i18n.t('OK') }
                })
              }
              router.push('/')
            });
          })
        });
      } catch (err) {
        this.$bus.$emit('notification-progress-stop')
      }
      return false;
    },
    async loginWithTwitter () {
      await this.$store.dispatch('social-auth/signtwitter').then(res => {
        if (res.code === 200) {
          window.location.replace(`https://api.twitter.com/oauth/authorize?oauth_token=${res.result}`)
        } else {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'error',
            message: i18n.t('Something went wrong. Try again in a few seconds.'),
            action1: { label: i18n.t('OK') }
          })
        }
      })
    }
  }
}
</script>
<style lang="scss">
.signup-buttons a, .signup-buttons svg {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
</style>
