<template>
  <div
    class="categories__handler flex md:block flex-wrap"
  >
    <h6 class="leading-16 text-gray-600 font-regular absolute left-0 md:left-20 top-20 m-0">
      {{ 'Category Suggestions' }}
    </h6>
    <div class="md:w-full mb-10 mr-10 md:mr-0" v-for="category in filterCategories" :key="category.id">
      <button
        :key="category.category_id"
        class="categories_button leading-14 py-4 px-15 text-xs text-gray-200 rounded-3xl border border-gray-500 cursor-pointer block"
        :class="{ 'categories__button--active text-white bg-mine-shaft': value.includes(category.category_id), 'text-black': !value.includes(category.category_id) }"
        type="button"
        @click="toggleCategory(category)"
      >
        {{ category.name }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Array,
      required: true
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
    }
  },
  computed: {
    // We only need to show the categories and their child categories under RTA Cabinets (ID: 5049), European Style Kitchen Cabinets - RTA (ID: 6879).
    filterCategories () {
      return this.categories.filter(cat => (cat.path.match('5049') || cat.path.match('6879')) && (cat.path.split('/').length === 5 || cat.path.split('/').length === 6))
    }
  },
  methods: {
    toggleCategory (category) {
      const isSelected = this.value.includes(category.category_id)
      if (isSelected) {
        this.$emit('input', this.value.filter(categoryId => categoryId !== category.category_id))
      } else {
        this.$emit('input', [...this.value, category.category_id])
      }
    }
  }
}
</script>
