<template>
  <div class="select-wrapper relative">
    <div class="relative">
      <label v-if="label" class="text-base text-gray-400 px-15 py-13 md:py-19 pointer-events-none left-0 absolute select-none">{{ placeholder }}</label>
      <select
        :name="name"
        class="w-full appearance-none base-input-text py-13 md:py-13 px-15 bg-white box-border border h-50 md:h-60 border-gray-50 text-base outline-none hover:border-black focus:border-black"
        :class="{
          'cl-tertiary' : options.length === 0,
          'empty': !selected
        }"
        :autocomplete="autocomplete"
        @focus="$emit('focus')"
        @blur="$emit('blur')"
        @change="$emit('change', $event.target.value)"
        @input="$emit('input', $event.target.value)"
      >
        <option disabled selected value v-if="!selected" />
        <option
          v-for="(option, key) in options"
          :key="key"
          :value="option.value"
          v-bind="{selected: option.value === selected}"
        >
          {{ option.label }}
        </option>
      </select>
      <ValidationMessages v-if="validations" :validations="validations" />
    </div>
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'

export default {
  name: 'BaseSelect',
  components: {
    ValidationMessages
  },
  props: {
    id: {
      type: String,
      required: false,
      default: ''
    },
    name: {
      type: String,
      required: false,
      default: ''
    },
    options: {
      type: Array,
      required: true,
      default: () => []
    },
    selected: {
      type: String,
      required: false,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    autocomplete: {
      type: String,
      required: false,
      default: ''
    },
    validations: {
      type: Array,
      default: () => []
    },
    label: {
      type: Boolean,
      required: false,
      default: true
    }
  }
}
</script>
