<template>
  <div class="py-20 border-b border-gray-500 w-full flex wishlist-col">
    <div class="blend" >
      <router-link :to="productLink" class="block">
        <product-image :image="image" />
      </router-link>
    </div>
    <div class="flex pl-20 relative w-full wishlist-text">
      <div class="flex w-full flex-wrap justify-between pr-15 sm:pr-20 wishlist-name">
        <div>
          <router-link :to="productLink" class="inline-block align-top text-base text-gray-200 leading-19 md:leading-21">
            {{ product.name | htmlDecode }}
          </router-link>
          <div class="text-gray-200 pt-5 sku text-xs leading-15" v-if="icons">
            {{ product.sku }}
          </div>
          <div v-if="showAddToCart">
            <product-quantity
              class="qty mt-20 md:mt-25 w-70 text-xs"
              v-if="product.type_id !== 'grouped' && product.type_id !== 'bundle'"
              v-model="product.qty"
            />
            <div v-if="product.type_id === 'simple'">
              <add-to-cart
                v-if="isWishlistPage"
                :product="product"
                add-to-cart-text="Buy Now"
                class="wishlist-add-to-cart w-auto no-outline mt-20 text-center text-sm inline-block border-0 px-15 md:px-30 py-7 bg-mine-shaft hover:bg-gray-400 text-white min-w-0"
                @click.native="removeProductFromWhishList(product, false)"
              />
              <add-to-cart
                v-else
                :product="product"
                add-to-cart-text="Add to cart"
                class="wishlist-add-to-cart w-auto no-outline mt-20 text-center text-sm inline-block border-0 px-15 md:px-30 py-7 bg-mine-shaft hover:bg-gray-400 text-white min-w-0"
                @click.native="removeProductFromWhishList(product, false)"
              />
            </div>
            <router-link
              v-else
              :to="productLink"
              class="wishlist-add-to-cart button-full font-medium redu no-outline mt-10 text-center text-sm inline-block px-15 md:px-30 py-7 bg-mine-shaft hover:bg-gray-400 text-white w-auto min-w-0"
            >
              {{ 'Configure' }}1
            </router-link>
          </div>
        </div>
      </div>
      <div class="flex align-right text-right start-xs between-sm prices text-base justify-end w-12/3" v-if="icons">
        <div v-if="product.price_incl_tax" class="w-full text-base">
          <span class="text-base font-bold leading-21 text-gray-200" v-if="product.special_price">{{ product.price_incl_tax | price(storeView) }}</span>
          <span class="price-original text-base font-bold leading-21 text-gray-200 line-through" v-if="product.special_price">{{ product.original_price_incl_tax | price(storeView) }}</span>
          <span v-if="!product.special_price" class="text-base font-bold leading-21 text-gray-200">
            {{ product.price_incl_tax | price(storeView) }}
          </span>
        </div>
        <div class="w-full">
          <span @click="removeProductFromWhishList(product)"><remove-button class="cl-accent">
            <span class="sr-only">Wishlist</span>
            <svg class="h-30 md:h-40 w-30 md:w-40" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect :class="'fill-current text-gray-200'" x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="#FBFBFB" stroke="#F5F5F5" />
              <path :class="'stroke-current text-white'" fill-rule="evenodd" clip-rule="evenodd" d="M24.5455 10C27.5579 10 30 12.5584 30 15.7143C30 21.427 20 30 20 30C20 30 10 21.4282 10 15.7143C10 12.5584 12.4421 10 15.4545 10C17.3523 10 19.0237 11.0153 20.0008 12.5557C20.9763 11.0153 22.6477 10 24.5455 10Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </remove-button></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Product from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Product'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import RemoveButton from './RemoveButton'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import AddToCart from 'theme/components/core/AddToCart'
import { mapGetters } from 'vuex'

export default {
  components: {
    RemoveButton,
    ProductImage,
    ProductQuantity,
    AddToCart
  },
  mixins: [Product],
  props: {
    showAddToCart: {
      type: Boolean,
      default: true
    },
    icons: {
      type: Boolean,
      default: true
    },
    isWishlistPage: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    },
    ...mapGetters({
      customWishlist: 'customWishlist/getCustomWishlistData',
      customWishlistData: 'customWishlist/getWishlistDataList'
    }),
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    async removeProductFromWhishList (product, notification = true) {
      let findItemId = this.customWishlistData.result.items.find(wishlistData => wishlistData.product.id === product.id);
      await this.$store.dispatch('customWishlist/deleteProduct', [findItemId.id, this.currentUser.id])
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
      this.removeFromWishlist(product)
      if(notification) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          class: 'wishlist-notification-removed',
          message: i18n.t(`Product ${htmlDecode(product.name)} has been removed from wishlist!`),
          action1: { label: i18n.t('Okay') }
        }, { root: true })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .blend {
    flex: 0 0 100px;
     @media (max-width:767px) {
      flex: 0 0 70px;
     }
  }
  .filters {
    flex: 1 1 200px;
  }
</style>
