<template>
  <div class="wishlist text-gray-200 relative h-full">
    <div class="px-20 md:px-30">
      <div class="py-20 md:py-30 border-b border-gray-500">
        <div class="flex justify-between items-center" :class="{'pb-10': currentUser && wishlistProducts.length}">
          <h2
            class="text-18 md:text-lg font-medium leading-32 text-gray-200 m-0"
          >
            {{ 'Wishlist' }}
          </h2>
          <clear-wishlist-button v-if="wishlistProducts.length" @click="clearWishlist" class="justify-end inline-flex" />
          <i class="cursor-pointer close-icon" @click="closeWishlist">
            <svg class="w-30 md:w-40 h-30 md:h-40" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="19.5" stroke="#222222" />
              <path d="M13.334 13.3335L26.6673 26.6668" stroke="#222222" />
              <path d="M26.668 13.3335L13.3346 26.6668" stroke="#222222" />
            </svg>
          </i>
        </div>
        <cart-button
          class="justify-end ml-auto mr-0 -mb-10 flex"
          v-if="currentUser && wishlistProducts.length"
          @click.native="addAllToCart"
          :disable="isLoad"
        />
      </div>
      <h4 v-if="!wishlistProducts.length" class="m-0 text-md font-semibold py-20">
        {{ $t('Your wishlist is empty.') }}
      </h4>
      <div v-if="!wishlistProducts.length">
        {{ $t("Don't hesitate and") }}
        <router-link :to="localizedRoute('/')" @click.native="closeWishlist" class="text-black font-semibold ">
          {{ $t('browse our catalog') }}
        </router-link>
        {{ $t('to find something beautiful for You!') }}
      </div>
      <div class="products relative">
        <div class="absolute left-0 right-0 top-0 bottom-0 bg-white bg-opacity-60 z-1 flex justify-center items-center" v-if="isLoad">
          <div class="site-ajax-loader" />
        </div>
        <product v-for="wishlistProduct in wishlistProducts" :key="wishlistProduct.id" :product="wishlistProduct" />
      </div>
    </div>
  </div>
</template>

<script>
import Wishlist from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Wishlist'
import Product from 'theme/components/core/blocks/Wishlist/Product'
import ClearWishlistButton from 'theme/components/core/blocks/Wishlist/ClearWishlistButton'
import { mapGetters } from 'vuex'
import CartButton from 'theme/components/core/blocks/Wishlist/CartButton'

export default {
  props: {
    product: {
      type: Object,
      required: false,
      default: () => { }
    }
  },
  data () {
    return {
      isLoad: false
    }
  },
  components: {
    Product,
    ClearWishlistButton,
    CartButton
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    },
    ...mapGetters({
      isLogged: 'user/isLoggedIn',
      customWishlistData: 'customWishlist/getWishlistDataList' || []
    }),
    wishlistProducts () {
      if(this.customWishlistData && this.customWishlistData.result && this.customWishlistData.result.items && this.customWishlistData.result.items.length) {
        return this.customWishlistData.result.items.map(product => {
          let image = product.product.custom_attributes.find(attr => attr.attribute_code === 'image');
          product.product.qty = product.qty
          product.product.image = image ? image.value : '/assets/placeholder.jpg'
          return product.product
        }) || []
      } else {
        return []
      }
    }
  },
  methods: {
    async addAllToCart () {
      this.isLoad = true
      await this.$store.dispatch('cart/addItems', { productsToAdd: this.wishlistProducts })
      this.$store.commit('ui/setWishlist', false)
      this.$store.commit('ui/setMicrocart', true)
      this.clearWishlistData()
      this.$store.dispatch('wishlist/clear')
      this.isLoad = false
    },
    clearWishlist () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Are you sure you would like to remove all the items from the wishlist?'),
        action1: { label: this.$t('Remove'),
          action: () => {
            this.clearWishlistData()
            this.$store.dispatch('wishlist/clear')
          }
        },
        action2: { label: this.$t('Cancel'), action: 'close' },
        hasNoTimeout: true
      })
    },
    async clearWishlistData () {
      this.isLoad = true
      await this.$store.dispatch('customWishlist/clearWishlist', this.currentUser.id)
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
      this.isLoad = false
    }
  },
  mixins: [Wishlist]
}
</script>
<style lang="scss">
.wishlist {
  .product-image {
    padding-bottom: 0 !important;
    height: 100px;
    img {
      height: auto;
      width: auto;
    }
    @media (max-width: 767px) {
      height: 70px;
    }
  }
}
</style>
