<template>
  <div>
    <ul
      v-if="children"
      class="sidebar-submenu absolute transform -translate-x-full min-h-full top-0 left-0 w-full p0 bg-white"
      :style="styles"
    >
      <li
        v-if="parentSlug && this.submenu.path[ this.submenu.depth-1 ] != 'shop-cabinets-by-style'"
      >
        <router-link
          :to=" parentSlug === 'kitchen-cabinets'? '/kitchen-cabinets' :categoryLink({ url_path: parentPath, slug: parentSlug })"
          data-testid="categoryLink"
        >
          {{ $t('View all') }}
        </router-link>
      </li>
      <li
        :key="link.slug"
        v-for="link in children"
      >
        <div
          v-if="isCurrentMenuShowed"
          class="subcategory-item flex w-full"
        >
          <sub-btn
            v-if="link.children_count > 0 && link.level <= 3"
            :id="link.id"
            :name="link.name"
          />
          <router-link
            v-else
            :to="categoryLink(link)"
          >
            {{ link.name }}
          </router-link>
        </div>
        <sub-category
          v-if="link.children_count > 0"
          :category-links="link.children_data"
          :id="link.id"
          :parent-slug="link.slug"
          :parent-path="link.url_path"
        />
      </li>
      <li v-if="parentSlug === 'kitchen-cabinets' && this.submenu.path[ this.submenu.depth-1 ] != 'shop-cabinets-by-style'">
        <div class="subcategory-item flex w-full">
          <button
            type="button"
            @click.stop="next()"
            :aria-label="$t('Show subcategories')"
            data-testid="categoryButton"
          >
            {{ 'Shop Cabinets By Style' }}
            <svg class="ml-15" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 0.5L6 5.5L1 10.5" stroke="#222222" />
            </svg>
          </button>
        </div>
      </li>
      <div class="third-level-box"  v-if="this.submenu.path[ this.submenu.depth-1 ] === 'shop-cabinets-by-style'">
        <div class="category__third-level">
          <ul>
            <li>
              <router-link :to="localizedRoute('/shaker-kitchen-cabinets')">
                {{ 'Shaker Style Cabinets' }}
              </router-link>
            </li>
            <li>
              <router-link :to="localizedRoute('/white-kitchen-cabinets')">
                {{ 'White Kitchen Cabinets' }}
              </router-link>
            </li>
            <li>
              <router-link :to="localizedRoute('/solid-wood-kitchen-cabinets')">
                {{ 'Solid Wood Kitchen Cabinets' }}
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </ul>
    <ul
      v-if="myAccountLinks && !hasChildren"
      class="sidebar-submenu absolute transform -translate-x-full min-h-full w-full p-0 bg-white top-0 left-0"
      :style="styles"
    >
      <li
        :key="link.id"
        v-for="link in myAccountLinks"
        @click="notify(link.name)"
      >
        <router-link
          :to="localizedRoute(link.url)"
        >
          {{ link.name }}
        </router-link>
      </li>
      <li>
        <a
          href="#"
          @click.prevent="logout"
        >
          {{ $t('Logout') }}
        </a>
      </li>
    </ul>
    <ul
      v-if="freeDesignLinks && !hasChildren"
      class="sidebar-submenu free-design-menu absolute transform -translate-x-full min-h-full w-full p-0 bg-white top-0 left-0"
      :style="styles"
    >
      <li
        :key="designlink.id"
        v-for="designlink in freeDesignLinks"
        @click="notify(designlink.name)"
      >
        <router-link
          v-if="designlink.status"
          :to="localizedRoute(designlink.url)"
        >
          {{ designlink.name }}
        </router-link>
        <ul class="w-full cabinet-submenu">
          <li class="h-full">
            <sub-btn
              id="free-design-links"
              :is-category="false"
              v-if="designlink.name === 'Cabinet Guides'"
              :name="'Cabinet Guides'"
            />
            <sub-category
              :free-design-links="designlink.cabinetGuides"
              id="free-design-links"
              @click.native="closeMenu"
            />
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import SubBtn from './SubBtn.vue'
import i18n from '@vue-storefront/i18n'
import config from 'config'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'

export default {
  name: 'SubCategory',
  components: {
    SubBtn
  },
  props: {
    id: {
      type: [String, Number],
      required: true
    },
    categoryLinks: {
      type: null,
      required: false,
      default: false
    },
    parentSlug: {
      type: String,
      required: false,
      default: ''
    },
    parentPath: {
      type: String,
      required: false,
      default: ''
    },
    myAccountLinks: {
      type: null,
      required: false,
      default: false
    },
    freeDesignLinks: {
      type: null,
      required: false,
      default: false
    },
    cabinetGuidesLinks: {
      type: null,
      required: false,
      default: false
    }
  },
  computed: {
    children () {
      if (!config.entities.category.categoriesDynamicPrefetch && (this.categoryLinks && this.categoryLinks.length > 0 && this.categoryLinks[0].name)) { // we're using dynamic prefetching and getting just category.children_data.id from 1.7
        return this.categoryLinks
      } else {
        return this.$store.getters['category-next/getMenuCategories'].filter(c => { return c.parent_id === this.id }) // return my child categories
      }
    },
    hasChildren () {
      return this.children && this.children.length
    },
    ...mapState({
      submenu: state => state.ui.submenu,
      path: state => state.ui.submenu.path
    }),
    getSubmenu () {
      return this.submenu
    },
    styles () {
      const pos = this.submenu.path.indexOf(this.id)
      return pos !== -1 ? {
        zIndex: pos + 1
      } : false
    },
    isCurrentMenuShowed () {
      return this.getSubmenu && this.getSubmenu.depth && this.getSubmenu.path[this.getSubmenu.depth - 1] === this.id
    }
  },
  methods: {
    async logout () {
      await this.$store.dispatch('user/logout', {})
      localStorage.removeItem('category-compare')
      this.$router.push(this.localizedRoute('/'))
      this.$store.commit('ui/setSubmenu', { depth: false })
    },
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: i18n.t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: i18n.t('Okay') }
        })
      }
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    },
    next () {
      this.$store.commit('ui/setSubmenu', {
        id: 'shop-cabinets-by-style',
        depth: ++this.submenu.depth
      })
    }
  }
}
</script>
