<template>
  <div>
    <button
      @click="isOnCompare ? removeProduct(category) : addCategory(category)"
      aria-label="Compare"
      class="items-center z-1 flex justify-center group h-30 w-30 md:h-40 md:w-40 absolute right-10 bottom-10 rounded-full"
      type="button"
      data-testid="addToCompare"
      :class="!isOnCompare ? 'bg-white' : 'bg-gray-200'"
    >
      <slot>
        <span class="underline text-sm text-gray-200 hidden">Remove</span>
        <svg width="19" height="19" class="w-16 h-16 md:w-19 md:h-19" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="1" y="7" width="13" height="13" rx="2" :stroke="!isOnCompare? '#222222': '#ffffff'" stroke-linejoin="round" />
          <rect x="7" y="1" width="13" height="13" rx="2" :stroke="!isOnCompare? '#222222': '#ffffff'" stroke-linejoin="round" />
        </svg>
      </slot>
    </button>
  </div>
</template>

<script>
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import config from 'config'

export default {
  props: {
    category: {
      required: true,
      type: Object
    }
  },
  computed: {
    isOnCompare () {
      return this.$store.getters['categoryCompare/isOnCompare'](this.category)
    }
  },
  methods: {
    async addToCompare (category) {
      return this.$store.state['categoryCompare']
        ? await this.$store.dispatch('categoryCompare/addItem', category)
        : false
    },
    removeFromCompare (category) {
      this.$store.dispatch('categoryCompare/removeItem', category);
    },
    addCategory (category) {
      if (this.$store.state['categoryCompare'] && this.$store.state['categoryCompare'].items && config.entities.category.maxCompareItems <= this.$store.state['categoryCompare'].items.length) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: i18n.t('Maximum category added to the compare!'),
          action1: { label: i18n.t('Okay') }
        })
        return
      }
      this.addToCompare(category)
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Category {categoryName} has been added to the compare!', { categoryName: htmlDecode(category.name) }),
        action1: { label: i18n.t('Okay') }
      }, { root: true })
    },
    removeProduct (category) {
      this.removeFromCompare(category)
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Category {categoryName} has been removed from compare!', { categoryName: htmlDecode(category.name) }),
        action1: { label: i18n.t('Okay') }
      }, { root: true })
    }
  }
}
</script>
