<template>
  <div class="compare-popup-wrap fixed z-10 left-0 right-0 bottom-0" :class="{'compare-open-main':openComparePopup}">
    <CompareCategoryModel :compare-items="comparedItems" />
    <button v-if="comparedItems.length > 0" @click="openCompare" :class="{'compare-active':openComparePopup}" class="bg-gray-300 relative text-base font-medium leading-20 px-12 py-10 md:p-20 z-3 flex items-center border border-gray-200">
      {{ 'Comparison List' }}
      <svg class="ml-12" width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 6L6 1L1 6" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span class="absolute text-12 md:text-base pointer-events-none -right-12 md:-right-15 -top-12 md:-top-15 w-24 md:w-30 h-24 md:h-30 rounded-full flex justify-center items-center bg-orange-dark text-white font-bold">{{ comparedItems.length }}</span>
    </button>
    <div v-if="openComparePopup && comparedItems.length > 0" :class="{'compare-open':openComparePopup}" class="compare-popup overflow-auto max-h-full z-10 md:z-2 bg-white flex flex-wrap md:flex-nowrap justify-between p-20 md:p-30 items-center">
      <div class="flex flex-wrap md:flex-nowrap py-12 md:py-15 overflow-visible md:overflow-auto w-full">
        <div v-for="category in comparedItems" :key="category.id" class="w-full md:w-auto mb-22 md:mb-0 compare-item border border-gray-500 mr-0 md:mr-30 p-5 relative flex items-center">
          <div class="compare-image relative bg-gray-300">
            <img
              v-if="categoryImage(category)"
              v-lazy="categoryImage(category)"
              @error="'/assets/placeholder.jpg'"
              :alt="category.name"
              class="absolute w-full h-full object-cover left-0 top-0"
            >
            <img v-else src="/assets/placeholder.jpg" :alt="category.name">
          </div>
          <span class="ml-20 text-gray-200 text-base">{{ category.name }}</span>
          <span @click="removeFromCompare(category)" class="absolute -right-12 -top-12 cursor-pointer">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="12" r="11.5" fill="white" stroke="#222222" />
              <path d="M8 8L16 16" stroke="#222222" />
              <path d="M16.0002 8L8.00024 16" stroke="#222222" />
            </svg>
          </span>
        </div>
      </div>
      <div class="compare-botton md:border-l border-gray-500 md:pl-30 flex md:block">
        <button class="button-full mr-20 md:mr-0 md:mb-20 flex items-center justify-center" v-if="comparedItems.length > 0" @click="compare">
          <svg class="mr-14" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="7" width="13" height="13" rx="2" stroke="white" stroke-linejoin="round" />
            <rect x="7" y="1" width="13" height="13" rx="2" stroke="white" stroke-linejoin="round" />
          </svg>
          {{ 'Compare' }}
        </button>
        <button class="button-outline w-full border-gray-200 text-gray-200" v-if="comparedItems.length > 0" @click="clearCompareAll">
          {{ 'Clear All' }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import CompareCategoryModel from 'theme/components/core/blocks/Category/Compare/Compare'
import { getThumbnailPath } from '@vue-storefront/core/helpers'
import config from 'config'

export default {
  data () {
    return {
      openComparePopup: false
    }
  },
  components: {
    CompareCategoryModel
  },
  computed: {
    ...mapGetters({
      comparedItems: 'categoryCompare/getCompareItems'
    })
  },
  methods: {
    async removeFromCompare (category) {
      await this.$store.dispatch('categoryCompare/removeItem', category);
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Category {categoryName} has been removed from compare!', { categoryName: htmlDecode(category.name) }),
        action1: { label: i18n.t('Okay') }
      }, { root: true })
    },
    async clearCompareAll () {
      await this.$store.dispatch('categoryCompare/clear');
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('All category has been removed from compare!'),
        action1: { label: i18n.t('Okay') }
      }, { root: true })
    },
    compare () {
      this.$bus.$emit('modal-show', 'modal-category-compare')
    },
    openCompare () {
      this.openComparePopup = !this.openComparePopup;
    },
    categoryImage (category) {
      if(category.category_gallery && category.category_gallery.length && category.category_gallery[0].file) {
        return getThumbnailPath(category.category_gallery[0].file, config.products.gallery.width, config.products.gallery.height)
      } else {
        return null
      }
    }
  },
  async created () {
    await this.$store.dispatch('categoryCompare/fetchCompareCategoryAttribute')
  }
}
</script>
<style lang="scss">
.compare-popup {
  box-shadow: 0px -4px 25px rgba(0, 0, 0, 0.08);
}
.compare-item {
  min-width: 300px;
}
.compare-image {
  min-width: 90px;
  height: 90px;
}
.compare-botton {
  max-width: 251px;
}
button.compare-active {
  bottom: 100%;
  svg {
    transform: rotate(180deg);
  }
}
@media (max-width: 767px) {
  .compare-image {
    min-width: 50px;
    height: 50px;
  }
  .compare-botton {
    max-width: 100%;
    button {
      width: 160px;
    }
  }
  @media (max-width: 767px) {
    div.compare-popup-wrap {
      bottom: 126px;
      button.compare-active {
        bottom: 100%;
      }
    }
    div.compare-open-main {
      bottom: 0;
    }
    div.compare-popup  {
      max-height: 75vh;
    }
  }
}
</style>
