<template>
  <modal name="modal-category-compare" class="modal-category-compare">
    <div slot="content" class="flex flex-col modal-category-wrap">
      <div class="modal-category-button relative mb-40">
        <span class="static md:absolute ml-auto right-0 top-0 block">
          <svg class="w-30 md:w-40 h-30 md:h-40 cursor-pointer ml-auto" @click="close" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19.5" stroke="#222222" />
            <path d="M13.3335 13.3333L26.6668 26.6667" stroke="#222222" />
            <path d="M26.6675 13.3334L13.3341 26.6667" stroke="#222222" />
          </svg>
        </span>
        <button class="button-full w-auto text-base px-20 mr-10 md:mr-18 mt-10" @click="printAsPDF">
          {{ 'Print' }}
        </button>
      </div>
      <div id="print-compare-1">
        <div class="compare-box md:flex overflow-auto relative border-b md:border-b-0 border-gray-500">
          <table class="w-auto">
            <tr>
              <th class="border border-gray-500 leading-20 p-0 whitespace-normal md:whitespace-nowrap">
                <div class="compare-attribute-list compare-attribute-list-title">
                  <div class="add-more-title leading-19 p-15 md:p-20 font-regular flex items-center">
                    <router-link @click.native="close" :to="localizedRoute('/')" class="flex items-center text-gray-200">
                      <svg class="mr-9" width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 5.91058H10.4516" stroke="#222222" />
                        <path d="M5.22656 0.448486L5.22656 11.3723" stroke="#222222" />
                      </svg>
                      {{ 'Add More Product Compare' }}
                    </router-link>
                  </div>
                </div>
              </th>
              <td class="compare-item-tile p-0 border border-gray-500 align-top" v-for="item in compareItems" :key="item.id">
                <category-tile :compare-bottom="true" :category="item" class="flex md:block" />
              </td>
            </tr>
            <tr v-for="(attribute, index) in comparableAttributes" :key="index">
              <th class="border border-gray-500 leading-20 px-15 md:p-20 bg-gray-100 font-regular">
                {{ $t(attribute.label) }}
              </th>
              <td class="border border-gray-500 px-15 leading-19 p-20" v-for="item in compareItems" :key="item.id">
                <span v-if="attribute.code == 'catprice'">
                  {{ item[attribute.code] | price(storeView) }}
                </span>
                <span v-else>
                  {{ getOptionLabel(attribute.code, item[attribute.code]) }}
                  {{ item[attribute.code] }}
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import Modal from 'theme/components/core/Modal.vue';
import CategoryTile from 'theme/components/core/CategoryTile';
import { entities } from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { mapGetters } from 'vuex';

export default {
  components: {
    Modal,
    CategoryTile
  },
  props: {
    compareItems: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    ...mapGetters({
      categoryAttributes: 'categoryCompare/getCompareCategoryAttributeList'
    }),
    comparableAttributes () {
      return entities.category.compareAttributes
    },
    getOptionLabel () {
      return (code, option) => {
        // foo.map(i => i.people.filter(j => j.id == id));
        let catAttrOptionValue = option;
        this.categoryAttributes.forEach(attr => {
          if (attr.attribute_code === code) {
            if (attr.options && attr.options.length) {
              const optValue = attr.options.filter(opt => parseInt(opt.value) === parseInt(option))
              catAttrOptionValue = optValue.length ? optValue[0].label : ''
            }
          }
        });
        return catAttrOptionValue
      }
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    close () {
      this.$bus.$emit('modal-hide', 'modal-category-compare');
      this.$store.commit('ui/setOverlay', false)
    },
    printAsPDF () {
      // var compareHTML = document.getElementById('print-compare-1');
      // let createCanvas = document.createElement('canvas')
      // createCanvas.id = 'pdf-canvas'
      // var context = createCanvas.getContext('2d');
      // context.fillText(compareHTML, 10, 10)
      // var image = createCanvas.toDataURL('image/jpeg').replace('image/jpeg', 'image/octet-stream'); // here is the most important part because if you dont replace you will get a DOM 18 exception.
      // // var img = canvas.toDataURL('image/png');
      // console.log(image)
      var divContents = document.getElementById('print-compare-1').innerHTML;
      var printWindow = window.open('', 'print_window', `status=1,toolbar=1,height='1',width='1'`);
      printWindow.document.write('<html><head>');
      printWindow.document.write(`<style type="text/css">
        table {
          border: 1px solid #ddd;
          text-align: left;
          border-collapse: collapse;
        }
        table th {
          font-weight: normal;
          min-width: 130px
        }
        table td, table th {
          border: 1px solid #ddd;
          padding: 10px;
        }
        .compare-box{
          display: flex;
          font-family: sans-serif;
          box-sizing: border-box;
        }
        .compare-box .compare-attribute-list .add-more-title .compare-title{display: none;}
        .compare-box .compare-attribute-list .add-more-title{display: none;}
        .compare-box .compare-attribute-list .add-more-title a svg{
          margin-right:9px;
        }
        .compare-box .compare-item-tile{
          position: relative;
          width: 270px;
        }
        .compare-box .product-cover {
          position: static;
          margin-bottom: 0px;
          background-color: #F5F5F5;
          padding: 10px;
          height: 170px;
        }
        .compare-box .f_cat_sample_label{
          display: none;
        }
        .compare-box button{  display: none;}
        .compare-box .actions{
          padding:15px 0;
        }
        .compare-box .title {padding-bottom: 15px;}
        .compare-box .title a{
          color: #222;
          text-decoration: none;
          font-weight: bold;
        }
        .compare-box .disc-short{ font-size: 14px; color: #555555; padding-bottom:8px;}
        blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
            margin: 0;
        }
        .compare-box .actions .value{text-decoration: line-through; color: #555555;}
        .compare-box .product-cover a {
          mix-blend-mode: multiply;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
        .compare-box .product-cover a img{
          width: auto;
          height: 170px;
          max-height: 100%;
        }
      </style>`);
      // printWindow.document.write(`<link rel="stylesheet" type="text/css" href='${window.location.origin}/assets/print.css'>`);
      printWindow.document.write('</head><body>');
      printWindow.document.write(divContents);
      printWindow.document.write('</body></html>');
      printWindow.print();
      printWindow.document.close();
    }
  },
  watch: {
    compareItems: {
      handler (value) {
        if (value.length === 0) {
          this.close()
        }
      },
      immediate: true
    }
  },
  async created () {
    await this.$store.dispatch(
      'attribute/loadCategoryAttributes',
      { category: this.comparedItems }
    )
  }
};
</script>
<style lang="scss">
.modal-category-compare .modal-container {
  min-width: 950px;
  max-height: 850px;
  overflow: auto;
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    min-width: auto;
  }
  @media (max-width: 767px) {
    min-width: auto;
    width: 100%;
  }
}
.modal-category-compare .modal-container,
.modal-category-compare .modal-container .modal-category-wrap {
  scrollbar-width: thin;
  scrollbar-color: #222222 #DDDDDD;
}
.compare-item-tile {
  min-width: 270px;
  width: 270px;
}
@media (max-width: 767px) {
  .modal-category-compare .compare-item-tile .product-cover,
  .modal-category-compare .compare-attribute-list > div,
  .modal-category-compare .category-tile-wrap {
    max-width: 170px;
    min-width: 170px;
  }
  .modal-category-compare .compare-item-tile .product-cover {
    width: 80px;
    min-width: auto;
  }
  .modal-category-compare .compare-item-tile .product-image {
    width: 80px;
    padding-top: 80px;
  }
  .modal-category-compare .compare-attribute-list-title > div:last-child{
    min-width: 171px;
  }
  .compare-item-tile {
    min-width: 171px;
    width: 171px;
  }
}
</style>
