<template>
  <button-full @click.native="addToCart(product)" :disabled="isProductDisabled" data-testid="addToCart" class="flex items-center justify-center">
    <svg class="mr-11" width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20.8 5.53333H3.19995L4.35785 12.3333L4.97643 15.3606C5.29032 16.8968 6.64174 18 8.20963 18H12H15.7903C17.3582 18 18.7096 16.8968 19.0235 15.3606L19.6421 12.3333L20.8 5.53333Z" stroke="white" />
      <path d="M8.69995 10.0667L9.79995 14.6" stroke="white" stroke-linecap="round" />
      <path d="M15.3 10.0667L14.2 14.6" stroke="white" stroke-linecap="round" />
      <path d="M1 5.53333H23" stroke="white" stroke-linecap="round" />
      <path d="M5.40002 5.53333L8.70002 1" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M18.6 5.53333L15.3 1" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    {{ $t(addToCartText) }}
  </button-full>
</template>

<script>
import { formatProductMessages } from '@vue-storefront/core/filters/product-messages'
import { notifications } from '@vue-storefront/core/modules/cart/helpers'
import focusClean from 'theme/components/theme/directives/focusClean'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import i18n from '@vue-storefront/i18n'

export default {
  directives: { focusClean },
  components: { ButtonFull },
  props: {
    product: {
      required: true,
      type: Object
    },
    disabled: {
      type: Boolean,
      default: false
    },
    addToCartText: {
      type: String,
      default: 'Add to cart'
    }
  },
  data () {
    return {
      isAdding: false
    }
  },
  methods: {
    onAfterRemovedVariant () {
      this.$forceUpdate()
    },
    async addToCart (product) {
      this.$bus.$emit('notification-progress-start', i18n.t('Please wait...'))
      try {
        this.isAdding = true
        const diffLog = await this.$store.dispatch('cart/addItem', { productToAdd: product })
        this.$bus.$emit('notification-progress-stop')
        diffLog.clientNotifications.forEach(notificationData => {
          this.notifyUser(notificationData)
        })
      } catch (message) {
        this.$bus.$emit('notification-progress-stop')
        this.notifyUser(notifications.createNotification({ type: 'error', message }))
      } finally {
        this.$bus.$emit('notification-progress-stop')
        this.isAdding = false
      }
    },
    notifyUser (notificationData) {
      this.$bus.$emit('modal-hide', 'quick-view-modal')
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    }
  },
  computed: {
    ...mapGetters({
      isAddingToCart: 'cart/getIsAdding'
    }),
    isProductDisabled () {
      return this.disabled || formatProductMessages(this.product.errors) !== '' || (this.isAddingToCart && this.isAdding)
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-removevariant', this.onAfterRemovedVariant)
  },
  beforeDestroy () {
    this.$bus.$off('product-after-removevariant')
  }
}
</script>
