<template>
  <div class="category-tile">
    <div class="category-tile-wrap">
      <div class="product-cover bg-gray-300 mb-10 sm:mb-18 relative">
        <router-link :to="localizedRoute('/' + category.url_path)" data-testid="categoryLink" class="block product-image mix-blend-multiply overflow-hidden relative w-full max-w-full h-0 product-image--width">
          <img
            v-if="categoryImage"
            v-lazy="categoryImage"
            height="289"
            width="289"
            @error="'/assets/placeholder.jpg'"
            :alt="category.name"
            class="product-image__thumb duration-500 opacity-100 ease-in-out absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 w-full object-cover object-top"
          >
          <img v-else src="/assets/placeholder.jpg" height="289" width="289" :alt="category.name" class="product-image__thumb duration-500 opacity-100 ease-in-out absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 w-full object-cover object-top">
          <p v-if="category.f_cat_sample_label" class="f_cat_sample_label flex items-center catgroup-label absolute left-0 top-0 bg-orange-dark text-white text-12 md:text-sm font-medium py-5 md:py-6 pl-5 md:pl-10 pr-5 leading-16">
            <svg width="18" height="18" class="w-14 h-14  md:w-18 md:h-18 mr-5" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="9" cy="9" r="8" stroke="white" />
              <path d="M9.00012 5L9.89356 7.77029L12.8043 7.76393L10.4457 9.46971L11.3513 12.2361L9.00012 10.52L6.64898 12.2361L7.55452 9.46971L5.1959 7.76393L8.10669 7.77029L9.00012 5Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            {{ category.f_cat_sample_label }}
          </p>
        </router-link>
        <AddToCompare v-if="!compareBottom" :category="category" class="hover:text-black" />
      </div>
      <div class="actions pl-10">
        <p class="pb-5 md:pb-15 title">
          <router-link :to="localizedRoute('/' + category.url_path)" data-testid="categoryLink" class="text-14 md:text-18 text-gray-200 font-medium ellipsis">
            {{ category.name }}
          </router-link>
        </p>
        <p class="text-sm text-gray-600 pb-5 ellipsis disc-short">
          {{ $t('Basic Kitchen Starting At') }}
        </p>
        <p class="text-14 md:text-18 text-gray-200 font-bold pb-0 md:pb-10">
          <span class="mr-10 spcatprice" v-if="!category.spcatprice && category.spcatprice === category.catprice">
            {{ category.catprice | price(storeView) }}
          </span>
          <span class="mr-10" v-else>
            {{ category.spcatprice | price(storeView) }}
          </span>
          <span v-if="category.spcatprice !== category.catprice" class="value text-sm sm:text-base text-gray-600 line-through font-regular">
            {{ category.catprice | price(storeView) }}
          </span>
        </p>
        <AddToCompare class="mt-15 mb-0 md:my-15" v-if="compareBottom" :category="category" />
      </div>
    </div>
    <slot name="compareCategoryAttributes" />
  </div>
</template>

<script>
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import AddToCompare from 'theme/components/core/blocks/Category/Compare/AddToCompare'
import { getThumbnailPath } from '@vue-storefront/core/helpers'
import config from 'config'
export default {
  props: {
    category: {
      type: Object,
      require: true,
      default: () => {}
    },
    compareBottom: {
      required: false,
      type: Boolean,
      default: false
    }
  },
  components: {
    AddToCompare
  },
  computed: {
    storeView () {
      return currentStoreView()
    },
    categoryImage () {
      if(this.category.category_gallery && this.category.category_gallery.length && this.category.category_gallery[0].file) {
        return getThumbnailPath(this.category.category_gallery[0].file, config.products.gallery.width, config.products.gallery.height)
      } else {
        return null
      }
    }
  }
}
</script>
