<template>
  <div class="features-tile w-full">
    <router-link :to="productLink">
      <product-image
        :image="thumbnailObj"
        :alt="product.name | htmlDecode"
        :calc-ratio="false"
        data-testid="productImage"
        class="relative bg-white z-0"
      />
      <span class="block text-sm md:text-sm lg:text-base leading-19 md:leading-21 mt-20 mb-10 md:mb-15 text-gray-600">{{ product.name }}</span>
    </router-link>
    <router-link
      :to="productLink"
      class="leading-19 md:leading-21 table pb-4 font-medium border-b border-gray-500 text-sm md:text-sm lg:text-base m-auto text-gray-200 mb-10"
    >
      {{ 'Buy Now' }}
    </router-link>
  </div>
</template>

<script>
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import ProductImage from './ProductImage'
import { ProductTile } from '@vue-storefront/core/modules/catalog/components/ProductTile.ts'

export default {
  name: 'Features',
  mixins: [ProductTile],
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  components: {
    ProductImage
  },
  computed: {
    thumbnailObj () {
      return {
        src: this.thumbnail,
        loading: this.thumbnail
      }
    },
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    storeView () {
      return currentStoreView()
    }
  }
}
</script>

<style lang="scss">
div.features-tile {
  .product-image {
    height: 290px;
    padding-bottom: 0;
    img {
      background-color: #fff;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    @media (max-width: 1270px) {
      padding-bottom: 100%;
      height: auto;
    }
  }
}
</style>
