<template>
  <div @click="$emit('change', variant)" class="generic-selector price-selector relative text-gray-200 text-sm pl-30">
    <button
      :class="{'active': isActive}"
      class="absolute top-2 left-0 w-18 h-18 bg-white border border-gray-200 cursor-pointer"
      :aria-label="$t('Select ' + variant.label)"
    />
    <span class="text-14">{{ variant.label }}</span>
  </div>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  mixins: [filterMixin]
}
</script>
<style lang="scss">
  .generic-selector{
    button{
      border-radius:2px;
    }
  }
</style>
