<template>
  <div class="fixed inset-0 bg-black bg-opacity-70 z-50 flex justify-center items-center" v-if="isVisible">
    <div>
      <div class="w-40 h-40 relative opacity-60 m-auto">
        <div class="double-bounce1 bg-orange-dark rounded-full w-full h-full absolute inset-0 m-auto" />
        <div class="double-bounce2 bg-orange-dark rounded-full w-full h-full absolute inset-0 m-auto" />
      </div>
      <div
        class="bg-orange-dark mt-15 py-5 px-15 text-center text-sm text-white rounded-full font-medium"
        v-if="message"
      >
        {{ message }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Loader',
  data () {
    return {
      message: null
    }
  },
  methods: {
    show (message = null) {
      this.message = message
      this.$store.commit('ui/setLoader', true)
    },
    hide () {
      this.$store.commit('ui/setLoader', false)
    }
  },
  computed: mapState({
    isVisible: state => state.ui.loader
  }),
  beforeMount () {
    this.$bus.$on('notification-progress-start', this.show)
    this.$bus.$on('notification-progress-stop', this.hide)
  },
  beforeDestroy () {
    this.$bus.$off('notification-progress-start', this.show)
    this.$bus.$off('notification-progress-stop', this.hide)
  }
}
</script>

<style lang="scss" scoped>
.double-bounce1,
.double-bounce2 {
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  animation-delay: -1s;
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
</style>
