<template>
  <router-link :to="localizedRoute('/')" :title="$t('Home Page')" class="text-left">
    <img src="/assets/logo-black.svg" alt="Best Online Cabinets" width="94" height="60">
  </router-link>
</template>

<script>
import config from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  data () {
    const storeView = currentStoreView()
    return {
      defaultTitle: storeView.seo.defaultTitle ? storeView.seo.defaultTitle : config.seo.defaultTitle
    }
  }
}
</script>
<style lang="scss" scoped>
 img{
   @media (max-width: 767px){
      height: 40px;
      width: auto;
   }
 }
</style>
