<template>
  <no-ssr>
    <div
      v-show="OfflineOnly"
      class="offline-badge fixed p-8 bg-burnt-sienna text-white text-center bottom-0 left-0 right-0 z-3"
    >
      {{ $t('You are offline. Some features might not be available.') }}
    </div>
  </no-ssr>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import VueOfflineMixin from 'vue-offline/mixin'

export default {
  components: {
    'no-ssr': NoSSR
  },
  mixins: [VueOfflineMixin]
}
</script>
