<template>
  <div class="product-thumb-slider" v-if="isOnline">
    <product-gallery-overlay
      v-if="isZoomOpen"
      :current-slide="currentSlide"
      :gallery="gallery"
      @close="toggleZoom"
    />
    <div class="thumb-slider-top">
      <div class="product-thumb-slider" v-if="!gallery.length > 0">
        <div class="product-image relative">
          <img
            src="/assets/placeholder.jpg"
            :alt="productName | htmlDecode"
            class=" product-image__placeholder absolute w-full h-full object-cover object-center"
          >
        </div>
      </div>
      <swiper v-else class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
        <swiper-slide
          v-for="(images, index) in gallery"
          :key="images.src"
        >
          <div
            class="product-image-container bg-gray-100"
            :class="{'video-container w-100 h-100 flex relative': images.video}"
          >
            <product-image
              v-show="hideImageAtIndex !== index"
              class="pointer image"
              :image="images"
              :height="620"
              :width="620"
              :alt="productName | htmlDecode"
              @click="openOverlay"
            />
            <product-video
              v-if="images.video"
              v-bind="images.video"
              :index="index"
              @video-started="onVideoStarted"
            />
          </div>
        </swiper-slide>
      </swiper>
    </div>
    <div class="thumb-slider-bottom relative mt-20" v-if="Object.keys(gallery).length > 1">
      <div class="swiper-button-prev flex items-center justify-center cursor-pointer w-24 h-24 text-center bg-white absolute left-8 top-0 bottom-0 m-auto z-2" v-if="Object.keys(gallery).length > 5">
        <svg width="15" height="15" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.41016 11.34L2.83016 6.75L7.41016 2.16L6.00016 0.75L0.000156403 6.75L6.00016 12.75L7.41016 11.34Z" fill="#000" />
        </svg>
      </div>
      <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs" @click-slide="onSwiperThumbsClick">
        <swiper-slide class="product-thumb-item cursor-pointer border-2 border-transparent swiper-slide" v-for="(images, index) in gallery" :key="images.src" :class="{ 'border-orange-dark' : currentThumbSlide === index }">
          <product-image
            :image="thumbnailObj(images)"
            :alt="productName | htmlDecode"
          />
        </swiper-slide>
      </swiper>
      <div class="swiper-button-next flex items-center justify-center cursor-pointer w-24 h-24 text-center bg-white absolute right-8 top-0 bottom-0 m-auto z-2" v-if="Object.keys(gallery).length > 5">
        <svg width="15" height="15" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.589844 11.34L5.16984 6.75L0.589844 2.16L1.99984 0.75L7.99984 6.75L1.99984 12.75L0.589844 11.34Z" fill="#000" />
        </svg>
      </div>
    </div>
  </div>
  <product-image v-else :image="offline" />
</template>

<script>
import ProductImage from './ProductImage'
import ProductVideo from './ProductVideo'
import { onlineHelper } from '@vue-storefront/core/helpers'
import SwiperCore, { Navigation, Pagination } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'
import ProductGalleryOverlay from './ProductGalleryOverlay'

SwiperCore.use([Navigation, Pagination]);

export default {
  components: {
    ProductImage,
    ProductVideo,
    Swiper,
    SwiperSlide,
    ProductGalleryOverlay
  },
  props: {
    gallery: {
      type: Array,
      required: true
    },
    productName: {
      type: String,
      default: ''
    }
  },
  data () {
    let current = this
    return {
      isZoomOpen: false,
      hideImageAtIndex: null,
      currentThumbSlide: 0,
      currentSlide: 0,
      swiperOptionTop: {
        spaceBetween: 0,
        on: {
          slideChange () {
            current.swiperThumbs.slideTo(this.activeIndex, 500, false);
            current.currentThumbSlide = this.activeIndex;
            // current.swiperThumbs.updateSlidesClasses();
          }
        }
      },
      swiperOptionThumbs: {
        spaceBetween: 10,
        slidesPerView: 4,
        touchRatio: 0.2,
        slideToClickedSlide: true,
        freeMode: true,
        navigation: {
          nextEl: '.thumb-slider-bottom .swiper-button-next',
          prevEl: '.thumb-slider-bottom .swiper-button-prev'
        },
        on: {
          slideChange () {
            current.swiperTop.slideTo(this.activeIndex, 500, false);
          }
        },
        breakpoints: {
          1024: {
            slidesPerView: 5
          }
        }
      }
    }
  },
  computed: {
    isOnline (value) {
      return onlineHelper.isOnline
    },
    swiperTop () {
      return this.$refs.swiperTop.$swiper
    },
    swiperThumbs () {
      return this.$refs.swiperThumbs.$swiper
    }
  },
  mounted () {
    this.$emit('loaded');
  },
  methods: {
    thumbnailObj (image) {
      return {
        error: image.error,
        loading: image.loading,
        src: image.loading
      };
    },
    onSwiperThumbsClick (index) {
      this.swiperTop.slideTo(index, 500, false);
    },
    onSwiperTopClick (index) {
      this.swiperThumbs.slideTo(index, 500, false);
    },
    onVideoStarted (index) {
      this.hideImageAtIndex = index
    },
    openOverlay () {
      this.currentSlide = this.swiperTop.activeIndex
      this.$emit('toggle', this.currentSlide)
      this.toggleZoom()
    },
    toggleZoom () {
      this.isZoomOpen = !this.isZoomOpen
    },
    onEscapePress () {
      if (this.isZoomOpen) {
        this.toggleZoom()
      }
    }
  }
}
</script>

<style lang="scss">
.product-thumb-slider {
  .product-image {
    padding-bottom: 100% !important;
  }
}
</style>
