<template>
  <div class="product relative overflow-hidden flex flex-col h-full" v-observe-visibility="visibilityChanged">
    <div class="productLink mb-10 md:mb-0">
      <div
        class="product-cover overflow-hidden group relative"
        :class="[{ sale: labelsActive && isOnSale }, { new: labelsActive && isNew }]"
      >
        <div v-if="product.sell_rank != 0" class="f_cat_sample_label flex items-center catgroup-label absolute left-0 top-0 bg-orange-dark text-white text-12 md:text-sm font-medium py-5 md:py-6 pl-5 md:pl-10 pr-5 leading-16 z-1">
          <svg width="18" height="18" class="w-14 h-14  md:w-18 md:h-18 mr-5" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="9" cy="9" r="8" stroke="white" />
            <path d="M9.00012 5L9.89356 7.77029L12.8043 7.76393L10.4457 9.46971L11.3513 12.2361L9.00012 10.52L6.64898 12.2361L7.55452 9.46971L5.1959 7.76393L8.10669 7.77029L9.00012 5Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          {{ 'BestSeller' }}
        </div>
        <div class="product__icons flex bottom-10 right-10 p-0 absolute" v-if="icons">
          <AddToWishlist :product="product" class="mr-5 md:mr-10" v-if="iswishlist">
            <div
              class="product__icon relative"
              :class="{'product__icon--active': isProdOnWishlist }"
              :title="isProdOnWishlist ? $t('Remove') : $t('Add to favorite') "
            >
              <span class="sr-only">Wishlist</span>
              <svg class="h-30 md:h-40 w-30 md:w-40" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect :class="{ 'fill-current text-gray-200': isProdOnWishlist}" x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="#FBFBFB" stroke="#F5F5F5" />
                <path :class="{ 'stroke-current text-white': isProdOnWishlist}" fill-rule="evenodd" clip-rule="evenodd" d="M24.5455 10C27.5579 10 30 12.5584 30 15.7143C30 21.427 20 30 20 30C20 30 10 21.4282 10 15.7143C10 12.5584 12.4421 10 15.4545 10C17.3523 10 19.0237 11.0153 20.0008 12.5557C20.9763 11.0153 22.6477 10 24.5455 10Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </AddToWishlist>
          <AddToCompare :product="product">
            <div
              class="product__icon relative"
              :class="{'product__icon--active':isOnCompare }"
              :title="isOnCompare ? $t('Remove from compare') : $t('Add to compare')"
            >
              <span class="sr-only">Compare</span>
              <div class="product-compare-remove hidden">
                Remove
              </div>
              <svg class="h-30 md:h-40 w-30 md:w-40" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="#FBFBFB" stroke="#F5F5F5" />
                <rect x="11" y="17" width="13" height="13" rx="2" stroke="#222222" stroke-linejoin="round" />
                <rect x="17" y="11" width="13" height="13" rx="2" stroke="#222222" stroke-linejoin="round" />
              </svg>
            </div>
          </AddToCompare>
        </div>
        <router-link
          :to="productLink"
          class="block"
          data-testid="productLink"
          @click.native="prodductClickEvent()"
        >
          <product-image
            :image="thumbnailObj"
            :alt="product.name | htmlDecode"
            :calc-ratio="false"
            :height="345"
            :width="288"
            data-testid="productImage"
            :hover-img-view="hoverImgView"
          />
        </router-link>
        <button v-if="visibleQuickView" class="quick-view-button hidden sm:block border-0 outline-none transition-all duration-300 absolute top-full h-50 m-auto t-full button-full left-0 right-0 py-0 transform translate-y-0 group-hover:top-1/2 group-hover:-translate-y-1/2" @click="$bus.$emit('quick-view-popup',product)">
          {{ 'Quick View' }}
        </button>
      </div>
      <div class="product-price mt-20">
        <div class="product-tile-review flex items-center mb-5 flex-wrap" v-if="!visibleReview">
          <div class="rating-summary mr-5">
            <span class="rating-result" :style="productRatingLength" />
          </div>
          <span class="text-sm text-gray-600">{{ `(${showNoOfReviews} Reviews)` }}</span>
        </div>
        <p class="pb-5 md:pb-10 product-name" v-if="!onlyImage">
          <router-link
            :to="productLink"
            data-testid="productLink"
            class="text-14 md:text-18 text-gray-200 font-medium no-underline inline-block ellipsis"
            @click.native="prodductClickEvent()"
          >
            {{ product.name | htmlDecode }}
          </router-link>
        </p>
        <div v-if="product.short_description" v-html="product.short_description" class="product-title-desc text-sm text-gray-600 leading-19 mb-6 ellipsis" />
        <p class="product-tile-price text-14 md:text-18 text-gray-200 font-bold pb-0 md:pb-10">
          <span
            class="mr-10"
            v-if="product.special_price && parseFloat(product.original_price_incl_tax) > 0 && !onlyImage"
          >{{ product.price_incl_tax | price(storeView) }}</span>
          <span
            class="value text-sm sm:text-base text-gray-600 line-through font-regular"
            v-if="product.special_price && parseFloat(product.special_price) > 0 && !onlyImage"
          >{{ product.original_price_incl_tax | price(storeView) }}</span>

          <span
            class="mr-10"
            v-if="!product.special_price && parseFloat(product.price_incl_tax) > 0 && !onlyImage"
          >{{ product.price_incl_tax | price(storeView) }}</span>
        </p>
      </div>
    </div>
    <div>
      <slot />
    </div>
    <router-link
      v-if="product.bundle_options"
      :to="productLink"
      class="configure-btn mt-auto font-medium rounded text-center text-16 block py-12 md:py-15 md:px-30 bg-mine-shaft hover:bg-gray-400 hover:text-white text-white w-auto min-w-0"
      @click.native="prodductClickEvent()"
    >
      {{ 'Configure' }}
    </router-link>
    <add-to-cart
      v-else-if="showAddToCart"
      :product="product"
      class="wishlist-add-to-cart relative py-12 md:py-15 mt-auto"
    />
  </div>
</template>

<script>
import rootStore from '@vue-storefront/core/store'
import { ProductTile } from '@vue-storefront/core/modules/catalog/components/ProductTile.ts'
import config from 'config'
import ProductImage from './ProductImage'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import AddToCompare from 'theme/components/core/blocks/Compare/AddToCompare'
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { IsOnCompare } from '@vue-storefront/core/modules/compare/components/IsOnCompare'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import AddToCart from 'theme/components/core/AddToCart'
import { mapGetters, mapState } from 'vuex'
import { getThumbnailPath } from '@vue-storefront/core/helpers'

export default {
  mixins: [ProductTile, IsOnWishlist, IsOnCompare],
  components: {
    ProductImage,
    AddToWishlist,
    AddToCompare,
    AddToCart
  },
  props: {
    visibleReview: {
      type: Boolean,
      default: false
    },
    labelsActive: {
      type: Boolean,
      default: true
    },
    onlyImage: {
      type: Boolean,
      default: false
    },
    icons: {
      type: Boolean,
      default: true
    },
    description: {
      type: Boolean,
      default: false
    },
    iswishlist: {
      type: Boolean,
      default: true
    },
    showAddToCart: {
      type: Boolean,
      default: true
    },
    visibleQuickView: {
      type: Boolean,
      default: true
    },
    hoverImgView: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters({
      customWishlist: 'customWishlist/getCustomWishlistData'
    }),
    ...mapState({
      currentUser: state => state.user.current
    }),
    thumbnailObj () {
      return {
        src: this.thumbnail,
        loading: this.thumbnail,
        smallSrcImage: getThumbnailPath(this.product.small_image)
      }
    },
    userWishlistProducts () {
      if (this.customWishlist !== 'undefined' && this.currentUser) {
        return this.customWishlist.map(obj => {
          return obj.id
        })
      }
      return []
    },
    isProdOnWishlist () {
      if (this.userWishlistProducts.length === 0) {
        return false;
      }
      return this.userWishlistProducts.includes(this.product.id)
    },
    favoriteIcon () {
      return this.isProdOnWishlist ? 'favorite' : 'favorite_border'
    },
    storeView () {
      return currentStoreView()
    },
    productRatingLength () {
      if (this.product.rating && this.product.rating !== '' && this.product.rating > 0) {
        const ratingVal = Math.round(((this.product.rating * 100) / 5))
        return 'width:' + ratingVal + '%';
      } else {
        return 'width:0';
      }
    },
    showNoOfReviews () {
      return this.product.no_of_review || 0
    }
  },
  methods: {
    onProductPriceUpdate (product) {
      if (product.sku === this.product.sku) {
        Object.assign(this.product, product)
      }
    },
    visibilityChanged (isVisible, entry) {
      if (
        isVisible &&
        config.products.configurableChildrenStockPrefetchDynamic &&
        config.products.filterUnavailableVariants &&
        this.product.type_id === 'configurable' &&
        this.product.configurable_children &&
        this.product.configurable_children.length > 0
      ) {
        const skus = [this.product.sku]
        for (const confChild of this.product.configurable_children) {
          const cachedItem = rootStore.state.stock.cache[confChild.id]
          if (typeof cachedItem === 'undefined' || cachedItem === null) {
            skus.push(confChild.sku)
          }
        }
        if (skus.length > 0) {
          rootStore.dispatch('stock/list', { skus: skus }) // store it in the cache
        }
      }
    },
    prodductClickEvent () {
      rootStore.commit('google-tag-manager/productClick', this.product)
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-priceupdate', this.onProductPriceUpdate)
  },
  beforeDestroy () {
    this.$bus.$off('product-after-priceupdate', this.onProductPriceUpdate)
  }
}
</script>

<style lang="scss">
.product {
  &__icon {
    padding-top: 3px;
    z-index: 1;
  }
  .quick-view-button  {
    width: 220px;
    min-width: auto;
    max-width: 80%;
    background: rgba(34, 34, 34, 0.85);
  }
  .product-name a {
    min-height: 46px;
  }
  .rating-summary {
    width: 75px;
    height: 15px;
    background-size: 15px;
    background-image: url(/assets/star.svg);
    .rating-result {
      background-size: 15px;
      background-image: url(/assets/star-filled.svg);
      height: 15px;
      display: block;
    }
  }
}
</style>
