<template>
  <button
    :class="['w-40 h-40 hover:border-2 border-gray-300 text-14 text-gray-400 bg-white', isActive ? 'border-2' : 'border']"
    @click="$emit('change', variant)"
    :aria-label="$t('Select size {variant}', { variant: variant.label })"
  >
    {{ variant.label }}
  </button>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  mixins: [filterMixin]
}
</script>

<style lang="scss" scoped>
</style>
