<template>
  <div class="sub-cat-item item product relative">
    <svg width="42" class="absolute right-20 top-20" height="37" viewBox="0 0 42 37" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18.375 0C8.232 0 0 8.288 0 18.5V36.3393C0 36.7357 0.2625 37 0.65625 37H17.7188C18.1125 37 18.375 36.7357 18.375 36.3393V19.1607C18.375 18.7643 18.1125 18.5 17.7188 18.5H6.5625C6.5625 11.7977 11.718 6.60714 18.375 6.60714V0ZM42 0C31.857 0 23.625 8.288 23.625 18.5V36.3393C23.625 36.7357 23.8875 37 24.2812 37H41.3438C41.7375 37 42 36.7357 42 36.3393V19.1607C42 18.7643 41.7375 18.5 41.3438 18.5H30.1875C30.1875 11.7977 35.343 6.60714 42 6.60714V0Z" fill="#222222" fill-opacity="0.05" />
    </svg>
    <h3 v-if="testimonial.name" class="relative z-1 text-base text-gray-200 m-0 mb-7">
      {{ testimonial.name }}
    </h3>
    <div class="relative rating-summary z-1 mb-20" v-if="testimonial.rating">
      <span class="rating-result" :style="testimonialReviewLength(testimonial.rating)" />
    </div>
    <div class="relative category-description z-1 text-16 leading-23 text-gray-200" v-if="testimonial.testimonial">
      <div class="description-short" v-if="!readMoreActivated" v-html="testimonial.testimonial" />
      <a class="description-readmore text-orange-dark font-medium hover:text-black text-14" v-if="!readMoreActivated && testimonial.testimonial.length > 250" @click.prevent="activateReadMore" href="#">{{ $t('Read More') }}</a>
      <div class="description-long" v-if="readMoreActivated" v-html="testimonial.testimonial" />
      <a class="description-readmore text-orange-dark font-medium text-14 hover:text-black" v-if="readMoreActivated && testimonial.testimonial.length > 250" @click.prevent="activateReadMore" href="#">{{ $t('Read Less') }}</a>
    </div>
  </div>
</template>
<script>
export default {
  name: 'TestimonialTile',
  data () {
    return {
      longText: '',
      shortText: '',
      readMoreActivated: false
    }
  },
  props: {
    testimonial: {
      type: Object,
      required: true
    }
  },
  watch: {
    '$route' (nV, oV) {
      this.enableUpcomingCategory(nV);
      this.readMoreActivated = false
    }
  },
  methods: {
    testimonialReviewLength (rating) {
      if (rating && rating !== '' && rating > 0) {
        const ratingVal = Math.round(((rating * 100) / 5))
        return 'width:' + ratingVal + '%';
      } else {
        return 'width:0';
      }
    },
    activateReadMore () {
      this.readMoreActivated = !this.readMoreActivated;
      this.longText = this.testimonial.testimonial
    }
  }
};
</script>

<style lang="scss">
.testimonial-row{
  .product{
    .rating-summary {
      height: 18px;
      background-size: 18px;
      background-image: url(/assets/star.svg);
      width: 91px;
      .rating-result {
        background-size: 18px;
        background-image: url(/assets/star-filled.svg);
        height: 18px;
        display: block;
      }
    }
  }
}
.description-short {
  position: relative;
  max-height: 118px;
  overflow: hidden;
}
</style>
