<template>
  <button
    type="button"
    class="py-13 md:py-21 px-17 relative"
    @click="openSidebarMenu"
    :aria-label="$t('Open menu')"
    data-testid="menuButton"
  >
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.28564 8.57129H19.7142" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M4.28564 15.4287H13.7142" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
</template>

<script>
import HamburgerIcon from '@vue-storefront/core/compatibility/components/blocks/Header/HamburgerIcon'

export default {
  mixins: [HamburgerIcon]
}
</script>
