<template>
  <div class="header" :class="{'checkoutpage': isCheckoutPage}">
    <header
      :class="{ '-top-105 headersticky': navInvisible }"
      class="fixed w-full bg-gray-100 z-3 top-0"
    >
      <HeaderTopbar v-if="!isCheckoutPage && !isThankYouPage" />
      <div class="md:border-b border-gray-500">
        <div class="container">
          <div class="pr-0 md:pr-10 md:ml-auto md:mr-auto flex justify-between relative" v-if="!isCheckoutPage && !isThankYouPage">
            <div class="w-1/2 xs:w-1/4 middle-xs py-5 flex items-center">
              <hamburger-icon class="block md:hidden -ml-15" />
              <logo />
            </div>
            <div class="w-1/2 xs:w-3/4  justify-end flex">
              <SearchPanel class="mr-20 hidden md:inline-flex" />
              <div class="hrader-iconbar flex bg-gray-200 md:bg-gray-100 items-center justify-center">
                <home-icon class="py-23 px-5 md:p-17 flex items-center justify-center md:hidden home-icon" />
                <search-icon class="py-23 px-5 md:p-17 flex items-center justify-center md:hidden search-icon" />
                <compare-icon class="py-23 px-5 md:p-17 items-center justify-center flex compare-icon" />
                <wishlist-icon class="py-23 px-5 md:p-17 flex items-center justify-center wishlist-icon" />
                <account-icon class="md:flex py-14 px-5 md:p-17 flex items-center justify-center account-icon" />
                <microcart-icon class="py-14 px-5 md:p-17 md:pr-0 flex items-center justify-center cart-icon" />
              </div>
            </div>
          </div>
          <div class="flex justify-between items-center py-6 w-full text-sm md:text-base" v-if="isCheckoutPage || isThankYouPage">
            <div class="w-1/2 xs:w-3/4 hidden md:block" v-if="!isThankYouPage" />
            <div class="w-full md:w-3/4 text-center flex justify-center ml-auto mr-auto">
              <logo width="43" height="41px" />
            </div>
            <div class="w-1/2 xs:w-3/4 text-right hidden md:block" v-if="!isThankYouPage">
              <a
                v-if="!currentUser"
                href="#"
                @click.prevent="gotoAccount"
                class="text-gray-300 underline"
              >{{ $t('Login to your account') }}</a>
              <span v-else>{{ $t('You are logged in as {firstname}', currentUser) }}</span>
            </div>
          </div>
        </div>
      </div>
      <category-mega-menu class="hidden md:block" v-if="!isCheckoutPage && !isThankYouPage" />
    </header>
    <div class="header-placeholder h-54" :class="{'checkoutpage': isCheckoutPage}" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CurrentPage from 'theme/mixins/currentPage'
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'
import CompareIcon from 'theme/components/core/blocks/Header/CompareIcon'
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon'
import SearchIcon from 'theme/components/core/blocks/Header/SearchIcon'
import HeaderTopbar from 'theme/components/core/blocks/Header/HeaderTopbar'
import Logo from 'theme/components/core/Logo'
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
import HomeIcon from 'theme/components/core/blocks/Header/HomeIcon'
import SearchPanel from 'theme/components/core/blocks/SearchPanel/SearchPanel'
import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon'
import CategoryMegaMenu from 'theme/components/core/CategoryMegaMenu'

export default {
  name: 'Header',
  components: {
    AccountIcon,
    CompareIcon,
    HamburgerIcon,
    SearchIcon,
    Logo,
    HomeIcon,
    MicrocartIcon,
    CategoryMegaMenu,
    SearchPanel,
    WishlistIcon,
    HeaderTopbar
  },
  mixins: [CurrentPage],
  data () {
    return {
      navInvisible: false,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 54
    }
  },
  computed: {
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current
    }),
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
  },
  beforeMount () {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true
      },
      { passive: true }
    )

    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled()
        this.isScrolling = false
      }
    }, 250)
  },
  async created () {
    if (this.isLoggedIn) {
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
    }
  },
  methods: {
    gotoAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    hasScrolled () {
      this.scrollTop = window.scrollY
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navInvisible = true
      } else {
        this.navInvisible = false
      }
      this.lastScrollTop = this.scrollTop
    }
  }
}
</script>
<style lang="scss" scoped>
  header {
    transition: 0.15s;
  }
  .headersticky{
    top:-105px;
    @media (max-width: 767px){
     top:0px;
    }
  }
  .header-placeholder{
    height: 155px;
    &.checkoutpage{
      height: 73px;
    }
    @media (max-width: 767px){
      height:60px;
    }
  }
  .checkoutpage{
    .headersticky{
      top: 0;
    }
  }
</style>
