<template>
  <router-link :to="localizedRoute('/')" class="relative">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1372 2.26764C11.6576 1.91079 12.3424 1.91079 12.8628 2.26764L12.8687 2.2717L21.375 8.28626C21.7612 8.56847 22 9.02719 22 9.51V20.45C22 21.2761 21.3261 21.95 20.5 21.95H15.5C14.6739 21.95 14 21.2761 14 20.45V15.46C14 15.1861 13.7739 14.96 13.5 14.96H10.5C10.2261 14.96 10 15.1861 10 15.46V20.46C10 21.2861 9.32614 21.96 8.5 21.96H3.5C2.67386 21.96 2 21.2861 2 20.46V9.51C2 9.01452 2.24101 8.56691 2.62499 8.2863L2.6313 8.28169L11.1372 2.26764ZM11.7052 3.09068L3.21236 9.09564C3.07797 9.19508 3 9.34655 3 9.51V20.46C3 20.7339 3.22614 20.96 3.5 20.96H8.5C8.77386 20.96 9 20.7339 9 20.46V15.46C9 14.6339 9.67386 13.96 10.5 13.96H13.5C14.3261 13.96 15 14.6339 15 15.46V20.45C15 20.7239 15.2261 20.95 15.5 20.95H20.5C20.7739 20.95 21 20.7239 21 20.45V9.51C21 9.35383 20.9199 9.19359 20.7876 9.09562L12.2948 3.09068C12.1163 2.96977 11.8837 2.96977 11.7052 3.09068Z" fill="black"/>
    </svg>
  </router-link>
</template>
<script>
export default {
   name: 'HomeIcon',
}
</script>
