<template>
  <button type="button" class="inline-flex border-0 bg-transparent p-0 mr-15" @click="goBack" data-testid="returnButton">
    <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.999999 8.00049H19" stroke="#222222" />
      <path d="M8.07104 15.0718L0.999977 8.00071L8.07104 0.929642" stroke="#222222" />
    </svg>
  </button>
</template>

<script>
import ReturnIcon from '@vue-storefront/core/compatibility/components/blocks/Header/ReturnIcon'

export default {
  mixins: [ReturnIcon]
}
</script>
