<template>
  <button
    type="button"
    :aria-label="$t('Open search panel')"
    @click="toggleSearchpanel"
    data-testid="openSearchPanel"
  >
    <span class="sr-only">Search</span>
    <svg data-v-73e7dc70="" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path data-v-73e7dc70="" d="M18.9993 18.9997L14.1992 14.1997" stroke="#222222" stroke-miterlimit="10" stroke-linecap="round" /> 
      <path data-v-73e7dc70="" d="M8.7143 16.4286C12.9748 16.4286 16.4286 12.9748 16.4286 8.71431C16.4286 4.45381 12.9748 1 8.7143 1C4.45381 1 1 4.45381 1 8.71431C1 12.9748 4.45381 16.4286 8.7143 16.4286Z" stroke="#222222" stroke-miterlimit="10" stroke-linecap="round" />
    </svg>
  </button>
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon'

export default {
  mixins: [SearchIcon]
}
</script>
