<template>
  <button
    type="button"
    class="relative group"
    @click="toggleWishlistPanel"
    data-testid="wishlist-icon"
    :aria-label="$t('Open wishlist')"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0909 1C16.8021 1 19 3.30254 19 6.14286C19 11.2843 10 19 10 19C10 19 1 11.2854 1 6.14286C1 3.30254 3.19787 1 5.90909 1C7.61706 1 9.1213 1.91377 10.0007 3.30012C10.8787 1.91377 12.3829 1 14.0909 1Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <span
      class="whishlist-count top-20 md:top-15 left-0 -right-20 md:-right-20 mr-auto ml-auto  text-10 font-bold leading-14 rounded-full absolute text-center border-box p-0 w-14 h-14  text-white bg-orange-dark md:bg-gray-200"
      v-cloak
      v-show="wishlistCount && currentUser"
    >
      {{ wishlistCount }}
    </span>
  </button>
</template>

<script>
import WishlistIcon from '@vue-storefront/core/compatibility/components/blocks/Header/WishlistIcon'
import { mapGetters } from 'vuex'

export default {
  mixins: [WishlistIcon],
  data () {
    return {
      resetCount: false
    }
  },
  methods: {
    toggleWishlistPanel () {
      if (this.isLoggedIn) {
        this.toggleWishlist()
      } else {
        this.$bus.$emit('modal-toggle', 'modal-signup')
      }
    }
  },
  mounted () {
    this.$bus.$on('reset-wishlist-count', (val) => {
      this.resetCount = val
    })
  },
  computed: {
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
    currentUser () {
      return this.$store.state.user.current
    },
    ...mapGetters({
      customWishlist: 'customWishlist/getCustomWishlistData'
    }),
    wishlistCount () {
      if (this.resetCount) {
        return 0
      } else if (this.customWishlist !== undefined) {
        return this.customWishlist.length;
      } else {
        return 0
      }
    }
  },
  destroyed () {
    this.$bus.$off('reset-wishlist-count')
  }
}
</script>
