<template>
  <div class="w-full md:w-3/12 px-10 order-1 md:order-1">
    <h3 class="mt-0 mb-10 font-bold text-gray-200 text-base lg:text-18">
      {{ 'CATEGORIES' }}
    </h3>
    <ul class="border border-gray-500 md:rounded-md">
      <li class="border-b border-gray-500 py-13 px-15 text-sm lg:text-base leading-19 font-medium last:border-b-0" v-for="post in uniqueCategory" :key="post.id">
        <router-link class="text-gray-200" :to="localizedRoute('/research/category/' + post.url_key)">
          {{ post.name }}
        </router-link>
      </li>
    </ul>
    <h3 class="mt-30 mb-10 font-bold text-gray-200 text-base lg:text-18">
      {{ 'RECENT POSTS' }}
    </h3>
    <ul class="border border-gray-500 md:rounded-md">
      <li class="border-b border-gray-500 py-13 px-15 text-sm lg:text-base leading-19 font-medium last:border-b-0" v-for="post in recentPost" :key="post.id">
        <router-link class="text-gray-200" :to="localizedRoute('/research/' + post.url_key)">
          {{ post.title }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'ResearchSidebar',
  props: {
    uniqueCategory: {
      type: Array,
      required: true
    },
    recentPost: {
      type: Array,
      required: true
    }
  }
}
</script>
