<template>
  <div>
    <div class="bg-cl-secondary py35 pl20">
      <div class="container">
        <breadcrumbs
          :with-homepage="true"
          :routes="[]"
          active-route="Assembly Instructions"
        />
      </div>
    </div>
    <Assembly />
  </div>
</template>

<script>
import Assembly from 'src/modules/bocm/assembly/components/Assembly.vue'
import Breadcrumbs from '../components/core/Breadcrumbs'
import config from 'config'

export default {
  name: 'AssemblyInstruction',
  components: {
    Assembly,
    Breadcrumbs
  },
  metaInfo () {
    return {
      title: 'Assembly Instruction - Videos, Pictures And PDFs',
      meta: [
        { vmid: 'description', name: 'description', content: 'Check our step by step instructions on how to assemble kitchen cabinets, from various base cabinets to wall cabinets, vanity cabinets, and pantry cabinets.' },
        { vmid: 'title', name: 'title', content: 'Assembly Instruction - Videos, Pictures And PDFs' },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$router.currentRoute.path },
        { vmid: 'og:type', name: 'og:type', content: 'Assembly Instruction' }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }]
    }
  }
}
</script>
