<template>
  <div id="category-listing" class="category-listing pb-30 md:pb-80">
    <div class="container">
      <div class="category-footer md:hidden bg-white fixed bottom-70 left-0 w-full z-3 p-16">
        <div class="flex w-4/12 justify-center cursor-pointer text-center font-medium items-center text-16 border-r border-gray-50 pr-10 lg:pr-20 lg:mr-20 mr-10" @click="openbox(1)" :class="{ 'active' : boxactive}">
          <svg width="18" height="16" class="mr-10" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.8333 12.167H16.7333H17.3333" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M0.666586 12.167H5.73325H7.33325" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            <circle r="2.5" transform="matrix(-1 0 0 1 12.3333 12.167)" stroke="#222222" />
            <path d="M3.16663 3.8335H1.26663H0.666626" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M17.3333 3.8335H12.2666H10.6666" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            <circle cx="5.66663" cy="3.8335" r="2.5" stroke="#222222" />
          </svg>
          {{ $t('Filter') }}
        </div>
        <div class="flex relative justify-center w-4/12 cursor-pointer text-center font-medium items-center text-16 border-r border-gray-50 pr-10 lg:pr-20 lg:mr-20 mr-10">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-10">
            <path d="M0.5 3.27778L3.41667 0.5M3.41667 0.5L6.33333 3.27778M3.41667 0.5V12.1667" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M9.66663 12.7222L12.5833 15.5M12.5833 15.5L15.5 12.7222M12.5833 15.5V3.83333" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          {{ $t('Short') }}
          <select
            name="sortby"
            class="bg-transparent absolute left-0 top-0 h-full w-ful opacity-0  z-1 md:hidden text-center appearance-none text-gray-200 border-0 py-0 font-medium text-16 pl-0 pr-0 md:text-16 cursor-pointer"
            v-model="sort"
            @change="changeFilter"
          >
            <option v-for="variant in sortOptions" :value="variant" :key="variant.id">
              {{ $t(variant.label) }}
            </option>
          </select>
        </div>
        <div class="flex justify-center w-4/12 cursor-pointer text-center font-medium items-center text-16 pr-10 lg:pr-20 lg:mr-20 mr-10">
          <svg width="19" class="mr-10" height="19" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="7" width="13" height="13" rx="2" stroke="#222222" stroke-linejoin="round" />
            <rect x="7" y="1" width="13" height="13" rx="2" stroke="#222222" stroke-linejoin="round" />
          </svg>
          {{ $t('Compare') }}
        </div>
      </div>
      <header class="border-0">
        <breadcrumbs />
        <div class="category-top-content category-content mb-30" v-if="getCurrentCategory.category_top_content" v-html="getCurrentCategory.category_top_content" />
        <div class="filter-row mb-30" :class="{ 'active' : boxactive}">
          <div class="filter-top flex-wrap md:flex-nowrap flex items-baseline bg-gray-300 pt-20 md:pt-10 px-20 md:px-10 lg:px-20 relative">
            <div class="flex text-16 cursor-pointer font-medium filter-left items-center md:border-r border-gray-50 pr-10 lg:pr-20 lg:mr-20 mr-10" @click="openbox(1)" :class="{ 'active' : boxactive}">
              <svg width="18" height="16" class="mr-10" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.8333 12.167H16.7333H17.3333" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M0.666586 12.167H5.73325H7.33325" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                <circle r="2.5" transform="matrix(-1 0 0 1 12.3333 12.167)" stroke="#222222" />
                <path d="M3.16663 3.8335H1.26663H0.666626" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M17.3333 3.8335H12.2666H10.6666" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                <circle cx="5.66663" cy="3.8335" r="2.5" stroke="#222222" />
              </svg>
              {{ $t('Filter') }}
              <svg width="12" height="7" class="ml-20 hidden md:inline-flex" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1L6 6L1 1" stroke="#222222" />
              </svg>
            </div>
            <div class=" w-full md:w-7/12 pt-15 md:pt-0">
              <span v-for="filter of filterList" :key="filter.attribute_id">
                <span v-for="(option, index) in filter.options" :key="index">
                  <span v-if="filterValue[filter.attribute_code].includes(option.value)">
                    <button @click="removeSelectedFilter(filter.attribute_code, option.value)" class="relative -top-4 mb-10 mr-10 -inset-0 text-left border leading-14 border-gray-500 inline-flex items-center bg-white rounded-full py-9 px-15 pr-30 text-sm">
                      <span class="mr-2 text-gray-600 whitespace-nowrap">{{ filter.frontend_label }} :</span>
                      {{ option.label }}
                      <svg width="12" class="ml-7 absolute right-9 top-2/4 -mt-6" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 0.5L1 10.5" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M1 0.5L11 10.5" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </button>
                  </span>
                </span>
              </span>
            </div>
            <div class="ml-auto flex items-center absolute md:relative right-0 top-23 md:top-0">
              <button v-if="isDisplayRemoveFilterButton" @click="resetFilter" class=" relative right-0 top-0 flex items-center text-gray-200 text-sm md:border-r md:border-l leading-14 border-gray-50 pl-10  pr-10 lg:pr-20 lg:pl-20 lg:mr-20 mr-10">
                <svg width="20" class="mr-10" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.5326 14.8915C14.1696 16.7767 11.9707 18.0006 9.48997 18.0006C5.35371 18.0006 2.00061 14.198 2.00061 10.0006C2.00061 5.80325 5.35371 2.00061 9.48997 2.00061C11.9707 2.00061 14.1696 3.2245 15.5326 5.1097C16.2518 6.1046 16.7382 7.28368 16.9103 8.56425M16.9103 8.56425L18.0006 7.18243M16.9103 8.56425L15.2772 7.87334" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                {{ 'Reset All Filter' }}
              </button>
              <div class="sortby relative md:flex items-center hidden">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute left-0 top-15">
                  <path d="M0.5 3.27778L3.41667 0.5M3.41667 0.5L6.33333 3.27778M3.41667 0.5V12.1667" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M9.66663 12.7222L12.5833 15.5M12.5833 15.5L15.5 12.7222M12.5833 15.5V3.83333" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <select
                  name="sortby"
                  class="bg-transparent relative z-1 appearance-none text-gray-200 border-0 py-10 font-medium text-14 pl-30 pr-20 md:text-16 cursor-pointer"
                  v-model="sort"
                  @change="changeFilter"
                >
                  <option selected="selected" disabled value="">
                    {{ $t('Sort By') }}
                  </option>
                  <option v-for="variant in sortOptions" :value="variant" :key="variant.id">
                    {{ $t(variant.label) }}
                  </option>
                </select>
                <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute right-0 top-20">
                  <path d="M1 1L6 6L11 1" stroke="#222222" />
                </svg>
              </div>
            </div>
          </div>
          <div class="filter-tab-row hidden md:p-40 border-t md:border border-gray-500" :class="{ 'active' : boxactive}">
            <tabs class="mb-20">
              <template v-for="(filter, tabIndex) of filterList">
                <tab page-name="categorypage" :is-active="tabIndex === 0 ? true : false" :key="filter.attribute_id" :title="filter.frontend_label">
                  <p class="text-sm font-medium pb-5 hidden md:block w-full">
                    {{ filter.frontend_label }}
                  </p>
                  <ul class="object w-full administrator-checkbox-list custom-scrollbar" :key="filter.attribute_id">
                    <li v-for="(option, index) in filter.options" :key="index" class="pt-10">
                      <div class="relative base-checkbox">
                        <input
                          type="checkbox"
                          :id="option.value"
                          v-model="filterValue[filter.attribute_code]"
                          :value="option.value"
                          @change="changeFilter"
                          class="mr-4 hidden"
                        >
                        <label :for="option.value" class="text-gray-200 text-sm pl-30 inline-block">
                          {{ option.label }}
                        </label>
                      </div>
                    </li>
                  </ul>
                </tab>
              </template>
            </tabs>
            <div class="flex items-center justify-center close-btn">
              <label @click="openbox(1)" :class="{ 'active' : boxactive}" class="bg-white z-1 mr-auto inline-flex cursor-pointer w-auto button-outline leading-15  min-w-0 py-14 px-35 text-center ml-auto border-gray-200">
                {{ 'Close' }}
              </label>
            </div>
          </div>
        </div>
      </header>
      <div class="product-listing flex flex-wrap" v-if="subcategoryData.length">
        <div
          v-for="category in subcategoryData"
          :key="category.id"
          :data-testid="category.id"
          class="w-6/12 md:w-4/12 lg:w-3/12 bg-white border border-l-0 -mb-1 border-gray-500 p-10 product-listing-col"
        >
          <category-tile :category="category" />
        </div>
      </div>
      <div v-else class="text-center font-medium">
        {{ $t('No Category found') }}
      </div>
      <div class="category-bottom-content category-content mt-30" v-if="getCurrentCategory.category_bottom_content" v-html="getCurrentCategory.category_bottom_content" />
    </div>
    <compare-category-list />
  </div>
</template>

<script>
import { isServer } from '@vue-storefront/core/helpers'
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import { htmlDecode } from '@vue-storefront/core/filters'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import CategoryTile from 'theme/components/core/CategoryTile';
import CompareCategoryList from 'theme/components/core/blocks/Category/Compare/CompareCategoryList'
import config from 'config'

const composeInitialPageState = async (store, route, forceLoad = false) => {
  try {
    // route.params.slug = route.params.slug.replace('.html', '')
    const filters = { url_path: route.fullPath.substring(1) }
    const cachedCategory = store.getters['category-next/getCategoryFrom'](route.path)
    const currentCategory = cachedCategory && !forceLoad ? cachedCategory : await store.dispatch('category-next/loadCategory', { filters })
    const breadCrumbsLoader = store.dispatch('category-next/loadCategoryBreadcrumbs', { category: currentCategory, currentRouteName: currentCategory.name, omitCurrent: true })
    if (isServer) await breadCrumbsLoader
    catalogHooksExecutors.categoryPageVisited(currentCategory)
  } catch (e) {
    Logger.error('Problem with setting Category initial data!', 'category', e)()
  }
}

export default {
  components: {
    Breadcrumbs,
    CategoryTile,
    CompareCategoryList,
    Tabs: () => import(/* webpackChunkName: "bocm-tabs" */ 'theme/components/theme/Tabs.vue'),
    Tab: () => import(/* webpackChunkName: "bocm-single-tab" */ 'theme/components/theme/Tab.vue')
  },
  data () {
    return {
      filterValue: {},
      sort: '',
      boxactive: false,
      sortOptions: [
        { 'label': 'Price: Low to high', 'id': 'finalprice', 'type': 'sort' },
        { 'label': 'Price: High to low', 'id': 'finalprice:desc', 'type': 'sort' }
      ]
    };
  },
  computed: {
    ...mapGetters({
      availableFilters: 'bocmCategory/getAvailableFilters',
      subcategoryData: 'bocmCategory/getSubcategory'
    }),
    isDisplayRemoveFilterButton () {
      let isActive = false;
      Object.values(this.filterValue).filter((opt) => {
        if (opt.length > 0) {
          isActive = true
        }
      })
      return isActive
    },
    getCurrentCategory () {
      return this.$store.getters['category-next/getCategoryByParams']({ url_path: this.$route.fullPath.substring(1) });
    },
    filterList () {
      return this.availableFilters.filter(x => {
        if (x.options && x.options.length > 0) {
          this.$set(this.filterValue, x.attribute_code, [])
          return x.options && x.options.length > 0
        }
        return false
      })
    },
    metaDescription () {
      return this.getCurrentCategory ? this.getCurrentCategory.meta_description : ''
    },
    metaKeywords () {
      return this.getCurrentCategory ? this.getCurrentCategory.meta_keywords : 'Best Online Cabinets'
    },
    metaTitle () {
      return this.getCurrentCategory ? this.getCurrentCategory.meta_title : this.getCurrentCategory.name
    }
  },
  watch: {
    '$route' () {
      this.changeFilter()
      this.resetFilter()
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    if (context) context.output.cacheTags.add('category')
    await composeInitialPageState(store, route)
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else if (!from.name) { // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async vm => {
        vm.loading = true
        await composeInitialPageState(vm.$store, to, true)
        await vm.$store.dispatch('bocmCategory/categoryAttributeList')
        vm.$store.dispatch('categoryCompare/load')
        vm.changeFilter()
        vm.loading = false
      })
    } else { // Pure CSR, with no initial category state
      next(async vm => {
        vm.loading = true
        vm.$store.dispatch('categoryCompare/load')
        await vm.$store.dispatch('bocmCategory/categoryAttributeList')
        vm.changeFilter()
        vm.loading = false
      })
    }
  },
  methods: {
    async changeFilter (event) {
      await this.$store.dispatch('bocmCategory/list', { category: this.getCurrentCategory, sort: this.sort, filters: this.filterValue })
    },
    openbox (index) {
      this.boxactive = !this.boxactive;
      if (window.matchMedia('(max-width: 767px)').matches) {
        if (this.boxactive) {
          this.addBodyClass()
        } else {
          this.removeBodyClass()
        }
      }
    },
    addBodyClass () {
      if (isServer) return;
      const bodyEle = document.getElementsByTagName('body');
      bodyEle.length > 0 && bodyEle[0].classList.add('overflow-hidden');
    },
    removeBodyClass () {
      if (isServer) return;
      const bodyEle = document.getElementsByTagName('body');
      bodyEle.length > 0 && bodyEle[0].classList.remove('overflow-hidden');
    },
    resetFilter () {
      this.availableFilters.filter(x => {
        if (x.options && x.options.length > 0) {
          this.$set(this.filterValue, x.attribute_code, [])
          return x.options && x.options.length > 0
        }
        return false
      })
      this.changeFilter()
    },
    removeSelectedFilter (attribute, value) {
      this.filterValue[attribute] = this.filterValue[attribute].filter(item => item !== value);
      this.changeFilter()
    }
  },
  metaInfo () {
    return {
      title: htmlDecode(this.metaTitle || this.getCurrentCategory.name),
      meta: [
        { vmid: 'description', name: 'description', content: htmlDecode(this.metaDescription) },
        { vmid: 'keywords', name: 'keywords', content: htmlDecode(this.metaKeywords) },
        { vmid: 'title', name: 'title', content: htmlDecode(this.metaTitle || this.getCurrentCategory.name) },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$router.currentRoute.path },
        { vmid: 'og:image', name: 'og:image', content: this.getCurrentCategory.image ? config.bocm.categoryImage.url + this.getCurrentCategory.image : '' },
        { vmid: 'og:type', name: 'og:type', content: 'Category Details' }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }]
    }
  }
}
</script>
<style lang="scss">
.modal-category-compare {
  .product-image  {
    padding-top: 250px;
  }
}
</style>
