<template>
  <div class="category__main container pb-30 md:pb-80" :key="$route.fullPath">
    <breadcrumbs
      :with-homepage="true"
      :routes="[]"
      :active-route="categoryTitle"
    />
    <div class="category-title lg:flex items-center pb-20 md:pb-30">
      <div class="rating pb-10 md:pb-0">
        <h3 class="category__title text-gray-200 text-md md:text-xl font-medium pb-10 m-0">
          {{ categoryTitle }}
        </h3>
        <div class="inline-flex text-sm">
          Check Out Cabinet
          <router-link :to="localizedRoute('/')" :title="$t('Spec Sheet')" class="text-orange-dark underline ml-5">
            Spec Sheet
          </router-link>
        </div>
      </div>
      <div class="rta-btn ml-auto flex items-center flex-wrap">
        <!-- categroup attribute use for RTA (6066) & Pre-Assembled (6067)  -->
        <CheckboxToggle @change="categorySwitching" :value="currentCategory.catgroup === 6067" v-if="currentCategory.linked_cat_url" />
        <!-- <div class="ml-auto flex">
          <router-link :to="localizedRoute('/')" :title="$t('Spec Sheet')" class="hover:bg-gray-100 hover:border-gray-500 ml-10 md:ml-30 rounded-lg flex items-center font-medium text-gary-200 font-base p-12 md:py-13 md:px-20 border border-gray-300 bg-gray-100">
            <svg width="24" height="24" class="md:mr-10 w-20 h-20 md:w-24 md:h-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.25 13.5V20.25C20.25 20.6478 20.092 21.0294 19.8107 21.3107C19.5294 21.592 19.1478 21.75 18.75 21.75H5.25C4.85218 21.75 4.47064 21.592 4.18934 21.3107C3.90804 21.0294 3.75 20.6478 3.75 20.25V13.5" stroke="#222222" />
              <path d="M12 2.25V19.5V2.25Z" stroke="#222222" />
              <path d="M4.5 9.74989L11.4698 2.78014C11.6104 2.63953 11.8011 2.56055 12 2.56055C12.1989 2.56055 12.3896 2.63953 12.5303 2.78014L19.5 9.74989" stroke="#222222" />
            </svg>
            <span class="underline hidden md:flex">Share</span>
          </router-link>
          <router-link :to="localizedRoute('/')" :title="$t('Spec Sheet')" class="hover:bg-gray-100 hover:border-gray-500 ml-10 md:ml-30 rounded-lg flex items-center font-medium text-gary-200 font-base p-12 md:py-13 md:px-20 border border-gray-300 bg-gray-100">
            <svg width="24" height="24" class="md:mr-10 w-20 h-20 md:w-24 md:h-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5455 2C19.5579 2 22 4.55837 22 7.71429C22 13.427 12 22 12 22C12 22 2 13.4282 2 7.71429C2 4.55837 4.44208 2 7.45455 2C9.35229 2 11.0237 3.0153 12.0008 4.55569C12.9763 3.0153 14.6477 2 16.5455 2Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span class="underline hidden md:flex">Save</span>
          </router-link>
        </div> -->
      </div>
    </div>
    <div class="md:flex pb-40 md:pb-60 product-image-section">
      <div class="category__image w-full md:w-6/12 md:mr-20 mb-20 md:mb-0">
        <div class="category__image_content skeleton-image relative" :class="{'thermofoil-thumb-left': currentCategory.url_key === 'thermofoil-flat-panel-rta'}">
          <div class="bg-white z-1 absolute left-0 top-0 w-full">
            <div class="thumb-slider-right relative">
              <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
                <swiper-slide
                  v-for="gallery in categoryGallery"
                  :key="gallery.src"
                >
                  <div
                    class="product-image-container mb-20 relative"
                  >
                    <img height="403" width="610" :alt="currentCategory.name" v-if="gallery.file !== currentCategory.panorama" class="w-full absolute top-1/2 left-1/2 object-cover object-center  -translate-y-1/2 -translate-x-1/2" :src="getImagePath(gallery.file, 'large')">
                    <iframe
                      class="w-full h-full absolute left-0 top-0"
                      allowfullscreen
                      :src="'https://cdn.pannellum.org/2.5/pannellum.htm?panorama=' + getPanoramaImageUrl(currentCategory.panorama) + '&amp;autoLoad=true&amp;autoRotate=-2'"
                      v-else
                    />
                  </div>
                </swiper-slide>
              </swiper>
              <div class="swiper-pagination" />
            </div>
            <div class="thumb-slider-left relative" v-if="enableThumbSliderLeft">
              <div class="swiper-button-prev cursor-pointer w-24 h-24 bg-opacity-75 text-center bg-white absolute left-8 top-30 md:top-50 z-2" v-if="Object.keys(categoryGallery).length > 4">
                <svg class="inline-flex" width="15" height="15" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.41016 11.34L2.83016 6.75L7.41016 2.16L6.00016 0.75L0.000156403 6.75L6.00016 12.75L7.41016 11.34Z" fill="#000" />
                </svg>
              </div>
              <swiper v-if="currentCategory.url_key === 'thermofoil-flat-panel-rta'" class="swiper gallery-thumbs" :options="swiperOptionThumbsLeft" :loop="true" ref="swiperThumbs">
                <swiper-slide class="product-thumb-item cursor-pointer border-2 border-transparent flex items-center max-w-full" @click.native="onSwiperThumbsClick(index)" v-for="(gallery, index) in categoryGallery" :key="gallery.value_id" :class="{ 'border-orange-dark' : currentThumbSlide === index }">
                  <img height="116" width="116" v-if="gallery.file !== currentCategory.panorama" class="w-full object-cover" :src="getImagePath(gallery.file)" :alt="currentCategory.name">
                  <img v-else class="panorama-img m-auto" src="/assets/panorama-logo.png" :alt="currentCategory.name">
                </swiper-slide>
              </swiper>
              <swiper v-else class="swiper gallery-thumbs" :options="swiperOptionThumbs" :loop="true" ref="swiperThumbs">
                <swiper-slide class="product-thumb-item cursor-pointer border-2 border-transparent flex items-center" @click.native="onSwiperThumbsClick(index)" v-for="(gallery, index) in categoryGallery" :key="gallery.value_id" :class="{ 'border-orange-dark' : currentThumbSlide === index }">
                  <img height="116" width="116" v-if="gallery.file !== currentCategory.panorama" class="w-full object-cover" :src="getImagePath(gallery.file)" :alt="currentCategory.name">
                  <img v-else class="panorama-img m-auto" src="/assets/panorama-logo.png" :alt="currentCategory.name">
                </swiper-slide>
              </swiper>
              <div class="swiper-button-next cursor-pointer w-24 h-24 bg-opacity-75 text-center bg-white absolute right-8 top-30 md:top-50 z-2" v-if="Object.keys(categoryGallery).length > 4">
                <svg class="inline-flex" width="15" height="15" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.589844 11.34L5.16984 6.75L0.589844 2.16L1.99984 0.75L7.99984 6.75L1.99984 12.75L0.589844 11.34Z" fill="#000" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <!-- Added the static condition for the specific category as we don't have mappings of flat_panels with Category -->
        <template v-if="currentCategory.url_key === 'thermofoil-flat-panel-rta'">
          <h4 class="mb-15 leading-21 text-base font-medium">
            {{ 'High Gloss Flat Panel' }}
          </h4>
          <div v-swiper="swiperOptionFirst" :instance-name="'high_glass_slider'">
            <div class="swiper-wrapper">
              <div class="swiper-slide hover-on-product border" :class="swiperOptionFirst.currentThumbSlide !== index ? 'border-gray-500' : 'border-orange-dark'" v-for="(slider, index) in getHighGlossFlatPanel" :key="index">
                <div class="text-center">
                  <a class="block" @click="getProductCategoryGallery(slider)" :title="slider.name">
                    <div class="relative assembly-image skeleton-image cursor-pointer">
                      <img class="left-0 top-0 w-full h-full object-cover z-1 relative" :src="getSliderImage(slider.material_image)" :alt="slider.name">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div id="high_glass_slider-button-prev" class="swiper-button-prev absolute cursor-pointer top-0 bottom-0 left-0 m-auto h-19 z-1 bg-white" slot="button-prev">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-19 w-19" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
              </svg>
            </div>
            <div id="high_glass_slider-button-next" class="swiper-button-next absolute cursor-pointer top-0 bottom-0 right-0 m-auto h-19 z-1 bg-white" slot="button-next">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-19 w-19" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </div>
          </div>
          <h4 class="mt-30 mb-15 leading-21 text-base font-medium">
            {{ 'Textured Finish Flat Panel' }}
          </h4>
          <div class="mb-30 md:mb-0" v-swiper="swiperOptionTwo" :instance-name="'textured_finish_slider'" v-if="currentCategory.url_key === 'thermofoil-flat-panel-rta'">
            <div class="swiper-wrapper">
              <div class="swiper-slide hover-on-product border" :class="swiperOptionTwo.currentThumbSlide !== index ? 'border-gray-500' : 'border-orange-dark'" v-for="(slider, index) in getTexturedFinishFlatPanel" :key="index">
                <div class="text-center">
                  <a class="block" @click="getProductCategoryGallery(slider)" :title="slider.name">
                    <div class="relative assembly-image skeleton-image cursor-pointer">
                      <img class="left-0 top-0 w-full h-full object-cover z-1 relative" :src="getSliderImage(slider.material_image)" :alt="slider.name">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div id="textured_finish_slider-button-prev" class="swiper-button-prev absolute cursor-pointer top-0 bottom-0 left-0 m-auto h-19 z-1 bg-white" slot="button-prev">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-19 w-19" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
              </svg>
            </div>
            <div id="textured_finish_slider-button-next" class="swiper-button-next absolute cursor-pointer top-0 bottom-0 right-0 m-auto h-19 z-1 bg-white" slot="button-next">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-19 w-19" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </div>
          </div>
        </template>
      </div>
      <div class="category_tabs w-full md:w-6/12 rounded-lg skeleton-image relative">
        <tabs class="border border-gray-500 rounded-lg bg-white z-1" v-if="currentCategory.f_category_tab_1">
          <tab title="Highlights" v-if="currentCategory.f_category_tab_1" class="tab1">
            <div v-html="currentCategory.f_category_tab_1" />
          </tab>
          <tab title="About" v-if="currentCategory.f_category_tab_2">
            <div v-html="currentCategory.f_category_tab_2" />
          </tab>
          <tab title="Specs" v-if="currentCategory.f_category_tab_3">
            <div v-html="currentCategory.f_category_tab_3" />
          </tab>
          <tab title="Assembly" v-if="currentCategory.f_category_tab_4">
            <div v-html="currentCategory.f_category_tab_4" />
          </tab>
        </tabs>
      </div>
    </div>
    <product-listing :current-category="currentCategory" />
  </div>
</template>

<script>
import Breadcrumbs from 'theme/components/core/Breadcrumbs';
import { isServer } from '@vue-storefront/core/helpers'
import { Logger } from '@vue-storefront/core/lib/logger'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import { htmlDecode } from '@vue-storefront/core/filters'
import CheckboxToggle from 'theme/components/theme/blocks/checkboxtoggle.vue'
import SwiperCore, { Navigation, Pagination } from 'swiper';
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'
import config from 'config'
import { mapGetters } from 'vuex';
import { getSliderUrl } from 'theme/helpers';

SwiperCore.use([Navigation, Pagination]);
const composeInitialPageState = async (store, route, forceLoad = false) => {
  try {
    // route.params.slug = route.params.slug.replace('.html', '')
    const filters = { url_path: route.fullPath.substring(1) }
    const cachedCategory = store.getters['category-next/getCategoryFrom'](route.path)
    const currentCategory = cachedCategory && !forceLoad ? cachedCategory : await store.dispatch('category-next/loadCategory', { filters })
    const breadCrumbsLoader = store.dispatch('category-next/loadCategoryBreadcrumbs', { category: currentCategory, currentRouteName: currentCategory.name, omitCurrent: true })

    if (isServer) await breadCrumbsLoader
    catalogHooksExecutors.categoryPageVisited(currentCategory)
  } catch (e) {
    Logger.error('Problem with setting Category initial data!', 'category', e)()
  }
}

export default {
  components: {
    Breadcrumbs,
    CheckboxToggle,
    Swiper,
    SwiperSlide,
    Tabs: () => import(/* webpackChunkName: "bocm-tabs" */ 'theme/components/theme/Tabs.vue'),
    Tab: () => import(/* webpackChunkName: "bocm-single-tab" */ 'theme/components/theme/Tab.vue'),
    ProductListing: () => import(/* webpackChunkName: "bocm-category-list" */ 'theme/components/core/blocks/Product/ProductListing')
  },
  directives: {
    swiper: directive
  },
  data () {
    let current = this
    return {
      swiperOptionFirst: {
        spaceBetween: 8,
        slidesPerView: 9,
        currentThumbSlide: 0,
        loop: false,
        navigation: {
          nextEl: ('#high_glass_slider-button-next'),
          prevEl: ('#high_glass_slider-button-prev')
        },
        breakpoints: {
          1200: {
            slidesPerView: 11
          },
          1024: {
            slidesPerView: 9
          },
          768: {
            slidesPerView: 7
          },
          400: {
            slidesPerView: 10
          }
        }
      },
      swiperOptionTwo: {
        spaceBetween: 8,
        slidesPerView: 9,
        currentThumbSlide: 0,
        loop: false,
        observer: true,
        observeParents: true,
        resizeObserver: true,
        navigation: {
          nextEl: ('#textured_finish_slider-button-next'),
          prevEl: ('#textured_finish_slider-button-prev')
        },
        breakpoints: {
          1200: {
            slidesPerView: 11
          },
          1024: {
            slidesPerView: 9
          },
          768: {
            slidesPerView: 7
          },
          400: {
            slidesPerView: 10
          }
        }
      },
      currentImage: null,
      hideImageAtIndex: null,
      currentThumbSlide: 0,
      enableThumbSliderLeft: true,
      isChecked: false,
      swiperOptionTop: {
        spaceBetween: 0,
        navigation: {
          nextEl: '.thumb-slider-right .swiper-button-next',
          prevEl: '.thumb-slider-right .swiper-button-prev'
        },
        on: {
          slideChange () {
            current.swiperThumbs.slideTo(this.activeIndex, 500, false);
            current.currentThumbSlide = this.activeIndex;
          }
        }
      },
      swiperOptionThumbs: {
        spaceBetween: 0,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true,
        freeMode: true,
        navigation: {
          nextEl: '.thumb-slider-left .swiper-button-next',
          prevEl: '.thumb-slider-left .swiper-button-prev'
        },
        on: {
          slideChange () {
            current.swiperTop.slideTo(this.activeIndex, 500, false);
          }
        }
      },
      swiperOptionThumbsLeft: {
        spaceBetween: 10,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true,
        freeMode: true,
        navigation: {
          nextEl: '.thumb-slider-left .swiper-button-next',
          prevEl: '.thumb-slider-left .swiper-button-prev'
        },
        breakpoints: {
          767: {
            direction: 'vertical'
          }
        },
        on: {
          slideChange () {
            current.swiperTop.slideTo(this.activeIndex, 500, false);
          }
        }
      },
      selectedFlatPanel: null
    };
  },
  async created () {
    if (!this.getHighGlossFlatPanel.length > 0) { await this.$store.dispatch('assembly/list', { filterField: 'flat_panel.id', filterValues: [1, 2], skipCache: true }); }
  },
  computed: {
    ...mapGetters({
      getHighGlossFlatPanel: 'assembly/getHighGlossFlatPanel',
      getTexturedFinishFlatPanel: 'assembly/getTexturedFinishFlatPanel'
    }),
    categoryGallery () {
      const galleryObject = this.currentCategory?.category_gallery || null;
      if (galleryObject && this.selectedFlatPanel === null) {
        return this.currentCategory.category_gallery
      } else if (this.selectedFlatPanel !== null) {
        return this.selectedFlatPanel
      }
      return [];
    },
    currentCategory () {
      return this.$store.getters['category-next/getCategoryByParams']({ url_path: this.$route.fullPath.substring(1) });
    },
    categoryTitle () {
      return this.currentCategory.name;
    },
    swiperTop () {
      return this.$refs.swiperTop.$swiper
    },
    swiperThumbs () {
      return this.$refs.swiperThumbs.$swiper
    },
    metaDescription () {
      return this.currentCategory ? this.currentCategory.meta_description : ''
    },
    metaKeywords () {
      return this.currentCategory ? this.currentCategory.meta_keywords : 'Best Online Cabinets'
    },
    metaTitle () {
      return this.currentCategory ? this.currentCategory.meta_title : this.currentCategory.name
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    if (context) context.output.cacheTags.add('category')
    await composeInitialPageState(store, route)
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else if (!from.name) { // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async vm => {
        vm.loading = true
        await composeInitialPageState(vm.$store, to, true)
        vm.loading = false
      })
    } else { // Pure CSR, with no initial category state
      next(async vm => {
      })
    }
  },
  methods: {
    getSliderImage (path) {
      return getSliderUrl(path);
    },
    getProductCategoryGallery (slider) {
      this.swiperOptionFirst.currentThumbSlide = this.getHighGlossFlatPanel.indexOf(slider)
      this.swiperOptionTwo.currentThumbSlide = this.getTexturedFinishFlatPanel.indexOf(slider)
      this.selectedFlatPanel = slider.kitchen_image;
    },
    getPanoramaImageUrl (path) {
      return this.getThumbnail(path);
    },
    getImagePath (url, type = undefined) {
      const width = type === 'large' ? 680 : 200;
      const height = type === 'large' ? 460 : 300;
      return this.getThumbnail(url, width, height);
    },
    displayLargeView (gallery) {
      this.currentImage = gallery;
    },
    thumbnailObj (image) {
      return {
        error: image.error,
        loading: image.loading,
        src: image.loading
      };
    },
    onSwiperThumbsClick (index) {
      this.swiperTop.slideTo(index, 500, false);
    },
    onSwiperTopClick (index) {
      this.swiperThumbs.slideTo(index, 500, false);
    },
    categorySwitching () {
      if (this.currentCategory.linked_cat_url) {
        this.$router.push(this.localizedRoute('/' + this.currentCategory.linked_cat_url))
      }
    }
  },
  metaInfo () {
    return {
      title: htmlDecode(this.metaTitle || this.currentCategory.name),
      meta: [
        { vmid: 'description', name: 'description', content: htmlDecode(this.metaDescription) },
        { vmid: 'keywords', name: 'keywords', content: htmlDecode(this.metaKeywords) },
        { vmid: 'title', name: 'title', content: htmlDecode(this.metaTitle || this.currentCategory.name) },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$router.currentRoute.path },
        { vmid: 'og:image', name: 'og:image', content: this.currentCategory.category_gallery ? config.bocm.sliderImage.url + this.currentCategory.category_gallery[0].file : '' },
        { vmid: 'og:type', name: 'og:type', content: 'Category Details' }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }]
    }
  }
}
</script>
<style lang="scss">
.swiper-wrapper{
  display: flex;
}
.product-thumb-item {
  width: 120px !important;
  height: 120px !important;
  margin-right:10px;
  img{
    height: 120px;
  }
  @media (max-width:767px){
    width:80px !important;
    height:80px !important;
    img{
      height:80px;
    }
  }
  .panorama-img {
    height: auto;
  }
}
.thumb-slider-right .product-image-container{
  overflow: hidden;
  padding-top: 66%;
}
.category_tabs .tab{
   max-height: 495px;
   overflow: auto;
  }
</style>
