<template>
  <div id="checkout">
    <div class="lg:flex" v-show="!isThankYouPage">
      <div class="lg:pr-30 pt-20 md:pt-60 ml-auto checkout-left-col mr-auto">
        <div class="checkout-left md:pb-50">
          <personal-details class="line relative" :is-active="activeSection.personalDetails"
                            :focused-field="focusedField"
          />
          <shipping class="line relative" :is-active="activeSection.shipping" v-if="!isVirtualCart" />
          <payment class="line relative" :is-active="activeSection.payment" />
          <!-- <order-review class="line relative mb-50" :is-active="activeSection.orderReview" /> -->
          <div id="custom-steps" />
        </div>
      </div>
      <div class="border-l border-gray-500 checkout-right">
        <cart-summary />
      </div>
    </div>
    <thank-you-page v-show="isThankYouPage" />
  </div>
</template>
<script>
import Checkout from '@vue-storefront/core/pages/Checkout'
import { isServer } from '@vue-storefront/core/helpers'
import PersonalDetails from 'theme/components/core/blocks/Checkout/PersonalDetails'
import Shipping from 'theme/components/core/blocks/Checkout/Shipping'
import Payment from 'theme/components/core/blocks/Checkout/Payment'
// import OrderReview from 'theme/components/core/blocks/Checkout/OrderReview'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import ThankYouPage from 'theme/components/core/blocks/Checkout/ThankYouPage'
import {
  registerModule
} from '@vue-storefront/core/lib/modules'
import {
  OrderModule
} from '@vue-storefront/core/modules/order'
import {
  i18n
} from 'config'
import {
  mapGetters
} from 'vuex'
import config from 'config'

export default {
  data () {
    return {
      affirmData: {}
    }
  },
  components: {
    PersonalDetails,
    Shipping,
    Payment,
    // OrderReview,
    CartSummary,
    ThankYouPage
  },
  mixins: [Checkout],
  beforeCreate () {
    registerModule(OrderModule)
  },
  mounted () {
    this.$store.commit('ui/setMicrocart', false)
    this.$store.commit('ui/setSidebar', false)
  },
  computed: {
    ...mapGetters({
      'cartTotal': 'cart/getTotals'
    }),
    shippingAmount () {
      return this.cartTotal.find(total => total.code === 'shipping')
    },
    taxAmount () {
      return this.cartTotal.find(total => total.code === 'tax')
    },
    cartTotalAmount () {
      return this.cartTotal.find(total => total.code === 'grand_total')
    }
  },
  methods: {
    onAfterPaymentDetails (receivedData, validationResult) {
      this.payment = receivedData
      this.validationResults.payment = validationResult
      this.savePaymentDetails()
    },
    async placeOrder () {
      await this.$store.dispatch('checkout/savePaymentDetails', this.payment)
      this.checkConnection({
        online: typeof navigator !== 'undefined' ? navigator.onLine : true
      })
      if (this.checkStocks()) {
        this.$store.dispatch('checkout/placeOrder', {
          order: this.prepareOrder()
        })
      } else {
        this.notifyNotAvailable()
      }
    },
    async onAfterPlaceOrder (payload) {
      if (this.payment.paymentMethod === 'affirm_gateway') {
        let that = this
         affirm.ui.ready(() => {
          affirm.ui.error.on("close", function(){
              that.$bus.$emit('notification-progress-stop')
              that.$router.push('/thank-you?error=order-canceled')
          });
        });
        this.affirmData = {
          merchant: {
            'user_confirmation_url': config.bocm.affirm.user_confirmation_url.replace('{{order_id}}', payload
              .confirmation.orderNumber) + '&id=' + payload.confirmation.magentoOrderId,
            'user_cancel_url': config.bocm.affirm.user_cancel_url,
            'user_confirmation_url_action': 'GET',
            'name': 'Best Online Cabinets'
          },
          shipping: {
            'name': {
              'first': this.shipping.firstName || '',
              'last': this.shipping.lastName || ''
            },
            'address': {
              'line1': this.shipping.streetAddress || '',
              'line2': this.shipping.apartmentNumber || '',
              'city': this.shipping.city || '',
              'state': this.shipping.state || '',
              'zipcode': this.shipping.zipCode || '',
              'country': this.shipping.country || ''
            },
            'phone_number': this.shipping.phoneNumber || '',
            'email': this.personalDetails.emailAddress || ''
          },
          billing: {
            'name': {
              'first': this.payment.firstName || '',
              'last': this.payment.lastName || ''
            },
            'address': {
              'line1': this.payment.streetAddress || '',
              'line2': this.payment.apartmentNumber || '',
              'city': this.payment.city || '',
              'state': this.payment.state || '',
              'zipcode': this.payment.zipCode || '',
              'country': this.payment.country || ''
            },
            'phone_number': this.payment.phoneNumber || '',
            'email': this.personalDetails.emailAddress || ''
          },
          items: payload.order.products.map(product => {
            return {
              'display_name': product.name,
              'sku': product.sku,
              'unit_price': product.final_price,
              'qty': product.qty,
              'item_image_url': product.image,
              'item_url': product.url_path
            }
          }),
          metadata: {
            'shipping_type': this.shipping.shippingMethod || '',
            'mode': 'modal'
          },
          'order_id': payload.confirmation.orderNumber,
          'currency': i18n.currencyCode,
          'shipping_amount': (this.shippingAmount) ? this.shippingAmount.value * 100 : 0,
          'tax_amount': (this.taxAmount) ? this.taxAmount.value * 100 : 0,
          'total': (this.cartTotalAmount) ? this.cartTotalAmount.value * 100 : 0
        }
        localStorage.setItem('affirm-order', JSON.stringify(payload))
        affirm.checkout(this.affirmData)
        affirm.checkout.open({
          onFail: async (error) => {
            this.$bus.$emit('notification-progress-stop')
            this.$router.push('/thank-you?error=order-canceled')
          },
          onSuccess: async (affirmPaymentData) => {
            let affirmData = await this.$store.dispatch('affirm/affirmAuthorize', affirmPaymentData)
            this.$bus.$emit('notification-progress-stop')
          }
        })
      } else {
        this.confirmation = payload.confirmation
        this.$store.dispatch('checkout/setThankYouPage', true)
        this.$store.dispatch('user/getOrdersHistory', {
          refresh: true,
          useCache: true
        })
      };
      if (!isServer) {
        window.scrollTo({
          behavior: 'smooth',
          top: 0
        });
      }
    },
    notifyEmptyCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Shopping cart is empty. Please add some products before entering Checkout'),
        action1: {
          label: this.$t('OK')
        }
      })
    },
    notifyOutStock (chp) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: chp.name + this.$t(' is out of stock!'),
        action1: {
          label: this.$t('OK')
        }
      })
    },
    notifyNotAvailable () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t('Some of the ordered products are not available!'),
        action1: {
          label: this.$t('OK')
        }
      })
    },
    notifyStockCheck () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Stock check in progress, please wait while available stock quantities are checked'),
        action1: {
          label: this.$t('OK')
        }
      })
    },
    notifyNoConnection () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'There is no Internet connection. You can still place your order. We will notify you if any of ordered products is not available because we cannot check it right now.'
        ),
        action1: {
          label: this.$t('OK')
        }
      })
    }
  }
}
</script>

<style lang="scss">
  #checkout {

    input,
    select {
      color: inherit;
    }
  }

  .line {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 17px;
      height: 100%;
      width: 1px;
      background: #ddd;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .radioStyled {
    input:checked~.checkmark:after {
      opacity: 1;
    }
  }
</style>
