<template>
  <div id="cms-page">
    <div class="container">
      <breadcrumbs
        :with-homepage="true"
        :routes="[]"
        :active-route="pageTitle"
      />
    </div>
    <div class="container" v-html="cmsPageContent.content" ref="cmscontent" />
    <compare-category-list />
  </div>
</template>

<script>
import CmsPage from '@vue-storefront/core/pages/CmsPage'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
import config from 'config'
import { htmlDecode } from '@vue-storefront/core/filters/html-decode';
import { isServer } from '@vue-storefront/core/helpers'
import { replaceAnchorTag } from 'theme/helpers'
import i18n from '@vue-storefront/i18n'
import { mapGetters } from 'vuex';
import CompareCategoryList from 'theme/components/core/blocks/Category/Compare/CompareCategoryList'

export default {
  components: {
    Breadcrumbs,
    CompareCategoryList
  },
  metaInfo () {
    return {
      title: htmlDecode(this.$route.meta.title || this.pageTitle),
      meta: [
        { vmid: 'description', name: 'description', content: htmlDecode(this.pageDescription) },
        { vmid: 'keywords', name: 'keywords', content: htmlDecode(this.pageKeywords) || 'Best Online Cabinets' },
        { vmid: 'title', name: 'title', content: htmlDecode(this.$route.meta.title || this.pageTitle) },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$route.fullPath },
        { vmid: 'og:type', name: 'og:type', content: this.pageTitle }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }],
      script: [
        { src: this.$route.path === '/professional-discounts' || this.$route.path === '/free-kitchen-design' ? 'https://paperform.co/__embed' : '' }
      ]
    }
  },
  computed: {
    ...mapGetters({
      compareCount: 'categoryCompare/getCompareProductsCount',
      compareItems: 'categoryCompare/getCompareItems'
    }),
    cmsPageContent () {
      return this.$store.state.cmsPage.current
    },
    pageTitle () {
      return this.$store.state.cmsPage.current ? this.$store.state.cmsPage.current.meta_title || this.$store.state.cmsPage.current.title : ''
    },
    pageDescription () {
      return this.$store.state.cmsPage.current ? this.$store.state.cmsPage.current.meta_description : ''
    },
    pageKeywords () {
      return this.$store.state.cmsPage.current ? this.$store.state.cmsPage.current.meta_keywords : ''
    }
  },
  methods: {
    handleClick (e) {
      const accordionItemAll = document.querySelectorAll('.am-item');
      accordionItemAll && accordionItemAll.length > 0 && accordionItemAll.forEach((item, index) => {
        item.classList.remove('active');
      });
      e.currentTarget.parentElement.classList.add('active');
    },
    openAccordion () {
      const accordionItemAll = document.querySelectorAll('.am-item');
      accordionItemAll.forEach(item => {
        item.getElementsByClassName('am-title')[0].addEventListener('click', this.handleClick)
      });
    },
    handleFilterClick (e) {
      const accordionItemAll = document.querySelectorAll('.box-item');
      accordionItemAll && accordionItemAll.length > 0 && accordionItemAll.forEach((item, index) => {
        if (e.currentTarget.parentElement === item) {
          item.classList.toggle('active')
        } else {
          item.classList.remove('active')
        }
      });
    },
    openFilter () {
      const accordionItemAll = document.querySelectorAll('.box-item');
      accordionItemAll.forEach(item => {
        item.getElementsByClassName('box-trigger')[0].addEventListener('click', this.handleFilterClick)
      });
    },
    replaceFaqLink () { // View all button link replace
      let href = document.querySelectorAll('.view-all');
      href.forEach((link) => {
        let splitLink = link.href.split('/knowledge')
        link.setAttribute('href', '/knowledge' + splitLink[1])
      });
    },
    replaceShopebtnLink () {
      const replaceShopeURL = document.querySelectorAll('.buy-btn')
      return replaceShopeURL.forEach((item) => {
        const link = item.href;
        const splitted = link.replace(/^.*\/\/[^\/]+/, '');
        item.href = splitted;
      });
    },
    renderCompareEvent () {
      const productList = document.querySelectorAll('.cat-item');
      productList.forEach(item => {
        let categoryId = item.getElementsByTagName('input')[0].getAttribute('data-catcomparetoggle')
        let compareList = this.compareItems.filter((category) => {
          return category.id === parseInt(categoryId)
        })
        if (compareList.length) {
          item.getElementsByClassName('cat-item-compare')[0].className += ' active'
        } else {
          item.getElementsByClassName('cat-item-compare')[0].className = 'cat-item-compare'
        }
        item.getElementsByClassName('cat-item-compare')[0].addEventListener('click',
          async () => {
            if (item.getElementsByClassName('cat-item-compare')[0].classList.contains('active')) {
              this.$store.dispatch('category/single', {
                key: 'id',
                value: categoryId
              }).then(async (category) => {
                this.$store.dispatch('categoryCompare/removeItem', category).then(
                  this.$store.dispatch('notification/spawnNotification', {
                    type: 'success',
                    message: i18n.t(`${htmlDecode(category.name)} has been removed from the compare!`),
                    action1: { label: i18n.t('Okay') }
                  }, { root: true }))
              })
            } else {
              if (this.compareCount && config.entities.productList.maxProductCompareItems <= this.compareCount) {
                this.$store.dispatch('notification/spawnNotification', {
                  type: 'error',
                  message: 'Maximum product added to the compare!',
                  action1: { label: 'Okay' }
                })
                return
              }
              this.$store.dispatch('category/single', {
                key: 'id',
                value: categoryId
              }).then(async (category) => {
                await this.$store.dispatch('categoryCompare/addItem', category).then(
                  this.$store.dispatch('notification/spawnNotification', {
                    type: 'success',
                    message: i18n.t(`${htmlDecode(category.name)} has been added to the compare!`),
                    action1: { label: i18n.t('Okay') }
                  }, { root: true })
                )
              })
            }
          })
      });
    }
  },
  watch: {
    '$route': 'renderCompareEvent',
    compareItems: {
      handler (nV) {
        if (!isServer) {
          let productList = document.querySelectorAll('.cat-item');
          productList.forEach(item => {
            let categoryId = item.getElementsByTagName('input')[0].getAttribute('data-catcomparetoggle')
            let compareList = nV.filter((category) => {
              return category.id === parseInt(categoryId)
            })
            if (compareList.length) {
              item.getElementsByClassName('cat-item-compare')[0].className += ' active'
            } else {
              item.getElementsByClassName('cat-item-compare')[0].className = 'cat-item-compare'
            }
          })
        }
      },
      immediate: true
    }
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else { // Pure CSR, with no initial category state
      next(async vm => {
        vm.$store.dispatch('categoryCompare/load')
      })
    }
  },
  mounted () {
    if (!isServer) {
      this.renderCompareEvent()
    }
    if (this.$refs.cmscontent) {
      replaceAnchorTag(this.$refs.cmscontent)
    }
    this.$nextTick(() => {
      if (!isServer) {
        document.getElementById('cms-page').addEventListener('click', (ev) => {
          if (ev.target.className !== 'box-trigger' && ['option-item', 'option-item hidden-option', 'box-item mb-box-item active', 'checkbox-wrap', 'options-list', 'box-item'].indexOf(ev.target.parentElement.className) === -1) {
            this.handleFilterClick(ev)
          }
        })
        this.openAccordion()
        this.replaceFaqLink()
        this.openFilter()
        this.replaceShopebtnLink()
      }
    })
  },
  mixins: [CmsPage]
}
</script>
