<template>
  <section class="contact-section">
    <div class="container">
      <breadcrumbs
        active-route="Contact Us"
      />
      <div class="flex flex-wrap -mx-10">
        <div class="w-full md:w-6/12 pt50 px-10 mb-30 md:mb-0">
          <div class="border rounded-10 border-gray-500 p-20 lg:p-40">
            <h2 class="leading-24 md:leading-32 text-18 md:text-lg text-gray-200 font-bold mt-0 mb-2 md:mb-10">
              {{ 'We want to hear from you' }}
            </h2>
            <p class="text-gray-600 text-base pb-20 md:pb-40">
              {{ 'Let’s get in touch.' }}
            </p>
            <form action="#" @submit.prevent="contactus" class="contact-us-form">
              <base-input
                class="mb-16 md:mb-20"
                type="text"
                name="name"
                v-model="formData.name"
                @blur="$v.formData.name.$touch()"
                :placeholder="'First Name*'"
                :label="false"
                :validations="[
                  {
                    condition: !$v.formData.name.required && $v.formData.name.$error,
                    text: 'This is a required field.'
                  },
                  {
                    condition: !$v.formData.name.minLength,
                    text: 'Name must have at least 2 letters.'
                  }
                ]"
              />
              <div class="flex -mx-10 mb-16 md:mb-20">
                <base-input
                  name="phone"
                  type="number"
                  class="px-10 w-1/2"
                  v-model.trim="formData.phone"
                  :label="false"
                  @blur="$v.formData.phone.$touch()"
                  :placeholder="'Phone Number*'"
                  :validations="[
                    {
                      condition: !$v.formData.phone.required && $v.formData.phone.$error,
                      text: 'This is a required field.'
                    },
                    {
                      condition: !$v.formData.phone.minLength,
                      text: 'Please enter valid phone number.'
                    }
                  ]"
                />
                <base-input
                  type="email"
                  name="email"
                  class="px-10 w-1/2"
                  v-model="formData.email"
                  :label="false"
                  @blur="$v.formData.email.$touch()"
                  :placeholder="'Email Address*'"
                  :validations="[
                    {
                      condition: !$v.formData.email.required && $v.formData.email.$error,
                      text: 'This is a required field.'
                    },
                    {
                      condition: !$v.formData.email.email && $v.formData.email.$error,
                      text: 'Please provide valid e-mail address.'
                    }
                  ]"
                />
              </div>
              <base-textarea
                class="mb-20 md:mb-30"
                type="text"
                name="comment"
                v-model="formData.comment"
                :label="false"
                @blur="$v.formData.comment.$touch()"
                :placeholder="'Message*'"
                :validations="[
                  {
                    condition: $v.formData.comment.$error && !$v.formData.comment.required,
                    text: 'This is a required field.'
                  }
                ]"
              />
              <button-full type="submit" class="leading-26 font-medium text">
                {{ 'Send Message' }}
              </button-full>
            </form>
          </div>
        </div>
        <div class="w-full md:w-6/12 pt50 px-10">
          <cms-block :identifier="'contact-details-content'" class="h-full bg-gray-100 border rounded-10 border-gray-500 p-20 lg:p-40" />
        </div>
      </div>
    </div>
    <div class="pt-30 md:pt-40 pb-50 md:pb-80 container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.029964497226!2d-118.0845989843481!3d34.09437282295521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2daeecf154701%3A0xbabad15649dbd101!2s5118%20Walnut%20Grove%20Ave%2C%20San%20Gabriel%2C%20CA%2091776%2C%20USA!5e0!3m2!1sen!2sin!4v1634808598338!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="w-full rounded overflow-hidden" />
    </div>
  </section>
</template>

<script>
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'
import i18n from '@vue-storefront/i18n'
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { ContactUsModule } from 'src/modules/bocm/contact-us'
import config from 'config'

export default {
  validations: {
    formData: {
      name: {
        minLength: minLength(2),
        required
      },
      phone: {
        minLength: minLength(10),
        required
      },
      email: {
        required,
        email
      },
      comment: {
        required
      }
    }
  },
  props: {
    title: {
      type: String,
      required: true
    }
  },
  beforeCreate () {
    registerModule(ContactUsModule)
  },
  components: {
    BaseInput,
    BaseTextarea,
    ButtonFull,
    Breadcrumbs,
    CmsBlock
  },
  data () {
    return {
      formData: {
        name: '',
        email: '',
        phone: '',
        comment: ''
      }
    }
  },
  methods: {
    contactus () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      } else {
        return false
      }
    },
    submit () {
      this.$bus.$emit('notification-progress-start', i18n.t('Please a wait...'))
      this.$store.dispatch('contact-us/add', {
        'subscriber': {
          'name': this.formData.name,
          'email': this.formData.email,
          'telephone': this.formData.phone,
          'comment': this.formData.comment
        }
      }).then(res => {
        this.$bus.$emit('notification-progress-stop')
        if (res.code === 200) {
          this.$bus.$emit('clear-add-contact-form')
          this.$store.dispatch('notification/spawnNotification', {
            type: 'success',
            message: this.$t('Thanks for contacting us with your comments and questions. We\'ll respond to you very soon.'),
            action1: { label: this.$t('OK') }
          })
        } else {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'error',
            message: i18n.t('Something went wrong. Try again in a few seconds.'),
            action1: { label: i18n.t('OK') }
          })
        }
      })
    },
    clearContactForm () {
      this.formData.name = ''
      this.formData.email = ''
      this.formData.phone = ''
      this.formData.comment = ''
      this.$v.$reset()
    }
  },
  metaInfo () {
    return {
      title: 'Contact Us',
      meta: [
        { vmid: 'description', name: 'description', content: 'Contact Us' },
        { vmid: 'title', name: 'title', content: 'Contact Us' },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$router.currentRoute.path },
        { vmid: 'og:type', name: 'og:type', content: 'Contact Us' }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }]
    }
  },
  mounted () {
    this.$bus.$on('clear-add-contact-form', this.clearContactForm)
  },
  destroyed () {
    this.$bus.$off('clear-add-contact-form', this.clearContactForm)
  }
}
</script>
<style lang="scss">
.contact-us-form .base-textarea textarea {
  height: 117px;
}
.contact-section iframe {
  @media (max-width: 767px) {
    height: 250px;
  }
}
.contact-us-form {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
@media (max-width: 400px) {
  .contact-us-form {
    > div {
      flex-wrap: wrap;
       > .base-input:first-child {
        margin-bottom: 16px;
      }
    }
    .base-input {
      width: 100%;
    }
  }
}
</style>
