<template>
  <section class="contact-section">
    <div class="container">
      <breadcrumbs
        active-route="Cookie Policy"
      />
      <div name="termly-embed" data-id="1de46fcc-5d77-4012-bb75-57ed47b422fd" data-type="iframe" />
    </div>
  </section>
</template>

<script>
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import config from 'config'

export default {
  name: 'CookiePolicy',
  components: {
    Breadcrumbs
  },
  metaInfo () {
    return {
      title: 'CookiePolicy',
      meta: [
        { vmid: 'description', name: 'description', content: 'CookiePolicy' },
        { vmid: 'title', name: 'title', content: 'CookiePolicy' },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$router.currentRoute.path },
        { vmid: 'og:type', name: 'og:type', content: 'CookiePolicy' }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }],
      script: [
        { src: 'https://app.termly.io/embed-policy.min.js', body: true, async: true }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.injectCookieData(document, 'script', 'termly-jssdk');
    });
  },
  methods: {
    injectCookieData (d, s, id) {
      var js;
      var tjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://app.termly.io/embed-policy.min.js';
      tjs.parentNode.insertBefore(js, tjs);
    }
  }
}
</script>
