<template>
  <div id="page_not_found">
    <section class="py-40 md:py-30">
      <div class="container text-center">
        <div class="page_not_found relative bg-cover text-white flex items-center flex-wrap flex-col justify-center">
          <h2 class="mb-10 mt-0 relative z-1">
            {{ "Error :( " }}
          </h2>
          <p class="text-16 leading-20 md:text-xl p-0 relative z-1 md:leading-35">
            {{ "We noticed an internal server error while serving this request." }}
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Error from '@vue-storefront/core/pages/Error'

export default {
  name: 'Error',
  mixins: [Error]
}
</script>
<style lang="scss" scoped>
  #page_not_found {
    .page_not_found{
      background: url(~theme/assets/errorimg-min.jpg) no-repeat ;
      background-size: cover;
      &::after{
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
        left: 0;
        top:0;
        content: '';
        display: block;
        position: absolute;
      }
      h2{
        font-size: 100px;
        line-height: 132px;
      }
      padding: 17% 20px;
      @media (max-width:767px) {
        padding:11.4% 20px;
        h2{
          font-size:40px;
          line-height:52px;
          margin-bottom: 10px;
        }
      }
    }
  }
</style>
