<template>
  <div class="faqs-all">
    <div class="container">
      <breadcrumbs
        :with-homepage="true"
        :routes="[{name: 'FAQs', route_link: localizedRoute('/faq-home-page')}]"
        :active-route="faqCategory.title"
      />
      <div class="faqs-wrap pb-50 md:pb-80">
        <div class="faqs-wrap-main border border-gray-500 p-20 md:p-40 bg-white mb-20 md:mb-40 last:mb-0">
          <h2 class="text-gray-200 leading-30 text-19 md:text-24 mb-20 md:mb-35 font-bold mt-0">
            {{ faqCategory.title }}
          </h2>
          <div v-for="(qa, questionIndex) in faqCategory.faqs" :key="qa.question_id">
            <div class="question-acc-menu border-b border-gray-500 mb-17" :class="['question-accordion-' + questionIndex, {'is-open-q': questionIndex === 0}]" :refs="'question-accordion-' + questionIndex">
              <h3 @click="questionsToggleAccordion(questionIndex)" class="text-gray-200 mb-17 mt-0 font-medium text-16 relative pr-30 cursor-pointer">
                {{ qa.title }}
                <svg class="absolute top-0 bottom-0 right-0 m-auto" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 1L7 7L1 1" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </h3>
              <div class="question-body" v-if="qa.answer" v-html="qa.answer" />
              <div class="question-body" v-else>
                {{ 'No answer' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from '../components/core/Breadcrumbs'
import config from 'config'
import { mapGetters } from 'vuex'
import { isServer } from '@vue-storefront/core/helpers'

export default {
  name: 'Faqs',
  components: {
    Breadcrumbs
  },
  data () {
    return {
      activeAcordian: null
    }
  },
  computed: {
    ...mapGetters({
      filteredFAQ: 'faq/filteredFAQ'
    }),
    faqCategory () {
      let faqa = this.filteredFAQ.find(f => f.title.toLowerCase() === this.$route.params.title.replace('-', ' '))
      return faqa
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data
    await Promise.all([
      await store.dispatch('faq/list', { filterField: 'status' })
    ])
  },
  methods: {
    questionsToggleAccordion (index) {
      let list = document.querySelectorAll('.question-acc-menu');
      list.forEach((userItem) => {
        userItem.classList.remove('is-open-q');
      });
      document.querySelector('.question-accordion-' + index).classList.toggle('is-open-q');
    },
    replaceFaqCmsLink () {
      const replaceFaqCmsURL = document.querySelectorAll('.question-body a')
      return replaceFaqCmsURL.forEach((item) => {
        if (item.href.indexOf('magento') > -1) {
          const link = item.href;
          const splitted = link.replace(/^.*\/\/[^\/]+/, '');
          item.href = splitted;
        }
      });
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (!isServer) {
        this.replaceFaqCmsLink()
      }
    })
  },
  metaInfo () {
    return {
      title: 'Faqs',
      meta: [
        { vmid: 'title', name: 'title', content: 'Faqs' },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$router.currentRoute.path },
        { vmid: 'og:type', name: 'og:type', content: 'Faqs' }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }]
    }
  }
}
</script>
