<template>
  <div class="faqs-all">
    <div class="container">
      <breadcrumbs
        :with-homepage="true"
        :active-route="'Faqs'"
      />
      <div class="faq-top-search">
        <h1 class="page-title" style="text-align: center;">
          <span class="base" data-ui-id="page-title-wrapper">Help Center</span>
        </h1>
        <div class="am-widget-center" style="width: 40%">
          <base-input
            type="text"
            name="search"
            v-model="search"
            autocomplete="search"
            :placeholder="'Find answer (deliver, etc.)'"
            :label="false"
            @input="$v.search.$touch()"
            :min="3"
            :max="100"
            :validations="[
              {
                condition: $v.search.$error && !$v.search.required,
                text: 'Field is required.'
              },
              {
                condition: !$v.search.minLength,
                text: 'Please enter at least 3 characters.'
              }
            ]"
          />
          <button class="button am-button" title="Search" type="submit" />
        </div>
      </div>

      <div class="faqs-wrap pb-50 md:pb-80">
        <div v-for="cat in filteredFAQ" :key="cat.question_id" class="faqs-wrap-main border border-gray-500 p-20 md:p-40 bg-white mb-20 md:mb-40 last:mb-0">
          <h2 class="text-gray-200 leading-30 text-19 md:text-24 mb-20 md:mb-35 font-bold mt-0">
            {{ cat.title }}
          </h2>
          <div v-for="qa in cat.faqs" :key="qa.question_id">
            <div class="question-acc-menu border-b border-gray-500 mb-17" :class="['question-accordion-' + qa.question_id, {'is-open-q': qa.question_id === 0}]" :refs="'question-accordion-' + qa.question_id">
              <h3 @click="questionsToggleAccordion(qa.question_id)" class="text-gray-200 mb-17 mt-0 font-medium text-16 relative pr-30 cursor-pointer">
                {{ qa.title }}
                <svg class="absolute top-0 bottom-0 right-0 m-auto" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 1L7 7L1 1" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </h3>
              <div class="question-body" v-if="qa.answer" v-html="qa.answer" />
              <div class="question-body" v-else>
                {{ 'No answer' }}
              </div>
            </div>
          </div>
          <router-link class="view-all" :to="localizedRoute('/knowledge-base/' + cat.title.toLowerCase().replace(' ', '-'))">
            {{ 'View all' }}
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from '../components/core/Breadcrumbs'
import config from 'config'
import { mapGetters } from 'vuex'
import { isServer } from '@vue-storefront/core/helpers'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import { required, minLength } from 'vuelidate/lib/validators'

export default {
  name: 'Faqs',
  components: {
    Breadcrumbs,
    BaseInput
  },
  data () {
    return {
      activeAcordian: null,
      search: null
    }
  },
  validations: {
    search: {
      required,
      minLength: minLength(3)
    }
  },
  computed: {
    ...mapGetters({
      filteredFAQ: 'faq/filteredFAQ'
    }),
    researchFilterData () {
      if (this.search) {
        return this.getResearchList.filter((item) => {
          return this.search.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
        })
      } else {
        return this.getResearchList;
      }
    }
    // faqCategory () {
    //   let faqa = this.filteredFAQ.find(f => f.title.toLowerCase() === this.$route.params.title.replace('-', ' '))
    //   return faqa
    // }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data
    await Promise.all([
      await store.dispatch('faq/list', { filterField: 'status' })
    ])
  },
  methods: {
    questionsToggleAccordion (index) {
      let list = document.querySelectorAll('.question-acc-menu');
      list.forEach((userItem) => {
        userItem.classList.remove('is-open-q');
      });
      document.querySelector('.question-accordion-' + index).classList.toggle('is-open-q');
    },
    replaceFaqCmsLink () {
      const replaceFaqCmsURL = document.querySelectorAll('.question-body a')
      return replaceFaqCmsURL.forEach((item) => {
        if (item.href.indexOf('magento') > -1) {
          const link = item.href;
          const splitted = link.replace(/^.*\/\/[^\/]+/, '');
          item.href = splitted;
        }
      });
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (!isServer) {
        this.replaceFaqCmsLink()
      }
    })
  },
  metaInfo () {
    return {
      title: 'Frequently Asked Questions (FAQ) - Best Online Cabinets',
      meta: [
        { vmid: 'title', name: 'title', content: 'Frequently Asked Questions (FAQ) - Best Online Cabinets' },
        { vmid: 'description', name: 'description', content: 'Frequently Asked Questions (FAQs) about cabinet construction, shipping, delivery, and return policy.' },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$router.currentRoute.path },
        { vmid: 'og:type', name: 'og:type', content: 'Frequently Asked Questions (FAQ) - Best Online Cabinets' }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }]
    }
  }
}
</script>
