<template>
  <div id="home">
    <div class="banner-wrap container pt-20 flex relative z-0">
      <HeadImage :banner-data="banners" />
      <HomePromotionalSlider :banner-data="banner" />
    </div>
    <div class="home-promotionl-section container">
      <cms-block class="promotionl-wrap" :identifier="'home_promotional_section'" />
    </div>
    <div class="cabinet-section container text-center py-40 md:py-80">
      <cms-block :identifier="'cabinet_section'" />
    </div>
    <section class="container px-0 md:px-10 text-center">
      <h2 class="m-0 text-center text-16 md:text-lg text-gray-200 font-medium pb-20 md:pb-30">
        {{ 'Refresh Your Kitchen Space' }}
      </h2>
      <!-- <div class="row text-center">
        <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
          <Features columns="4" :products="getFeatureCollection" />
        </lazy-hydrate>
        <Features v-else columns="4" :products="getFeatureCollection" /> -->
      <!-- static category path used -->
      <!-- <router-link class="inline-flex items-center m-auto text-gray-200 text-sm md:text-18 leading-24" :to="'/kitchen-accessories/american-style-cabinets/rta-kitchen-cabinets.html'" v-if="getFeatureCollection.length">
          {{ 'View More' }}
          <svg class="ml-10" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6H12M6 0V12" stroke="#222222" />
          </svg>
        </router-link>
      </div> -->
      <cms-block :identifier="'refresh-your-kitchen-space'" />
    </section>
    <div class="subscription-section container py-40 md:py-80">
      <Subscribe />
    </div>
  </div>
</template>

<script>
// query constructor
import { isServer } from '@vue-storefront/core/helpers'
// import LazyHydrate from 'vue-lazy-hydration'
import HeadImage from 'theme/components/core/blocks/MainSlider/HeadImage'
// Theme core components
// import Features from 'theme/components/core/Features'
// Theme local components
import Subscribe from 'theme/components/theme/blocks/Home/Subscribe'
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters, mapState } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import HomePromotionalSlider from 'theme/components/core/blocks/MainSlider/HomePromotionalSlider'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import { MailchimpModule } from 'src/modules/bocm/mailchimp'

export default {
  data () {
    return {
      loading: true,
      banner: [],
      products: []
    }
  },
  components: {
    HeadImage,
    // Features,
    // LazyHydrate,
    HomePromotionalSlider,
    CmsBlock,
    Subscribe
  },
  computed: {
    ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters('homepage', ['getFeatureCollection']),
    ...mapGetters({
      getBannerList: 'banner/getBannerList'
    }),
    ...mapState({
      banners: state => state.banner.banners
    }),
    categories () {
      return this.getCategories
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
    registerModule(MailchimpModule)
  },
  mounted () {
    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
  },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data
    if (context) context.output.cacheTags.add(`home`)
    Logger.info('Calling asyncData in Home Page (core)')()

    await Promise.all([
      store.dispatch('homepage/fetchFeaturesCollection'),
      await store.dispatch('banner/list', {})
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchFeaturesCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || 'Kitchen Cabinets Online Wholesaler - Discount RTA Cabinets',
      meta: [
        { vmid: 'description', name: 'description', content: this.$route.meta.description },
        { vmid: 'keywords', name: 'keywords', content: 'Best Online Cabinets' },
        { vmid: 'title', name: 'title', content: this.$route.meta.title || 'Kitchen Cabinets Online Wholesaler - Discount RTA Cabinets' },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$router.currentRoute.path },
        { vmid: 'og:image', name: 'og:image', content: this.banners && this.banners[0] ? this.banners[0].image : '' },
        { vmid: 'og:type', name: 'og:type', content: 'Home' }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }]
    }
  }
}
</script>
<style lang="scss">
div.banner-wrap {
  max-width: 1470px;
  @media (max-width: 991px) {
    flex-wrap: wrap;
    .banner-content {
      width: 100%;
      margin-left: 0;
      padding: 20px;
      margin-top: 20px;
      @media (max-width: 767px) {
        padding: 20px 24px;
      }
      @media (max-width: 400px) {
        padding: 20px 0;
      }
    }
    section.home-slides {
      width: 100%;
    }
  }
}
</style>
