<template>
  <div id="product">
    <section class="bg-white-200 product-top-section">
      <div class="container">
        <breadcrumbs class="pt-8 flex-wrap mb-17" />
        <div class="block md:hidden">
          <div class="flex justify-between">
            <h1
              class="font-medium text-20 leading-26 text-gray-200 mt-0 mb-10"
              data-testid="productName"
            >
              {{ getCurrentProduct.name | htmlDecode }}
            </h1>
            <AddToWishlist :product="getCurrentProduct" class="add-to-wishlist rounded-10" />
          </div>
          <al-reviews-detail-label class="flex flex-wrap mb-20" :product="getCurrentProduct" />
        </div>
        <section class="md:flex md:justify-between">
          <div class="w-full md:w-6/12 center-xs middle-xs image mb-20 md:mb-0 slide-list">
            <product-thumb-gallery
              :offline="getOfflineImage"
              :gallery="getCustomThumbnails()"
              :product-name="getCurrentProduct.name"
              :configuration="getCurrentProductConfiguration"
              @loaded="carouselLoaded = true"
            />
          </div>
          <div class="w-full md:w-6/12 data md:pl-40">
            <div class="hidden md:block">
              <div class="flex justify-between">
                <h1
                  class="font-medium text-20 md:text-24 lg:text-30 leading-24 md:leading-30 lg:leading-40 text-gray-200 mt-0 mb-16"
                  data-testid="productName"
                >
                  {{ getCurrentProduct.name | htmlDecode }}
                </h1>
                <AddToWishlist :product="getCurrentProduct" class="add-to-wishlist rounded-10" />
              </div>
              <al-reviews-detail-label class="flex flex-wrap mb-40" :product="getCurrentProduct" />
            </div>
            <div>
              <product-price
                v-if="getCurrentProduct.type_id !== 'grouped'"
                :product="getCurrentProduct"
                :custom-options="getCurrentCustomOptions"
              />
              <div class="text-sm sm:pb-10" v-if="getCurrentProduct.type_id =='configurable'">
                <div
                  class="error"
                  v-if="getCurrentProduct.errors && Object.keys(getCurrentProduct.errors).length > 0"
                >
                  {{ getCurrentProduct.errors | formatProductMessages }}
                </div>
                <div class="pb-10" v-for="option in getProductOptions" :key="option.id">
                  <div class="pt-15 sm:pt-25 pb-12 text-gray-400" data-testid="variantsLabel">
                    {{ option.label }}:
                    <span class="font-bold">{{ getOptionLabel(option) }}</span>
                  </div>
                  <div class="md:flex items-center">
                    <div v-if="option.label == 'Color'">
                      <color-selector
                        v-for="filter in getAvailableFilters[option.attribute_code]"
                        :key="filter.id"
                        :variant="filter"
                        :selected-filters="getSelectedFilters"
                        @change="changeFilter"
                      />
                    </div>
                    <div v-else-if="option.label == 'Size'">
                      <size-selector
                        class="mr-10 mb-10"
                        v-for="filter in getAvailableFilters[option.attribute_code]"
                        :key="filter.id"
                        :variant="filter"
                        :selected-filters="getSelectedFilters"
                        @change="changeFilter"
                      />
                    </div>
                    <div class="w-full flex flex-wrap" :class="option.attribute_code" v-else>
                      <generic-selector
                        class="pr-10 even:pr-0 lg:even:pr-10 mb-10 w-1/2 lg:w-1/3"
                        v-for="filter in getAvailableFilters[option.attribute_code]"
                        :key="filter.id"
                        :variant="filter"
                        :selected-filters="getSelectedFilters"
                        @change="changeFilter"
                      />
                    </div>
                    <span
                      v-if="option.label == 'Size'"
                      @click="openSizeGuide"
                      class="flex leading-none items-center text-gray-600 md:pl-15 mb-10 cursor-pointer hover:text-black"
                    >
                      <svg class="w-24 mr-2 fill-current" version="1.1" viewBox="0 0 36 36" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M17,3.2c2.4-0.8,4.6,1.4,3.8,3.8c-0.3,0.9-1,1.6-1.9,1.9c-2.4,0.8-4.6-1.4-3.8-3.8   C15.4,4.1,16.1,3.4,17,3.2z M31.1,13.5h-8.1c-0.2,0-0.4,0.2-0.4,0.4v18.6c0,0.2-0.2,0.4-0.4,0.4h-2.1c-0.2,0-0.4-0.2-0.4-0.4v-8.1   c0-0.2-0.2-0.4-0.4-0.4h-2.1c-0.2,0-0.4,0.2-0.4,0.4v8.1c0,0.2-0.2,0.4-0.4,0.4h-2.1c-0.2,0-0.4-0.2-0.4-0.4V13.9   c0-0.2-0.2-0.4-0.4-0.4H4.9c-0.2,0-0.4-0.2-0.4-0.4v-2.1c0-0.2,0.2-0.4,0.4-0.4h26.1c0.2,0,0.4,0.2,0.4,0.4v2.1   C31.5,13.3,31.3,13.5,31.1,13.5z" id="accessibility" />
                      </svg>
                      <span>{{ $t('Size guide') }}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <product-links
              v-if="getCurrentProduct.type_id =='grouped'"
              :products="getCurrentProduct.product_links"
            />
            <product-bundle-options
              v-if="getCurrentProduct.bundle_options && getCurrentProduct.bundle_options.length > 0"
              :product="getCurrentProduct"
            />
            <product-custom-options
              v-else-if="getCurrentProduct.custom_options && getCurrentProduct.custom_options.length > 0"
              :product="getCurrentProduct"
            />
            <product-quantity
              class="mt-21 md:mt-40 mb-30 md:mb-50 text-gray-400 inline-flex"
              v-if="getCurrentProduct.type_id !== 'grouped' && getCurrentProduct.type_id !== 'bundle'"
              v-model="getCurrentProduct.qty"
              :name="'Select Quantity'"
              :max-quantity="maxQuantity"
              :loading="isStockInfoLoading"
              :is-simple-or-configurable="isSimpleOrConfigurable"
              :show-quantity="manageQuantity"
              :check-max-quantity="manageQuantity"
              @error="handleQuantityError"
            />
            <div class="flex mb-30 product-buttons">
              <add-to-cart
                class="py-18 text-sm lg:text-base rounded-none md:rounded"
                :product="getCurrentProduct"
                :disabled="isAddToCartDisabled"
              />
              <!-- <button class="button-outline rounded-none md:rounded min-w-0 w-1/2 text-sm lg:text-base group px-10 ml-0 md:ml-20 py-13 flex items-center justify-center border-gray-200">
                <svg class="mr-14" width="18" height="24" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="group-hover:stroke-current hover:text-white" d="M1 13.8333L9.88889 1V10.1667H17L8.11111 23V13.8333H1Z" stroke="#222222" stroke-linejoin="round" />
                </svg>
                {{ 'Quick Checkout' }}
              </button> -->
            </div>
            <cms-block class="text-center payment-options" :identifier="'payment-options'" />
          </div>
        </section>
      </div>
    </section>
    <section class="container pt-20 md:pt-40 pb-50 md:pb-80 product-details">
      <div class="acc-menu accordion-1" ref="accordion-1">
        <h2 @click="toggleAccordion(1)">
          {{ $t('Product details') }}
        </h2>
        <div class="accordion-body details-wrapper relative overflow-hidden md:overflow-auto" :class="{'details-wrapper--open': detailsOpen}">
          <div class="row between-md m0">
            <p class="text-center font-bold pb-20 text-sm" v-if="!getCurrentProduct.description">
              {{ 'No product description' }}
            </p>
            <div class="col-xs-12 col-sm-6">
              <div class="text-base leading-24 text-gray-600 pb-20" v-html="getCurrentProduct.description" />
            </div>
            <div class="col-xs-12 col-sm-5">
              <ul class="attributes p0 pt5 m0">
                <product-attribute
                  :key="attr.attribute_code"
                  v-for="attr in getCustomAttributes"
                  :product="getCurrentProduct"
                  :attribute="attr"
                  empty-placeholder="N/A"
                />
              </ul>
            </div>
            <div class="details-overlay absolute m-0 left-0 right-0 bottom-0 w-full cursor-pointer bg-gradient-to-t from-white  to-bg-transparent bg-opacity-40" @click="showDetails" />
          </div>
        </div>
      </div>
      <div class="acc-menu product-question accordion-2" ref="accordion-2">
        <h2 @click="toggleAccordion(2)">
          {{ 'Product Questions' }}
        </h2>
        <div class="accordion-body">
          <b class="block text-center font-bold pb-10 text-sm" v-if="getCurrentProductQuestions.length < 0">{{ 'No Questions' }}</b>
          <b class="block text-center font-medium pb-20 text-sm" v-if="!isLoggedIn">
            {{ 'Please, mind that only logged in users can submit questions' }}
          </b>
          <div v-for="(question, questionIndex) in getCurrentProductQuestions" :key="questionIndex">
            <div class="question-acc-menu mb-20" :class="['question-accordion-' + questionIndex, {'is-open-q': questionIndex === 0}]" :refs="'question-accordion-' + questionIndex">
              <h3 @click="questionsToggleAccordion(questionIndex)">
                {{ question.title }}
                <svg class="absolute top-0 bottom-0 right-0 m-auto" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 1L7 7L1 1" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </h3>
              <div class="question-body hidden" v-html="question.answer" />
            </div>
          </div>
          <product-question-form :product="getCurrentProduct" v-if="isLoggedIn" />
        </div>
      </div>
      <div class="acc-menu accordion-3" ref="accordion-3">
        <h2 @click="toggleAccordion(3)">
          {{ $t('Reviews') }}
        </h2>
        <al-rating-reviews
          form-type="rating"
          v-show="isOnline"
          :product="getCurrentProduct"
          class="accordion-body"
        />
      </div>
    </section>
    <SizeGuide />
    <script v-html="getJsonLd" type="application/ld+json" />
  </div>
</template>

<script>
import config from 'config'
import AddToCart from 'theme/components/core/AddToCart.vue'
import GenericSelector from 'theme/components/core/GenericSelector'
import ColorSelector from 'theme/components/core/ColorSelector.vue'
import SizeSelector from 'theme/components/core/SizeSelector.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import ProductAttribute from 'theme/components/core/ProductAttribute.vue'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import ProductLinks from 'theme/components/core/ProductLinks.vue'
import ProductCustomOptions from 'theme/components/core/ProductCustomOptions.vue'
import ProductBundleOptions from 'theme/components/core/ProductBundleOptions.vue'
import focusClean from 'theme/components/theme/directives/focusClean'
import SizeGuide from 'theme/components/core/blocks/Product/SizeGuide'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import { mapGetters } from 'vuex'
import LazyHydrate from 'vue-lazy-hydration'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption.ts'
import { getAvailableFiltersByProduct, getSelectedFiltersByProduct } from '@vue-storefront/core/modules/catalog/helpers/filters'
import { isOptionAvailableAsync } from '@vue-storefront/core/modules/catalog/helpers/index'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import { ReviewModule } from '@vue-storefront/core/modules/review'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule, isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { onlineHelper, isServer, productJsonLd } from '@vue-storefront/core/helpers'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import ProductPrice from 'theme/components/core/ProductPrice.vue'
import { doPlatformPricesSync } from '@vue-storefront/core/modules/catalog/helpers'
import { filterChangedProduct } from '@vue-storefront/core/modules/catalog/events'
import AlRatingReviews from 'src/modules/bocm/review-ratings/components/ProductReviews.vue'
import AlReviewsDetailLabel from 'src/modules/bocm/review-ratings/components/AlReviewsDetailLabel.vue'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import ProductThumbGallery from 'theme/components/core/ProductThumbGallery'
import ProductQuestionForm from 'src/modules/bocm/product-question/components/ProductQuestionForm.vue'

export default {
  components: {
    AddToCart,
    AddToWishlist,
    Breadcrumbs,
    ColorSelector,
    GenericSelector,
    ProductAttribute,
    ProductBundleOptions,
    ProductCustomOptions,
    ProductLinks,
    SizeSelector,
    SizeGuide,
    LazyHydrate,
    ProductQuantity,
    ProductPrice,
    AlRatingReviews,
    AlReviewsDetailLabel,
    CmsBlock,
    ProductThumbGallery,
    ProductQuestionForm
  },
  mixins: [ProductOption],
  directives: { focusClean },
  beforeCreate () {
    registerModule(ReviewModule)
    registerModule(RecentlyViewedModule)
  },
  data () {
    return {
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true
    }
  },
  computed: {
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCurrentProduct: 'product/getCurrentProduct',
      getProductGallery: 'product/getProductGallery',
      getCurrentProductConfiguration: 'product/getCurrentProductConfiguration',
      attributesByCode: 'attribute/attributeListByCode',
      getCurrentCustomOptions: 'product/getCurrentCustomOptions',
      getProductQuestionList: 'productQuestion/getProductQuestionList',
      isLoggedIn: 'user/isLoggedIn'
    }),
    getOptionLabel () {
      return (option) => {
        const configName = option.attribute_code ? option.attribute_code : option.label.toLowerCase()
        return this.getCurrentProductConfiguration[configName] ? this.getCurrentProductConfiguration[configName].label : configName
      }
    },
    isOnline (value) {
      return onlineHelper.isOnline
    },
    getProductOptions () {
      if (
        this.getCurrentProduct.errors &&
        Object.keys(this.getCurrentProduct.errors).length &&
        Object.keys(this.getCurrentProductConfiguration).length
      ) {
        return []
      }
      return this.getCurrentProduct.configurable_options
    },
    getOfflineImage () {
      return {
        src: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        error: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        loading: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height)
      }
    },
    getCustomAttributes () {
      return Object.values(this.attributesByCode || [])
        .filter(
          a => a.is_visible && a.is_user_defined && (parseInt(a.is_visible_on_front) || a.is_visible_on_front === true) && this.getCurrentProduct[a.attribute_code]
        )
        .sort((a, b) => { return a.attribute_id > b.attribute_id })
    },
    getAvailableFilters () {
      return getAvailableFiltersByProduct(this.getCurrentProduct)
    },
    getSelectedFilters () {
      return getSelectedFiltersByProduct(this.getCurrentProduct, this.getCurrentProductConfiguration)
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.getCurrentProduct.type_id)
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity && this.isSimpleOrConfigurable
    },
    storeView () {
      return currentStoreView()
    },
    getJsonLd () {
      return productJsonLd(this.getCurrentProduct, this.getCurrentProductConfiguration.color && this.getCurrentProductConfiguration.color.label, this.$store.state.storeView.i18n.currencyCode, this.getCustomAttributes)
    },
    getCurrentProductQuestions () {
      if (this.isLoggedIn) {
        return this.getProductQuestionList ? this.getProductQuestionList : []
      }
      return this.getProductQuestionList ? this.getProductQuestionList.filter(x => x.visibility === 1) : []
    }
  },
  mounted () {
    this.$store.dispatch('recently-viewed/addItem', this.getCurrentProduct)
    this.toggleAccordionOnMount();
  },
  async asyncData ({ store, route, context }) {
    if (context) context.output.cacheTags.add('product')
    const product = await store.dispatch('product/loadProduct', { parentSku: route.params.parentSku, childSku: route && route.params && route.params.childSku ? route.params.childSku : null })
    await store.dispatch('productQuestion/list', { product })
    const loadBreadcrumbsPromise = store.dispatch('product/loadProductBreadcrumbs', { product })
    if (isServer) await loadBreadcrumbsPromise
    catalogHooksExecutors.productPageVisited(product)
  },
  beforeRouteEnter (to, from, next) {
    if (isServer) {
      next()
    } else {
      next((vm) => {
        vm.getQuantity()
      })
    }
  },
  watch: {
    isOnline: {
      handler (isOnline) {
        if (isOnline) {
          this.getQuantity()
        }
      }
    }
  },
  methods: {
    showDetails (event) {
      this.detailsOpen = true
      event.target.classList.add('hidden')
    },
    notifyOutStock () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(
          'The product is out of stock and cannot be added to the cart!'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    notifyWrongAttributes () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'No such configuration for the product. Please do choose another combination of attributes.'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    async changeFilter (variant) {
      const selectedConfiguration = Object.assign({ attribute_code: variant.type }, variant)
      await filterChangedProduct(selectedConfiguration, this.$store, this.$router)
      this.getQuantity()
    },
    openSizeGuide () {
      this.$bus.$emit('modal-show', 'modal-sizeguide')
    },
    isOptionAvailable (option) { // check if the option is available
      const currentConfig = Object.assign({}, this.getCurrentProductConfiguration)
      currentConfig[option.type] = option
      return isOptionAvailableAsync(this.$store, { product: this.getCurrentProduct, configuration: currentConfig })
    },
    async getQuantity () {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        if (config.products.alwaysSyncPricesClientSide) {
          doPlatformPricesSync([this.getCurrentProduct]);
        }
        const res = await this.$store.dispatch('stock/check', {
          product: this.getCurrentProduct,
          qty: this.getCurrentProduct.qty
        })

        this.manageQuantity = res.isManageStock
        this.maxQuantity = res.isManageStock ? res.qty : null
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    toggleAccordion (index) {
      this.$refs['accordion-' + index].classList.toggle('is-open');
    },
    toggleAccordionOnMount () {
      Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
        if (accord.classList[1] === undefined) {
          accord.classList.add('is-open');
        } else {
          accord.classList.remove('is-open')
        }
      });
    },
    questionsToggleAccordion (index) {
      let list = document.querySelectorAll('.question-acc-menu');
      list.forEach((userItem) => {
        userItem.classList.remove('is-open-q');
      });
      document.querySelector('.question-accordion-' + index).classList.toggle('is-open-q');
    },
    getCustomThumbnails () {
      return this.getProductGallery.map(item => {
        var temp = Object.assign({}, item);
        const video = item.src;
        const splitted = video.split('resize');
        if (item.video !== undefined && splitted[1] !== undefined) {
          item.src = item.loading = config.aureatelabs.productvideoUrl.path + splitted[1];
        }
        return temp;
      });
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    return {
      /* link: [
        { rel: 'amphtml',
          href: this.$router.resolve(localizedRoute({
            name: this.getCurrentProduct.type_id + '-product-amp',
            params: {
              parentSku: this.getCurrentProduct.parentSku ? this.getCurrentProduct.parentSku : this.getCurrentProduct.sku,
              slug: this.getCurrentProduct.slug,
              childSku: this.getCurrentProduct.sku
            }
          }, storeView.storeCode)).href
        }
      ], */
      title: htmlDecode(this.getCurrentProduct.meta_title || this.getCurrentProduct.name),
      meta: [
        { vmid: 'description', name: 'description', content: htmlDecode(this.getCurrentProduct.meta_description) },
        { vmid: 'keywords', name: 'keywords', content: htmlDecode(this.getCurrentProduct.meta_keywords) || 'Best Online Cabinets' },
        { vmid: 'title', name: 'title', content: htmlDecode(this.getCurrentProduct.meta_title || this.getCurrentProduct.name) },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$router.currentRoute.path },
        { vmid: 'og:image', name: 'og:image', content: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height) },
        { vmid: 'og:type', name: 'og:type', content: 'Product' }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }]
    }
  }
}
</script>

<style lang="scss">
.product-top-section{
  .product-quantity{
    .spinner-loading{
      right: auto;
      width: 60px;
      top: auto;
      bottom:0px;
      padding: 5px 0;
    }
  }
  .minusplusnumber {
    width: 100px;
    height: 50px;
  }
}
@media (max-width: 767px){
  .details-wrapper{
    max-height: 140px;
    transition: all .3s ease;
  }
  .details-overlay{
    height: 75%;
  }
}
.details-wrapper--open{
  max-height: none;
}
</style>
