<template>
  <div class="research-all pb-50 md:pb-80">
    <div class="container">
      <breadcrumbs
        :with-homepage="true"
        :routes="[]"
        active-route="Research Center"
      />
      <h1 class="m-0 text-20 md:text-26 text-gray-200 font-medium pb-10 md:pb-30 text-center md:text-left">
        {{ 'Research Center' }}
      </h1>
      <div class="featured-posts">
        <h2 class="text-gray-200 text-18 md:text-22 lg:text-22 mb-15 font-medium mt-0 text-center md:text-left">
          {{ 'Featured Posts' }}
        </h2>
        <div class="featured-posts-wrap flex flex-wrap -mx-10 pb-30 md:pb-60">
          <div class="w-full md:w-1/3 px-10 text-center mb-20 last:mb-0 md:mb-0" v-for="research in featuredPost" :key="research.id">
            <div class="post-img mb-15">
              <router-link :to="localizedRoute('/research/' + research.url_key)">
                <img class="block m-auto" :src="getPostImage(research.list_thumbnail)" alt="research.title" width="400" height="180">
              </router-link>
            </div>
            <router-link class="text-16 lg:text-18 leading-26 text-gray-200 font-medium inline-block" :to="localizedRoute('/research/' + research.url_key)">
              {{ research.title }}
            </router-link>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap -mx-10">
        <ResearchSidebar :unique-category="uniqueCategory" :recent-post="recentPost" />
        <div class="w-full md:w-6/12 px-10 order-3 md:order-1">
          <ul class="m-0">
            <li class="border text-sm lg:text-base border-gray-500 md:rounded-md p-25 mb-20 last:mb-0 font-medium" v-for="post in researchFilterData" :key="post.id">
              <div class="post-img mb-15" v-if="post.list_thumbnail">
                <router-link :to="localizedRoute('/research/' + post.url_key)">
                  <img :src="getPostImage(post.list_thumbnail)" alt="research.title" width="558" height="251">
                </router-link>
              </div>
              <router-link class="text-gray-200 text-16 md:text-18 lg:text-md inline-block mb-15" :to="localizedRoute('/research/' + post.url_key)">
                {{ post.title }}
              </router-link>
              <div class="text-gray-600 font-regular post-description" v-html="post.short_content" v-if="post.short_content" />
              <div class="text-gray-50 mb-15">
                <span>{{ getFormatDate(post.published_at) }}</span>
              </div>
              <div class="flex justify-between font-regular text-gray-200">
                <span>{{ 'Posted in: ' }}
                  <strong class="font-medium" v-for="category in post.categories" :key="category.id">
                    <router-link :to="localizedRoute('/research/category/' + category.url_key)">
                      {{ category.name }}
                    </router-link>
                  </strong>
                </span>
                <router-link class="flex items-center text-gray-200" :to="localizedRoute('/research/' + post.url_key)">
                  {{ 'Read More' }}
                  <svg class="ml-5" xmlns="http://www.w3.org/2000/svg" width="16" height="12" fill="none"><path d="M15.697 5.363l-5.126-5.1a.886.886 0 0 0-1.26 0 .875.875 0 0 0 0 1.254l3.613 3.595H.891A.894.894 0 0 0 0 5.998c0 .485.403.886.89.886h12.018L9.31 10.479a.875.875 0 0 0 0 1.254.92.92 0 0 0 .639.267.88.88 0 0 0 .638-.268l5.143-5.115A.911.911 0 0 0 16 5.98a1.134 1.134 0 0 0-.303-.618z" fill="#f18607" /></svg>
                </router-link>
              </div>
            </li>
          </ul>
          <h3 class="border text-16 lg:text-18 border-gray-500 md:rounded-md p-25 mb-20 last:mb-0 font-medium m-0" v-if="researchFilterData.length === 0">
            {{ 'No Search results found' }}
          </h3>
        </div>
        <div class="w-full md:w-3/12 px-10 order-2 my-30 md:m-0 md:order-1">
          <h3 class="mt-0 mb-10 font-bold text-gray-200 text-base lg:text-18">
            {{ 'SEARCH THE BLOG' }}
          </h3>
          <div class="border border-gray-500 md:rounded-md p-10 research-search-form">
            <form action="#" class="flex relative">
              <base-input
                class="focus:outline-none text-sm lg:text-base w-full bg-white h-40"
                type="text"
                v-model="search"
                placeholder="Find some..."
                :label="false"
              />
              <svg class="absolute right-10 top-10 opacity-50 pointer-events-none" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9993 18.9998L14.1992 14.1998" stroke="#000" stroke-miterlimit="10" stroke-linecap="round" />
                <path d="M8.7143 16.4286C12.9748 16.4286 16.4286 12.9748 16.4286 8.71431C16.4286 4.45381 12.9748 1 8.7143 1C4.45381 1 1 4.45381 1 8.71431C1 12.9748 4.45381 16.4286 8.7143 16.4286Z" stroke="#000" stroke-miterlimit="10" stroke-linecap="round" />
              </svg>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from '../components/core/Breadcrumbs'
import config from 'config'
import ResearchSidebar from 'src/modules/bocm/research/components/ResearchSidebar.vue'
import ResearchPanel from 'src/modules/bocm/research/components/ResearchPanel'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'

export default {
  name: 'Research',
  mixins: [ResearchPanel],
  components: {
    Breadcrumbs,
    ResearchSidebar,
    BaseInput
  },
  metaInfo () {
    return {
      title: 'Research Center',
      meta: [
        { vmid: 'title', name: 'title', content: 'Research Center' },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$router.currentRoute.path },
        { vmid: 'og:type', name: 'og:type', content: 'Research Center' }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }]
    }
  }
}
</script>
<style lang="scss">
.research-search-form {
  input {
    height: 40px;
    padding: 10px 40px 10px 10px;
    border-radius: 0;
  }
  button {
    border-radius: 0;
  }
}
</style>
