<template>
  <div class="research-all pb-50 md:pb-80">
    <div class="container">
      <breadcrumbs
        :with-homepage="true"
        :routes="[{name: 'Research Center', route_link: localizedRoute('/research')}]"
        :active-route="postDetail.title"
      />
      <h1 class="m-0 text-20 md:text-lg text-gray-200 font-medium pb-10 md:pb-30 capitalize">
        {{ postDetail.title }}
      </h1>
      <div class="flex flex-wrap -mx-10">
        <ResearchSidebar :unique-category="uniqueCategory" :recent-post="recentPost" />
        <div class="w-full md:w-9/12 px-10 order-3 md:order-1 mt-30 md:mt-0">
          <ul class="m-0 post-details" v-if="postDetail">
            <li class="border text-sm lg:text-base border-gray-500 md:rounded-md p-15 md:p-25 mb-20 last:mb-0" :key="postDetail.post_id">
              <div class="post-img -mx-15 md:-mx-25 pb-15 md:pb-25 px-15 mb-15 md:mb-25 border-b border-gray-500" v-if="postDetail.list_thumbnail">
                <img class="m-auto" :src="getPostImage(postDetail.list_thumbnail)" alt="research.title" width="400" height="270">
              </div>
              <div class="flex font-regular justify-between text-gray-200 mb-20">
                <span>{{ 'Posted in: ' }}
                  <strong class="font-medium" v-for="category in postDetail.categories" :key="category.id">
                    <router-link :to="localizedRoute('/research/category/' + category.url_key)">
                      {{ category.name }}
                    </router-link>
                  </strong>
                </span>
              </div>
              <div class="text-gray-200 font-regular post-content" v-html="postDetail.full_content" v-if="postDetail.full_content" ref="cmscontent" />
              <div class="text-gray-50 mt-5">
                <span>{{ getFormatDate(postDetail.published_at) }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from '../components/core/Breadcrumbs'
import config from 'config'
import { mapGetters } from 'vuex'
import { getPostUrl } from 'theme/helpers';
import moment from 'moment'
import ResearchSidebar from 'src/modules/bocm/research/components/ResearchSidebar.vue'
import { replaceAnchorTag } from 'theme/helpers'
import { isServer } from '@vue-storefront/core/helpers'

export default {
  name: 'ResearchDetail',
  components: {
    Breadcrumbs,
    ResearchSidebar
  },
  computed: {
    ...mapGetters({
      getResearchList: 'research/getResearchList',
      uniqueCategory: 'research/uniqueCategory'
    }),
    postDetail () {
      let post = this.getResearchList.find(f => f.url_key === this.$route.params.title)
      return post
    },
    recentPost () {
      let featured = this.getResearchList.filter(f => f.published_at)
      return featured && featured.length > 0 ? featured.reverse().slice(0, 5) : [];
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data
    await Promise.all([
      await store.dispatch('research/list', { filterField: 'status' })
    ])
  },
  methods: {
    getPostImage (path) {
      return getPostUrl(path);
    },
    getFormatDate (date) {
      return moment(String(date)).format('MMMM DD, YYYY')
    },
    replaceLink () {
      const replaceResearchURL = document.querySelectorAll('.post-content a')
      return replaceResearchURL.forEach((item) => {
        if (item.href.indexOf('magento') > -1) {
          const link = item.href;
          const splitted = link.replace(/^.*\/\/[^\/]+/, '');
          item.href = splitted;
        }
      });
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (!isServer) {
        this.replaceLink()
      }
      if (this.$refs.cmscontent) {
        replaceAnchorTag(this.$refs.cmscontent)
      }
    })
  },
  updated () {
    this.$nextTick(() => {
      if (!isServer) {
        this.replaceLink()
        if (this.$refs.cmscontent) {
          replaceAnchorTag(this.$refs.cmscontent)
        }
      }
    })
  },
  metaInfo () {
    return {
      title: this.postDetail.title,
      meta: [
        { vmid: 'title', name: 'title', content: this.postDetail.title },
        { vmid: 'og:url', name: 'og:url', content: config.bocm.storeUrl + this.$router.currentRoute.path },
        { vmid: 'og:type', name: 'og:type', content: this.postDetail.title }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }]
    }
  }
}
</script>
