<template>
  <div class="block align-center thankyou">
    <h2>Thanks for contacting us with your comments and questions. <br>We'll respond to you very soon.</h2>
    <router-link :to="localizedRoute('/')" class="no-outline button-full inline-block brdr-none px20 py20 bg-cl-secondary :bg-cl-th-secondary ripple weight-400 h4 cl-white sans-serif fs-medium no-underline pointer align-center border-box">
      {{ $t("Back To Home Page") }}
    </router-link>
  </div>
</template>
<script>
export default {
  name: 'ThankYou'
}
</script>
<style lang="scss" scoped>
.thankyou {
    padding: 60px 15px;
    min-height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    h2 {
        line-height: 140%;
        color: #000;
    }
    @media (max-width: 767px) {
        padding: 40px 15px;
        h2 {
            font-size: 22px;
            br {
                display: none;
            }
        }
    }
}
</style>
