<template>
  <div class="block align-center thankyou">
    <header>
      <div class="container">
        <breadcrumbs
          :with-homepage="true"
          :routes="[]"
          :active-route="this.$t('Twitter Verify')"
        />
      </div>
    </header>
    <div class="thank-you-content align-justify text-center">
      <div class="container">
        <h2 class="text-center text-16 md:text-md font-medium mb-10">
          {{ showMessage }}
        </h2>
        <router-link class="button-full w-auto m-auto hover:text-white text-center px-30" :to="'/'" v-if="showHomeBtn">
          {{ 'Back To Home' }}
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
import { router } from '@vue-storefront/core/app';
import i18n from '@vue-storefront/i18n'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'

export default {
  name: 'TwitterVerify',
  data () {
    return {
      showMessage: '',
      showHomeBtn: false
    }
  },
  mounted () {
    this.getTwitterUserDetail();
  },
  components: {
    Breadcrumbs
  },
  methods: {
    async getTwitterUserDetail () {
      if (this.$route.query && this.$route.query.oauth_token && this.$route.query.oauth_verifier) {
        this.showMessage = i18n.t('You are successfully logged with twitter account')
        await this.$store.dispatch('social-auth/getuser', this.$route.query).then(async res => {
          if (res.code === 200) {
            if (res.result.email) {
              var userInfo = {
                firstname: res.result.name,
                lastname: res.result.name,
                email: res.result.email,
                type: 'twitter',
                typeId: res.result.id
              }
              await this.$store.dispatch('social-auth/signup', userInfo)
            } else {
              this.$store.dispatch('notification/spawnNotification', {
                type: 'error',
                message: i18n.t('Please update your email into the twitter account.'),
                action1: { label: i18n.t('OK') }
              })
            }
            router.push('/')
          } else {
            this.$store.dispatch('notification/spawnNotification', {
              type: 'error',
              message: i18n.t('Something went wrong. Try again in a few seconds.'),
              action1: { label: i18n.t('OK') }
            })
          }
        })
      } else {
        this.showMessage = i18n.t('You are failed to login with twitter account. Please try again')
        this.showHomeBtn = true
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.thank-you-content {
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  @media (max-width: 767px) {
    padding-bottom: 0;
  }
}
</style>
