<template>
  <div class="order-review relative">
    <div class="flex">
      <div class="w-30 h-30 md:h-35  md:w-1/12 relative z-1 -mr-25 md:mr-0">
        <div
          class="w-30 h-30 md:w-35 md:h-35 leading-30 md:leading-35 text-sm md:text-base rounded-full text-center text-white font-bold"
          :class="{ 'bg-gray-200' : isActive || isFilled, 'bg-gray-600' : !isFilled && !isActive }"
        >
          {{ (isVirtualCart ? 3 : 4) }}
        </div>
      </div>
      <div class="w-full md:w-11/12">
        <div class="flex items-center justify-between pl-35 md:pl-0">
          <h3 class="m-0 leading-normal text-16 md:text-18 text-gray-200 pl-5 md:pl-0 pt-6 md:pt-8" :class="{ 'text-gray-600' : !isFilled && !isActive }">
            {{ $t('Review & Order') }}
          </h3>
        </div>
        <div class="mt-30" v-show="isActive">
          <base-checkbox
            class="mb-15 text-gray-900"
            id="acceptTermsCheckbox"
            v-model="orderReview.terms"
            :validations="[{
              condition: !$v.orderReview.terms.sameAs && $v.orderReview.terms.$error,
              text: $t('Field is required.')
            }]"
          >
            <span class="leading-22 cursor-default">
              {{ $t('By Selecting “Place Order”, I Agree to the BestOnlineCabinet ') }}
              <router-link :to="localizedRoute('/terms-of-use')" :title="$t('Terms of Use')" class="underline">
                {{ $t('Terms of Use') }}
              </router-link> {{ $t('& Acknowledge that i have read the BestOnlineCabinet') }}
              <router-link :to="localizedRoute('/privacy-policy')" :title="$t('Privacy Policy')" class="underline">
                {{ $t('Privacy Policy') }}
              </router-link>
            </span>
          </base-checkbox>
          <base-checkbox
            class="mb-20 text-gray-900"
            id="Acknowledgement"
            v-model="Acknowledgement.AcknowledgementText"
          >
            <span class="leading-22">
              {{ $t('Necessary Accessories') }}
              <router-link :to="localizedRoute('/')" :title="$t('Acknowledgement')" class="underline">
                {{ $t('Acknowledgement') }}
              </router-link>
            </span>
          </base-checkbox>
          <base-textarea
            class="mb-25"
            type="text"
            name="body"
            :label="false"
            v-model="Acknowledgement.FeddBack"
            :placeholder="$t('Comments / Special Instructions')"
            :autofocus="true"
          />
        </div>
        <div class="w-full md:w-6/12" v-show="isActive">
          <slot name="placeOrderButton">
            <button-full
              @click.native="placeOrder"
              data-testid="orderReviewSubmit"
              class="place-order-btn"
              :disabled="$v.orderReview.$invalid"
            >
              {{ $t('Place The Order') }}
            </button-full>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { sameAs } from 'vuelidate/lib/validators'
import Composite from '@vue-storefront/core/mixins/composite'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import ButtonFull from 'theme/components/theme/ButtonFull'
import { OrderReview } from '@vue-storefront/core/modules/checkout/components/OrderReview'
import { OrderModule } from '@vue-storefront/core/modules/order'
import { registerModule } from '@vue-storefront/core/lib/modules'

export default {
  data () {
    return {
      Acknowledgement: {
        AcknowledgementText: '',
        FeddBack: ''
      }
    }
  },
  components: {
    BaseCheckbox,
    ButtonFull,
    BaseTextarea
  },
  mixins: [OrderReview, Composite],
  validations: {
    orderReview: {
      terms: {
        sameAs: sameAs(() => true)
      }
    }
  },
  beforeCreate () {
    registerModule(OrderModule)
  },
  methods: {
    onSuccess () {
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    }
  }
}
</script>
