<template>
  <div class="payment relative pt-0 md:pt-5">
    <div class="flex">
      <div class="w-30 h-30 md:h-35 md:w-1/12 relative z-1 -mr-25 md:mr-0">
        <div
          class="w-30 h-30 md:w-35 md:h-35 leading-30 md:leading-35 text-sm md:text-base rounded-full text-center text-white font-bold"
          :class="{ 'bg-gray-200' : isActive || isFilled, 'bg-gray-600' : !isFilled && !isActive }"
        >
          {{ (isVirtualCart ? 2 : 3) }}
        </div>
      </div>
      <div class="w-full md:w-11/12">
        <div class="flex items-center mb-25 md:mb-35 justify-between pl-35 md:pl-0">
          <h3 class="m-0 leading-normal text-16 md:text-18 text-gray-200 pl-5 md:pl-0 pt-6 md:pt-8" :class="{ 'text-gray-600' : !isFilled && !isActive }">
            {{ $t('Billing Information') }}
          </h3>
          <a href="#" class="flex md:ml-30 text-gray-200" @click.prevent="edit" v-if="isFilled && !isActive">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.64157 18.0621C5.46792 18.2357 5.23241 18.3333 4.98684 18.3333H2.59259C2.08122 18.3333 1.66667 17.9187 1.66667 17.4074V15.0131C1.66667 14.7675 1.76422 14.532 1.93787 14.3584L13.9749 2.32135C14.3365 1.95976 14.9228 1.95976 15.2844 2.32135L17.6786 4.7156C18.0402 5.0772 18.0402 5.66346 17.6786 6.02506L5.64157 18.0621Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M12.5002 4.16675L15.8335 7.50008" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span class="pl-5">
              {{ $t('Edit') }}
            </span>
          </a>
        </div>
        <div class="flex flex-wrap md:pt-15" v-if="isActive">
          <base-checkbox
            class="w-full mb-30"
            id="sendToShippingAddressCheckbox"
            v-model="sendToShippingAddress"
            v-if="!isVirtualCart"
          >
            {{ $t('Copy address data from shipping') }}
            <tooltip class="-mt-5">
              {{ $t('Copy for the same address data from shipping') }}
            </tooltip>
          </base-checkbox>
          <base-input
            class="w-6/12 mb-20 pr-10"
            type="text"
            name="first-name"
            :label="false"
            :placeholder="$t('First name *')"
            v-model.trim="payment.firstName"
            @blur="$v.payment.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition: $v.payment.firstName.$error && !$v.payment.firstName.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.payment.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="w-6/12 mb-20 pl-10"
            type="text"
            name="last-name"
            :label="false"
            :placeholder="$t('Last name *')"
            v-model.trim="payment.lastName"
            @blur="$v.payment.lastName.$touch()"
            autocomplete="family-name"
            :validations="[{
              condition: $v.payment.lastName.$error && !$v.payment.lastName.required,
              text: $t('Field is required.')
            }]"
          />
          <base-select
            class="w-6/12 mb-20 pr-10"
            name="countries"
            :options="countryOptions"
            :selected="payment.country"
            :placeholder="!payment.country ? $t('Select Country *'): null"
            :validations="[
              {
                condition: $v.payment.country.$error && !$v.payment.country.required,
                text: $t('Field is required.')
              }
            ]"
            v-model="payment.country"
            autocomplete="country-name"
            @blur="$v.payment.country.$touch()"
            @change="$v.payment.country.$touch(); changeCountry();"
          />
          <base-input
            class="w-6/12 mb-20 pl-10"
            type="text"
            :label="false"
            name="city"
            :placeholder="$t('City *')"
            v-model.trim="payment.city"
            @blur="$v.payment.city.$touch()"
            autocomplete="address-level2"
            :validations="[
              {
                condition: $v.payment.city.$error && !$v.payment.city.required,
                text: $t('Field is required.')
              },
              {
                condition: $v.payment.city.$error && $v.payment.city.required,
                text: $t('Please provide valid city name.')
              }
            ]"
          />
          <base-input
            class="w-6/12 mb-20 pr-10"
            type="text"
            :label="false"
            name="street-address"
            :placeholder="$t('Street name *')"
            v-model.trim="payment.streetAddress"
            @blur="$v.payment.streetAddress.$touch()"
            autocomplete="address-line1"
            :validations="[{
              condition: $v.payment.streetAddress.$error && !$v.payment.streetAddress.required,
              text: $t('Field is required.')
            }]"
          />

          <base-input
            class="w-6/12 mb-20 pl-10"
            type="text"
            :label="false"
            name="apartment-number"
            :placeholder="$t('House Number *')"
            v-model.trim="payment.apartmentNumber"
            @blur="$v.payment.apartmentNumber.$touch()"
            autocomplete="address-line2"
            :validations="[{
              condition: $v.payment.apartmentNumber.$error && !$v.payment.apartmentNumber.required,
              text: $t('Field is required.')
            }]"
          />

          <base-input
            class="w-6/12 mb-20 pr-10"
            type="text"
            :label="false"
            name="zip-code"
            :placeholder="$t('Zip-code *')"
            v-model.trim="payment.zipCode"
            @blur="$v.payment.zipCode.$touch()"
            autocomplete="postal-code"
            :validations="[
              {
                condition: $v.payment.zipCode.$error && !$v.payment.zipCode.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.payment.zipCode.minLength,
                text: $t('Zip-code must have at least 3 letters.')
              }
            ]"
          />
          <base-select
            class="w-6/12 md:w-6/12 mb-20 pl-10"
            name="state"
            :options="regionList"
            :selected="payment.state"
            :placeholder="!payment.state ? $t('Select State *'): null"
            v-model="payment.state"
            autocomplete="state-name"
            :validations="[{
              condition: $v.payment.state.$error && !$v.payment.state.required,
              text: $t('Field is required')
            }]"
          />
          <div class="w-full border-b border-gray-500 pb-15 mb-15 md:pb-30 md:mb-30">
            <base-input
              class="w-full"
              :label="false"
              type="text"
              name="phone-number"
              :placeholder="`${$t('Phone Number')} *`"
              v-model.trim="payment.phoneNumber"
              :validations="[
                {
                  condition: $v.payment.phoneNumber.$error && !$v.payment.phoneNumber.required,
                  text: $t('Field is required.')
                }
              ]"
              autocomplete="tel"
              @blur="$v.payment.phoneNumber.$touch()"
            />
          </div>
          <h4 class="cl-black mt-0 mb-15">
            {{ $t("Payment method") }}
          </h4>
           <template v-for="method in updatedpaymentMethods">
            <div :class="{'w-full border radiostyled-row border-gray-50  mb-20': (method.code !== 'affirm_gateway' || (method.code === 'affirm_gateway' && payment.country !== 'CA'))}" :key="method.code">
            <label v-if="method.code !== 'affirm_gateway' || (method.code === 'affirm_gateway' && payment.country !== 'CA')" class="radioStyled radiostyled-row mb-0 py-12 md:py-17 px-20 pl-45"> {{ method.title ? method.title : method.name }}
              <input
                type="radio"
                :value="method.code"
                name="payment-method"
                v-model="payment.paymentMethod"
                @change="$v.payment.paymentMethod.$touch(); changePaymentMethod();"
              >
              <span class="checkmark" />
              <div class="w-full">
                <braintree-dropin v-if="(method.code === 'braintree' || method.code === 'braintree_paypal') && method.code == payment.paymentMethod && isActive" :payment-method="method.code" @cardValidation="cardValidation" />
              </div>
              </label>
            </div>
          </template>
          <span class="validation-error" v-if="!$v.payment.paymentMethod.required">{{ $t('Field is required.') }}</span>
        </div>
        <div class="mt-10" v-show="isActive">
          <base-checkbox
            class="mb-15 text-gray-900"
            id="acceptTermsCheckbox"
            v-model="orderReview.terms"
            :validations="[{
              condition: !$v.orderReview.terms.sameAs && $v.orderReview.terms.$error,
              text: $t('Field is required.')
            }]"
          >
            <span class="leading-22 cursor-default">
              {{ $t('By Selecting “Place Order”, I Agree to the BestOnlineCabinet ') }}
              <router-link :to="localizedRoute('/terms-of-use')" :title="$t('Terms of Use')" class="underline">
                {{ $t('Terms of Use') }}
              </router-link> {{ $t('& Acknowledge that i have read the BestOnlineCabinet') }}
              <router-link :to="localizedRoute('/privacy-policy')" :title="$t('Privacy Policy')" class="underline">
                {{ $t('Privacy Policy') }}
              </router-link>
            </span>
          </base-checkbox>
          <base-checkbox
            class="mb-20 text-gray-900"
            id="Acknowledgement"
            v-model="Acknowledgement.AcknowledgementText"
          >
            <span class="leading-22">
              {{ $t('Necessary Accessories') }}
              <router-link :to="localizedRoute('/')" :title="$t('Acknowledgement')" class="underline">
                {{ $t('Acknowledgement') }}
              </router-link>
            </span>
          </base-checkbox>
          <base-textarea
            class="mb-25"
            type="text"
            name="body"
            :label="false"
            v-model="Acknowledgement.FeddBack"
            :placeholder="$t('Comments / Special Instructions')"
            :autofocus="true"
          />
        </div>
        <div class="w-full md:w-6/12" v-show="isActive" v-if="payment.paymentMethod !== 'braintree_paypal'">
          <slot name="placeOrderButton">
            <button-full
              @click.native="(payment.paymentMethod === 'braintree') ? payWithCreditCard() : savePaymentDetail()"
              data-testid="orderReviewSubmit"
              class="place-order-btn"
              :disabled="$v.orderReview.$invalid || $v.payment.$invalid || (payment.paymentMethod === 'braintree' && !isPlaceOrder)"
            >
              {{ $t('Place The Order') }}
            </button-full>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { sameAs } from 'vuelidate/lib/validators'
import { required, minLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import { Payment } from '@vue-storefront/core/modules/checkout/components/Payment'
import { OrderReview } from '@vue-storefront/core/modules/checkout/components/OrderReview'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import ButtonFull from 'theme/components/theme/ButtonFull'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import Tooltip from 'theme/components/core/Tooltip'
import BraintreeDropin from 'src/modules/bocm/vsf-payment-braintree/components/Dropin'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { OrderModule } from '@vue-storefront/core/modules/order'
import Composite from '@vue-storefront/core/mixins/composite'
import { mapGetters } from 'vuex'
import regionList from 'theme/resource/region.json'
import Countries from 'theme/resource/countries.json'

export default {
  data () {
    return {
      countries: Countries,
      Acknowledgement: {
        AcknowledgementText: '',
        FeddBack: ''
      },
      orderReview: {
        terms: true
      },
      isPlaceOrder: false,
      sendToShippingAddress: true
    }
  },
  components: {
    BaseCheckbox,
    BaseInput,
    BaseTextarea,
    BaseSelect,
    ButtonFull,
    Tooltip,
    BraintreeDropin
  },
  mixins: [OrderReview, Payment, Composite],
  computed: {
    ...mapGetters({
      hostedFieldInstance: 'braintree/getHostedFieldInstance'
    }),
    updatedpaymentMethods () {
      let paymentMethod = this.paymentMethods.filter(method => {
        // Change by mehul svaliya
        if (method.code.includes('braintree') && (method.code === 'braintree' || method.code === 'braintree_paypal')) {
          return true
        } else if (!method.code.includes('braintree')) {
          return true
        }
        return false
      })
      return paymentMethod
    },
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        };
      });
    },
    regionList () {
      return regionList.filter(region => {
        if (region.country_id === this.payment.country) {
          return true
        }
        return false
      })
    }
  },
  watch: {
    'payment.country': {
      handler (nV) {
        this.payment.paymentMethod = null
      },
      immediate: true
    }
  },
  beforeCreate () {
    registerModule(OrderModule)
  },
  methods: {
    async savePaymentDetail () {
      this.$bus.$emit('checkout-after-paymentDetails', this.payment, this.$v)
      this.placeOrder()
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    },
    payWithCreditCard () {
      if (this.hostedFieldInstance) {
        this.hostedFieldInstance
          .tokenize()
          .then((payload) => {
            let payment = Object.assign({}, this.payment, {
              paymentMethodAdditional: {
                payment_method_nonce: payload.nonce
              }
            })
            this.$bus.$emit('checkout-after-paymentDetails', payment, this.$parent.$v)
            this.$bus.$emit('checkout-do-placeOrder', { payment_method_nonce: payload.nonce })
          })
          .catch((err) => {
            this.error = err.message;
          });
      }
    },
    cardValidation (value) {
      if (value.number && value.expireDate && value.cvv) {
        this.isPlaceOrder = true
      } else {
        this.isPlaceOrder = false
      }
    }
  },
  validations () {
    return {
      payment: {
        firstName: {
          required,
          minLength: minLength(2),
          unicodeAlpha
        },
        lastName: {
          required,
          unicodeAlpha
        },
        country: {
          required
        },
        state: {
          required
        },
        phoneNumber: {
          required
        },
        streetAddress: {
          required,
          unicodeAlphaNum
        },
        apartmentNumber: {
          required,
          unicodeAlphaNum
        },
        zipCode: {
          required,
          minLength: minLength(3),
          unicodeAlphaNum
        },
        city: {
          required,
          unicodeAlpha
        },
        paymentMethod: {
          required
        }
      },
      orderReview: {
        terms: {
          sameAs: sameAs(() => true)
        }
      }
    }
  }
}
</script>
