<template>
  <div class="shipping-details checkout">
    <!-- <div :class="{'active': isActive || isFilled,'noactive': !isFilled && !isActive}"></div> -->
    <div class="flex">
      <div class="w-30 h-30 md:h-35  md:w-1/12 relative z-1 -mr-25 md:mr-0">
        <div
          class="w-30 h-30 md:w-35 md:h-35 leading-30 md:leading-35 text-sm md:text-base rounded-full text-center text-white font-bold"
          :class="{
            'bg-gray-200': isActive || isFilled,
            'bg-gray-600': !isFilled && !isActive
          }"
        >
          2
        </div>
      </div>
      <div class="w-full md:w-11/12">
        <div class="flex items-center mb-25 md:mb-35 justify-between pl-35 md:pl-0" :class="{ 'pb-25 md:pb-0 border-b border-gray-500 md:border-0 md:mb-30' : !isFilled && !isActive }">
          <h3 class="m-0 leading-normal text-16 md:text-18 text-gray-200 pl-5 md:pl-0 pt-6 md:pt-8" :class="{ 'text-gray-600' : !isFilled && !isActive }">
            {{ $t('Shipping Address') }}
          </h3>
          <a href="#" class="flex md:ml-30 text-gray-200" @click.prevent="edit" v-if="isFilled && !isActive">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.64157 18.0621C5.46792 18.2357 5.23241 18.3333 4.98684 18.3333H2.59259C2.08122 18.3333 1.66667 17.9187 1.66667 17.4074V15.0131C1.66667 14.7675 1.76422 14.532 1.93787 14.3584L13.9749 2.32135C14.3365 1.95976 14.9228 1.95976 15.2844 2.32135L17.6786 4.7156C18.0402 5.0772 18.0402 5.66346 17.6786 6.02506L5.64157 18.0621Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M12.5002 4.16675L15.8335 7.50008" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span class="pl-5">
              {{ $t('Edit') }}
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="flex" v-if="isActive">
      <div class="w-30 h-30 md:h-35  md:w-1/12 relative z-1 -mr-25 md:mr-0" />
      <div class="w-full md:w-11/12 ">
        <div class="-mx-10">
          <div class="flex pt-0 md:pt-15 customer-address w-full flex-wrap" v-if="getallAddresses.length > 0 && !customAddress && isLoggedIn">
            <div class="customer-address w-full  md:w-6/12 h-full p-10 pt-0 pb-20" v-for="address of getallAddresses" :key="address.id" :class="{'primary-address' : address.default_billing}">
              <div class="shipping-summary  border border-gray-500 rounded-sm h-full p-20 cursor-pointer" :class="currentAddress && currentAddress.id ? currentAddress.id === address.id ? 'active border-gray-200' : '': ''" @click="updateAddress(address)">
                <div class="address-box">
                  <p class="full-name pb-2">
                    {{ address.firstname }} {{ address.lastname }}
                  </p>
                  <p class="pb-2" v-if="address.company">
                    {{ address.company }}
                  </p>
                  <p class="pb-2">
                    {{ address.street[0] }}
                    <span v-if="address.street[1]"> {{ address.street[1] }}</span>
                  </p>
                  <p class="pb-2">
                    {{ address.city }} {{ address.postcode }}
                  </p>
                  <p class="pb-2">
                    <span v-if="address.region">{{ address.region.region }}, </span>
                    {{ getCountryName(address.country_id) }}
                  </p>
                  <p class="telephone pb-2" v-if="address.telephone">
                    {{ address.telephone }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <base-checkbox
          v-if="currentUser && getallAddresses.length"
          class="pt-10 pb-20 "
          id="customAddressCheckbox"
          v-model="customAddress"
        >
          {{ $t("Ship to custom address") }}
        </base-checkbox>
        <div class="flex flex-wrap" v-if="customAddress">
          <base-input
            class="w-6/12 md:w-6/12 mb-20 pr-10"
            type="text"
            name="first-name"
            :label="false"
            :placeholder="$t('First Name') + ' *'"
            v-model.trim="shipping.firstName"
            @blur="$v.shipping.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition:
                  $v.shipping.firstName.$error &&
                  !$v.shipping.firstName.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.shipping.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="w-6/12 md:w-6/12 mb-20 pl-10"
            type="text"
            :label="false"
            name="last-name"
            :placeholder="$t('Last Name') + ' *'"
            v-model.trim="shipping.lastName"
            @blur="$v.shipping.lastName.$touch()"
            autocomplete="family-name"
            :validations="[
              {
                condition:
                  $v.shipping.lastName.$error && !$v.shipping.lastName.required,
                text: $t('Field is required')
              }
            ]"
          />
          <base-select
            class="w-6/12 md:w-6/12 mb-20 pr-10"
            name="countries"
            :options="countryOptions"
            :selected="shipping.country"
            :placeholder="!shipping.country ? $t('Select Country *'): null"
            :validations="[
              {
                condition:
                  $v.shipping.country.$error && !$v.shipping.country.required,
                text: $t('Field is required')
              }
            ]"
            v-model="shipping.country"
            autocomplete="country-name"
            @blur="$v.shipping.country.$touch()"
            @change.native="
              $v.shipping.country.$touch();
              changeCountry();
            "
          />
          <base-input
            class="w-6/12 md:w-6/12 mb-20 pl-10"
            type="text"
            name="city"
            :label="false"
            :placeholder="$t('City *')"
            v-model.trim="shipping.city"
            @blur="$v.shipping.city.$touch()"
            autocomplete="address-level2"
            :validations="[
              {
                condition:
                  $v.shipping.city.$error && !$v.shipping.city.required,
                text: $t('Field is required')
              },
              {
                condition: $v.shipping.city.$error && $v.shipping.city.required,
                text: $t('Please provide valid city name')
              }
            ]"
          />
          <base-input
            class="w-6/12 md:w-6/12 mb-20 pr-10"
            type="text"
            :label="false"
            name="street-address"
            :placeholder="$t('Street Name') + ' *'"
            v-model.trim="shipping.streetAddress"
            @blur="$v.shipping.streetAddress.$touch()"
            autocomplete="address-line1"
            :validations="[
              {
                condition:
                  $v.shipping.streetAddress.$error &&
                  !$v.shipping.streetAddress.required,
                text: $t('Field is required')
              }
            ]"
          />

          <base-input
            class="w-6/12 md:w-6/12 mb-20 pl-10"
            type="text"
            :label="false"
            name="apartment-number"
            :placeholder="$t('House Number') + ' *'"
            v-model.trim="shipping.apartmentNumber"
            @blur="$v.shipping.apartmentNumber.$touch()"
            autocomplete="address-line2"
            :validations="[
              {
                condition:
                  $v.shipping.apartmentNumber.$error &&
                  !$v.shipping.apartmentNumber.required,
                text: $t('Field is required')
              }
            ]"
          />
          <base-input
            class="w-6/12 md:w-6/12 mb-20 pr-10"
            type="text"
            name="zip-code"
            :label="false"
            :placeholder="$t('Zip-code *')"
            v-model.trim="shipping.zipCode"
            @blur="$v.shipping.zipCode.$touch()"
            autocomplete="postal-Code"
            :validations="[
              {
                condition:
                  $v.shipping.zipCode.$error && !$v.shipping.zipCode.required,
                text: $t('Field is required')
              }
            ]"
          />
          <base-select
            class="w-6/12 md:w-6/12 mb-20 pl-10"
            name="state"
            :options="regionList"
            :selected="shipping.state"
            :placeholder="!shipping.state ? $t('Select State *'): null"
            v-model="shipping.state"
            autocomplete="state-name"
            :validations="[{
              condition: $v.shipping.state.$error && !$v.shipping.state.required,
              text: $t('Field is required')
            }]"
          />
          <div class="w-full shipping-phone mb-15">
            <base-input
              class="mb-6"
              type="text"
              name="phone"
              autocomplete="phone-no"
              :placeholder="`${$t('Phone Number')}` + ' *'"
              v-model="shipping.phoneNumber"
              :label="false"
              @blur="$v.shipping.phoneNumber.$touch()" :validations="[
                {
                  condition: $v.shipping.phoneNumber.$error && !$v.shipping.phoneNumber.required,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.shipping.phoneNumber.numeric || !$v.shipping.phoneNumber.minLength || !$v.shipping.phoneNumber.maxLength,
                  text: $t('Please enter a valid phone number')
                }]"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex" v-if="isActive">
      <div class="w-30 h-30 md:h-35 md:w-1/12 relative z-1 -mr-25 md:mr-0" />
      <div class="w-full md:w-11/12">
        <h4 class="cl-black mt-0 mb-15">
          {{ $t("Shipping method") }}
        </h4>
        <div class="col-md-6 px0 pb20" v-if="!shippingMethods.length">
          <span class="validation-error">
            {{ $t("No Shipping Available for selected address!") }}
          </span>
        </div>
        <div
          v-for="(method, index) in shippingMethods"
          :key="index"
        >
          <label class="radioStyled">
            {{ method.method_title }} | {{ method.amount | price(storeView) }}
            <input
              type="radio"
              :value="method.method_code"
              name="shipping-method"
              v-model="shipping.shippingMethod"
              @change="
                $v.shipping.shippingMethod.$touch();
                changeShippingMethod();
              "
            >
            <span class="checkmark" />
          </label>
          <span
            class="validation-error"
            v-if="
              $v.shipping.shippingMethod.$error &&
                !$v.shipping.shippingMethod.required
            "
          >
            {{ $t("Field is required") }}
          </span>
        </div>
      </div>
    </div>
    <div class="flex pl20" v-if="isActive">
      <div class="w-30 h-30 md:h-35  md:w-1/12 relative z-1 -mr-25 md:mr-0" />
      <div class="w-full md:w-11/12">
        <base-checkbox
          v-if="isLoggedIn && customAddress"
          class="mt-10"
          id="saveShippingAddress"
          v-model="saveShippingAddress"
        >
          {{ $t("Save Shipping Address") }}
        </base-checkbox>
        <!-- <div v-if="$v.shipping.$invalid && !customAddress" class="my-10 flex p-15 border border-burnt-sienna rounded-sm">
          <svg width="30" height="30" class="mr-10 min-w-30" viewBox="0 0 87 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="43.5" cy="43" r="41.5" stroke="#E90051" stroke-width="3" />
            <circle cx="44.5" cy="59" r="4" fill="#E90051" />
            <path d="M40.785 26.9898C40.631 24.8339 42.3385 23 44.5 23V23C46.6615 23 48.369 24.8339 48.215 26.9898L46.6425 49.0051C46.5622 50.1291 45.6269 51 44.5 51V51C43.3731 51 42.4378 50.1291 42.3575 49.0051L40.785 26.9898Z" fill="#E90051" />
          </svg>
          <p class="m-0 p-0 text-burnt-sienna">
            {{ $t('The address you have select may be incorrect. Please update your address or add new address to continue.') }}
            <router-link :to="localizedRoute('/my-account/shipping-details')" class="cl-black decoration-underline">
              {{ $t('click here') }}
            </router-link>
          </p>
        </div> -->
        <div class="w-full mb-15 md:w-6/12 md:pr-10 pt-20 md:mb-40 border-b border-gray-500 md:border-0 pb-20 md:pb-0">
          <button-full
            data-testid="shippingSubmit"
            @click.native="sendDataToCheckout"
            :disabled="$v.shipping.$invalid || shippingMethods.length <= 0"
          >
            {{ $t("Continue to Payment Method") }}
          </button-full>
        </div>
      </div>
      <div class="brdr-bottom-1 brdr-cl-silver pt30 checkout-bottom" />
    </div>
    <div class="flex pl20" v-if="!isActive && isFilled">
      <div class="w-30 h-30 md:h-35 md:w-1/12 relative z-1 -mr-25 md:mr-0" />
      <div class="w-full md:w-11/12">
        <div class="editmode text-16 text-gray-200 font-medium pb-10 mb-15 md:mb-0 border-b border-gray-500 md:border-0 md:pb-20" data-testid="shippingAddressSummary">
          <p>{{ shipping.firstName }} {{ shipping.lastName }}</p>
          <p>{{ shipping.streetAddress }} {{ shipping.apartmentNumber }}</p>
          <p>{{ shipping.city }} {{ shipping.zipCode }}</p>
          <p>
            <span v-if="shipping.state">{{ shipping.state }}, </span>
            <span>{{ getCountryName() }}</span>
          </p>
          <div class="pt-10" v-if="shipping.phoneNumber">
            <span class="pr15">{{ shipping.phoneNumber }}</span>
          </div>
          <h4 class="m-0 pt-10 pb-5">
            {{ $t("Shipping method") }}
          </h4>
          <p>
            {{ getShippingMethod().method_title }} |
            {{ getShippingMethod().amount | price(storeView) }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, numeric, maxLength, minLength, requiredIf } from 'vuelidate/lib/validators'
import {
  unicodeAlpha,
  unicodeAlphaNum
} from '@vue-storefront/core/helpers/validators';
import { Shipping } from '@vue-storefront/core/modules/checkout/components/Shipping';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox';
import BaseInput from 'theme/components/core/blocks/Form/BaseInput';
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect';
import ButtonFull from 'theme/components/theme/ButtonFull';
import { mapState, mapGetters } from 'vuex'
import regionList from 'theme/resource/region.json'
import Countries from 'theme/resource/countries.json'

export default {
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput,
    BaseSelect
  },
  data () {
    return {
      countries: Countries,
      customAddress: false,
      phoneInputResult: null,
      isNumberValid: false,
      defaultCountry: currentStoreView().i18n.defaultCountry,
      saveShippingAddress: true,
      customer: {},
      currentAddress: this.myAddressDetails
    };
  },
  mixins: [Shipping],
  watch: {
    isActive: {
      handler () {
        if (this.isLoggedIn) {
          if (typeof this.currentAddress !== 'undefined') {
            this.updateAddress(this.currentAddress)
          } else if (typeof this.getDefaultAddress !== 'undefined') {
            this.updateAddress(this.getDefaultAddress)
          } else {
            this.updateDefaultAddress()
          }
        }
      }
    },
    shipping (nV, oV) {
      this.myAddressDetails = nV
    },
    customAddress (nV, oV) {
      if (nV) {
        this.shipping = {
          firstName: '',
          lastName: '',
          country: '',
          state: '',
          city: '',
          streetAddress: '',
          apartmentNumber: '',
          zipCode: '',
          phoneNumber: '',
          shippingMethod: ''
        }
      } else {
        if (typeof this.currentAddress !== 'undefined') {
          this.updateAddress(this.currentAddress)
        } else {
          if (typeof this.getDefaultAddress !== 'undefined') {
            this.updateAddress(this.getDefaultAddress)
          }
        }
      }
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    }),
    ...mapGetters({
      personalDetails: 'checkout/getPersonalDetails',
      shippingMethods: 'checkout/getShippingMethods',
      isLoggedIn: 'user/isLoggedIn'
    }),
    countryOptions () {
      return this.countries.map(item => {
        return {
          value: item.code,
          label: item.name
        };
      });
    },
    regionList () {
      return regionList.filter(region => {
        if (region.country_id === this.shipping.country) {
          return true
        }
        return false
      })
    },
    region () {
      return this.regionList.find(region => region.value === this.shipping.state) || {}
    },
    storeView () {
      return currentStoreView();
    },
    getallAddresses () {
      let { current } = this.$store.state.user
      return current ? current.addresses : []
    },
    getDefaultAddress () {
      return this.getallAddresses.find(x => x.default_shipping === true)
    }
  },
  methods: {
    getCountryName (country = this.shipping.country) {
      for (let i = 0; i < this.countries.length; i++) {
        if (this.countries[i].code === country) {
          return this.countries[i].name
        }
      }
      return ''
    },
    updateAddress (address) {
      this.isNumberValid = true
      this.myAddressDetails = address
      this.currentAddress = address
      this.updateDefaultAddress()
    },
    changePhoneInput (e) {
      this.isNumberValid = e.isValid;
    },
    updateDefaultAddress () {
      let address = this.myAddressDetails
      if (address && address.customer_id) {
        this.shipping = {
          firstName: address.firstname,
          lastName: address.lastname,
          country: address.country_id,
          state: (address.region && address.region.region) ? address.region.region : address.state,
          city: address.city,
          streetAddress: address.street[0],
          apartmentNumber: address.street[1],
          zipCode: address.postcode,
          phoneNumber: address.telephone,
          shippingMethod: this.checkoutShippingDetails.shippingMethod,
          shippingCarrier: this.checkoutShippingDetails.shippingCarrier
        }
      } else {
        this.shipping = {
          firstName: address.firstName,
          lastName: address.lastName,
          streetAddress: address.streetAddress,
          apartmentNumber: address.apartmentNumber,
          city: address.city,
          zipCode: address.zipCode,
          state: address.state,
          country: address.country,
          phoneNumber: address.phoneNumber,
          shippingMethod: this.checkoutShippingDetails.shippingMethod,
          shippingCarrier: this.checkoutShippingDetails.shippingCarrier
        }
      }
      this.defaultCountry = address.country_id
      this.shipping.region_id = this.region.region_id ? this.region.region_id : 0
      this.$set(this, 'shipping', this.shipping)
      this.changeCountry()
    },
    useMyAddress () {
      if (this.shipToMyAddress) {
        this.$set(this, 'shipping', this.shipping)
      } else {
        this.$set(this, 'shipping', this.checkoutShippingDetails)
      }
      this.changeCountry()
    },
    saveAddress () {
      if (this.isLoggedIn && this.customAddress && this.saveShippingAddress) {
        this.customer = {
          firstName: this.shipping.firstName,
          lastName: this.shipping.lastName,
          street: this.shipping.streetAddress,
          house: this.shipping.apartmentNumber,
          city: this.shipping.city,
          postcode: this.shipping.zipCode,
          region: this.shipping.state,
          country: this.shipping.country,
          phone: this.shipping.phoneNumber,
          default_shipping: false,
          default_billing: false
        }
        return new Promise(() => {
          this.$store.dispatch('address-book/addAddress', this.customer)
        })
      }
    },
    sendDataToCheckout () {
      this.updateAddress(this.shipping)
      this.$bus.$emit('checkout-after-shippingDetails', this.shipping, this.$v)
      this.isFilled = true
      this.saveAddress()
    }
  },
  mounted () {
    this.customAddress = this.currentUser != null ? this.currentUser.addresses.length === 0 : true
  },
  validations () {
    return {
      shipping: {
        firstName: {
          required,
          minLength: minLength(2),
          unicodeAlpha
        },
        lastName: {
          required,
          unicodeAlpha
        },
        country: {
          required
        },
        state: {
          required
        },
        phoneNumber: {
          required,
          numeric,
          minLength: minLength(10),
          maxLength: maxLength(12)
        },
        streetAddress: {
          required,
          unicodeAlphaNum
        },
        apartmentNumber: {
          required,
          unicodeAlphaNum
        },
        shippingMethod: {
          required
        },
        zipCode: {
          required: true
        },
        city: {
          required,
          unicodeAlpha
        }
      }
    }
  }
};
</script>
