<template>
  <div class="thankyou-page px-25 text-center text-lg text-gray-600">
    <div v-if="OnlineOnly">
      <svg v-if="lastOrderConfirmation.type !== 'error'" width="84" class="successfully inline-block w-50 h-50 md:w-84 md:h-84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="42" cy="42" r="41" stroke="#222222" stroke-width="2" />
        <path d="M21.9998 46.6458L35.7022 58.6863L60.7572 32.1117" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <svg v-else width="87" class="w-50 h-50 md:w-84 md:h-84 erroro-icon inline-block" height="84" viewBox="0 0 87 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="44" cy="42" r="41" stroke="#222222" stroke-width="2" />
        <path d="M44.5 61.3372C46.7091 61.3372 48.5 59.6504 48.5 57.5697C48.5 55.489 46.7091 53.8023 44.5 53.8023C42.2909 53.8023 40.5 55.489 40.5 57.5697C40.5 59.6504 42.2909 61.3372 44.5 61.3372Z" fill="black" />
        <path d="M40.785 27.4206C40.631 25.3901 42.3385 23.6628 44.5 23.6628C46.6615 23.6628 48.369 25.3901 48.215 27.4206L46.6425 48.156C46.5622 49.2146 45.6269 50.0349 44.5 50.0349C43.3731 50.0349 42.4378 49.2146 42.3575 48.156L40.785 27.4206Z" fill="black" />
      </svg>
    </div>
    <h2 class="text-20 md:text-40 leading-30 md:leading-50 text-gray-200 m-0 pt-20 md:pt-40 pb-20" v-if="OnlineOnly">
      {{ $t('Thank You For Your Order') }}
    </h2>
    <p class="pb-40" v-if="OnlineOnly" v-html="this.$t('You have successfuly placed the order. You can check status of your order by using our <b>delivery status</b> feature. You will receive an order confirmation e-mail with details of your order and a link to track its progress.')" />
    <p class="order-id text-24 pb-40" v-if="OnlineOnly && lastOrderConfirmation.orderNumber">
      {{ $t('Your Order ID') }} : <span class="cl-black text-gray-200">#{{ lastOrderConfirmation.orderNumber }} </span>
    </p>
    <p class="order-id text-24 pb-40" v-if="OnlineOnly && lastOrderConfirmation.increment_id">
      {{ $t('Your Order ID') }} : <span class="cl-black text-gray-200">#{{ lastOrderConfirmation.increment_id }} </span>
    </p>
    <h3 class="text-40 leading-50 text-gray-200 m-0 pt-40 pb-20" v-if="OfflineOnly">
      {{ $t('You are offline') }}
    </h3>
    <p class="pb-40" v-if="OfflineOnly && !isNotificationSupported">
      {{ $t('To finish the order just come back to our store while online. Your order will be sent to the server as soon as you come back here while online and then confirmed regarding the stock quantities of selected items') }}
    </p>
    <p class="pb-40" v-if="OfflineOnly && isNotificationSupported && !isPermissionGranted">
      {{ $t("You can allow us to remind you about the order via push notification after coming back online. You'll only need to click on it to confirm.") }}
    </p>
    <p class="pb-40" v-if="OfflineOnly && isNotificationSupported && !isPermissionGranted">
      {{ $t(`Or if you will stay on "Order confirmation" page, the order will be placed automatically without confirmation, once the internet connection will be back.`) }}
    </p>
    <p class="pb-40" v-if="OfflineOnly && isNotificationSupported && isPermissionGranted">
      <strong>{{ $t('You will receive Push notification after coming back online. You can confirm the order by clicking on it') }}</strong>
    </p>
    <button-full
      color="dark"
      class="md:w-auto md:inline-block md:px-60"
      @click.native="$router.push('/')"
    >
      {{ $t('Back to Shopping') }}
    </button-full>
    <div id="thank-you-extensions" />
  </div>
</template>

<script>
import Composite from '@vue-storefront/core/mixins/composite'
import VueOfflineMixin from 'vue-offline/mixin'
import { EmailForm } from '@vue-storefront/core/modules/mailer/components/EmailForm'
import { isServer } from '@vue-storefront/core/helpers'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { MailerModule } from '@vue-storefront/core/modules/mailer'
import ButtonFull from 'theme/components/theme/ButtonFull'
export default {
  name: 'ThankYouPage',
  mixins: [Composite, VueOfflineMixin, EmailForm],
  beforeCreate () {
    registerModule(MailerModule)
  },
  computed: {
    lastOrderConfirmation () {
      return this.$store.state.order.last_order_confirmation ? this.$store.state.order.last_order_confirmation.confirmation : {}
    },
    isNotificationSupported () {
      if (isServer || !('Notification' in window)) return false
      return 'Notification' in window
    },
    isPermissionGranted () {
      if (isServer || !('Notification' in window)) return false
      return Notification.permission === 'granted'
    },
    checkoutPersonalEmailAddress () {
      return this.$store.state.checkout.personalDetails.emailAddress
    },
    mailerElements () {
      return config.mailer.contactAddress
    }
  },
  methods: {
    requestNotificationPermission () {
      if (isServer) return false
      if ('Notification' in window && Notification.permission !== 'granted') {
        Notification.requestPermission()
      }
    },
    onSuccess (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message,
        action1: { label: this.$t('OK') }
      })
      if (this.mailerElements.sendConfirmation) {
        this.sendEmail(
          {
            sourceAddress: this.mailerElements,
            targetAddress: this.checkoutPersonalEmailAddress,
            subject: this.$t('Confirmation of receival'),
            emailText: this.$t(`Dear customer,\n\nWe have received your letter.\nThank you for your feedback!`),
            confirmation: true
          }
        )
      }
    },
    onFailure (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message,
        action1: { label: this.$t('OK') }
      })
    }
  },
  destroyed () {
    this.$store.dispatch('checkout/setThankYouPage', false)
  },
  components: {
    ButtonFull
  }
}
</script>
