<template>
  <div class="sub-cat-item item product relative">
    <label class="catgroup-label absolute right-0 top-0 bg-gray-200 text-white text-xs font-medium py-6 px-20">{{ category.catgroup }}</label>
    <router-link
      :to="categoryLink(category)"
      data-testid="categoryLink"
    >
      <div class="product-cover bg-gray-300 mb-10 sm:mb-20">
        <div class="product-image mix-blend-multiply overflow-hidden relative w-full max-w-full h-0 product-image--width">
          <img height="289" width="289" :alt="category.name" class="product-image__thumb duration-500 opacity-100 ease-in-out absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 w-full object-cover object-top" :src="thumbnail">
          <img :src="thumbnail" height="289" width="289" :alt="category.name" @error="placeholder">
        </div>
      </div>
    </router-link>
    <div class="item-info">
      <p class="pb-5 sm:pb-15 text-sm sm:text-18 font-medium text-gray-200 ellipsis">
        {{ category.name }}
      </p>
      <div class="cat-price">
        <label class="block text-gray-600 text-sm pb-6">Basic Kitchen Starting At</label>
        <span class="value text-sm sm:text-18 font-bold mr-10">$ {{ category.catprice }}</span>
        <span class="value text-sm sm:text-15 text-gray-600 line-through">
          $ {{ category.spcatprice }}
        </span>
      </div>
      <div class="actions sm:grid sm:grid-cols-2 sm:gap-10 pt-16">
        <button-outline :link="category.f_cat_sample_link" v-if="category.f_cat_sample_link" color="light" class="mb-5 sm:mb-0 leading-15 min-w-0 py-14 px-10 text-center w-full bg-gray-200 border-gray-200 text-white">
          {{ $t('Order a Sample') }}
        </button-outline>
        <button-outline :link="categoryLink(category)" color="light" class="leading-15  min-w-0 py-14 px-10 text-center w-full ml-auto border-gray-200">
          {{ $t('Shop Now') }}
        </button-outline>
      </div>
    </div>
  </div>
</template>
<script>
import config from 'config'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import ButtonOutline from 'theme/components/theme/ButtonOutline'

export default {
  name: 'CategoryTile',
  data () {
    return {
      placeholder: '/assets/placeholder.jpg'
    }
  },
  props: {
    category: {
      type: Object,
      required: true
    }
  },
  components: {
    ButtonOutline
  },
  computed: {
    thumbnail () {
      return this.getThumbnail(this.category.cat_thumbnail, config.products.thumbnails.width, config.products.thumbnails.height)
    }
  },
  methods: {
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
};
</script>
<style lang="scss">
.current-sale-layout{
  .sub-cat-item{
    .product-cover .product-image .product-image__thumb {
        opacity:inherit;
    }
    .product-cover .product-image:hover .product-image__thumb{
      --tw-scale-x: 1.1;
      --tw-scale-y: 1.1;
    }
    .product-image{
      padding-bottom: calc(300% / (277.5 / 93));
    }
    .product-cover .product-image:hover .product-image__thumb{
      --tw-scale-x: 1.1;
      --tw-scale-y: 1.1;
    }
  }
}
</style>
