<template>
  <div class="toggle flex  items-center">
    <span class="text-sm font-medium">{{ $t('RTA') }}</span>
    <label class="switch relative nline-block h-28 w-54 mx-15">
      <input class="opacity-0 w-0 h-0" type="checkbox" :checked="value" @change="$emit('change', $event.target.checked)">
      <span class="slider round absolute inset-0 cursor-pointer bg-gray-200" />
    </label>
    <span class="text-sm">{{ $t('Pre-Assembled') }}</span>
  </div>
</template>
<script>
export default {
  name: 'CheckboxToggle',
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    value: {
      type: Boolean,
      required: true
    }
  }
}
</script>
<style scoped>

.slider {
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f18606;
}

input:focus + .slider {
  box-shadow: 0 0 1px #222;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider:hover {
    background: #fde4c7;
}
</style>
