<template>
  <div class="col-6 offset-3">
    <div class="card bg-light relative z-0">
      <div class="card-body">
        <form id="cardForm" class="w-full">
          <div v-show="paymentMethod === 'braintree'">
            <div class="flex flex-wrap">
              <div id="creditCardNumber" class="card-input w-full md:w-6/12 md:-mr-1 mb-5 md:mb-0">
                <span class="icon-type" />
              </div>
              <div id="expireDate" class="card-input w-6/12 md:w-3/12 -mr-1" />
              <div id="cvv" class="card-input w-6/12 md:w-3/12 md:-mr-1" />
            </div>
          </div>
          <div id="paypalButton" class="paypalButton" v-show="paymentMethod === 'braintree_paypal'" />
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import braintree from 'braintree-web';
import paypal from 'paypal-checkout';
import { mapGetters } from 'vuex';
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { isServer } from '@vue-storefront/core/helpers'
import { Logger } from '@vue-storefront/core/lib/logger';
import config from 'config'

export default {
  data () {
    return {
      nonce: '',
      card: {
        number: false,
        expireDate: false,
        cvv: false
      }
    };
  },
  computed: {
    ...mapGetters({
      totals: 'cart/getTotals',
      payment: 'checkout/getPaymentDetails',
      hostedFieldInstance: 'braintree/getHostedFieldInstance'
    }),
    amount () {
      let amount = this.totals.filter(total => total.code === 'grand_total') || {}
      return amount.length && amount[0].value ? amount[0].value : 0
    }
  },
  props: {
    paymentMethod: {
      type: String,
      required: true,
      default: 'braintree'
    }
  },
  async created () {
    if (!isServer) {
      braintree.client
        .create({
          authorization: config.braintree.authorization
        })
        .then((clientInstance) => {
          let options = {
            client: clientInstance,
            styles: {
              'input': {
                'font-size': '16px',
                'color': '#ccc'
              },
              ':focus': {
                'color': 'black'
              },
              '.valid': {
                'color': '#8bdda8'
              },
              '.invalid': {
                'color': '#f00'
              }
            },
            fields: {
              number: {
                container: '#creditCardNumber',
                placeholder: 'Enter Credit Card'
              },
              cvv: {
                container: '#cvv',
                placeholder: 'Enter CVV',
                type: 'password'
              },
              expirationDate: {
                container: '#expireDate',
                placeholder: '00 / 0000'
              }
            }
          };

          return Promise.all([
            braintree.hostedFields.create(options),
            braintree.paypalCheckout.create({ client: clientInstance })
          ]);
        })
        .then((instances) => {
          const hostedFieldInstance = instances[0];
          this.$store.commit('braintree/SET_HOSTED_FIELD_INSTANCE', hostedFieldInstance)
          if (this.paymentMethod === 'braintree_paypal') {
            const paypalCheckoutInstance = instances[1];
            return paypal.Button.render({
              env: config.braintree.env,
              style: {
                label: 'paypal',
                size: 'responsive',
                shape: 'rect'
              },
              payment: () => {
                return paypalCheckoutInstance.createPayment({
                  flow: 'checkout',
                  intent: 'authorize',
                  amount: this.amount,
                  displayName: 'Best Online Cabinets',
                  currency: currentStoreView().i18n.currencyCode
                });
              },
              onAuthorize: (data, options) => {
                return paypalCheckoutInstance
                  .tokenizePayment(data)
                  .then(async (payload) => {
                    this.error = '';
                    let payment = Object.assign({}, this.$parent.payment, {
                      paymentMethodAdditional: {
                        payment_method_nonce: payload.nonce
                      }
                    })
                    this.$bus.$emit('checkout-after-paymentDetails', payment, this.$parent.$v)
                    this.$bus.$emit('checkout-do-placeOrder', { payment_method_nonce: payload.nonce })
                  });
              },
              onCancel: (data) => {
                this.notifyUser({
                  type: 'error',
                  message: this.$t('Cancelled Payment'),
                  action1: { label: this.$t('OK') }
                })
                this.$router.push('/')
              },
              onError: (err) => {
                Logger.error(err, 'Braintree Dropin 150')()
              }
            },
            '#paypalButton'
            );
          } else {
            hostedFieldInstance.on('validityChange', (event) => {
              let field = event.fields[event.emittedBy];
              if (field.isValid) {
                if (event.emittedBy === 'number') {
                  this.card.number = true
                } else if (event.emittedBy === 'expirationDate') {
                  this.card.expireDate = true
                } else if (event.emittedBy === 'cvv') {
                  this.card.cvv = true
                }
              } else {
                if (event.emittedBy === 'number') {
                  this.card.number = false
                } else if (event.emittedBy === 'expirationDate') {
                  this.card.expireDate = false
                } else if (event.emittedBy === 'cvv') {
                  this.card.cvv = false
                }
              }
              this.$emit('cardValidation', this.card)
            });
          }
        })
        .catch((err) => {
          Logger.error(err, 'Braintree Dropin 180')()
        });
    }
  },
  methods: {
    notifyUser (notificationData) {
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    }
  }
};
</script>

<style>
.card-input {
  border: 1px solid #AAAAAA;
  padding: 5px 11px;
  font-size: 16px;
  height: 34px;
}
/* This is where the magic starts */

.icon-type {
  position: absolute;
  right: 5px;
  top: 2px;
  width: 40px;
  height: 28px;
  background-image: url('https://gist.githubusercontent.com/cbetta/800a425505407de9342b/raw/5ea2b7f9a2d53193ee1fce7f55b89575074f3744/cards.png');
  background-position: -1000px 0;
  background-repeat: no-repeat;
}

.icon-type-discover {
  background-position: 0 0px;
}

.icon-type-visa {
  background-position: 0 -28px;
}

.icon-type-master-card {
  background-position: 0 -56px;
}

.icon-type-maestro {
  background-position: 0 -85px;
}

.icon-type-american-express {
  background-position: 0 -114px;
}
</style>
