<template>
  <div class="p5-20 md:pb-0">
    <div class="flex flex-wrap pb-10 md:pb-19">
      <div class="w-9/12 md:w-6/12">
        <h3 class="m-0 font-bold text-base md:text-md text-gray-200">
          {{ 'My Order' }}
        </h3>
      </div>
    </div>
    <div>
      <div class="tablewrap md:pb-20 overflow-hidden md:overflow-x-auto" v-show="!isHistoryEmpty">
        <table class="text-center md:text-left">
          <thead>
            <tr>
              <th>
                {{ 'Order no' }}
              </th>
              <th class="hidden md:table-cell">
                {{ 'Date and time' }}
              </th>
              <th class="hidden md:table-cell">
                {{ 'Tracking Number' }}
              </th>
              <th class="hidden md:table-cell">
                {{ 'Name' }}
              </th>
              <th class="hidden md:table-cell">
                {{ 'Amount' }}
              </th>
              <th class="hidden md:table-cell">
                {{ 'Status' }}
              </th>
              <th>
                &nbsp;
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="order in ordersHistory" :key="order.entity_id">
              <td>
                <label class="th md:hidden">{{ 'Order no' }}</label>
                <label class="td">#{{ order.increment_id }}</label>
              </td>
              <td class="md:table-cell">
                <label class="th md:hidden">{{ 'Date and time' }}</label>
                <label class="td">{{ order.created_at | date(null, storeView) }}</label>
              </td>
              <td class="md:table-cell">
                <label class="th md:hidden">{{ 'Tracking Number' }}</label>
                <label class="td">{{ '1000032938' }}</label>
              </td>
              <td class="md:table-cell">
                <label class="th md:hidden">{{ 'Name' }}</label>
                <label class="td">{{ order.customer_firstname }} {{ order.customer_lastname }}</label>
              </td>
              <td class="md:table-cell">
                <label class="th md:hidden">{{ 'Amount' }}</label>
                <label class="td">{{ order.grand_total | price(storeView) }}</label>
              </td>
              <td class="md:table-cell">
                <label class="th md:hidden">{{ 'Status' }}</label>
                <label class="td">{{ order.status | capitalize }}</label>
              </td>
              <td>
                <span class="relative group block dropdown">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#555555" class="cursor-pointer hidden md:flex m-auto md:m-0">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                  </svg>
                  <div class="dropdown-content text-left">
                    <router-link class="hover:bg-gray-200 hover:opacity-100 mr-10 md:mr-0 order-btn" :to="localizedRoute(`/my-account/orders/${order.entity_id}`)">
                      {{ ('View order') }}
                    </router-link>
                    <a href="#" class="hover:bg-gray-200 hover:opacity-100 ml-10 md:ml-0" @click.prevent="remakeOrder(skipGrouped(order.items))">{{ ('Remake order') }}</a>
                  </div>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-show="isHistoryEmpty">
        <p>{{ 'No orders yet' }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import UserOrder from '@vue-storefront/core/modules/order/components/UserOrdersHistory'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  mixins: [UserOrder],
  computed: {
    storeView () {
      return currentStoreView()
    }
  }
}
</script>
