<template>
  <div class="pb-40 md:pb-0">
    <!-- My profile header -->
    <div class="flex flex-wrap mb-25 border-b border-gray-500 pb-10 md:pb-15">
      <div class="w-9/12 md:w-6/12" :class="{ 'text-gray-400' : !isEdited }">
        <h3 class="m-0 mb-5 font-bold text-base md:text-md">
          {{ ('My Profile') }}
        </h3>
      </div>
      <div class="w-3/12 md:w-6/12 flex">
        <div class="leading-30 ml-auto" v-if="!isEdited">
          <a href="#" class="text-gray-200 items-center flex" @click.prevent="edit">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.60591 14.3566C4.40746 14.5551 4.1383 14.6666 3.85765 14.6666H2.39121C1.80678 14.6666 1.33301 14.1928 1.33301 13.6084V12.1419C1.33301 11.8613 1.4445 11.5921 1.64295 11.3937L10.9551 2.08151C11.3684 1.66826 12.0384 1.66826 12.4516 2.08151L13.9181 3.54795C14.3313 3.96121 14.3313 4.63122 13.9181 5.04448L4.60591 14.3566Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M10 3.33337L12.6667 6.00004" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span class="pl-8 text-sm md:text-base">
              {{ ('Edit') }}
            </span>
          </a>
        </div>
      </div>
    </div>

    <!-- My profile body (edit mode) -->
    <div class="myaccount-container" v-if="isEdited">
      <div class="flex flex-wrap -mx-10">
        <base-input
          class="w-1/2 md:w-1/2 px-10 mb-20"
          type="text"
          name="first-name"
          :label="false"
          autocomplete="given-name"
          :placeholder="'First Name*'"
          v-model.trim="currentUser.firstname"
          @input="$v.currentUser.firstname.$touch()"
          :validations="[
            {
              condition: !$v.currentUser.firstname.required,
              text: 'Field is required'
            },
            {
              condition: !$v.currentUser.firstname.minLength,
              text: 'Name must have at least 2 letters.'
            }
          ]"
        />

        <base-input
          class="w-1/2 md:w-1/2 px-10 mb-20"
          type="text"
          name="last-name"
          autocomplete="family-name"
          :label="false"
          :placeholder="'Last Name*'"
          v-model.trim="currentUser.lastname"
          @input="$v.currentUser.lastname.$touch()"
          :validations="[{
            condition: !$v.currentUser.lastname.required,
            text: 'Field is required'
          }]"
        />

        <base-input
          class="w-full md:w-1/2 px-10 mb-20"
          type="email"
          :label="false"
          name="email-address"
          autocomplete="email"
          :placeholder="'Email address*'"
          v-model="currentUser.email"
          :validations="[
            {
              condition: !$v.currentUser.email.required,
              text: 'Field is required'
            },
            {
              condition: !$v.currentUser.email.email,
              text: 'Please provide valid e-mail address.'
            }
          ]"
        />

        <!-- Change password (edit mode) -->
        <base-checkbox
          class="w-full px-10 mb-10 text-black"
          id="changePassword"
          v-model="changePassword"
        >
          {{ 'Change my password' }}
        </base-checkbox>

        <template v-if="changePassword">
          <base-input
            class="w-full md:w-1/2 px-10 mb-20 mt-20"
            type="password"
            name="old-password"
            :label="false"
            autocomplete="current-password"
            :placeholder="'Current password *'"
            v-model="oldPassword"
            @input="$v.oldPassword.$touch()"
            :validations="[{
              condition: !$v.oldPassword.required && $v.oldPassword.$error,
              text: 'Field is required'
            }]"
          />
          <div class="hidden md:block w-1/2" />
          <base-input
            class="w-full md:w-1/2 px-10 mb-20"
            type="password"
            name="password"
            :label="false"
            autocomplete="new-password"
            :placeholder="('New password *')"
            v-model="password"
            @input="$v.password.$touch()"
            :validations="[{
              condition: !$v.password.required && $v.password.$error,
              text: 'Field is required'
            }]"
          />
          <base-input
            class="w-full md:w-1/2 px-10 mb-20"
            type="password"
            name="password-confirm"
            :label="false"
            autocomplete="new-password"
            :placeholder="('Repeat new password *')"
            v-model="rPassword"
            @input="$v.rPassword.$touch()"
            :validations="[
              {
                condition: !$v.rPassword.required && $v.rPassword.$error,
                text: 'Field is required'
              },
              {
                condition: !$v.rPassword.sameAsPassword,
                text: 'Passwords must be identical.'
              }
            ]"
          />
        </template>
        <!-- Company information (edit mode) -->
        <base-checkbox
          class="w-full px-10 mb-20 text-black"
          id="addCompany"
          v-model="addCompany"
        >
          {{ 'I have a company and want to receive an invoice for every order' }}
        </base-checkbox>

        <template v-if="addCompany">
          <base-input
            class="w-full px-10 mb-20"
            type="text"
            name="company-name"
            :label="false"
            autocomplete="organization"
            :placeholder="'Company name *'"
            v-model.trim="userCompany.company"
            @input="$v.userCompany.company.$touch()"
            :validations="[{
              condition: !$v.userCompany.company.required && $v.userCompany.company.$error,
              text: 'Field is required'
            }]"
          />
          <base-input
            class="w-1/2 md:w-1/2 px-10 mb-20"
            type="text"
            name="street-address"
            autocomplete="address-line1"
            :label="false"
            :placeholder="'Street name *'"
            v-model.trim="userCompany.street"
            @input="$v.userCompany.street.$touch()"
            :validations="[{
              condition: !$v.userCompany.street.required && $v.userCompany.street.$error,
              text: 'Field is required'
            }]"
          />

          <base-input
            class="w-1/2 md:w-1/2 px-10 mb-20"
            type="text"
            name="apartment-number"
            autocomplete="address-line2"
            :label="false"
            :placeholder="'House/Apartment number *'"
            v-model.trim="userCompany.house"
            @input="$v.userCompany.house.$touch()"
            :validations="[{
              condition: !$v.userCompany.house.required && $v.userCompany.house.$error,
              text: 'Field is required'
            }]"
          />
          <base-input
            class="w-1/2 md:w-1/2 px-10 mb-20"
            type="text"
            name="city"
            autocomplete="address-level2"
            :placeholder="'City *'"
            :label="false"
            v-model.trim="userCompany.city"
            @input="$v.userCompany.city.$touch()"
            :validations="[
              {
                condition: !$v.userCompany.city.required && $v.userCompany.city.$error,
                text: 'Field is required'
              },
              {
                condition: $v.userCompany.city.$error && $v.userCompany.city.required,
                text: 'Please provide valid city name'
              }
            ]"
          />
          <base-input
            class="w-1/2 md:w-1/2 px-10 mb-20"
            type="text"
            name="state"
            autocomplete="address-level1"
            :label="false"
            :placeholder="'State / Province'"
            v-model.trim="userCompany.region"
          />
          <base-input
            class="w-1/2 md:w-1/2 px-10 mb-20"
            type="text"
            name="zip-code"
            :label="false"
            autocomplete="postal-code"
            :placeholder="'Zip-code *'"
            v-model.trim="userCompany.postcode"
            @input="$v.userCompany.postcode.$touch()"
            :validations="[
              {
                condition: !$v.userCompany.postcode.required && $v.userCompany.postcode.$error,
                text: 'Field is required'
              },
              {
                condition: !$v.userCompany.postcode.minLength,
                text: 'Zip-code must have at least 3 letters.'
              }
            ]"
          />
          <base-select
            class="w-1/2 md:w-1/2 px-10 mb-20"
            name="countries"
            :options="countryOptions"
            :selected="userCompany.country"
            :placeholder=" !userCompany.country ? 'Country' + ' *': null"
            :validations="[
              {
                condition: $v.userCompany.country.$error && !$v.userCompany.country.required,
                text: 'Field is required'
              }
            ]"
            v-model="userCompany.country"
            autocomplete="country-name"
            @blur="$v.userCompany.country.$touch()"
            @change="$v.userCompany.country.$touch()"
          />
          <base-input
            class="w-1/2 md:w-1/2 px-10 mb-20 md:mb-20"
            type="text"
            name="taxId"
            autocomplete="tax-id"
            :label="false"
            :placeholder="'Tax ID *'"
            v-model.trim="userCompany.taxId"
            @input="$v.userCompany.taxId.$touch()"
            :validations="[
              {
                condition: !$v.userCompany.taxId.required && $v.userCompany.taxId.$error,
                text: 'Field is required'
              },
              {
                condition: !$v.userCompany.taxId.minLength,
                text: 'Tax ID must have at least 3 letters.'
              }
            ]"
          />
          <base-input
            class="w-1/2 md:w-1/2 px-10 mb-20"
            type="text"
            name="phone-number"
            autocomplete="tel"
            :label="false"
            :placeholder="'Phone Number'"
            v-model.trim="userCompany.phone"
          />
        </template>
        <div class="w-full md:w-1/2 px-10 md:mt-10">
          <button-full
            @click.native="updateProfile"
            :disabled="checkValidation()"
          >
            {{ 'Update my profile' }}
          </button-full>
        </div>
        <div class="w-full md:w-1/2 px-10 flex mt-15 md:mt-10 self-center text-center md:text-left">
          <a href="#" @click="exitSection" class="text-gray-400 text-base block md:inline-block w-full md:w-auto">
            {{ 'Cancel' }}
          </a>
        </div>
      </div>
    </div>
    <!-- My profile summary -->
    <div v-else>
      <div class="myaccount-label-row flex flex-wrap pb-18 md:pb-25 font-medium">
        <label class="text-gray-600 myaccount-label">{{ 'Name' }}</label>
        <label class="text-gray-200 myaccount-label-name">: {{ currentUser.firstname }} {{ currentUser.lastname }}</label>
      </div>
      <div class="myaccount-label-row flex flex-wrap pb-18 md:pb-25 font-medium">
        <label class="text-gray-600 myaccount-label">{{ 'Email' }}</label>
        <label class="text-gray-200 myaccount-label-name flex">: <span class="breakwords pl-3"> {{ currentUser.email }}</span></label>
      </div>
      <base-checkbox
        v-if="addCompany"
        class="mb-25 text-black"
        id="addCompanyFilled"
        v-model="addCompany"
        disabled
      >
        {{ ('I have a company and want to receive an invoice for every order') }}
      </base-checkbox>
      <template v-if="addCompany">
        <div class="myaccount-label-row flex flex-wrap pb-18 md:pb-25 font-medium">
          <label class="text-gray-600 myaccount-label">{{ 'Company Name' }}</label>
          <label class="text-gray-200 myaccount-label-name">: {{ userCompany.company }}</label>
        </div>
        <div class="myaccount-label-row flex flex-wrap pb-18 md:pb-25 font-medium">
          <label class="text-gray-600 myaccount-label">{{ 'Street Name' }}</label>
          <label class="text-gray-200 myaccount-label-name">: {{ userCompany.street }}</label>
        </div>
        <div class="myaccount-label-row flex flex-wrap pb-18 md:pb-25 font-medium" v-if="userCompany.house">
          <label class="text-gray-600 myaccount-label breakwords">{{ 'House/Apartment number' }}</label>
          <label class="text-gray-200 myaccount-label-name">: {{ userCompany.house }}</label>
        </div>
        <div class="myaccount-label-row flex flex-wrap pb-18 md:pb-25 font-medium">
          <label class="text-gray-600 myaccount-label">{{ 'City' }}</label>
          <label class="text-gray-200 myaccount-label-name">:  {{ userCompany.city }}</label>
        </div>
        <div class="myaccount-label-row flex flex-wrap pb-18 md:pb-25 font-medium" v-if="userCompany.region">
          <label class="text-gray-600 myaccount-label">{{ 'State / Province' }}</label>
          <label class="text-gray-200 myaccount-label-name">:  {{ userCompany.region }}</label>
        </div>
        <div class="myaccount-label-row flex flex-wrap pb-18 md:pb-25 font-medium">
          <label class="text-gray-600 myaccount-label">{{ 'Zip-code' }}</label>
          <label class="text-gray-200 myaccount-label-name">: {{ userCompany.postcode }}</label>
        </div>
        <div class="myaccount-label-row flex flex-wrap pb-18 md:pb-25 font-medium">
          <label class="text-gray-600 myaccount-label">{{ 'County' }}</label>
          <label class="text-gray-200 myaccount-label-name">:  {{ getCountryName() }}</label>
        </div>
        <div class="myaccount-label-row flex flex-wrap pb-18 md:pb-25 font-medium" v-if="userCompany.taxId">
          <label class="text-gray-600 myaccount-label">{{ 'Tax Id' }}</label>
          <label class="text-gray-200 myaccount-label-name">:  {{ userCompany.taxId }}</label>
        </div>
        <div class="myaccount-label-row flex flex-wrap pb-18 md:pb-25 font-medium" v-if="userCompany.taxId">
          <label class="text-gray-600 myaccount-label">{{ 'Phone Number' }}</label>
          <label class="text-gray-200 myaccount-label-name">:
            {{ userCompany.phone }}
            <tooltip class="inline-block align-middle" v-if="userCompany.phone">
              {{ 'Phone number may be needed by carrier' }}
            </tooltip>
          </label>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
import MyProfile from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyProfile'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import ButtonFull from 'theme/components/theme/ButtonFull'
import Tooltip from 'theme/components/core/Tooltip'

export default {
  components: {
    BaseCheckbox,
    BaseSelect,
    BaseInput,
    ButtonFull,
    Tooltip
  },
  mixins: [MyProfile],
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  },
  methods: {
    checkValidation () {
      if (this.changePassword && this.addCompany) {
        return this.$v.$invalid
      } else if (this.changePassword && !this.addCompany) {
        return this.$v.currentUser.$invalid || this.$v.password.$invalid || this.$v.rPassword.$invalid
      } else if (!this.changePassword && this.addCompany) {
        return this.$v.currentUser.$invalid || this.$v.userCompany.$invalid
      } else {
        return this.$v.currentUser.$invalid
      }
    },
    async exitSection (event, updatedProfile) {
      this.$bus.$emit('myAccount-before-updateUser', updatedProfile)
      if (!updatedProfile) {
        this.currentUser = Object.assign({}, this.$store.state.user.current)
        this.userCompany = this.getUserCompany()
        this.changePassword = false
        this.oldPassword = ''
        this.password = ''
        this.rPassword = ''
        if (!this.userCompany.company) {
          this.addCompany = false
        }
        this.remainInEditMode = false
        this.$bus.$emit('notification-progress-stop')
      }
      if (!this.remainInEditMode) {
        this.isEdited = false
      }
    }
  },
  validations: {
    currentUser: {
      firstname: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastname: {
        required,
        unicodeAlpha
      },
      email: {
        required,
        email
      }
    },
    oldPassword: {
      required
    },
    password: {
      required
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    },
    userCompany: {
      company: {
        required
      },
      country: {
        required
      },
      street: {
        required,
        unicodeAlphaNum
      },
      house: {
        required,
        unicodeAlphaNum
      },
      postcode: {
        required,
        minLength: minLength(3)
      },
      city: {
        required,
        unicodeAlpha
      },
      taxId: {
        required,
        minLength: minLength(3)
      }
    }
  }
}
</script>
<style lang="scss">
.myaccount-container{
  max-width: 660px;
}
</style>
