<template>
  <div class="my-recently-product pb-50 md:pb-0">
    <div class="flex flex-wrap mb-25 border-b border-gray-500 pb-10 md:pb-15">
      <div class="w-9/12 md:w-6/12">
        <h3 class="m-0 mb-5 font-bold text-base md:text-md">
          {{ ('My Wishlist') }}
        </h3>
      </div>
    </div>
    <div class="mb-20" v-if="wishlistProducts.length">
      <button-full class="mr-20 w-auto min-w-0" @click.native="addAllToCart" :disabled="isLoad">
        {{ $t('Add All To Cart') }}
      </button-full>
      <button-full class="w-auto min-w-0" @click.native="clearWishlist" :disabled="isLoad">
        {{ $t('Clear Wishlist') }}
      </button-full>
    </div>
    <div class="mywishlist">
      <h4 v-if="!wishlistProducts.length" class="m-0 text-base pb-10">
        {{ $t('Your wishlist is empty.') }}
      </h4>
      <div v-if="!wishlistProducts.length">
        {{ $t("Don't hesitate and") }}
        <router-link :to="localizedRoute('/')" @click.native="closeWishlist" class="text-black font-medium">
          {{ $t('browse our catalog') }}
        </router-link>
        {{ $t('to find something beautiful for You!') }}
      </div>
      <div class="products relative">
        <div class="absolute left-0 right-0 top-0 bottom-0 bg-white bg-opacity-60 z-1 flex justify-center items-center" v-if="isLoad">
          <div class="site-ajax-loader" />
        </div>
        <product v-for="wishlistProduct in wishlistProducts" :key="wishlistProduct.id" :product="wishlistProduct" :icons="true" :is-wishlist-page="true" />
      </div>
    </div>
  </div>
</template>

<script>
import Wishlist from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Wishlist'
import Product from 'theme/components/core/blocks/Wishlist/Product'
import { mapState, mapGetters } from 'vuex'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'

export default {
  props: {
    product: {
      type: Object,
      required: false,
      default: () => { }
    }
  },
  data () {
    return {
      isLoad: false
    }
  },
  components: {
    Product,
    ButtonFull
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    }),
    ...mapGetters({
      customWishlistData: 'customWishlist/getWishlistDataList' || []
    }),
    wishlistProducts () {
      if(this.customWishlistData && this.customWishlistData.result && this.customWishlistData.result.items && this.customWishlistData.result.items.length) {
        return this.customWishlistData.result.items.map(product => {
          let image = product.product.custom_attributes.find(attr => attr.attribute_code === 'image');
          product.product.qty = product.qty
          product.product.image = image ? image.value : '/assets/placeholder.jpg'
          return product.product
        }) || []
      } else {
        return []
      }
    }
  },
  methods: {
    async addAllToCart () {
      this.isLoad = true
      await this.$store.dispatch('cart/addItems', { productsToAdd: this.wishlistProducts })
      this.$store.commit('ui/setMicrocart', true)
      this.clearWishlistData()
      this.$store.dispatch('wishlist/clear')
      this.isLoad = false
    },
    clearWishlist () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Are you sure you would like to remove all the items from the wishlist?'),
        action1: { label: this.$t('OK'),
          action: () => {
            this.clearWishlistData()
            this.$store.dispatch('wishlist/clear')
          }
        },
        action2: { label: this.$t('Cancel'), action: 'close' },
        hasNoTimeout: true
      })
    },
    async clearWishlistData () {
      await this.$store.dispatch('customWishlist/clearWishlist', this.currentUser.id)
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
    }
  },
  mixins: [Wishlist]
}
</script>
