<template>
  <div class="store-payment-methods">
    <div class="my_account-title md:pb-0 flex flex-wrap mb-25 md:border-0 border-b border-gray-500 pb-10">
      <h3 class="m-0 font-bold text-base md:text-md flex items-center leading-20">
        {{ $t('Stored Payment Methods') }}
      </h3>
    </div>
    <div>
      <div class="tablewrap md:pb-20 overflow-hidden md:overflow-x-auto" v-if="storedPaymentMethods.length">
        <table class="text-center md:text-left">
          <thead>
            <tr>
              <th class="text-left">
                {{ $t('Card Number') }}
              </th>
              <th class="text-left">
                {{ $t('Expiration Date') }}
              </th>
              <th class="text-left">
                {{ $t('Type') }}
              </th>
              <th />
            </tr>
          </thead>
          <tbody>
            <tr v-for="(card, index) in storedPaymentMethods" :key="index">
              <td class="text-left">
                <label class="th md:hidden">{{ 'Card Number' }}</label>
                <label class="td">
                  {{ 'Ending' }}{{ card.details[1].replace(/.(?=.{4})/g, '*') }}
                </label>
              </td>
              <td class="text-left">
                <label class="th md:hidden">{{ 'Expiration Date' }}</label>
                <label class="td">
                  {{ card.details[2] }}
                </label>
              </td>
              <td class="text-left">
                <label class="th md:hidden">{{ 'Type' }}</label>
                <label class="td">
                  {{ card.details[0] }}
                </label>
              </td>
              <td class="removelinks text-right w-full md:w-auto justify-end pb-0">
                <a href="#" class="flex items-center text-gray-200 justify-end text-14" @click.prevent="removeCard(card.gateway_token)">
                  <svg class="mr-8" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.19922 5.29598H1.78255V5.71265V15.2529C1.78255 16.3614 2.68117 17.26 3.78968 17.26H10.2079C11.3164 17.26 12.215 16.3614 12.215 15.2529V5.71265V5.29598H11.7983H2.19922Z" stroke="black" stroke-width="0.833333" />
                    <path d="M7 7.3125V15.246" stroke="black" stroke-width="0.833333" stroke-linecap="round" />
                    <path d="M4.86719 7.3125V15.246" stroke="black" stroke-width="0.833333" stroke-linecap="round" />
                    <path d="M9.13281 7.3125V15.246" stroke="black" stroke-width="0.833333" stroke-linecap="round" />
                    <rect x="0.716146" y="2.94881" width="12.5656" height="2.33652" rx="1.16826" stroke="black" stroke-width="0.833333" />
                    <path d="M9.93253 2.91089H10.3492V2.49422V1.9274C10.3492 1.27152 9.8175 0.739827 9.16162 0.739827H4.83844C4.18194 0.739827 3.64974 1.27203 3.64974 1.92853V2.49422V2.91089H4.06641H9.93253Z" stroke="black" stroke-width="0.833333" />
                  </svg>
                  Remove
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-else class="my-invitation-list">
        <div class="my-20 flex p-15 border border-burnt-sienna rounded-sm text-burnt-sienna">
          <label>
            <svg class="mr-10 min-w-30" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="13" cy="17" r="1" fill="#D40606" />
              <path d="M12.0712 8.99746C12.0327 8.45846 12.4596 8 13 8C13.5404 8 13.9673 8.45846 13.9288 8.99746L13.5356 14.5013C13.5156 14.7823 13.2817 15 13 15C12.7183 15 12.4844 14.7823 12.4644 14.5013L12.0712 8.99746Z" fill="#D40606" />
              <circle cx="12.5" cy="12.5" r="12" stroke="#D40606" />
            </svg>
          </label>
          {{ $t('You don\'t have Stored Payment Methods..') }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CryptoJS from 'crypto-js'
import config from 'config'
import { mapGetters, mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'StorePaymentMethods',
  data () {
    return {
      loading: false
    }
  },
  computed: {
    ...mapState({
      currentUser: (state) => state.user.current,
    }),
    ...mapGetters({
      storedPaymentMethods: 'storePayment/getStoredPaymentMethodList'
    })
  },
  async mounted () {
    this.$bus.$emit('notification-progress-start', this.$t('Loading ...'))
    await this.$store.dispatch('storePayment/storedPaymentMethodList')
    this.$bus.$emit('notification-progress-stop')
  },
  methods: {
    decryptCard (message) {
      try {
        return CryptoJS.AES.decrypt(message, config.encryptionKey).toString(
          CryptoJS.enc.Utf8
        )
      } catch (e) {
        console.log(e)
      }
    },
    async removeCard (gateway_token) {
       this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        class: 'notification-buttons',
        message: i18n.t('Are you sure you want to remove this card?'),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('OK'),
          action: () => {
            this.removeCardDetail(gateway_token)
          }
        },
        hasNoTimeout: true
      })
    },
    async removeCardDetail (gateway_token) {
       this.$bus.$emit('notification-progress-start', this.$t('Removing ...'))
      let cardData = { paymentToken: gateway_token }
      const removeCard = await this.$store.dispatch('storePayment/removePaymentMethod', cardData)
      const afterRmove = this.storedPaymentMethods.filter(x => x.gateway_token !== gateway_token)
      this.$store.commit('storePayment/STORED_PAYMENT_METHOD/FETCH_PAYMENT_METHOD_LIST', afterRmove);
      this.$bus.$emit('notification-progress-stop')

  
      if (removeCard.result && removeCard.result.length && removeCard.result[0] === 'success') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: this.$t(
            'Payment Method Removed Successfully.'
          ),
          action1: { label: this.$t('Okay') }
        })
      } else {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t(
            'Something went wrong!'
          ),
          action1: { label: this.$t('Okay') }
        })
      }
    }
  }
}
</script>
