<template>
  <div
    class="microcart  text-gray-200 relative h-full"
    data-testid="microcart"
  >
    <transition name="fade" class="w-full">
      <div v-if="isEditMode" class="overlay" @click="closeEditMode" />
    </transition>
    <div class="h-full overflow-auto">
      <div class="px-20 md:px-30 py-20 md:py-30 border-b border-gray-500">
        <div class="flex justify-between items-center" :class="{'pb-10': currentUser && productsInCart.length}">
          <h2
            class="text-18 md:text-lg font-medium leading-32 text-gray-200 m-0"
          >
            {{ 'Shopping cart' }}
          </h2>
          <span v-if="productsInCart.length" class="mr-auto ml-10 md:ml-19 text-base text-gray-600 leading-22">{{ productsInCart.length + ' items' }}</span>
          <clear-cart-button
            class="justify-end inline-flex"
            v-if="productsInCart.length"
            @click.native="clearCart"
          />
          <button
            type="button"
            class="border-none bg-transparent close p-0"
            @click="closeMicrocartExtend"
            data-testid="closeMicrocart"
          >
            <svg class="w-30 md:w-40 h-30 md:h-40" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="19.5" stroke="#222222" />
              <path d="M13.334 13.3335L26.6673 26.6668" stroke="#222222" />
              <path d="M26.668 13.3335L13.3346 26.6668" stroke="#222222" />
            </svg>
          </button>
        </div>
        <wishlist-button
          class="justify-end ml-auto mr-0 -mb-10 flex"
          v-if="currentUser && productsInCart.length"
          @click.native="addAllWishlist"
        />

        <h4 v-if="!productsInCart.length" class="m-0 text-md font-medium pt-40 pb-20">
          {{ 'Your shopping cart is empty.' }}
        </h4>
        <div v-if="!productsInCart.length" @click="closeMicrocartExtend">
          {{ "Don't hesitate and" }}
          <router-link :to="localizedRoute('/')" class="font-semibold text-black">
            {{ 'browse our catalog' }}
          </router-link>
          {{ 'to find something beautiful for You!' }}
        </div>
      </div>
      <div v-if="productsInCart.length" class="bg-white p-20 pt-0 md:p-30 md:pt-0 products relative">
        <div class="absolute left-0 right-0 top-0 bottom-0 bg-white bg-opacity-60 z-1 flex justify-center items-center" v-if="isLoad">
          <div class="site-ajax-loader" />
        </div>
        <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
      </div>
    </div>
    <div class="p-20 md:p-30 bg-gray-100 absolute bottom-0 left-0 right-0">
      <div v-if="productsInCart.length" class="summary mb-20 md:mb-30">
        <div class="flex justify-between items-center" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'subtotal'">
          <div class="text-base leading-21 text-gray-200">
            {{ 'Estimated Total' }}
          </div>
          <div class="text-base font-bold leading-21 text-gray-200">
            {{ segment.value | price(storeView) }}
          </div>
        </div>
      </div>
      <div v-if="productsInCart.length && !isCheckoutMode">
        <button-full
          class="text-center leading-21 md:leading-26 hover:text-white text-base"
          @click.native="checkUser() && closeMicrocartExtend && closeEditMode"
        >
          {{ 'Go to Checkout' }}
        </button-full>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import i18n from '@vue-storefront/i18n'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import VueOfflineMixin from 'vue-offline/mixin'
import onEscapePress from '@vue-storefront/core/mixins/onEscapePress'
import ClearCartButton from 'theme/components/core/blocks/Microcart/ClearCartButton'
import WishlistButton from 'theme/components/core/blocks/Microcart/WishlistButton'
import ButtonFull from 'theme/components/theme/ButtonFull'
import Product from 'theme/components/core/blocks/Microcart/Product'
import EditMode from './EditMode'

export default {
  components: {
    Product,
    ClearCartButton,
    ButtonFull,
    WishlistButton
  },
  mixins: [
    VueOfflineMixin,
    EditMode,
    onEscapePress
  ],
  data () {
    return {
      isLoad: false,
      addCouponPressed: false,
      couponCode: '',
      componentLoaded: false
    }
  },
  props: {
    isCheckoutMode: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true
    })
  },
  computed: {
    ...mapGetters({
      productsInCart: 'cart/getCartItems',
      appliedCoupon: 'cart/getCoupon',
      totals: 'cart/getTotals',
      isOpen: 'cart/getIsMicroCartOpen',
      isLogged: 'user/isLoggedIn'
    }),
    currentUser () {
      return this.$store.state.user.current
    },
    storeView () {
      return currentStoreView()
    },
    isAuthPopup () {
      return this.isLogged ? 'checkout' : ''
    }
  },
  methods: {
    ...mapActions({
      applyCoupon: 'cart/applyCoupon'
    }),
    addDiscountCoupon () {
      this.addCouponPressed = true
    },
    clearCoupon () {
      this.$store.dispatch('cart/removeCoupon')
      this.addCouponPressed = false
    },
    toggleMicrocart () {
      this.$store.dispatch('ui/toggleMicrocart')
    },
    async setCoupon () {
      const couponApplied = await this.applyCoupon(this.couponCode)
      this.addCouponPressed = false
      this.couponCode = ''
      if (!couponApplied) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: i18n.t("You've entered an incorrect coupon code. Please try again."),
          action1: { label: i18n.t('Okay') }
        })
      }
    },
    checkUser () {
      if (!this.currentUser) {
        this.toggleMicrocart()
        this.$bus.$emit('modal-show', 'modal-signup')
      } else {
        this.$router.push('/checkout')
      }
    },
    closeMicrocartExtend () {
      this.toggleMicrocart()
      this.$store.commit('ui/setSidebar', false)
      this.addCouponPressed = false
    },
    onEscapePress () {
      this.$store.dispatch('ui/closeMicrocart')
    },
    addAllWishlist () {
      this.isLoad = true
      this.productsInCart.forEach(async (product) => {
        await this.$store.dispatch('customWishlist/addProduct', [product.sku, this.currentUser.id, product.qty]);
        await this.$store.dispatch('customWishlist/list', this.currentUser.id)
        this.$store.dispatch('cart/clear', { disconnect: false })
        this.$store.commit('ui/setMicrocart', false)
        this.$store.commit('ui/setWishlist', true)
        this.isLoad = false
      });
    },
    clearCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        class: 'remove-product',
        message: i18n.t('Are you sure you would like to remove all the items from the shopping cart?'),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('Remove'),
          action: async () => {
            // We just need to clear cart on frontend and backend.
            // but cart token can be reused
            await this.$store.dispatch('cart/clear', { disconnect: false })
          }
        },
        hasNoTimeout: true
      })
    }
  }
}
</script>
<style lang="scss">
.microcart-sidebar {
  overflow: hidden;
}
.microcart {
  padding-bottom: 171px;
  @media (max-width: 767px) {
    padding-bottom: 131px;
  }
  .product-image {
    padding-bottom: 0 !important;
    height: 100px;
    img {
      height: auto;
      width: auto;
    }
    @media (max-width: 767px) {
      height: 70px;
    }
  }
  .minusplusnumber {
    height: 30px;
    width: 70px;
    .mpbtn {
      height: 100%;
      &.minus {
        padding-right: 5px;
      }
      &.plus {
        padding-left: 5px;
      }
      svg {
        width: 7px;
        height: 7px;
      }
    }
  }
}
</style>
