<template>
  <div class="py-20 border-b border-gray-500 w-full flex relative">
    <div class="absolute left-0 right-0 top-0 bottom-0 bg-white bg-opacity-60 z-1 flex justify-center items-center" v-if="isLoad">
      <div class="site-ajax-loader" />
    </div>
    <div class="mx10 w-full mb-15 pb-10 edit-mode border-b border-gray-200 flex justify-between middle-xs" v-if="editMode">
      Edit mode
      <button class="brdr-none opacity-60 hover:opacity-100" @click="closeEditMode">
        <span class="cl-accent">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L13 13M13 1L1 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </button>
    </div>
    <div class="blend block">
      <product-image :height="124" :width="100" :image="image" />
    </div>
    <div class="flex-grow pl-20 relative">
      <div class="flex flex-nowrap details flex-auto">
        <div class="w-full flex-wrap pr-15 sm:pr-20">
          <router-link
            class="inline-block align-top text-base text-gray-200 leading-19 md:leading-21"
            :to="productLink"
            data-testid="productLink"
            @click.native="$store.commit('ui/setMicrocart', false)"
          >
            {{ product.name | htmlDecode }}
          </router-link>
          <product-quantity
            class="qty mt-20 md:mt-25 w-70 text-xs"
            :value="productQty"
            :max-quantity="maxQuantity"
            :loading="isStockInfoLoading"
            :is-simple-or-configurable="isSimpleOrConfigurable"
            @input="updateProductQty"
            @error="handleQuantityError"
          />
          <div class="text-gray-200 text-xs mt-10 leading-15 options" v-if="isTotalsActive">
            <div v-for="opt in product.totals.options" :key="opt.label" class="pt-5">
              <span class="opn">{{ opt.label }}: </span>
              <span class="opv" v-html="opt.value" />
            </div>
          </div>
          <div class="text-gray-200 text-xs mt-10 leading-15 options" v-else-if="!editMode && product.options">
            <div v-for="opt in product.options" :key="opt.label" class="pt-5">
              <span class="opn">{{ opt.label }}: </span>
              <span class="opv" v-html="opt.value" />
            </div>
          </div>
          <div class="pt-5 text-xs leading-15 text-burnt-sienna" v-if="hasProductErrors">
            {{ product.errors | formatProductMessages }}
          </div>
        </div>
        <div class="flex align-right text-right start-xs between-sm prices text-base justify-end w-12/3">
          <div class="prices" v-if="!displayItemDiscounts || !isOnline">
            <span class="text-base font-bold text-burnt-sienna block price-special" v-if="product.special_price">
              {{ product.price_incl_tax * product.qty | price(storeView) }}
            </span>
            <span class="text-base font-bold leading-21 text-gray-200 line-through price-original" v-if="product.special_price">
              {{ product.original_price_incl_tax * product.qty | price(storeView) }}
            </span>
            <span class="text-base font-bold leading-21 text-gray-200" v-else data-testid="productPrice">
              {{ (product.original_price_incl_tax ? product.original_price_incl_tax : product.price_incl_tax) * product.qty | price(storeView) }}
            </span>
          </div>
          <div class="prices" v-else-if="isOnline && product.totals">
            <span class="text-base font-bold text-burnt-sienna block price-special" v-if="product.totals.discount_amount">
              {{ product.totals.row_total - product.totals.discount_amount + product.totals.tax_amount | price(storeView) }}
            </span>
            <span class="text-base font-bold leading-21 text-gray-200 line-through price-original" v-if="product.totals.discount_amount">
              {{ product.totals.row_total_incl_tax | price(storeView) }}
            </span>
            <span class="text-base font-bold leading-21 text-gray-200" v-if="!product.totals.discount_amount">
              {{ product.totals.row_total_incl_tax | price(storeView) }}
            </span>
          </div>
          <div class="prices" v-else>
            <span class="text-base font-bold leading-21 text-gray-200">
              {{ (product.regular_price || product.price_incl_tax) * product.qty | price(storeView) }}
            </span>
          </div>
        </div>
      </div>
      <div class="w-full pb15 sm:flex items-end" v-if="editMode">
        <div class="ml0 flex flex-wrap" v-if="productsAreReconfigurable">
          <div class="pt-5 w-full" v-for="(option, index) in product.configurable_options" :key="index">
            <div class="text-gray-500 text-xs leading-15">
              {{ option.label }}:
            </div>
            <div class="flex flex-wrap pt-5" v-if="option.label == 'Color' && editMode">
              <color-selector
                v-for="filter in getAvailableFilters[option.attribute_code]"
                v-if="isOptionAvailable(filter)"
                :key="filter.id"
                :variant="filter"
                :selected-filters="getSelectedOptions"
                @change="changeEditModeFilter"
              />
            </div>
            <div class="flex flex-wrap pt-5" v-else-if="option.label == 'Size' && editMode">
              <size-selector
                class="mr-10 mb-10"
                v-for="filter in getAvailableFilters[option.attribute_code]"
                v-if="isOptionAvailable(filter)"
                :key="filter.id"
                :variant="filter"
                :selected-filters="getSelectedOptions"
                @change="changeEditModeFilter"
              />
            </div>
          </div>
        </div>
        <button-full
          class="update-button w-auto whitespace-nowrap text-sm px-10 py-8 sm:px-35 sm:ml-auto sm:mb-10"
          @click.native="updateProductVariant"
          :disabled="isUpdateCartDisabled"
        >
          {{ 'Update item' }}
        </button-full>
      </div>
      <div class="w-full flex middle-xs actions" v-if="!editMode">
        <!-- <edit-button class="mx5" @click="openEditMode" v-if="productsAreReconfigurable && !editMode" /> -->
        <button
          type="button"
          class="ml-auto text-sm text-gray-200 absolute right-0 bottom-0 mb-10"
          @click="addToWishlist"
        >
          <i class="mr-5 opacity-60 hover:opacity-100">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0909 1C16.8021 1 19 3.30254 19 6.14286C19 11.2843 10 19 10 19C10 19 1 11.2854 1 6.14286C1 3.30254 3.19787 1 5.90909 1C7.61706 1 9.1213 1.91377 10.0007 3.30012C10.8787 1.91377 12.3829 1 14.0909 1Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </i>
        </button>
        <remove-button class="mx5" @click="removeItem" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import config from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import Product from '@vue-storefront/core/compatibility/components/blocks/Microcart/Product'

import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import ProductImage from 'theme/components/core/ProductImage'
import ColorSelector from 'theme/components/core/ColorSelector.vue'
import SizeSelector from 'theme/components/core/SizeSelector.vue'
import RemoveButton from './RemoveButton'
import EditButton from './EditButton'
import { onlineHelper } from '@vue-storefront/core/helpers'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption'
import { getThumbnailForProduct, getProductConfiguration } from '@vue-storefront/core/modules/cart/helpers'
import ButtonFull from 'theme/components/theme/ButtonFull'
import EditMode from './EditMode'
import EventBus from '@vue-storefront/core/compatibility/plugins/event-bus'

export default {
  data () {
    return {
      isLoad: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false
    }
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  components: {
    RemoveButton,
    ProductImage,
    ColorSelector,
    SizeSelector,
    EditButton,
    ButtonFull,
    ProductQuantity
  },
  mixins: [Product, ProductOption, EditMode],
  computed: {
    ...mapState({
      isMicrocartOpen: state => state.ui.microcart
    }),
    currentUser () {
      return this.$store.state.user.current
    },
    hasProductInfo () {
      return this.product.info && Object.keys(this.product.info).length > 0
    },
    hasProductErrors () {
      const errors = this.product.errors || {}
      const errorsValuesExists = Object.keys(errors).filter(errorKey => errors[errorKey]).length > 0
      return errorsValuesExists
    },
    isTotalsActive () {
      return this.isOnline && !this.editMode && this.product.totals && this.product.totals.options
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    productsAreReconfigurable () {
      return config.cart.productsAreReconfigurable && this.product.type_id === 'configurable' && this.isOnline
    },
    displayItemDiscounts () {
      return config.cart.displayItemDiscounts
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    thumbnail () {
      return getThumbnailForProduct(this.product)
    },
    configuration () {
      return getProductConfiguration(this.product)
    },
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    editMode () {
      return this.getEditingProductId === this.product.id
    },
    productQty () {
      return this.editMode ? this.getEditingQty : this.product.qty
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.product.type_id)
    },
    isUpdateCartDisabled () {
      return this.quantityError ||
        this.isStockInfoLoading ||
        (this.isOnline && !this.maxQuantity && this.isSimpleOrConfigurable)
    },
    storeView () {
      return currentStoreView()
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    }
  },
  methods: {
    updateProductVariant () {
      this.updateVariant()
      this.closeEditMode()
    },
    updateProductQty (qty) {
      if (this.editMode) {
        this.editModeSetQty(qty)
        return
      }

      this.updateQuantity(qty)
    },
    removeFromCart () {
      this.$store.dispatch('cart/removeItem', { product: this.product })
    },
    updateQuantity (quantity) {
      this.$store.dispatch('cart/updateQuantity', { product: this.product, qty: quantity })
    },
    async getQuantity (product) {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const validProduct = product || this.product
        const res = await this.$store.dispatch('stock/check', {
          product: validProduct,
          qty: this.productQty
        })
        return res.qty
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    async changeEditModeFilter (filter) {
      const editedProduct = this.getEditedProduct(filter)
      const maxQuantity = await this.getQuantity(editedProduct)
      if (!maxQuantity) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t(
            'The product is out of stock and cannot be added to the cart!'
          ),
          action1: { label: this.$t('OK') }
        })
      } else if (maxQuantity < this.productQty) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Only {maxQuantity} products of this type are available!', { maxQuantity }),
          action1: { label: this.$t('OK') }
        })
      } else {
        this.maxQuantity = maxQuantity
        this.editModeSetFilters(filter)
      }
    },
    async addToWishlist () {
      if (this.isLoggedIn) {
        this.isLoad = true
        await this.$store.dispatch('customWishlist/addProduct', [this.product.sku, this.currentUser.id, this.product.qty]);
        await this.$store.dispatch('customWishlist/list', this.currentUser.id)
        this.isLoad = false
        this.removeFromCart()
      } else {
        this.$store.commit('ui/setAuthElem', 'login')
        EventBus.$emit('modal-show', 'modal-signup')
        this.$store.dispatch('ui/closeMicrocart')
        this.$store.commit('ui/setOverlay', true)
      }
    }
  },
  watch: {
    isOnline: {
      async handler (isOnline) {
        if (isOnline) {
          const maxQuantity = await this.getQuantity()
          this.maxQuantity = maxQuantity
        }
      }
    },
    isMicrocartOpen: {
      async handler (isOpen) {
        if (isOpen) {
          const maxQuantity = await this.getQuantity()
          this.maxQuantity = maxQuantity
        }
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
  .blend {
    flex: 0 0 100px;
     @media (max-width:767px) {
      flex: 0 0 70px;
     }
  }
  .filters {
    flex: 1 1 200px;
  }
</style>
