<template>
  <button class="ml-auto text-sm text-gray-200" :disabled="disabled">
    <i class="mr-5 opacity-60 hover:opacity-100">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0909 1C16.8021 1 19 3.30254 19 6.14286C19 11.2843 10 19 10 19C10 19 1 11.2854 1 6.14286C1 3.30254 3.19787 1 5.90909 1C7.61706 1 9.1213 1.91377 10.0007 3.30012C10.8787 1.91377 12.3829 1 14.0909 1Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </i>
    {{ 'Move all to wishlist' }}
  </button>
</template>
<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>
