@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'Red Hat Display';
  src: url(/assets/fonts/RedHatDisplay-Light.woff2) format('woff2');
  font-weight:300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url(/assets/fonts/RedHatDisplay-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url(/assets/fonts/RedHatDisplay-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url(/assets/fonts/RedHatDisplay-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url(/assets/fonts/RedHatDisplay-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .container{
    max-width:1270px; padding:0 15px;
  }
  .button-full {
    @apply border-0 w-full font-medium px-10 py-12 sm:px-20 md:py-18 text-base md:text-base bg-mine-shaft text-white font-redhat hover:bg-gray-400;
    border-radius:4px;
  }
  @media screen and (min-width: 900px){
    .button-full {
      min-width: 220px;
    }
 }
  a.button-full {
    @apply inline-block;
  }
  .button-outline {
    @apply border border-gray-500 font-medium hover:border-gray-200 px-10 sm:px-20 py-12 md:py-17 text-base md:text-base hover:text-white text-gray-200 font-redhat hover:bg-gray-200 transition-all duration-300;
    border-radius:4px;
  }
  @media screen and (min-width: 900px){
    .button-outline {
      min-width: 220px;
    }
  }
  a.button-outline {
    @apply inline-block;
  }
  .base-checkbox label:before {
    content: '';
    border-radius:2px;
    @apply absolute left-0 w-18 h-18 bg-white border border-gray-200 cursor-pointer;
  }
  .base-checkbox input:checked + label:before {
    @apply bg-white border-gray-200
  }
  .base-checkbox input:checked + label:after,
  .price-selector button.active:after {
    content: '';
    @apply absolute top-8 left-5 w-11 h-5 border border-black border-t-0 border-r-0 bg-white transform -rotate-45;
  }
  .base-textarea textarea{
    @apply bg-transparent resize-none h-100;
  }
  .base-input label, .base-textarea label{
    transition: 0.2s ease all;
  }
  .base-input input:focus ~ label, .base-input input:not(.empty) ~ label, .base-textarea textarea:focus ~ label, .base-textarea textarea:not(.empty) ~ label{
    @apply -top-10 text-sm text-puerto-rico
  }
  .base-input input:not([type="email"]):not([name="password"]):not([name="password-confirm"]){
    @apply capitalize;
  }
  .login-signup  input::-webkit-textfield-decoration-container div,  .login-signup  input::-webkit-credentials-auto-fill-button div {
    display: none !important;
    opacity:0;
  }
  .login-signup  input::-webkit-credentials-auto-fill-button {
    display: none !important;
    opacity:0;
  }
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
  .overlay {@apply fixed w-full h-full top-0 left-0 z-4 bg-black opacity-40}

  .base-checkbox label:before {
    content: '';
    @apply cursor-pointer absolute top-0 left-0 border border-gray-200 w-18 h-18;
  }
  .base-checkbox input:checked + label:before {
    @apply bg-white border-gray-200 w-18 h-18;
  }
  .base-checkbox input:checked + label:after {
    content: '';
    @apply absolute top-5 left-4 w-11 h-6 border-b-2 border-l-2 border-gray-200 transform -rotate-45
  }
  .select-wrapper:after {
    content: '';
    transform: rotate(135deg);
    @apply block absolute top-22 right-22 border-0 w-9 h-9 pointer-events-none border-t border-r border-gray-600;
  }
  .radioStyled{
    @apply relative block pl-25 pr-15 mb-12 cursor-pointer leading-25;
  }
  .radioStyled input{
    @apply opacity-0 absolute cursor-pointer;
  }
  .radioStyled .checkmark{
    @apply absolute left-0 top-4 w-18 h-18 rounded-full border border-gray-200;
  }
  .radioStyled .checkmark::after{
    content: "";
    @apply absolute left-3 top-3 w-10 h-10 rounded-full bg-gray-200 opacity-0;
  }
  select, input {
    @apply focus:outline-none
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-redhat font-bold;
  }
  h1 {
    @apply text-lg md:text-xl my-20 md:my-38
  }
  h2 {
    @apply text-22 md:text-lg my-18 md:my-30
  }
  h3 {
    @apply text-md md:text-md my-16 md:my-24
  }
  h4 {
    @apply text-base my-16 md:my-24
  }
  h5 {
    @apply text-sm my-15 md:my-22
  }
  h6 {
    @apply text-xs my-15 md:my-22
  }
  img {
    @apply max-w-full max-h-full
  }
  p{
    @apply pb-15 leading-22 text-sm md:text-base;
  }
  p:empty {
    @apply hidden
  }
  .rounded-10 {
    border-radius: 10px;
  }
}
.topbar-left, .topbar-center, .header-topbar .empty-div  {
  @apply w-4/12
}
.topbar-left a {
  @apply pr-5 text-white
}
.topbar-center {
  @apply text-center
}
.topbar-center a {
  @apply text-orange-dark font-bold
}
.header-topbar .empty-div {
  @apply hidden md:block
}

body{
  @apply font-redhat;
}
a {
  @apply text-gray-200 hover:text-orange-dark transition-all duration-500;
}
.btn-small{
  @apply border border-black bg-black text-white;
}
.custom-scrollbar::-webkit-scrollbar {
  @apply w-5 h-5
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #E5E7EB;
  @apply w-5 h-5 border-0
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply w-5 h-5 border-0 border-gray-500 bg-gray-200
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #222222 #DDDDDD;
  overflow: auto;
}
div.left-sidebar {
  overflow: hidden;
}
.sidebar-menu .sidebar-menu__container{
  height: calc(100% - 55px);
}
.sidebar-menu .sidebar-submenu {
  @apply bg-white;
  height: calc(100vh - 110px);
}
/* CSS specific to iOS devices */ 
@supports (-webkit-touch-callout: none) {
  .sidebar-menu .sidebar-menu__container{
    height: calc(100% - 155px);
  }
  .sidebar-menu .sidebar-submenu {
    height: calc(100vh - 205px);
  }
}
.sidebar-menu .sidebar-menu__list{
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar-menu .sidebar-menu__container a {
  @apply block text-sm leading-19 text-gray-200 py-20 w-full border-b border-gray-500
}
.sidebar-menu .sidebar-menu__container li {
  @apply flex
}
.sidebar-menu .sidebar-menu__container button {
  @apply text-sm leading-19 text-gray-200 py-20 flex justify-between items-center w-full hover:text-orange-dark border-b border-gray-500
}
.sidebar-menu .sidebar-menu__container .router-link-exact-active {
  @apply text-orange-dark
}

/* Footer start */
.footer-title:after {
  content: "";
  width: 114px;
  @apply absolute left-0 bottom-0 bg-white bg-opacity-10 h-1;
}
.footer-title{
  @apply text-base font-bold pb-11 text-white relative mb-20 leading-21;
}
.footer-menu-list a {
  @apply text-sm md:text-base leading-19 md:leading-21 text-white hover:text-orange-dark mb-12 md:mb-25;
}
.footer-menu-list a:last-child {
  @apply mb-0
}
.footer-links p a{
  @apply text-white hover:text-orange-dark;
}
.footer-links p {
  @apply pt-0;
}
.footer-col:first-child {
  width: 18.5%;
}
.footer-col-last {
  width: 41%;
  max-width: 365px;
}
.footer-row-second .footer-col:nth-child(2) {
  @apply w-1/5;
  min-width: 185px;
}
.footer-logo-col {
  @apply inline-block align-top
}
.footer-logo-col span {
  @apply block mb-8 text-xs md:text-sm leading-22
}
.footer-logo-col:first-child {
  @apply mr-45
}
.footer-logo-col:not(:last-child) {
  @apply mb-40
}
.social-icon {
  @apply flex flex-wrap my-30;
  max-width: 150px; 
}
.social-icon a {
  @apply mb-10 mr-10 inline-block align-top
}
.footer-links {
  @apply text-white py-30 md:py-50
}
.footer-wrap {
  @apply md:flex flex-wrap justify-between
}
.footer-left {
  @apply w-1/2 md:w-1/4
}
.f-logo p {
  @apply pb-19 text-sm leading-22
}
.footer-right {
  @apply w-1/2 md:w-3/4
}
.footer-row {
  @apply md:flex flex-wrap justify-between mb-0 md:mb-60
}
.footer-menu-list {
  @apply flex flex-col
}
.footer-row-second {
  @apply md:flex flex-wrap justify-between mb-0;
}
.copyright {
  @apply bg-gray-400 py-15
}
.copyright p { 
  @apply text-white pb-0 text-xs md:text-sm leading-19
}
/* Footer end */

.swiper-arrows .swiper-button-prev,
.swiper-arrows .swiper-button-next{
  @apply top-2/4 z-10 absolute cursor-pointer;
}
.swiper-arrows .swiper-button-next{
  @apply right-0;
}
table {
  @apply w-full border border-gray-200 border-collapse leading-normal text-left;
}
table thead th {
  @apply p-10 lg:p-20 font-redhat text-base;
}
table tbody tr {
  @apply border-t border-gray-200;
}
table tbody td {
  @apply text-base md:text-md p-10 lg:p-20;
}
.dropdown-content {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 200px;
  @apply absolute right-0 top-full z-1 bg-white leading-20 text-sm py-5 hidden;
}
.dropdown-content a {
  @apply py-10 px-15 leading-normal block leading-18;
}
.dropdown-content a:hover {
  @apply text-white;
}
.dropdown:hover .dropdown-content {
  @apply block;
}
table tbody tr:last-child .dropdown:hover .dropdown-content {
  @apply top-auto bottom-full;
}
.table-wrap {
  @apply overflow-auto max-w-full;
}

.coupon-input .text-base{
  @apply bg-transparent;
}

.searchpanel .overlay-fixed .overlay{
  top:105px
}
/* notification popup css start */
.notifications {
  width: 450px;
  @apply z-50 fixed md:top-50 md:right-50 right-0 bottom-0 md:bottom-auto left-0 md:left-auto
}
.notification {
  @apply flex justify-between items-center bg-white text-sm leading-20 font-medium overflow-hidden rounded px-30 py-25 text-gray-400 md:mt-30 first:mt-0; 
  box-shadow: 0px 7px 10px rgba(51, 51, 51, 0.1);
  min-height: 90px;
}
.notification .message::before {
  content: "";
  min-width: 25px;
  background-size: 100%;
  @apply h-25 mr-15 bg-no-repeat;
}
.notification .actions {
  @apply flex
}
.actions .notification-action{
  @apply bg-gray-400 text-white px-30 py-10 leading-20 font-bold rounded cursor-pointer
}
.notification.success .message {
  @apply text-puerto-rico
}
.notification.error .message {
  @apply text-burnt-sienna
}
.notification.success .message::before {
  background-image: url('/assets/notification-success.svg')
}
.notification.error .message::before {
  background-image: url('/assets/notification-error.svg')
}
.notification.warning .message::before {
  @apply hidden
}
.notification.wishlist-notification .message::before {
  background-image: url('/assets/notification-wishlist.svg')
}
.notification.wishlist-notification-removed .message::before {
  background-image: url('/assets/notification-wishlist-empty.svg')
}
.notification.notification-product,
.notification.warning {
  width: 408px;
  @apply flex-wrap ml-auto;
}
.notification.warning {
  width: 310px;
}
.notification.notification-product .actions,
.notification.warning .actions {
  @apply mt-20 flex-row-reverse text-center w-full
}
.notification.remove-product .actions {
  @apply flex-row
}
.notification.notification-product .notification-action,
.notification.warning .notification-action { 
  @apply last:mr-20 odd:bg-gray-400
}
.notification.warning .notification-action { 
  @apply w-full
}
.notification.notification-product .message::before {
  background-image: url('/assets/notification-cart.svg')
}
.notification.success .notification-action {
  @apply bg-puerto-rico
}
.notification.error .notification-action  {
  @apply bg-burnt-sienna
}
.notification.warning .notification-action {
  @apply odd:bg-burnt-sienna
}
.notification.remove-product .notification-action {
  @apply even:bg-burnt-sienna odd:mr-20 even:mr-0 odd:bg-transparent odd:border odd:border-gray-400 odd:text-gray-400
}
.notification.info,
.notification.wishlist-notification .message,
.notification.wishlist-notification-removed .message {
  @apply text-gray-400
}
.action-border.border-success {
  @apply border-puerto-rico
}
.action-border.border-error {
   @apply border-burnt-sienna
}
.action-border.border-info {
  @apply border-gray-400
}
.notification.wishlist-notification .notification-action, 
.notification.wishlist-notification-removed .notification-action {
 @apply bg-gray-400
}
/* notification popup css end */

/* loader css  */
.site-ajax-loader {
  @apply h-40 w-40 m-8 inline-block;
}
.site-ajax-loader:after {
  @apply h-40 w-40 m-8 block;
  content: " ";
  border-radius: 50%;
  border: 4px solid black;
  border-color: black transparent black transparent;
  animation: site-ajax-loader 1.2s linear infinite;
}
@keyframes site-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skeleton {
  @apply relative m-auto border border-t-5 border-b-5 border-white
}
.skeleton-image:after, .skeleton-line:after {
    content: "";
    animation: skeleton 2s infinite ease;
    @apply absolute left-0 w-full top-0 bottom-0 opacity-60 bg-gray-50
}
@keyframes skeleton {
  0% {
    @apply opacity-20
  }
  40%{
    @apply opacity-60
  }
   100% {
    @apply opacity-20
  }
}
.swiper-button-prev, .swiper-button-next{
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
.swiper-button-disabled{
  @apply opacity-50
}
/* ----Mega menu css---- */
.category__megamenu{
  @apply relative
}
.category__megamenu .category__first-level > ul .firstlevel-li .firstlevel{
  @apply text-sm text-gray-200 py-14 px-8 lg:px-18 xl:px-25 flex text-center items-center leading-15 h-full ;
}
.category__megamenu .category__first-level > ul .firstlevel-li .firstlevel:hover, .category__megamenu .category__first-level ul.firstlevel-ul li.firstlevel-li:hover a.firstlevel{
  @apply text-orange-dark;
}
.category__megamenu .category__first-level > ul .megamenu{
  @apply flex absolute w-full left-0 hidden opacity-0 -mt-1;
  top: 100%;
  transition: opacity 1s ease-out;
}
.category__megamenu .category__first-level > ul .firstlevel-li:hover .megamenu{
  @apply flex opacity-100;
}
.category__megamenu .category__first-level > ul .megamenu .megamenu-bg{
  @apply flex bg-white relative w-full  overflow-y-auto;
  height:325px;
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level{
  width:64%
}
.category__megamenu .category__first-level > ul .megamenu .category__image{
  width:36%
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level > ul{
  @apply flex flex-wrap;
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level > ul > li{
  @apply w-1/3 my-10 pr-10;
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level > ul li .secondlevel{
  @apply  border-b border-gray-500 text-sm text-gray-600 pb-10 leading-15 inline-block mb-10;
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level > ul li .category__third-level li a{
  @apply py-10 text-sm text-gray-200 block leading-15;
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level > ul li .category__third-level li a:hover{
  @apply text-black;
}
.category__image-text p label{
   @apply text-gray-600;
}
.category__image-text p{
   @apply pt-5 text-base text-gray-200 pb-0 leading-15;
}
.category__first-level .main-submenu {
  @apply absolute left-0 top-full bg-white shadow-lg hidden group-hover:block min-w-full
}
.category__first-level .main-submenu .thirdlevel {
  @apply absolute top-0 left-0 left-full bg-white shadow-lg hidden
}
.category__first-level .main-submenu li:hover .thirdlevel {
  @apply block
}
.category__first-level .firstlevel-li:hover .main-submenu {
  @apply block
}
.category__first-level .main-submenu a {
  @apply block px-25 py-13 text-sm whitespace-nowrap border-t border-gray-500
}
.category__first-level .main-submenu li:first-child a {
  @apply border-t-0
}

/* Home Banner start */
.banner-content-wrap {
  @apply px-45 md:px-50 xl:px-58
}
.banner-content-wrap h1 {
  @apply text-gray-600 font-medium text-20 lg:text-22 xl:text-25 leading-26 md:leading-33 m-0
}
.banner-content-wrap h1 strong {
  @apply block text-black
}
.banner-content-wrap span {
  @apply mt-5 md:mt-0 block leading-40 text-gray-600 text-18 md:text-md mb-30 font-medium
}
.banner-content-wrap span strong {
  @apply text-orange-dark font-medium text-lg
}
.banner-content-wrap p {
  @apply text-sm md:text-base leading-24 text-gray-600 pb-30
}
.banner-content-wrap a {
  @apply button-outline min-w-0 border-orange-dark text-orange-dark px-37 md:px-25 xl:px-37 py-8 leading-22
}
/* Home Banner end */

/* Home Promotional section start */
.home-promotionl-section {
  max-width: 1470px;
}
.promotionl-wrap {
  background: linear-gradient(180deg, #FFFFFF 65.14%, #FBFBFB 100%);
  @apply border-b border-gray-500 py-15 md:py-30 px-50 flex flex-wrap lg:flex-nowrap justify-between items-center flex-col md:flex-row;
}
.promotionl-wrap .promotionl-box {
  @apply pl-41 md:pl-50 relative md:w-1/2 lg:w-auto
}
.promotionl-wrap .promotionl-box:not(:last-child) {
  padding-right: 119px;
}
.promotionl-wrap .promotionl-box:not(:last-child)::after {
  content: "";
  @apply absolute right-54 top-0 bottom-0 m-auto border-r border-gray-500 h-30 hidden md:block
}
.promotionl-wrap .promotionl-box img {
  @apply absolute left-0 top-0 bottom-0 m-0 md:m-auto w-30 md:w-35 h-30 md:h-35
}
.promotionl-wrap .promotionl-box strong {
  @apply block text-xs md:text-sm text-gray-200 leading-16 md:leading-21 mb-2 font-medium
}
.promotionl-wrap .promotionl-box p {
  @apply text-xs md:text-sm leading-16 md:leading-19 text-gray-600 pb-0
}
.promotionl-wrap a {
  @apply text-gray-600 inline-block
}
/* Home Promotional section end */

/* ----Current-sale menu css---- */
.summar-sale-banner {
  @apply relative bg-gray-100;
}
.summar-sale-banner img.absolute{
  @apply absolute  left-0 top-0 object-cover w-full h-full;
}
.summar-sale-banner-text{
  @apply text-center bg-white p-20 sm:p-40 absolute inset-20 md:inset-40 m-auto justify-center flex-col flex;
}
.summar-sale-banner-text h1{
  @apply m-0 text-40 sm:text-xxl leading-40 sm:leading-50 text-orange-dark font-bold pb-40;
}
.summar-sale-banner-text h1 label{
  @apply text-gray-200 text-md sm:text-xl block sm:mb-25;
}
.summar-sale-banner-text p.text-md{
  @apply text-sm sm:text-md font-medium;
}
.summar-sale-banner-text ul{
  @apply flex justify-center mb-30;
}
.summar-sale-banner-text ul li{
  @apply bg-gray-200 text-white text-center py-10 mx-5;
}
.summar-sale-banner-text ul li .digit{
  @apply text-18 font-bold pb-5 leading-22;
}
.summar-sale-banner-text ul li .text{
  @apply text-xs p-0 leading-10;
}
.summar-sale-banner-text p.pb-10{
  @apply pb-10;
}
.summar-sale-banner-text p.pb-10 span{
  @apply font-bold;
}
.summarsale-time-end {
  @apply bg-gray-300 py-13 px-30 inline-block;
}
.sub-cat-coll:first-child {
  @apply border-l border-gray-500
}
.sub-cat-coll:nth-child(4n+1) {
  @apply border-l border-gray-500
}


/* ----Current-sale menu css---- */

/* cabinet section start */
.cabinet-description h2 {
  @apply text-base md:text-20 lg:text-lg leading-21 md:leading-32 text-gray-200 mt-0 mb-10 lg:mb-8
}
.cabinet-description span {
  @apply text-gray-600 leading-18 md:leading-21 mb-20 block text-sm lg:text-base
}
.cabinet-description p {
  max-width: 882px;
  @apply text-gray-600 text-sm leading-22 m-auto p-0;
}
.cabinet-list-wrap {
  @apply flex flex-wrap pt-10 md:pt-50 lg:pt-80 -mx-10
}
.cabinet-list {
  @apply w-full md:w-1/3 px-10 mt-20 md:mt-0 flex flex-col
}
.cabinet-img {
  height: 250px;
  @apply relative mb-20
}
.cabinet-list img {
  @apply object-cover w-full h-full absolute left-0 top-0 z-1
}
.cabinet-list h3 {
  @apply text-gray-200 text-base lg:text-md leading-21 lg:leading-26 mt-0 mb-10
}
.cabinet-list p {
  @apply text-gray-600 text-sm lg:text-base leading-20 lg:leading-26 pb-10 md:pb-20 lg:pb-30
}
.cabinet-list a {
  border-bottom-width: 1.5px;
  @apply table m-auto border-gray-500 hover:border-orange-dark pb-4 leading-21 font-medium mt-auto mb-0 text-sm lg:text-base
}
/* cabinet section end */
.newsletter-wrap form input  {
  @apply w-full text-base text-gray-600 pl-20 pr-50 placeholder-gray-600 h-50 border-0
}
.newsletter-wrap form .button-full  {
  @apply bg-transparent
}
/* ----Cabinets Components Listing Page css ---- */
.cabinet-sidebar .products .minusplusnumber {
  @apply w-70 rounded-none h-30
}
.cabinet-sidebar .products .minusplusnumber .mpbtn {
  @apply h-30 px-7
}
.category_tabs table tr, .category_tabs table  td, .category_tabs table{
  height: auto !important;
  @apply border-0;
}
.category_tabs table tr{
  height: auto !important;
  @apply sm:flex items-center;
}
.category_tabs table  td{
  height: auto !important;
  width: 50% !important;
  @apply text-sm font-medium text-gray-200 p-0 pb-20 md:pb-30 flex items-center;
}
.category_tabs table  td img, .category_tabs table  td svg{
  max-width: 20px;
  max-height: 20px;
  @apply mr-10;
}
.category_tabs .tab{
  @apply p-16 md:p-30 pb-0;
}
.category-listing .base-checkbox label:before {
  @apply top-3
}
.category-listing .base-checkbox input:checked + label:after {
  @apply top-8
}
.product-box .productLink{
  @apply flex 
}
.product-box .productLink .product-cover{
  flex: 0 0 100px;
}
.product-box .productLink .product-price{
  @apply text-left pl-15;
}
.product-box .productLink .product-price .product-name{
  @apply mt-0 font-medium leading-21;
}
.product-box .productLink .product-price  .price-tag{
  @apply text-16 md:text-18 font-bold text-gray-200 mr-10;
}
.quantity-col{
  flex: 0 0 100px;
  @apply mr-10;
}
.product-details-tabs .disabled.button-disabled {
  @apply bg-transparent
}
.category-title {
  min-height: 80px;
}
.category_tabs.skeleton-image, .category_tabs .tabs__light {
  min-height: 553px;
  @apply h-auto mb-auto
}
.category_tabs.skeleton-image::after{
  @apply rounded-lg;
}
.category__image_content{
  padding-bottom: 89%;
}
.product-details-tabs-skeleton{
  min-height: 495px;
  @apply rounded-lg;
}
.product-details-tabs-skeleton .cabinet-img {
  padding-top: 62%;
  @apply h-auto;
}
.my_account_left .router-link-exact-active{
  @apply text-gray-200 border-orange-dark;
}
.myaccount-label-row .myaccount-label{
  width: 20%;
  @apply leading-18;
}
.myaccount-label-row .myaccount-label-name{
  width: 80%;
  @apply pl-5 leading-18;
}
.breakwords{
  word-break: break-word;
}
.category__image .thumb-slider-left .swiper-slide-active {
  @apply border-transparent
}
.shipping-address p:empty{
  @apply pb-0;
}
.tablewrap table{
  @apply border-0;
}
.tablewrap table thead tr, .rg-table tr{
  @apply border border-gray-500 bg-gray-100;
}
.tablewrap table thead tr th, .rg-table tr th{
  @apply text-base font-medium text-gray-600 py-20 px-10 text-center leading-18;
}
.tablewrap table tbody tr, .rg-table tbody tr{
    @apply border-0
}
.tablewrap table tbody tr td, .rg-table tbody tr td{
  @apply text-sm font-medium text-gray-200 py-20 px-10 text-center leading-18;
}
.tablewrap table tfoot tr td{
  @apply text-sm text-gray-200 pt-20 pb-0 px-25 leading-18;
}
.tablewrap .dropdown-content{
  width:140px
}
.tablewrap table tbody tr td.text-left, .tablewrap table thead tr th.text-left{
  @apply text-left
}
.tablewrap table tbody tr td.text-right, .tablewrap table thead tr th.text-right{
  @apply text-right
}
.tablewrap table tbody tr td.font-medium{
  @apply font-medium;
}
.tablewrap table tbody tr td.font-bold{
  @apply font-bold;
}
.mywishlist .products{
  @apply flex flex-wrap;
}
.mywishlist .products .wishlist-col{
  @apply w-6/12 lg:w-4/12 border border-gray-500 border-l-0 p-10 -mb-1 block;
}
.mywishlist .products .wishlist-col:first-child {
  @apply border-l border-gray-500
}
.mywishlist .products .wishlist-col:nth-child(3n+1) {
  @apply border-l border-gray-500
}
.mywishlist .products .wishlist-col .wishlist-text{
  @apply text-center pl-0 pr-0;
}
.mywishlist .products .wishlist-col .blend a{
  @apply  bg-gray-300 mb-10 sm:mb-20;
}
.mywishlist .products .wishlist-col .blend a .product-image {
  padding-bottom: calc(300% / (277.5 / 93)) !important;
}
.mywishlist .products .wishlist-col .wishlist-text .wishlist-name{
  @apply mr-0 block pr-0;
}
.mywishlist .products .wishlist-col .wishlist-text .wishlist-name a{
  @apply text-gray-600 font-medium;
}
.mywishlist .products .wishlist-col .wishlist-text .wishlist-name .button-full{
  @apply text-gray-200 font-medium text-16 bg-white p-0 rounded-none mt-10 mb-10 border-b-2 border-gray-500 pb-5 mx-auto;
}
.mywishlist .products .wishlist-col .wishlist-text .wishlist-name .button-full svg{ 
  @apply hidden
}
.mywishlist .products .wishlist-col .wishlist-text .wishlist-name .button-full:hover{
  @apply text-orange-dark ;
}
/* search popup */
.search-grid .product__icons {
  @apply hidden
}
.search-grid .product {
  @apply mb-20 last:mb-0 p-10 border border-gray-500
}
.search-grid .productLink {
  @apply flex text-left mb-0
}
.search-grid .productLink .product-cover {
  min-width: 80px;
  height: 80px;
  @apply mr-10
}
.search-grid .productLink .product-tile-review,
.search-grid .productLink .quick-view-button,
.search-grid .productLink .f_cat_sample_label {
  @apply hidden
}
.search-grid .productLink .product-price {
  @apply mt-0
}
.search-grid .productLink .product-cover a {
  @apply h-full
}
.search-grid .productLink .product-image {
  padding-bottom: 0 !important;
  @apply h-full;
}
.search-grid .product-price .product-name {
  @apply mt-0 pb-18 font-medium text-sm text-gray-200 left-19 leading-19
}
.search-grid .product-price .product-name a {
  @apply min-h-0 text-sm
}
.search-grid .product-price p span {
  @apply text-sm align-top
}
.search-grid .product-price .product-tile-price {
  @apply pb-0 leading-19
}
.search-grid .product-price .product-title-desc {
  @apply text-gray-50 text-12 leading-16 pb-10
}
.product-title-desc.ellipsis p {
  @apply pb-0
}
.search-grid .product-price .price-tag {
  @apply font-bold text-sm text-gray-200 mr-10 leading-19 inline-block align-middle
}
.search-grid .product-price .price-special {
  @apply text-xs text-gray-600 leading-19 inline-block align-middle
}
/* search popup */
.category-listing .product-listing .product-listing-col:nth-child(4n+1){
   @apply border-l border-gray-500;
}
.category-listing .product-listing .product-listing-col:first-child{
  @apply border-l border-gray-500;
}
.category-listing .product-listing .product-listing-col .product-image{
  padding-bottom: calc(300% / (277.5 / 93));
}
#category-listing .category-listing .product-listing .product-listing-col .product-image{
  padding-bottom: 120.54054%;
}
.category-listing .product-listing .product-listing-col .f_cat_sample_label:after{
  content:'';
  border-style: solid;
  border-width: 30px 20px 0 0;
  border-color: #F18607 transparent transparent transparent;
  @apply w-0 h-0 absolute left-full top-0;

}
.filter-tab-row.active{
  @apply block
}
.filter-row  .filter-top{
  min-height:60px
}
.filter-left.active svg{
  @apply rotate-180;
}
.filter-tab-row .tabs__header{
  @apply md:hidden;
}
.filter-tab-row .tab-content{
  @apply md:flex md:justify-center flex-wrap md:px-20;
}
.filter-tab-row .tab-content ul,
.filter-tab-row .tab-content .custom-scrollbar{
  max-height: 180px;
}
.filter-tab-row .tabs__light{
   @apply md:flex md:justify-center;
}
@media (min-width:768px){
  .filter-tab-row .tab-col .tab{
    display: block !important;
  }
}
/* search popup end */

/* contact us age */
.contact-wrap {
  @apply flex flex-wrap justify-between
}
.contact-wrap > div {
  width: calc(50% - 10px);
  @apply border border-gray-50 rounded p-16 lg:p-30 pl-66 md:pl-16 lg:pl-30 relative;
}
.contact-wrap > div:before {
  content: "";
  background-image: url('/assets/mail.svg');
  @apply bg-no-repeat bg-center block w-30 h-30 mb-20 float-left md:float-none absolute md:static left-16 top-16
}
.contact-wrap .contact-phone {
  @apply ml-auto
}
.contact-wrap .contact-phone:before {
  background-image: url('/assets/phone.svg');
}
.contact-wrap .contact-address {
  @apply w-full mt-16 md:mt-20
}
.contact-wrap .contact-address:before {
  background-image: url('/assets/location.svg');
  @apply float-left mr-25 mb-18
}
.contact-wrap span {
  @apply block text-18 text-gray-200 leading-24 mb-3;
}
.contact-wrap p {
  min-height: 40px;
  max-width: 138px;
  @apply text-sm leading-20 text-gray-600 mb-20 md:mb-35 pb-0;
}
.contact-wrap .contact-address p {
  @apply max-w-full min-h-0 mb-0
}
.contact-wrap a {
  @apply text-sm underline inline-block align-top left-19
}
/* contact us age end */
/* Quick view */
.quick-view .minusplusnumber {
  width: 100px;
  @apply h-50
}
.quick-view .minusplusnumber input { 
  @apply font-medium
}
.quick-view .minusplusnumber .minus { 
  @apply pl-18 pr-5
}
.quick-view .minusplusnumber .plus { 
  @apply pr-18 pl-5
}
.quick-view .product-cover .product-image:hover .product-image__thumb {
  @apply transform scale-100
}
.quick-product-description button {
  @apply min-w-0 w-1/2
}
.product__icon.relative.product__icon--active rect {
  @apply stroke-current text-white first:fill-current first:text-gray-200
}
/* Quick view end */
div#fc_frame, div#fc_frame.fc-widget-normal {
  @apply bottom-10 right-5 z-1
}

/* About us page css start */
.aboutus-top-row{
  @apply flex flex-wrap items-center bg-gray-300 border border-gray-500 mb-20 sm:mb-80;
}
.aboutus-top-row .aboutus-col{
  @apply w-full sm:w-6/12;
}
.aboutus-top-row .aboutus-left{
  @apply p-16 sm:p-20 md:p-60 order-1 sm:order-first;
}
.aboutus-top-row .aboutus-left label{
  @apply block text-12 sm:text-18 text-gray-200 font-regular uppercase pb-5 sm:pb-0;
}
.aboutus-top-row .aboutus-left h1{
  @apply text-gray-200 leading-20 sm:leading-30 lg:leading-40 m-0 text-16 sm:text-30;
}
.aboutus-center-row{
  @apply border border-gray-500 p-16 sm:p-60 text-gray-200 mb-30 sm:mb-80;
}
.aboutus-center-row h2{
  @apply  text-gray-200 leading-18 sm:leading-40 m-0 pb-15 sm:pb-35 font-bold sm:font-medium text-center text-16 sm:text-24;
}
.aboutus-bottom{
   @apply overflow-x-hidden
}
.aboutus-bottom-row{
   @apply pb-30 sm:pb-80 flex flex-wrap -mx-50;
}
.aboutus-bottom-row .aboutussticker-col{
  @apply flex md:w-4/12 border-r border-gray-500 px-50;
}
.aboutus-bottom-row .aboutussticker-col:last-child{
  @apply border-0;
}
.aboutus-bottom-row .aboutussticker-col label{
  flex: 0 0 55px;
  @apply text-left;
}
.aboutus-bottom-row .aboutussticker-col .aboutussticker-text{
  @apply flex-grow text-gray-600 leading-26;
}
.aboutus-bottom-row .aboutussticker-col .aboutussticker-text h3{
  @apply m-0 font-medium text-gray-200 pb-10 sm:pb-15 leading-18 sm:leading-25 text-16 sm:text-20;
}
.aboutus-top-row .aboutus-right{
  padding-top: 34%;
  @apply relative overflow-hidden;
}
.aboutus-top-row .aboutus-right img{
  max-height: inherit !important;
  @apply absolute max-h-0 left-0 top-0 z-1;
}

/* Product details page */
.product-top-section .add-to-wishlist {
  @apply border border-solid border-gray-300 text-gray-400 hover:text-black h-45 md:h-50 px-11 md:px-25 bg-gray-100 ml-10;
}
.product-top-section .payment-options p {
  @apply leading-19 pb-12 text-xs md:text-sm
}
.product-top-section .payment-options img {
  @apply m-auto block
}
.product-details .accordion-body{
  @apply hidden
}
.product-details .is-open .accordion-body{
  @apply block
}
.product-details .acc-menu > h2 {
  @apply text-center text-sm  md:text-18 text-gray-200 font-medium leading-19 md:leading-24 py-15 md:py-20 m-0 relative cursor-pointer
}
.product-details .acc-menu > h2:after, .product-details .acc-menu > h2:before {
  content: "";
  @apply h-1 w-14 md:w-20 top-0 bottom-0 right-0 absolute bg-gray-200 m-auto
}
.product-details .acc-menu > h2:after {
  @apply right-6 md:right-9 w-1 h-14 md:h-20
}
.product-details .is-open > h2:after{
  @apply hidden
}
.product-details .acc-menu {
  @apply border-b border-gray-500 first:border-t
}
.product-question h3 {
  @apply font-regular text-base leading-21 text-gray-200 mt-0 mb-8 relative pr-25 cursor-pointer
}
.product-question p {
  @apply last:pb-0
}
.question-acc-menu.is-open-q .question-body{
  @apply block
}
.question-acc-menu.is-open-q h3 svg{
  @apply transform rotate-180
}
.product-question p, .product-details .details-wrapper p {
  @apply text-base leading-24 text-gray-600 pb-20
}
.product-details .rating-summary {
  background-image: url('/assets/star.svg');
  width: 150px;
  @apply h-28
}
.product-details .rating-summary .rating-result {
  background-image: url('/assets/star-filled.svg');
  @apply h-28 block
}
.product-details {
  max-width: 880px;
}
.review-form input, .review-form textarea {
  @apply placeholder-gray-600 text-gray-600
}
.product-details-tabs .wishlist-add-to-cart svg {
  @apply hidden
}
.product-top-section .minusplusnumber input {
  @apply font-medium text-gray-200
}
.category-info-box p {
  @apply text-base leading-22 text-gray-200 pb-10 last:pb-0
}
.category-info-box .cms-content {
  @apply p-20
}
/* Product details page */
/* modal category compare start*/
.price-selector button.active:after {
  @apply top-4 left-3
}
div.modal-category-compare {
  @apply bg-black bg-opacity-40
}
.modal-category-compare .compare-item-tile .product-cover {
  @apply px-0 mb-0 static
}
.modal-category-compare .compare-item-tile .product-cover .product-image {
  padding-top: 66%;
}
.modal-category-compare .compare-item-tile .actions {
  @apply border-gray-500 p-10
}
.modal-category-compare .compare-item-tile:not(:last-child) .actions,
.modal-category-compare .compare-item-tile:not(:last-child) .product-cover,
.modal-category-compare .compare-item-tile:not(:last-child) .compare-attribute-list {
  @apply border-r-0
}
.modal-category-compare .compare-item-tile .f_cat_sample_label {
  @apply hidden
}
.modal-category-compare .compare-item-tile button {
  @apply bg-transparent w-60 h-auto m-auto static;
}
.modal-category-compare .compare-item-tile button svg {
  @apply hidden
}
.modal-category-compare .compare-item-tile button span {
  @apply block
}
.modal-category-compare *::-webkit-scrollbar {
  @apply w-5 h-5
}
.modal-category-compare *::-webkit-scrollbar-track {
  background: #E5E7EB;
  @apply w-5 h-5 border-0
}
.modal-category-compare *::-webkit-scrollbar-thumb {
  @apply w-5 h-5 border-0 border-gray-500 bg-gray-200
}
/* modal category compare End */
/* page category compare start */
.compare-page .product .product-price {
  @apply px-10 mt-10
}
.compare-page .product button {
  @apply bg-transparent w-50 static m-auto underline;
}
.compare-page .product button svg,
.compare-page .product .quick-view-button,
.compare-page .wishlist-add-to-cart {
  @apply hidden
}
.compare-page .product button span {
  @apply block
}
.compare-page .product .product-cover, .compare-page .product {
  @apply overflow-visible static
}
.compare-page .product .product-compare-remove {
  @apply block
}
.compare-page .product .product__icons {
  @apply top-full left-0 right-0 bottom-auto mt-10
}
.compare-page td, .compare-page th {
  @apply text-sm p-10
}
.compare-page table, .compare-page tr {
  @apply border-gray-500
}
.compare-page .tg-wrap, .compare-page .compare-attribute-list:nth-child(2) .compare-item-tile {
  @apply overflow-auto
}
/* page category compare end */

/* Checkout page css start */
.checkout-left-col{
  width: 690px;
  @apply max-w-full
}
.checkout-right{
  width:550px;
  @apply bg-white;
}
.editmode p{
  @apply text-16 pb-7;
}
.checkout-right .summary-sidebar.summary-sidebar .product-image{
  width:100%;
}
.checkout-right .summary-sidebar .product-image-wrap{
  flex: 0 0 100px;
   @apply pr-0;
}
.min-w-30{
  min-width:25px;
}
.radiostyled-row {
  border-radius: 4px;
}
.radiostyled-row .checkmark{
  @apply left-15 top-15 md:top-20;
}
.thankyou-page p{
  @apply text-16 leading-22 md:text-24 md:leading-36 pb-30 md:pb-40;
}
.thankyou-page{
  max-width: 850px;
  margin: auto;
  padding-top:100px;
  padding-bottom: 100px;
}
.testimonial-row .skeleton-image{
  padding-top: 57%;
}
.address-box p{
  @apply text-14 leading-20 text-gray-200 pb-2;
}
.shipping-summary{
  min-height: 170px;
}
.faq-top-search{
  @apply border border-gray-500 p-20 md:p-40 bg-gray-100 mb-20 md:mb-40;
}
.faq-top-search h1{
  @apply m-0 pb-20 md:pb-40 text-gray-200 leading-35;
}
.faq-top-search .am-widget-center input{
  background: url(/assets/search-icon.svg) no-repeat 12px 9px;
  text-transform: none !important;
  @apply border w-full border-gray-500 p-10 pl-45 bg-white h-40 rounded-none;
}
.faq-top-search .am-widget-center{
  max-width: 400px;
  @apply m-auto w-auto !important;
}
.faq-top-search .am-widget-center .am-button{
  @apply h-0 block;
}
.faq-box .am-widget-category{
  @apply border border-gray-500 p-20 md:p-40 bg-white mb-20 md:mb-40;
}
.faq-box .am-widget-category .am-links{
  @apply hidden;
}
.faq-box .faq-category-title{
  @apply text-gray-200 leading-30 text-19 md:text-24 mb-20 md:mb-35 font-bold;
}
.faqs-wrap-main > div:last-child .question-acc-menu {
  @apply border-0 mb-0 -mb-17
}
.faqs-wrap-main > div:last-child .question-acc-menu p {
  @apply pb-0
}
.faq-box .am-widget-category .am-title{
  @apply  text-gray-200 font-medium text-16 relative pr-30 cursor-pointer;
}
.faq-box .am-widget-category .am-title:after{
  border-width: 0 1px 1px 0;
  content: '';
  @apply inline-block p-5 border-gray-200 absolute right-2 top-4 rotate-45;
}
.faq-box .am-widget-category .am-item{
  @apply  border-b border-gray-500 mb-17;
}
.faq-box .am-widget-category .am-content,
.faqs-wrap .question-body{
  transition: all 0.3s ease;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-5px);
  @apply text-gray-600 font-medium text-16 leading-22 pt-17;
}
.faqs-wrap .question-body{
  @apply pt-0
}
.faq-box .am-widget-category .active .am-content,
.faqs-wrap .is-open-q .question-body{
  height: auto;
  opacity: 1;
  transform: translateY(0);
  @apply pb-20;
}
.faq-box .am-widget-category .active .am-title:after{
  transform: rotate(225deg);
}
.faqs-wrap .view-all{
  @apply text-center block mt-15 md:mt-25 text-16;
}
.faqs-wrap .view-all::after{
  content: '';
  background: url(/assets/plusicon.svg) no-repeat;
  @apply h-12 w-12 inline-block ml-8;
}
.faq-bottom{
  @apply pb-50;
}
.cabinets-design-ideas{
  @apply md:pb-80 pb-50;
}
.filter-grid{
  column-count: 4;
  column-gap:10px;
  max-width: 100%;
  @apply w-full m-auto;
}
.filter-grid-col{
  display: inherit;
  page-break-inside: avoid;
  break-inside: avoid;
  @apply mb-10 w-full;
}
.filter-grid-col img{
  width:100%;
}
.filter-grid-col:hover a img{
  transform: scale(1.1);
}
.filter-name{
  transition: transform .35s;
  transform: translateY(100%);
}
.filter-grid-col:hover a .filter-name{
  transform: translateY(0);
}
.cbp-filter-counter{
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: -webkit-transform .25s, opacity .25s;
  transition: transform .25s, opacity .25s;
  @apply text-white  w-34 m-auto left-0 right-0 bottom-0 absolute bg-orange-dark py-4 text-center;
}
.cbp-filter-counter::after{
  content: "";
  @apply border-4 border-transparent border-b-0 border-t-orange-dark h-0 w-0 m-auto left-0 right-0 -bottom-4 absolute;
}
.filter-item:hover .cbp-filter-counter{
  opacity: 1;
  -webkit-transform: translateY(-44px);
  transform: translateY(-44px);
}
.filter-grid-col .skeleton-image{
  padding-top: 100%;
}

/* Professional Discounts start */
.professional-discount, .free-design {
  @apply pb-34 md:pb-60
}
.cms-banner {
  @apply flex bg-gray-100 border border-gray-500 md:items-center justify-between
}
.cms-banner .cms-banner-left { 
  max-width: 447px;
  @apply px-20 md:px-30 lg:px-60 py-20 self-center
}
.cms-banner .cms-banner-left span { 
  @apply block leading-16 md:leading-24 text-12 md:text-16 lg:text-18
}
.cms-banner .cms-banner-left h1 { 
  @apply mt-4 md:mt-8 mb-10 md:mb-15 lg:mb-30 leading-21 md:leading-40 text-gray-200 text-16 md:text-24 lg:text-xl
}
.cms-banner .cms-banner-left p { 
  @apply pb-0 text-12 md:text-16 lg:text-20 leading-16 md:leading-24 lg:leading-30 text-gray-200
}
.cms-banner .cms-banner-image {
  width: 62.5%;
}
.cms-banner .cms-banner-image img { 
  @apply h-full
}
.discount-form {
  max-width: 1120px;
  @apply pt-30 md:pt-80 flex flex-wrap md:flex-nowrap m-auto
}
.discount-form .discount-form-left {
  width: 51%;
  @apply pr-0 md:pr-40 lg:pr-80
}
.discount-form .discount-form-left img {
  @apply mb-20 md:mb-30
}
.discount-form .discount-form-left h2 {
  @apply mt-0 mb-10 md:mb-25 text-gray-200 text-16 md:text-20 lg:text-lg
}
.discount-form .discount-form-left p {
  @apply text-16 md:text-sm text-gray-600 pb-20 last:pb-0
}
.discount-form .discount-form-right {
  width: 49%;
}
h2.cms-section-title {
  @apply text-center font-medium leading-21 md:leading-32 text-16 md:text-22 lg:text-lg mt-0 mb-20 md:mb-40 w-full
}
.cms-image-section .cms-section-row {
  @apply flex flex-wrap md:flex-nowrap items-center mb-20 md:mb-60 last:mb-0 even:flex-row-reverse
}
.cms-image-section .cms-section-row img {
  @apply w-auto block m-auto
}
.cms-section-row .cms-image-left {
  width: 48.4%;
}
.cms-section-row .cms-content-right {
  width: 51.6%;
}
.cms-section-row .cms-content-right h3 {
  max-width: 413px;
  @apply mt-0 mb-10 leading-21 md:leading-29 text-gray-200 mx-auto text-16 md:text-18 lg:text-20
}
.cms-section-row .cms-content-right p {
  max-width: 413px;
  @apply text-14 md:text-16 lg:text-18 text-gray-600 leading-22 md:leading-26 pb-15 last:pb-0 mx-auto
}
.cms-image-section {
  @apply pb-30 md:pb-80
}
.cms-review {
  @apply flex flex-wrap
}
.cms-review-list {
  width: 32.33%;
  margin-right: 1.5%;
  @apply p-20 bg-gray-100 relative text-gray-200 mb-20
}
.cms-review-list:nth-child(3n) {
  @apply mr-0
}
.cms-review-list b, .cms-review-list strong {
  @apply block mb-8 leading-21 pr-45
}
.cms-review-list span {
  @apply text-xs mb-16 md:mb-23 leading-16 block
}
.cms-review-list p {
  @apply leading-24 text-sm pb-0
}
.cms-review-list::before {
  content: "";
  background-image: url('/assets/quote.svg');
  @apply absolute right-20 top-20 w-42 h-37 bg-no-repeat
}
.discount-form .discount-form-left iframe {
  @apply mb-20 w-full
}
.discount-form-right {
  font-size: 0;
}
.free-design .discount-form {
  @apply pb-30 md:pb-60
}
.free-design .discount-form-left {
  @apply pr-0 md:pr-30
}
.free-design .discount-form-left p {
  @apply text-gray-200
}
.free-design .cms-banner-left h1 {
  @apply mb-0
}
.free-design .discount-form .discount-form-left h2 {
  @apply mb-10
}
/* Professional Discounts end */
.cmspage-row{
  @apply pb-70;
}
.cmspage-row h2{
  @apply m-0 mb-15 text-20;
}
.cmspage-row h3{
  @apply m-0 mb-15 text-17 font-medium;
}
.cmspage-row ul, .cmspage-row ol{
  @apply mb-15 text-gray-600;
}
.cmspage-row p{
  @apply text-gray-600
}
.cmspage-row p strong{
  @apply font-medium text-black;
}
.store-payment-methods table tbody tr{
  @apply md:border-b border border-gray-500 p-20 md:p-0 rounded-md md:rounded-none mb-20 md:mb-0;
}
.store-payment-methods table tbody tr td.removelinks{
  @apply pb-0 md:pb-20;
}
.sidebar-menu .sidebar-submenu.free-design-menu li {
  @apply flex-wrap
}
.sidebar-menu .sidebar-submenu .free-design-submenu {
  @apply w-full
}
.sidebar-menu .sidebar-submenu .free-design-submenu a {
  @apply pl-30
}

/* Kitchen Cabinet Sizes start */
.cms-tab-section .cms-tab-list {
  @apply h-full border border-gray-500 relative flex flex-wrap p-0 list-none
}
.cms-tab-section .cms-tab-list .cms-tab-item {
  @apply cursor-pointer leading-16 text-sm md:text-base md:leading-18 py-13 md:py-19 px-20 text-center block
}
.cms-tab-section .tab-content {
  @apply border border-t-0 border-gray-500 p-20 hidden
}
.cms-tab-section .tab-content > div {
  @apply flex-col md:flex-row
}
#range:checked ~ .tab-content-wrap .panel-range,
#refrigerator:checked ~ .tab-content-wrap .panel-refrigerator,
#dishwasher:checked ~ .tab-content-wrap .panel-dishwasher{
  @apply block
}
#range:checked ~ .cms-tab-list .range-tab,
#refrigerator:checked ~ .cms-tab-list .refrigerator-tab,
#dishwasher:checked ~ .cms-tab-list .dishwasher-tab{
  @apply bg-orange-light text-orange-dark font-medium border-orange-dark
}
.cms-table-wrap {
  @apply mb-20 md:mb-30 w-full overflow-auto
}
.cms-table-wrap table {
  @apply text-center border-orange-dark text-14 md:text-base
}
.cms-table-wrap table td {
  @apply p-10 md:p-15 text-gray-200 border border-orange-dark text-14 md:text-base
}
.cms-table-wrap table tr,
.cms-table-wrap table thead tr {
  @apply border-orange-dark
}
.cms-table-wrap table thead td {
  @apply bg-orange-dark text-white p-10 md:p-15 border-white border border-white font-bold border-b-0 first:border-l-0 last:border-r-0
}
.size-guideline ul {
  @apply pl-20 list-disc
}
.size-guideline li {
  @apply pb-20 leading-22 text-sm md:text-base
}
.size-guideline-faq h3 {
  @apply my-10 font-medium text-18
}
.cms-tab-section {
  @apply py-30 md:py-80
}
.size-guideline h3 {
  @apply text-18 md:text-20
}
/* Kitchen Cabinet Sizes end  */

/* Home kitchen space section start */
.feature-category-wrap {
  @apply flex flex-wrap mb-20 md:mb-30
}
.feature-tile-col {
  @apply w-6/12 md:w-3/12 border border-gray-500 border-r-0 p-10 last:border-r
}
.feature-tile-col img {
  @apply absolute w-full h-full left-0 top-0 object-cover max-w-full max-h-full
}
.feature-category-title {
  @apply table mx-auto text-sm md:text-sm lg:text-base leading-19 md:leading-21 mt-20 mb-10 md:mb-15 text-gray-600 font-medium
}
.feature-bynow {
  @apply leading-19 md:leading-21 table pb-4 font-medium border-b border-gray-500 text-sm md:text-sm lg:text-base m-auto text-gray-200 mb-10
}
.feature-tile-col .product-image {
  height: 290px;
  @apply relative
}
.feature-view-more {
  @apply inline-flex items-center m-auto text-gray-200 text-sm md:text-18 leading-24
}
.feature-view-more img {
  @apply ml-10 
}
/* Home kitchen space section end */
.category-content h1, .category-content h2, .category-content h3 {
  @apply my-20 text-gray-200
}
.category-content p {
  @apply text-gray-200 leading-19 md:leading-24 last:pb-0
}
.category-content hr {
  @apply border-gray-500 my-30
}
.category-content a {
  @apply underline
}
.category-content p + hr {
  @apply mt-10
}
.category-bottom-content h2 {
  @apply text-18 md:text-20 leading-26
}
.category-bottom-content h3 {
  @apply mb-10
}
.category-part-two, .category-part-three {
  @apply flex flex-wrap md:flex-nowrap -mx-10
}
.category-part-two > div {
  @apply px-10 w-full md:w-1/2 mb-20 md:mb-0
}
.category-part-three > div {
  @apply px-10 w-full md:w-1/3 mb-20 md:mb-0
}
.cookie.fixed{
  max-width: 1240px;
  @apply m-auto left-0 right-0 bottom-17 rounded-sm;
}
#cabinets-list .product .quick-view-button{
  @apply text-13 leading-13 p-5 h-34 px-7;
}
.grecaptcha-badge {
  @apply invisible pointer-events-none
}
.category-part-three img {
  height: 250px;
  @apply object-cover
}
.category-part-three h2 {
  @apply mb-12
}
.shopby-style{
  @apply pb-50;
}
.shopby-style h2{
  @apply mt-10 md:mt-20;
}
.shopby-style  h3 {
  @apply md:text-18 text-16 md:leading-20 leading-17
}
.shopby-style .category-part-two{
  @apply md:pb-20 md:pt-10;
}
.category-top-content > img{
  @apply mb-20 md:mb-0;
}
.white-style .white-row{
  @apply m-0 mb-15 bg-gray-300 p-0 items-center md:mb-0 ;
}
.white-style .category-part-two > div img{
  @apply w-full;
}
.white-style .category-part-two > div{
  @apply items-center p-0 h-full flex flex-col text-center mb-0;
}
.white-style .category-part-two .shg-right{
  @apply p-30 md:px-50
}
.white-style .shg-btn{
  @apply button-full w-auto no-underline inline-block;
}
.white-style .white-faq{
  @apply md:flex text-center;
}
.white-style .white-faq img{
  @apply inline-block;
}
.white-style .white-faq .white-faq-coll{
  @apply md:w-4/12 w-full;
}
.white-style .white-faq .whitecoll{
  @apply border border-gray-500 p-20 md:-mr-1 md:mb-0 mb-20 h-full;
}
.white-style .white-faq .whitecoll h3{
  @apply font-medium;
}
.payment .card-body form{
  @apply p-0 m-0 static mt-10;
}
.payment  .paypalButton{
  max-width: 202px;
}

/* kitchen cabinets page start */
.cabinets-title {
  @apply mt-0 text-center text-16 md:text-lg text-gray-200 font-medium mb-20 md:mb-40 leading-32
}
.cabinets-compare {
  @apply flex flex-wrap mb-10 md:mb-60
}
.cabinets-compare > div {
  @apply w-full md:w-1/2
}
.cabinets-compare h3 {
  @apply p-20 md:px-30 md:py-18 leading-21 md:leading-24 text-16 md:text-18 mt-0 mb-20 md:mb-30 text-gray-200 border border-gray-500 bg-gray-100
}
.cabinets-compare > div:nth-child(2) h3 {
  @apply md:border-l-0
}
.cabinets-bottom-content .cabinets-compare ul {
  @apply !m-0 md:px-20 lg:px-30
}
.cabinets-bottom-content .cabinets-compare li:before {
  content: "";
  background-image: url('/assets/cabinet-sprite.svg');
  @apply absolute left-0 top-0 w-26 h-26 bg-no-repeat
}
.cabinets-bottom-content .cabinets-compare li:nth-child(2):before {
  background-position: 0 -53px;
}
.cabinets-bottom-content .cabinets-compare li:nth-child(3):before {
  background-position: 0 -107px;
}
.cabinets-bottom-content .cabinets-compare li {
  @apply pl-45 relative text-sm text-gray-600 leading-19 !mb-20 md:!mb-30 md:last:!mb-0 list-none
}
.cabinets-bottom-content .cabinets-compare li strong {
  @apply block mb-7 font-medium text-base text-gray-200
}
.cabinets-two-part {
  @apply flex flex-wrap border border-gray-500 bg-gray-100
}
.cabinets-two-part > div { 
  @apply w-full md:w-1/2 md:first:pr-20 last:pl-16 md:last:pl-20 last:pr-16 md:last:pr-60 last:py-16 md:last:py-40
}
.cabinets-two-part img {
  @apply h-full object-cover m-auto
}
.cabinets-two-part h3 {
  @apply mt-0 mb-20 text-18 leading-24 text-gray-200
}
.cabinets-two-part p {
  @apply text-gray-200 leading-24 pb-18 last:pb-0
}
.cabinets-two-part a {
  @apply underline
}
.kitchen-cabinets-desc {
  max-width: 862px;
  @apply m-auto text-center
}
.kitchen-cabinets-desc h1 {
  @apply mt-0 mb-8 leading-32 text-20 md:text-28
}
.kitchen-cabinets-desc p {
  @apply text-gray-600 leading-21 last:pb-0
}
.cabinets-description {
  @apply mt-20 md:mt-40 pt-20 md:pt-40 pb-0 md:pb-60 md:border-t md:border-gray-500
}
.cabinets-frame-wrap {
  @apply flex flex-wrap md:border border-gray-500
}
.cabinets-frame-wrap > div {
  @apply w-full md:w-1/2 md:p-10 lg:p-20 md:first:border-r md:first:border-gray-500
}
.cabinets-image {
  @apply relative
}
.cabinets-image img {
  height: 400px;
  @apply relative object-cover
}
.cabinets-image-desc {
  width: 271px;
  @apply absolute left-0 top-0 h-full bg-white bg-opacity-80 p-20 lg:p-40
}
.cabinets-image-desc h2 {
  min-height: 126px;
  @apply text-20 lg:text-xl mt-0 leading-30 lg:leading-44 mb-18 lg:mb-48 text-gray-200
}
.cabinets-image-desc a {
  @apply button-full block last:button-outline last:bg-transparent min-w-0 last:border-gray-200 last:min-w-0 text-center last:mt-20
}
.cabinets-frame-description {
  @apply lg:pl-20 pt-20 pb-30 md:py-40
}
.cabinets-frame-description li {
  @apply mb-20 md:mb-40 last:mb-0 flex text-gray-200
}
.cabinets-frame-description li > strong {
  width: 120px;
  min-width: 120px;
  @apply border-r border-gray-500 text-base font-medium leading-21 pr-18
}
.cabinets-frame-description li > div {
  @apply pl-25
}
.cabinets-frame-description li > div > strong {
  @apply block text-base leading-21 mb-5 font-medium
}
.cabinets-frame-description li > div > p {
  @apply text-sm last:pb-0 text-gray-600
}
.cms-review-wrap {
  @apply pt-30 pb-15 md:py-60
}
.feature-category-cms  {
  @apply pb-50 md:pb-80
}
.feature-category-cms .feature-category-wrap {
  @apply mb-0
}
/* kitchen cabinets page end */

/* CMS Solid Wood Kitchen Cabinets page start */
.category-inner .category-list {
  @apply flex flex-wrap m-0 w-full
}
.category-inner .category-list li {
  @apply w-6/12 md:w-4/12 xl:w-3/12 bg-white border border-l-0 -mb-1 border-gray-500 p-10 mx-0
}
.category-inner .cat-item-name {
  height: 42px;
  @apply overflow-hidden mb-5 mt-10 sm:mt-18 text-14 md:text-18 text-gray-200 font-medium inline-block leading-21
}
.category-inner .category-list li:nth-child(4n+1){
  @apply border-l border-gray-500;
}
.category-inner .category-list li:first-child{
 @apply border-l border-gray-500;
}
.category-inner .category-list .cat-item-top {
  @apply flex flex-col
}
.category-inner .category-list li .cat-img{
 padding-top: 66.666666666667%;
 padding-bottom: 0 !important;
 order: -1;
 @apply block relative
}
.category-inner .category-list li .cat-img img{
  height: 73%;
  @apply absolute top-0 left-0 right-0 m-auto object-cover
}
.category-inner .category-list .actions {
  @apply flex flex-wrap md:flex-nowrap absolute inset-x-0 bottom-0
}
.category-inner .category-list .btn {
  @apply button-full w-1/2 min-w-0 last:ml-10 px-10 py-15 text-center text-sm no-underline
}
.cat-item-inner {
  @apply pb-65 relative h-full
}
.cat-item-price .price-label {
  @apply text-sm text-gray-600
}
.cat-item-price .price-value {
  @apply flex text-14 md:text-18 text-gray-200 font-bold pb-0 md:pb-10 w-full mt-5
}
.cat-item-price .price-value .with-special {
  @apply text-sm sm:text-base text-gray-600 line-through font-regular order-1
}
.cat-item-price .price-value .is-special {
  @apply mr-10
}
.cat-item-middle .href-underline {
  @apply text-sm text-gray-200 underline
}
.cat-item-compare {
  top: 37%;
  @apply bg-repeat h-30 md:h-40 w-30 md:w-40 absolute right-10 z-1 rounded-full overflow-hidden
}
.cat-item-compare input {
  @apply w-full h-full absolute left-0 top-0 invisible z-2 cursor-pointer
}
.cat-item-compare label {
  background-image: url('/assets/compare-icon.svg');
  font-size: 0;
  background-size: 100% 100%;
  @apply w-full h-full absolute left-0 top-0 cursor-pointer
}
.cat-notification {
  @apply text-xs md:text-sm
}
.remodeling-row{
  @apply md:flex -mx-10;
}
.remodeling-row .remodeling-coll{
  @apply md:w-4/12 w-full px-10 mb-20 md:mb-0;
}
.remodeling-row .remodelingcoll{
  @apply bg-gray-300 h-full;
}
.remodeling-row .remodelingcoll img{
  @apply w-full;
}
.remodeling-row .remodelingcoll .remodeling-text{
  @apply p-20;
}
.remodeling-row .remodelingcoll .remodeling-text h3 {
  @apply mt-0 mb-10;
}
.free-design{
  /* box-shadow: 0px 20px 40px 0px rgb(0 0 0 / 10%); */
  box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, 0.1);
  @apply mt-40 text-center border border-gray-300 p-30;
}
.free-design img{
  @apply inline-block
}
.free-design h2{
  @apply mt-10 mb-20;
}

#cms-page ol, #cms-page  ul {
  list-style: inherit;
  @apply ml-20;
}
#cms-page ol li, #cms-page ul li {
  @apply mb-5;
}
#cms-page h1 {
  @apply mt-0;
}
.toolbar-products {
  @apply flex-wrap md:flex-nowrap flex items-center bg-gray-300 py-20 md:py-20 px-20 md:px-10 lg:px-20 relative mb-30 mt-15
}
.toolbar-products .toolbar-label {
  @apply mr-20 text-gray-200 font-medium
}
.toolbar-products .toolbar-amount {
  @apply pb-0 mr-15 md:mr-20 pl-15 md:pl-20 text-gray-200 font-medium border-l border-gray-50
}
.toolbar-products .category-filter-container {
  @apply md:last:ml-auto flex my-15 md:my-0 last:my-0 last:w-full last:md:w-auto
}
button.clear-filter {
  @apply font-medium
}
.toolbar-products .box-trigger {
  @apply pr-20 font-medium relative cursor-pointer text-gray-200
}
.toolbar-products .box-trigger::before {
  content: "";
  @apply absolute top-full left-0 right-0 h-20
}
.toolbar-products .box-trigger:after {
  content: "";
  @apply w-8 h-8 absolute right-0 top-0 bottom-3 m-auto border-l border-b border-gray-200 transform -rotate-45
}
.toolbar-products .box-item  {
  @apply relative pl-20 mr-20 border-l border-gray-50
}
.toolbar-products .box-item .box-options  {
  min-width: 180px;
  @apply absolute left-0 whitespace-nowrap right-0 top-full bg-white mt-10 md:mt-20 shadow-md z-1 py-5
}
.toolbar-products .box-item.active .box-options  {
  display: block !important;
}
.toolbar-products .box-item .option-item {
  @apply px-20 py-5 flex items-center
}
.checkbox-wrap {
  @apply text-gray-200 text-sm pl-30 inline-block relative w-18 h-18
}
.checkbox-wrap input {
  @apply opacity-0 absolute top-0 left-0 w-18 h-18 z-1 cursor-pointer
}
.checkbox-mask {
  border-radius: 2px;
  @apply cursor-pointer absolute top-0 left-0 border border-gray-200 w-18 h-18 pointer-events-none
}
.checkbox-wrap input:checked + .checkbox-mask::before {
  content: '';
  @apply absolute top-4 left-3 w-11 h-6 border-b-2 border-l-2 border-gray-200 transform -rotate-45
}
.radio-mask.checkbox-mask {
  @apply rounded-full
}
.checkbox-wrap input:checked + .checkbox-mask.radio-mask::before {
  @apply border-0 w-10 h-10 bg-gray-200 rotate-0 rounded-full top-3 left-3
}
.category-inner + .toolbar-products {
  @apply hidden
}
.category-inner {
  @apply mb-50
}
#cms-page .category-top-content {
  @apply mb-0 pb-50 md:pb-80
}
.rg-table {
  @apply border-gray-500
}
.rg-table tbody tr {
  @apply border-b border-gray-500
}
.rg-table tr th, .rg-table tr td {
  @apply border border-gray-500 text-gray-200
}
.rg-container {
  @apply overflow-auto
}
/* CMS Solid Wood Kitchen Cabinets page close */
.compare-attribute-list .td-col{
  min-height: 61px;
}
.product-details-tabs .product .product-image img {
  @apply w-full h-full object-contain
}
#cms-page .category-list{
  @apply ml-0;
}
#cms-page .category-list li{
  @apply block -mb-1;
}
.slide-list .product-image img{
  @apply w-auto h-auto;
}
.summary-sidebar .checkout{
  @apply w-full bottom-0 sticky items-end z-2
}
.summary-sidebar-content {
  max-height: calc(100vh - 334px);
  top: 73px;
}
.thermofoil-thumb-left > div {
  @apply flex flex-row-reverse
}
.thermofoil-thumb-left .thumb-slider-right {
  width: calc(100% - 90px);
}
.thermofoil-thumb-left .thumb-slider-left  {
  width: 80px;
  min-width: 80px;
  @apply flex mr-10
}
.thermofoil-thumb-left .thumb-slider-left img  {
  height: 80px;
}
.thermofoil-thumb-left .thumb-slider-left .product-thumb-item {
  height: 80px !important;
  @apply mr-0
}
.thermofoil-thumb-left .thumb-slider-right .product-image-container {
  padding-top: 75%;
  @apply mb-20 md:mb-0
}
.thermofoil-thumb-left .thumb-slider-right .product-image-container img {
  @apply h-full object-contain border border-gray-500
}
.thermofoil-thumb-left.category__image_content {
  padding-bottom: 64%;
  @apply mb-25
}
.thermofoil-thumb-left.category__image_content:after { 
  @apply invisible
}
.thermofoil-thumb-left .thumb-slider-left .swiper-button-prev,
.thermofoil-thumb-left .thumb-slider-left .swiper-button-next {
  @apply md:transform md:rotate-90 md:top-2 md:left-0 md:right-0 md:m-auto md:flex items-center md:justify-center md:pb-1
}
.thermofoil-thumb-left .thumb-slider-left .swiper-button-next {
  @apply md:bottom-2 md:top-auto
}
.category__image .thumb-slider-left .swiper-slide-active.border-orange-dark {
  @apply border-orange-dark
}
.post-details ul {
  @apply ml-20 list-disc text-gray-200 mb-20
}
.post-details .post-content strong {
  @apply font-medium
}
.post-details .post-content li {
  @apply mb-6
}
.post-details .post-content a {
  @apply text-orange-dark underline
}
.research-search-form input {
  @apply h-40 p-10 pr-40 rounded-none	
}
.mywishlist .products .prices > div:first-child,
.mywishlist .products .prices button svg {
  @apply hidden
}
.mywishlist .products .wishlist-text {
  @apply block
}
.mywishlist .products .prices {
  @apply text-center
}
.mywishlist .products .prices button {
  @apply static
}
.product-details .details-wrapper table,
.product-details .details-wrapper tr {
  @apply border-gray-500
}
.product-details .details-wrapper table td,
.post-content table td {
  @apply px-15 md:px-20 text-sm md:text-base text-gray-200 py-12 md:py-15 border-gray-500 border
}
.post-content table {
  @apply mb-30 last:mb-0
}
.product-top-section .data .add-to-wishlist path {
  @apply stroke-current text-gray-200
}
.product-top-section .data .add-to-wishlist path.stroke-current {
  @apply fill-current
}
#compare-section .compare-item-tile .product-image {
  padding-bottom: 120%;
}
#compare-section .compare-item-tile .product-cover {
  @apply p-5
}
#compare-section .compare-item-tile .configure-btn {
  @apply hidden
}
.toolbar-products .category-filter-container, .toolbar-products > * {
  @apply hidden
}
.toolbar-products .toolbar-amount {
  @apply pl-0 block border-0
}
.cat-item-compare.active label {
  background-image: url(/assets/compare-icon-active.svg);
}
#my_account .qty{
  max-width: 120px;
  @apply w-full m-auto mt-10
}

@media not all and (min-resolution:.001dpcm){
  /* CSS specific to iOS safari_only */
  body .filter-grid-col {
    display:inline-block;
    vertical-align: top;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1470px){ 
  .promotionl-wrap {
    @apply px-20
  }
  .promotionl-wrap .promotionl-box strong,
  .promotionl-wrap .promotionl-box p {
    @apply text-13
  }
  .promotionl-wrap .promotionl-box:not(:last-child) {
    @apply pr-50;
    width: 28%;
  }
  .promotionl-wrap .promotionl-box:not(:last-child)::after {
    right: 10%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px){ 
  .thermofoil-thumb-left .thumb-slider-right {
    width: calc(100% - 80px);
  }
  .thermofoil-thumb-left .thumb-slider-left  {
    width: 70px;
    min-width: 70px;
  }
  .thermofoil-thumb-left .thumb-slider-left img  {
    height: 70px;
  }
  .thermofoil-thumb-left .thumb-slider-left .product-thumb-item {
    height: 70px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){ 
  .promotionl-wrap .promotionl-box:not(:last-child) {
    @apply pr-0
  }
  .promotionl-wrap .promotionl-box:nth-child(-n+2) {
    @apply mb-20
  }
  .promotionl-wrap .promotionl-box:nth-child(2n) {
    margin-left: 7%;
    width: 43%;
  }
  .promotionl-wrap .promotionl-box:nth-child(2):after {
    @apply hidden
  }
  .promotionl-wrap .promotionl-box:not(:last-child)::after {
    @apply right-0
  }
  .cabinet-img {
    padding-top: 62%;
    @apply h-auto
  }
  .cms-banner .cms-banner-left {
    max-width: 322px;
  }
  .tab-content-wrap img {
    max-width: 40%;
  }
  .category-part-three img {
    height: 200px;
  }
  .cabinets-image-desc { 
    width: 52%;
  }
  .cabinets-image-desc h2 {
    min-height: 90px;
  }
  .cabinets-frame-wrap .cabinets-image-desc a { 
    @apply text-sm px-10 last:px-10
  }
  .cabinets-image img {
    min-height: 282px;
    @apply h-auto
  }
  .cabinets-compare h3 {
    @apply text-base px-20
  }
  .cabinets-bottom-content .cabinets-two-part > div {
    @apply w-full first:pr-0
  }
  .thermofoil-thumb-left .thumb-slider-right {
    width: calc(100% - 60px);
  }
  .thermofoil-thumb-left .thumb-slider-left  {
    width: 50px;
    min-width: 50px;
  }
  .thermofoil-thumb-left .thumb-slider-left img  {
    height: 50px;
  }
  .thermofoil-thumb-left .thumb-slider-left .product-thumb-item {
    height: 50px !important;
  }
  .category__first-level .main-submenu.free-design-menu {
    @apply -left-35
  }
  .category__first-level .main-submenu.free-design-menu a {
    @apply px-10
  }
}
@media (max-width: 1260px){
  .checkout-right{
    width:40%;
  }
}
@media (max-width:1144px){
  .checkout-left .button-full {
    padding-left: 6px;
    padding-right: 6px;
  }
  .feature-tile-col .product-image {
    padding-bottom: 100%;
    @apply h-auto
  }
  .filter-tab-row .tabs__light{
    @apply flex-wrap;
 }
 .filter-tab-row .tabs__light .tab-col{
   @apply md:w-4/12;
 }
 #category .filter-tab-row .tab-content {
    @apply px-0
  }
  #category .filter-tab-row .tabs__light {
    @apply justify-start
  }
  #category .filter-tab-row .tabs__light .tab-col {
    @apply w-1/5 mb-20
  }
}
@media (max-width: 1023px){
  .sub-cat-coll:nth-child(2n+1) {
    @apply border-l border-gray-500
  }
  .mywishlist .products .wishlist-col:nth-child(2n+1) {
    @apply border-l border-gray-500
  }
  .category-listing .product-listing .product-listing-col:nth-child(4n+1){
   @apply border-l-0;
  }
  .category-listing .product-listing .product-listing-col:nth-child(3n+1){
   @apply border-l border-gray-500;
  }
  .checkout-right{
    right: 0;
    height:auto;
    width:100%;
    @apply border-l-0 border-t border-gray-500 p-0 py-20 static;
  }
  .summary-sidebar-content{
    @apply px-15 pb-20;
  }
  .summary-sidebar-content .text-24{
    @apply text-19;
  }
  .filter-grid {
    column-count: 3;
  }
  .summary-sidebar .checkout {
    @apply relative
  }
  .summary-sidebar-content {
    @apply max-h-full static
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px){ 
  .category__megamenu .category__first-level > ul .megamenu .megamenu-bg {
    height: 235px;
  }
  .category__megamenu .category__first-level > ul .megamenu .category__second-level > ul li .secondlevel,
  .category__megamenu .category__first-level > ul .megamenu .category__second-level > ul li .category__third-level li a {
    @apply text-xs
  }
  .category__image-text p {
    @apply text-sm
  }
  .category-inner .category-list .btn {
    @apply px-5 text-xs
  }
  .cat-item-compare {
    top: 32%;
  }
}
@media (max-width: 991px){ 
  .social-icon {
    @apply max-w-full mb-5;
  }
  .footer-logo-col, .footer-logo-col:first-child {
    @apply mr-30 mb-0;
  }
  .footer-logo-col:last-child {
    @apply m-0;
  }
  .footer-col-last, .footer-col, .footer-row-second .footer-col:nth-child(2), .footer-col:first-child {
    @apply w-full;
  }
  .footer-wrap > div {
    @apply w-full
  }
  .footer-menu-list, .f-logo div.footer-title:after, .f-logo div.footer-title:before {
    @apply hidden
  }
  .footer-title {
    @apply w-full border-b border-white border-opacity-10 py-15 mb-0;
  }
  .footer-title:after, .footer-title:before {
    content: "";
    @apply block absolute top-0 bottom-0 left-auto right-7 m-auto w-1 h-16 bg-white;
  }
  .footer-title:after {
    @apply h-1 w-16 right-0;
  }
  .footer-row:first-child, .footer-logo-col:not(:last-child) {
    @apply mb-0;
  }
  .f-logo {
    @apply border-b border-white border-opacity-10 pb-20;
  }
  .f-logo .footer-title {
    @apply mb-10
  }
  .footer-col-last {
    @apply max-w-full mt-30;
  }
  .footer-col.active .footer-menu-list {
    @apply flex pt-5 pb-15 border-b border-white border-opacity-10;
  }
  .footer-col.active .footer-title {
    @apply border-b-0;
  }
  .footer-col.active .footer-title:before {
    @apply hidden
  }
  .footer-menu-list a {
    @apply mb-12
  }
  .myaccount-label-row .myaccount-label{
    width: 40%;
  }
  .myaccount-label-row .myaccount-label-name{
    width: 60%;
  }
}
@media (max-width: 767px){ 
  body{
    @apply pb-70 text-sm
  }
  .rounded-10 {
    border-radius: 4px;
  }
  header{
    @apply border-b border-gray-500;
  }
  .text-base {
    @apply text-sm
  }
  input.text-base, select.text-base, textarea.text-base {
    @apply text-16
  }
  .hrader-iconbar .search-icon, .hrader-iconbar .home-icon, .hrader-iconbar .compare-icon, .hrader-iconbar .wishlist-icon{ width:25%;}
  .hrader-iconbar .search-icon svg path{stroke:#aaa;}
  .hrader-iconbar .home-icon svg path {fill:#aaa;}
  .hrader-iconbar .compare-icon svg rect{stroke:#aaa;}
  .hrader-iconbar .wishlist-icon svg path{stroke:#aaa;}
  .hrader-iconbar .search-icon:hover svg path{stroke:#fff;}
  .hrader-iconbar .home-icon:hover svg path {fill:#fff;}
  .hrader-iconbar .compare-icon:hover svg rect{stroke:#fff;}
  .hrader-iconbar .wishlist-icon:hover svg path{stroke:#fff;}
  .hrader-iconbar{
    @apply fixed bottom-0 left-0 w-full;
  }
  .hrader-iconbar .cart-icon{
    @apply fixed top-6 right-10; 
  }
  .hrader-iconbar .account-icon{ 
    @apply fixed top-6 right-56;
  }
  .footer-logo-col:first-child {
    max-width: 88px;
  }
  .footer-col-last {
    @apply mt-20
  }
  .f-logo a > img {
    max-width: 80px;
  }
  .footer-logo-col:last-child img {
    width: 80px;
  }
  .footer-logo-col:nth-child(2) img {
    width: 81px;
  }
  .promotionl-wrap .promotionl-box:not(:last-child) {
    @apply pr-0 mb-30
  }
  .promotionl-wrap .promotionl-box {
    width: 185px;
  }
  .cabinet-list { 
    max-width: 400px;
    @apply mx-auto;
  }
  .cabinet-img {
    height: 238px;
  }
  .newsletter-wrap  {
    padding-bottom: 125px;
    @apply pt-30 px-30
  }
  .category__image_content{
    padding-bottom: calc(66.4% + 100px);
  }
  .category__image_content::after{
    @apply invisible
  }
  body #my_account .my_account_right {
    width: 100%;
  }
  .static-menu.active{
    @apply block;
  }
  .mobile-static-menu.active .rightarrow{
    @apply hidden;
  }
  .mobile-static-menu.active .bottomarrow{
    @apply block;
  }
  .tablewrap table thead tr th, .tablewrap table thead{
    @apply hidden;
  }
  .tablewrap table tbody tr{
    @apply pt-10 block border-t border-gray-500;
  }
  .tablewrap table tbody tr td{
    @apply flex py-10 px-0 text-16 text-left;
  }
  .tablewrap table tbody tr td .th{
    @apply text-gray-600 w-6/12;
  }
  .tablewrap table tbody tr td .td{
    word-break: break-word;
    @apply w-6/12 pl-5;
  }
  .select-wrapper  label{
    white-space: nowrap;
  }
  .tablewrap .dropdown{
     @apply block  w-full pt-5 pb-10;
  }
  .tablewrap .dropdown-content, 
  .tablewrap .dropdown:hover .dropdown-content,
  .tablewrap table tbody tr:last-child .dropdown:hover .dropdown-content
  {
    @apply  flex relative inset-auto p-0 shadow-none w-full;
  }
  .tablewrap .dropdown-content a{
    @apply block w-6/12 text-center button-outline leading-15 min-w-0 py-17 px-10 md:w-full bg-gray-200 border-gray-200 text-white;
  }
  .tablewrap .dropdown-content a:hover{
     @apply bg-white border-gray-200 text-gray-200
  }
  .tablewrap .dropdown-content a.order-btn{
     @apply bg-white border-gray-200 text-gray-200
  }
  .tablewrap .dropdown-content a.order-btn:hover{
     @apply bg-gray-200 text-white
  }
  .tablewrap table tbody tr td .td.w-full{
     @apply w-full pl-0
  }
  .item-thumbnail-row{
    padding-left:120px;
  }
  .item-thumbnail-row .thumbnail-img{
    width:90px;
  }
  .tablewrap table tfoot{
    @apply block
  }
  .tablewrap table tfoot tr td{
    width:40%;
    @apply p-0 pb-20 text-16
  }
  .tablewrap table tr td.subtotal{
    @apply w-auto;
  }
  .feature-tile-col:nth-child(3), .feature-tile-col:nth-child(4) {
    display: none;
  }
  .feature-tile-col:nth-child(2) {
    @apply border-r border-gray-500
  }
  .notification {
    width: 100% !important;
    box-shadow: 0px -7px 10px rgba(51, 51, 51, 0.1);
  }
  .notification.notification-product .actions .notification-action {
    @apply w-full whitespace-nowrap px-20
  }
  .search-sidebar .searchpanel {
    @apply min-h-full fixed left-0 right-0 top-0 bottom-0 overflow-auto z-50
  }
  .searchpanel .overlay-fixed .overlay {
    @apply hidden
  }
  .search-title input.search-panel-input {
    @apply w-full pr-20
  }
  .search-title input.search-panel-input.focus,
  .search-sidebar .search-title {
    @apply w-full
  }
  .search-sidebar .close-search svg {
    @apply w-30 h-30
  }
  .search-sidebar .search-popup {
    @apply relative px-20 pb-20 top-0 left-0 w-full
  }
  .search-sidebar .search-title {
    @apply pt-70 px-20
  }
  .category-listing .product-listing .product-listing-col:nth-child(3n+1) {
    @apply border-l-0;
  }
  .category-listing .product-listing .product-listing-col:nth-child(2n+1){
   @apply border-l border-gray-500;
  }
  .contact-wrap > div {
    @apply w-full first:mb-16
  }
  .contact-wrap p { 
    @apply min-h-0 max-w-full
  }
  .filter-row {
    @apply hidden pb-60 overflow-y-auto;
  }
  .category-footer {
    box-shadow: 0 3px 10px rgba(5,5,5,0.10);
    @apply flex  text-center;
  }
  .filter-row.active {
    @apply block fixed left-0  w-full h-full bottom-0 bg-white z-3 mb-0;
  }
  .filter-row .tabs__light{
     @apply flex;
  }
  .filter-row .tab-col .tab{
    @apply p-20 pt-5 border-l border-gray-500;
  }
  .filter-row .tabs__header{
    width:140px;
    min-width:110px;
    @apply block;
  }
  .filter-row .tabs__header li{
    @apply text-left py-16 md:px-20 px-10 bg-gray-300 text-gray-200 rounded-none -mr-1 border-r border-gray-500;
  }
  .filter-row .tabs__header li.border-orange-dark{
    @apply border-gray-500 text-gray-200 bg-white border-l border-r-white;
  }
  .filter-row  .close-btn label.button-outline{
    @apply w-full block rounded-none fixed bottom-0 left-0;
  }
  .filter-row .base-checkbox label:before {
    @apply top-0;
  }
  .filter-row .base-checkbox input:checked + label:after {
    @apply top-5;
  }
  .breadcrumbs{
    @apply flex-wrap;
  }
  .filter-top  .rounded-full{
    @apply flex-wrap;
  }
  .category-listing-back-to-top.vue-back-to-top {
    bottom: 140px !important;
  }
  .category-listing .product-listing .product-listing-col .f_cat_sample_label:after {
    border-width: 26px 12px 0 0;
  }
  .quick-view .modal .modal-container .quick-product-image {
    @apply w-full
  }
  div#fc_frame, div#fc_frame.fc-widget-normal {
    @apply bottom-68
  }
  .product-buttons {
    @apply fixed left-0 right-0 bottom-70 bg-white z-10 mb-0 border-b border-gray-50
  }
  .product-top-section .data {
    @apply w-full
  }
  .product-top-section section > .image {
    @apply w-full
  }
  .sticky-chat div#fc_frame, .sticky-chat div#fc_frame.fc-widget-normal,
  .product-sticky-chat div#fc_frame, .product-sticky-chat div#fc_frame.fc-widget-normal,
  .cabinet-sticky-chat div#fc_frame, .cabinet-sticky-chat div#fc_frame.fc-widget-normal {
    bottom: 128px;
  }
  .sticky-chat .vue-back-to-top,
  .product-sticky-chat .vue-back-to-top,
  .cabinet-sticky-chat .vue-back-to-top {
    bottom: 200px!important;
  }
  .product-details .rating-summary {
    width: 120px;
    height: 22px;
    background-size: 24px;
    @apply h-22
  }
  .product-details .rating-summary .rating-result {
    background-size: 24px;
    @apply h-22
  }
  body.product-sticky-chat,
  body.cabinet-sticky-chat,
  body.sticky-chat {
    padding-bottom: 128px;
  }
  .shipping-address p {
    @apply pb-10
  }
  .select-wrapper:after {
    @apply top-18;
  }
  .modal-category-compare .add-more-title {
    @apply min-h-0 mb-0
  }
  .modal-category-compare .compare-item-tile button {
    @apply right-0 bottom-auto top-10
  }
  .modal-category-compare .compare-item-tile .product-cover {
    @apply p-0
  }
  .modal-category-compare .category-tile-wrap {
    min-width: 170px;
    @apply p-10
  }
  .modal-category-compare .category-tile-wrap .actions { 
    @apply px-0 border-0
  }
  .modal-category-compare .compare-item-tile button span {
    @apply text-12
  }
  .modal-category-compare .compare-item-tile .compare-attribute-list {
    @apply border-r-0
  }
  .modal-category-compare .modal-content {
    @apply p-20
  }
  div.modal-category-compare {
    @apply p-0
  }
  .modal-category-compare .modal-container {
    @apply max-h-full
  }
  .cabinet-sidebar .order-button-warp {
    @apply fixed left-0 right-0 bottom-70 bg-white z-1 mb-0 p-0
  }
  .cabinet-sidebar .order-button-warp a {
    @apply rounded-none m-0 text-16 py-17
  }
  .post-description {
    @apply text-sm lg:text-base
  }
  .thankyou-page{
    padding-top:70px;
    padding-bottom: 70px;
  }
  .shipping-summary{
    min-height: inherit;
  }
  .cms-banner .cms-banner-left {
    max-width: 232px;
    width: 70%;
  }
  .cms-banner .cms-banner-image img {
    min-height: 250px;
    object-position: 89%;
    @apply object-cover
  }
  .cms-banner .cms-banner-image {
    max-width: 243px;
  }
  .discount-form .discount-form-left,
  .discount-form .discount-form-right,
  .cms-section-row .cms-image-left {
    @apply w-full
  }
  .cms-section-row .cms-content-right {
    @apply w-full mt-20
  }
  .cms-review-list {
    @apply w-full mb-16 mr-0
  }
  .category_tabs table td {
    width:100% !important;
  }
  .free-design .cms-banner .cms-banner-image {
    @apply max-w-full
  }
  .free-design .cms-banner .cms-banner-image img {
    min-height: 200px;
  }
  .free-design .cms-banner .cms-banner-left {
    max-width: 180px;
  }
  .discount-form .discount-form-left iframe {
    min-height: 250px;
    @apply h-auto
  }
  .free-design .discount-form-right {
    @apply mt-20
  }
  .size-guideline h2.cms-section-title {
    @apply text-18
  }
  .size-guideline-faq h3 {
    @apply text-base
  }
  .product-box .productLink{
    @apply mb-0
  }
  .feature-tile-col .product-image {
    padding-bottom: 100%;
    @apply h-auto
  }
  .filter-tab-row .tab-content ul,
  .filter-tab-row .tab-content .custom-scrollbar{
    max-height: inherit;
    overflow:inherit;
  }
  .filter-grid {
    column-count: 2;
    column-gap:5px;
  }
  .filter-grid-col {
    margin-bottom:5px;
  }
  .category-content h2 {
    @apply text-20
  }
  .category-bottom-content h2 {
    @apply text-18 leading-20
  }
  .category-part-three img { 
    @apply h-auto
  }
  .cabinets-image-desc {
    max-width: 186px;
    @apply w-auto
  }
  .cabinets-image-desc h2 {
    min-height: 90px;
    @apply pr-5
  }
  .cabinets-image img {
    min-height: 255px;
    @apply h-auto
  }
  .cabinets-image-desc a {
    @apply last:mt-10
  }
  .feature-category-cms .feature-category-wrap .feature-tile-col:nth-child(3),
  .feature-category-cms .feature-category-wrap .feature-tile-col:nth-child(4) {
    @apply block border-t-0
  }
  .cabinets-frame-wrap .cabinets-image-desc a { 
    @apply px-10 last:px-10
  }
  .category-inner .category-list li .cat-img img {
    @apply h-full;
    max-height: 76%;
  }
  .category-inner .category-list li .cat-img {
    padding-top: 66.666666666667%;
  }
  .category-inner .category-list li:nth-child(3n+1) {
    @apply border-l-0;
  }
  .category-inner .category-list li:nth-child(2n+1){
   @apply border-l border-gray-500;
  }
  .category-inner .category-list .btn {
    @apply w-full mt-5 last:ml-0 py-10
  }
  .cat-item-inner {
    padding-bottom: 94px;
  }
  .cat-item-compare {
    top: 37%;
  }
  .category-inner .cat-item-name {
    @apply h-40 mt-10
  }
  .toolbar-products .category-filter-container:nth-child(3) .mb-box-item {
    @apply border-l-0 pl-0
  }
  .toolbar-products .toolbar-amount {
    width: 72%;
  }
  .toolbar-products .box-item:nth-child(2) .box-options {
    @apply left-auto right-0
  }
  .rg-table tr th {
    min-width: 130px;
    @apply text-sm
  }
  .rg-table tbody tr td,.rg-table tr th {
    @apply py-12
  }
  .white-style .category-part-two .shg-left {
    order: -1;
  }
  .checkout-left-col {
    @apply px-15 pb-20
  }
  .thermofoil-thumb-left .thumb-slider-right {
    @apply w-full
  }
  .thermofoil-thumb-left .thumb-slider-left  {
    @apply w-full min-w-0
  }
  .thermofoil-thumb-left .thumb-slider-left img  {
    height: 80px;
  }
  .thermofoil-thumb-left .thumb-slider-left .product-thumb-item {
    height: 80px !important;
  }
  .thermofoil-thumb-left > div {
    @apply flex-col
  }
  .thermofoil-thumb-left.category__image_content {
    padding-bottom: 100%;
  }
  .thermofoil-thumb-left .thumb-slider-left .swiper-container {
    @apply w-full
  }
  #category-listing .filter-tab-row .tabs__light .tab-col {
    max-width: calc(100% - 140px);
    @apply w-auto
  }
}
@media (max-width: 639px){
  .aboutus-top-row .aboutus-right{
    padding-top:65%;
  }
  .cat-item-compare {
    top: 30%;
  }
  .category-inner .category-list li .cat-img img {
    max-height: 72%;
  }
  .filter-name {
    transform: inherit;
    @apply pt-7 pb-7
  }
}
@media (max-width: 510px){
  .cms-banner .cms-banner-image {
    max-width: 136px;
  }
  .cms-banner .cms-banner-image img {
    min-height: 141px;
  }
  .free-design .cms-banner .cms-banner-image img {
    min-height: 150px;
  }
  .free-design .cms-banner .cms-banner-left {
    max-width: 180px;
  }
  .category-inner .category-list li .cat-img img {
    max-height: 67%;
    @apply w-full object-cover
  }
  .cat-item-compare {
    top: 23%;
    @apply right-5
  }
}
@media (max-width: 400px){
  .footer-logo-col:not(:last-child) {
    @apply mr-15;
  }
  .copyright .container {
    max-width: 190px;
  }
  .myaccount-label-row .myaccount-label{
    width: 40%;
  }
  .myaccount-label-row .myaccount-label-name{
    width: 60%;
  }
  .cms-banner .cms-banner-left h1 {
    @apply text-sm
  }
  .cms-banner .cms-banner-left {
    @apply p-15
  }
  .cms-banner .cms-banner-image img {
    object-position: 84%;
  }
  .free-design .cms-banner .cms-banner-image img {
    min-height: 130px;
  }
  .free-design .cms-banner .cms-banner-left {
    max-width: 155px;
  }
  .discount-form .discount-form-left iframe {
    min-height: 200px;
  }
  .category-inner .category-list li .cat-img img {
    max-height: 64%;
  }
  .cat-item-compare {
    top: 18.5%;
  }
  .toolbar-products .box-item {
    @apply pl-10 mr-10
  }
  .toolbar-products .toolbar-amount {
    width: 65%;
  }
}
/* Print page css */
@media print {
  header, footer, .modal-category-button, .breadcrumbs, .compare-page .compare-left-title, 
  #fc_frame, .compare-page .product .product__icons {
    display: none;
  }
  .compare-page .compare-item-tile {
    @apply w-1/4
  }
  .compare-page .tg-wrap, .compare-page .compare-attribute-list:nth-child(2) .compare-item-tile, 
  .compare-page .custom-scrollbar  {
    @apply overflow-visible
  }
  .compare-page table {
    @apply w-full
  }
  .compare-page td, .compare-page th {
    @apply px-5 py-10 text-10 w-1/2
  }
  .compare-page .compare-item-tile {
    @apply min-w-0
  }
}

