<template>
  <div class="customer-address-form myaccount-form">
    <div class="flex flex-wrap mb-25 border-b border-gray-500 pb-10 md:pb-15">
      <h3 class="m-0 mb-5 font-bold text-base md:text-md">
        {{ $t('Shipping Address Information') }}
      </h3>
    </div>
    <form class="myaccount-container">
      <div class="flex flex-wrap">
        <base-input
          class="w-1/2 pr-10 mb-20"
          type="text"
          name="first-name"
          autocomplete="given-name"
          :placeholder="`${$t('First Name')}` + ' *'"
          v-model.trim="customer.firstName"
          :label="false"
          @blur="$v.customer.firstName.$touch()"
          :validations="[
            {
              condition: !$v.customer.firstName.required && $v.customer.firstName.$error,
              text: $t('Field is required')
            },
            {
              condition: !$v.customer.firstName.minLength,
              text: $t('Name must have at least 3 letters.')
            }
          ]"
        />
        <base-input
          class="w-1/2 pl-10 mb-20"
          type="text"
          name="last-name"
          autocomplete="family-name"
          :placeholder="`${$t('Last Name')}` + ' *'"
          v-model.trim="customer.lastName"
          :label="false"
          @blur="$v.customer.lastName.$touch()"
          :validations="
            [
              {
                condition: !$v.customer.lastName.required && $v.customer.lastName.$error,
                text: $t('Field is required')
              }
            ]"
        />
        <base-select
          class="w-1/2 pr-10 mb-20"
          name="countries"
          :options="countryOptions"
          :selected="customer.country"
          :placeholder=" !customer.country ? $t('Country') + ' *': null"
          :validations="[
            {
              condition: $v.customer.country.$error && !$v.customer.country.required,
              text: $t('Field is required')
            }
          ]"
          v-model="customer.country"
          autocomplete="country-name"
          @blur="$v.customer.country.$touch()"
          @change="$v.customer.country.$touch()"
        />
        <base-input
          class="w-1/2 pl-10 mb-20"
          type="text"
          name="city"
          autocomplete="address-level2"
          :placeholder="`${$t('City')}` + ' *'"
          v-model.trim="customer.city"
          :label="false"
          @blur="$v.customer.city.$touch()"
          :validations="
            [
              {
                condition: !$v.customer.city.required && $v.customer.city.$error,
                text: $t('Field is required')
              }
            ]"
        />
        <div class="w-1/2 pr-10 mb-20" :class="{ active: writeStreet }">
          <base-input
            class="w-full"
            type="text"
            name="street-address"
            autocomplete="address-line1"
            :placeholder="`${$t('Street Name')}` + ' *'"
            v-model.trim="customer.street"
            :label="false"
            @blur="$v.customer.street.$touch()"
            :validations="
              [
                {
                  condition: !$v.customer.street.required && $v.customer.street.$error,
                  text: $t('Field is required')
                }
              ]"
          />
        </div>
        <base-input
          class="w-1/2 pl-10 mb-20"
          type="text"
          name="apartment-number"
          autocomplete="address-line2"
          :placeholder="`${$t('House Number')}` + ' *'"
          v-model.trim="customer.house"
          :label="false"
          @blur="$v.customer.house.$touch()"
          :validations="
            [
              {
                condition: !$v.customer.house.required && $v.customer.house.$error,
                text: $t('Field is required')
              }
            ]"
        />
        <div class="w-1/2 pr-10 mb-20" :class="{ active: writePostcode }">
          <base-input
            class="w-full"
            type="text"
            name="Zip-Code"
            autocomplete="postal-code"
            :placeholder="`${$t('Zip-Code')}` + ' *'"
            v-model.trim="customer.postcode"
            :label="false"
            @blur="$v.customer.postcode.$touch()"
            :validations="[
              {
                condition: !$v.customer.postcode.required && $v.customer.postcode.$error,
                text: $t('Field is required')
              }
            ]"
          />
        </div>
        <base-select
            class="w-1/2 pl-10 mb-20"
            name="state"
            :options="stateOptions"
            :selected="customer.region"
            :placeholder="!customer.region ? $t('Select State *'): null"
            v-model="customer.region"
            autocomplete="state-name"
            :validations="[{
              condition: $v.customer.region.$error && !$v.customer.region.required,
              text: $t('Field is required')
            }]"
        />
        <base-input
          class="w-full mb-20"
          type="text"
          name="phone"
          autocomplete="phone-no"
          :placeholder="`${$t('Phone Number')}` + ' *'"
          v-model="customer.phone"
          :label="false"
          @blur="$v.customer.phone.$touch()"
          :validations="[
            {
              condition: $v.customer.phone.$error && !$v.customer.phone.required,
              text: $t('Field is required')
            },
            {
              condition: !$v.customer.phone.numeric || !$v.customer.phone.minLength || !$v.customer.phone.maxLength,
              text: $t('Please enter a valid phone number')
            }]"
        />
        <base-checkbox
          class="w-full mb-15"
          id="default_shipping"
          v-model="customer.default_shipping"
          :label="true"
          @click="customer.default_shipping = !customer.default_shipping"
        >
          {{ $t('Use as my default shipping address') }}
        </base-checkbox>
        <base-checkbox
          class="w-full mb-30"
          id="default_billing"
          v-model="customer.default_billing"
          @click="customer.default_billing = !customer.default_billing"
        >
          {{ $t('Use as my default billing address') }}
        </base-checkbox>
        <div class="md:w-1/2 w-full pr-10 md:mb-20">
          <button-full
            class="w-full"
            @click.native="addcustomerAddress"
            :disabled="$v.$invalid"
          >
            {{ $t('Update Address Book') }}
          </button-full>
        </div>
        <div class="md:w-1/2 w-full pl-10 mb-20  cancel-btn md:text-left text-center">
          <a href="javascript:void(0)" @click="exitSection" class="inline-block text-grey-dark bg-grey-lighter py-18 px-3">
            {{ $t('Cancel') }}
          </a>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import { required, numeric, maxLength, minLength, requiredIf } from 'vuelidate/lib/validators'
import ButtonFull from 'theme/components/theme/ButtonFull'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import Countries from 'theme/resource/countries.json'
import { AddAddress } from './AddAddress'
import toString from 'lodash-es/toString'
import { currentStoreView } from '@vue-storefront/core/lib/multistore';
import config from 'config'
import regionList from 'theme/resource/region.json'

const ZipcodeContryList = config.bocm.zipcodeNotForCountry || []
export default {
  name: 'AddressForm',
  props: {
    addressId: {
      type: Number,
      required: false,
      default: null
    }
  },
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput,
    BaseSelect
  },
  computed: {
    countryOptions () {
      let countries = this.countries
      return countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    },
    stateOptions () {
      return regionList.filter(region => {
        if (region.country_id === this.customer.country) {
          return true
        }
        return false
      })
    },
  },
  data () {
    return {
      writePostcode: false,
      writeStreet: false,
      customer: {
        firstName: null,
        lastName: null,
        phone: null,
        street: null,
        house: null,
        city: null,
        region: null,
        country: null,
        postcode: null,
        default_shipping: false,
        default_billing: false
      },
      // address: [],
      countries: Countries,
      defaultCountry: currentStoreView().i18n.defaultCountry
    }
  },
  async beforeMount () {
    this.customer = await this.getCustomerAddress()
  },
  mixins: [ AddAddress ],
  methods: {
    exitSection () {
      this.$v.$reset()

      this.customer = {
        firstName: '',
        lastName: '',
        street: '',
        house: '',
        city: '',
        postcode: '',
        region: '',
        country: '',
        phone: '',
        default_shipping: false,
        default_billing: false
      }

      this.$emit('reset-toggle')
    },
    addcustomerAddress () {
      if (this.addressId === null) {
        this.addAddress(this.customer)
      } else {
        if (!this.objectsEqual(this.customer, this.getCustomerAddress())) {
          this.updateAddress(this.addressId, this.customer)
        }
      }
      this.exitSection()
    },
    getCustomerAddress () {
      let currentUser = Object.assign({}, this.$store.state.user.current)
      if (currentUser && this.addressId !== null) {
        let index
        for (let i = 0; i < currentUser.addresses.length; i++) {
          if (toString(currentUser.addresses[i].id) === toString(this.addressId)) {
            index = i
          }
        }
        if (index >= 0) {
          return {
            firstName: currentUser.addresses[index].firstname,
            lastName: currentUser.addresses[index].lastname,
            street: currentUser.addresses[index].street[0],
            house: currentUser.addresses[index].street[1],
            city: currentUser.addresses[index].city,
            postcode: currentUser.addresses[index].postcode,
            region: currentUser.addresses[index].region.region ? currentUser.addresses[index].region.region : '',
            country: currentUser.addresses[index].country_id,
            phone: currentUser.addresses[index].hasOwnProperty('telephone') ? currentUser.addresses[index].telephone : '',
            default_shipping: currentUser.addresses[index].default_shipping ? currentUser.addresses[index].default_shipping : false,
            default_billing: currentUser.addresses[index].default_billing ? currentUser.addresses[index].default_billing : false
          }
        }
      } else {
        return {
          firstName: '',
          lastName: '',
          street: '',
          house: '',
          city: '',
          postcode: '',
          region: '',
          country: currentStoreView().i18n.defaultCountry,
          phone: '',
          default_shipping: false,
          default_billing: false
        }
      }
    },
    objectsEqual (a, b) {
      const aProps = Object.keys(a)
      const bProps = Object.keys(b)

      if (aProps.length !== bProps.length) {
        return false
      }

      for (let i = 0; i < aProps.length; i++) {
        let propName = aProps[i]
        if (!b.hasOwnProperty(propName)) {
          return false
        } else {
          if (a[propName] !== null && b[propName] !== null && a[propName] === 'object' && b[propName] === 'object') {
            if (!this.objectsEqual(a[propName], b[propName])) {
              return false
            }
          } else if (a[propName] !== b[propName]) {
            return false
          }
        }
      }
      return true
    }
  },
  validations () {
    let vm = this
    return ({ customer: {
      firstName: {
        required,
        minLength: minLength(3)
      },
      lastName: {
        required
      },
      region: {
        required
      },
      country: {
        required
      },
      street: {
        required
      },
      house: {
        required
      },
      postcode: {
        required: requiredIf((value) => {
          let isAllowed = ZipcodeContryList.includes(vm.customer.country)
          return !isAllowed
        })
      },
      city: {
        required
      },
      phone: {
        required,
        numeric,
        minLength: minLength(10),
        maxLength: maxLength(12)
      }
    }
    })
  },
  watch: {
    address: {
      handler () {
        let add = this.address;
        if (add.Id) {
          this.customer.street = add.Street
          this.customer.house = add.BuildingNumber + ' ' + add.BuildingName
          this.customer.city = add.City
          this.customer.region = add.Province
          this.customer.postcode = add.PostalCode
          this.customer.country = add.CountryIso2
        }
      }
    }
  },
  metaInfo () {
    return {
      title: this.$i18n.t('Shipping Address Information'),
      meta: [
        { vmid: 'keywords', name: 'keywords', content: this.$i18n.t('Magento, Varien, E-commerce') },
        { vmid: 'title', name: 'title', content: this.$i18n.t('Shipping Address Information') }
      ]
    }
  }
}
</script>
