<template>
  <div class="customer-address">
    <div class="customer-address-list" v-if="getallAddresses.length > 0 && !toggleAddressForm">
      <div class="flex flex-wrap mb-25 border-b border-gray-500 pb-10 md:pb-15">
        <h3 class="m-0 mb-5 font-bold text-base md:text-md">
          {{ $t('My Address Book') }}
        </h3>
      </div>
      <div class="flex flex-wrap -mx-10">
        <div class="w-full md:w-6/12 lg:w-4/12 px-10 pb-20" :class="'customer-address-'+ address.id" v-for="address in getallAddresses" :key="address.id">
          <div class="shipping-summary border border-gray-500 rounded-md h-full p-15 md:p-20">
            <div class="address-box shipping-details">
              <p>
                {{ address.firstname }} {{ address.lastname }}
              </p>
              <p v-if="address.company">
                {{ address.company }}
              </p>
              <p>
                {{ address.street[0] }}
                <span v-if="address.street[1]"> {{ address.street[1] }}</span>
              </p>
              <p>
                {{ address.city }} {{ address.postcode }}
              </p>
              <p>
                <span v-if="address.region">{{ address.region.region }}, </span>
                {{ getCountryName(address.country_id) }}
              </p>
              <p v-if="address.telephone" class="telephone pt-10 mb-10">
                {{ address.telephone }}
              </p>
            </div>
            <div class="address-edit-row mt-auto flex items-center justify-end">
              <a href="javascript:void(0)" class="flex text-sm items-center border-r border-gray-500 pr-7 mr-7" @click="editAddress(address.id)" title="Edit">
                <svg width="16" class="mr-7" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.2 10.8L1.17307 14.3942C1.09764 14.6583 1.34174 14.9024 1.60576 14.8269L5.2 13.8M2.2 10.8L5.2 13.8M2.2 10.8L9.84082 3M5.2 13.8L13 6M13 6L14.7444 4.2556C14.8842 4.11579 14.8805 3.888 14.7363 3.75277L12.0498 1.23418C11.911 1.10403 11.6936 1.10865 11.5604 1.2446L9.84082 3M13 6L9.84082 3" stroke="black" stroke-width="0.875" />
                </svg>
                {{ $t('Edit') }}
              </a>
              <a href="javascript:void(0)" class="flex text-sm items-center" @click="removeCustomerAddress(address.id)" title="remove">
                <svg width="14" class="mr-7" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.19922 5.29598H1.78255V5.71265V15.2529C1.78255 16.3614 2.68117 17.26 3.78968 17.26H10.2079C11.3164 17.26 12.215 16.3614 12.215 15.2529V5.71265V5.29598H11.7983H2.19922Z" stroke="black" stroke-width="0.833333" />
                  <path d="M7 7.3125V15.246" stroke="black" stroke-width="0.833333" stroke-linecap="round" />
                  <path d="M4.86719 7.3125V15.246" stroke="black" stroke-width="0.833333" stroke-linecap="round" />
                  <path d="M9.13281 7.3125V15.246" stroke="black" stroke-width="0.833333" stroke-linecap="round" />
                  <rect x="0.716146" y="2.94881" width="12.5656" height="2.33652" rx="1.16826" stroke="black" stroke-width="0.833333" />
                  <path d="M9.93253 2.91089H10.3492V2.49422V1.9274C10.3492 1.27152 9.8175 0.739827 9.16162 0.739827H4.83844C4.18194 0.739827 3.64974 1.27203 3.64974 1.92853V2.49422V2.91089H4.06641H9.93253Z" stroke="black" stroke-width="0.833333" />
                </svg>
                {{ $t('Remove') }}
              </a>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-4/12 pb-20 px-10">
          <div class="shipping-summary border border-gray-500 rounded-md h-full flex">
            <button-full
              @click.native="toggleAddressForm = !toggleAddressForm"
              v-show="!toggleAddressForm"
              class="p-20 bg-transparent hover:bg-transparent text-gray-200 font-regular inline-flex justify-center items-center"
            >
              <svg width="12" height="12" class="mr-5" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 6H11.9016" stroke="black" />
                <path d="M5.94922 12L5.94922 -1.19209e-07" stroke="black" />
              </svg>
              {{ $t('Add Address') }}
            </button-full>
          </div>
        </div>
      </div>
    </div>
    <div class="gutter-md" :class="showDefaultFlag ? 'show' : 'hidden'" @click="toggleAddressForm = !toggleAddressForm" v-show="!toggleAddressForm">
      <div class="shipping-emptyr">
        <div class="my_account-title hidden-xs">
          <h3>
            {{ $t('My Address Book') }}
          </h3>
        </div>
        <h4 class="cl-black pb10 pt120 weight-500">
          {{ $t('You don’t have any saved addresses at the moment.') }}
        </h4>
        <p class="cl-accent pb30">
          {{ $t('Adding addresses will make it quicker for you next time you checkout.') }}
        </p>
        <div class="row customer-address pb-50 md:pb-0">
          <div class="col-lg-4 col-md-6 col-xs-12 mt-15  add-address-btn">
            <div class="shipping-summary">
              <div class="address-box shipping-details">
                <button-full
                  @click="toggleAddressForm = !toggleAddressForm"
                  v-show="!toggleAddressForm"
                  class="w-auto md:w-1/2 lg:md:w-1/3 flex items-center justify-center px-30"
                >
                  <svg class="mr-10" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 6H11.9016" stroke="white" />
                    <path d="M5.94922 12L5.94922 -1.19209e-07" stroke="white" />
                  </svg>
                  {{ 'Add Address' }}
                </button-full>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <address-form
      v-if="toggleAddressForm"
      @reset-toggle="resetToggle"
      :address-id="currentAddressId"
    />
  </div>
</template>
<script>

import AddressForm from './AddressForm'
import ButtonFull from 'theme/components/theme/ButtonFull'
import Countries from '@vue-storefront/i18n/resource/countries.json'
import { RemoveAddress } from './RemoveAddress'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'CustomerAddress',
  data () {
    return {
      toggleAddressForm: false,
      countries: Countries,
      showDefaultFlag: true,
      currentAddressId: null
    }
  },
  computed: {
    getallAddresses () {
      let { current } = this.$store.state.user
      this.checkUserHasAddress(current)
      return current ? current.addresses : []
    }
  },
  components: {
    ButtonFull,
    AddressForm
  },
  mixins: [ RemoveAddress ],
  methods: {
    checkUserHasAddress (current) {
      if (current && current.addresses.length > 0) {
        this.showDefaultFlag = false
      } else {
        this.showDefaultFlag = true
      }
    },
    resetToggle () {
      this.toggleAddressForm = false
      this.currentAddressId = null
    },
    getCountryName (countryId) {
      return this.countries.filter(country => country.code === countryId)[0].name
    },
    editAddress (addressId) {
      if (this.toggleAddressForm) {
        this.toggleAddressForm = false
      }
      setTimeout(() => {
        this.toggleAddressForm = true
        this.currentAddressId = addressId
      }, 1)
    },
    removeCustomerAddress (addressId) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        class: 'notification-buttons',
        message: i18n.t('Are you sure you want to remove this address?'),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('OK'),
          action: () => {
            this.removeAddress(addressId)
            document.querySelector('.customer-address-' + addressId).remove()
          }
        },
        hasNoTimeout: true
      })
    }
  },
  metaInfo () {
    return {
      title: this.$i18n.t('My Address Book'),
      meta: [
        { vmid: 'keywords', name: 'keywords', content: this.$i18n.t('Magento, Varien, E-commerce') },
        { vmid: 'title', name: 'title', content: this.$i18n.t('My Address Book') }
      ]
    }
  }
}
</script>
