<template>
  <div>
    <header class="flex items-center p-15 px-20 md:p-40 md:pb-0 justify-between">
      <h2 class="text-lg sm:text-lg text-black font-medium leading-normal m-0">
        {{ 'Recover Password' }}
      </h2>
      <i
        slot="close"
        class="modal-close cursor-pointer"
        @click="close"
      >
        <svg width="40" height="40" class="w-30 h-30 md:w-40 md:h-40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="19.5" stroke="#222222" />
          <path d="M13.3333 13.3334L26.6667 26.6667" stroke="#222222" />
          <path d="M26.6673 13.3334L13.334 26.6667" stroke="#222222" />
        </svg>
      </i>
    </header>

    <div class="p-15 px-20 md:p-40 md:pt-0 text-gray-600 leading-normal">
      <template v-if="!passwordSent">
        <form @submit.prevent="sendEmail" novalidate>
          <div class="mb-20">
            <p class="pb-20 md:pb-30 text-base text-gray-600">
              {{ 'We will send you a link to recover password' }}
            </p>
            <base-input
              type="email"
              name="email"
              class="mb-30"
              v-model="email"
              focus
              :label="false"
              :placeholder="'Email Address'"
              :validations="[
                {
                  condition: !$v.email.required && $v.email.$error,
                  text: $t('Field is required.')
                },
                {
                  condition: !$v.email.email && $v.email.$error,
                  text: $t('Please provide valid e-mail address.')
                }
              ]"
            />
          </div>
          <button-full class="mb-15 md:mb-35 leading-27" type="submit">
            {{ 'Send Now' }}
          </button-full>
          <div class="text-center text-gray-500 text-base">
            <a href="#" class="text-gray-400 hover:text-black" @click.prevent="switchElem">
              {{ $t('Back to log in') }}
            </a>
          </div>
        </form>
      </template>
      <template v-if="passwordSent">
        <form class="py-20">
          <p class="py-30 mb-80 text-base md:text-md text-gray-500">
            {{ $t("We've sent password reset instructions to your email. Check your inbox and follow the link.") }}
          </p>
          <button-full class="mb-15 md:mb-35" type="link" @click.native="switchElem">
            {{ $t('Back to login') }}
          </button-full>
        </form>
      </template>
    </div>
  </div>
</template>

<script>

import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseInput from '../Form/BaseInput.vue'
import { required, email } from 'vuelidate/lib/validators'
import { Logger } from '@vue-storefront/core/lib/logger'
import i18n from '@vue-storefront/i18n'

export default {
  validations: {
    email: {
      required,
      email
    }
  },
  methods: {
    close () {
      this.$bus.$emit('modal-hide', 'modal-signup')
    },
    sendEmail () {
      // todo: send email with reset password instructions
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }

      this.$bus.$emit('notification-progress-start', i18n.t('Resetting the password ... '))
      this.$store.dispatch('user/resetPassword', { email: this.email }).then((response) => {
        this.$bus.$emit('notification-progress-stop')
        if (response.code === 200) {
          this.passwordSent = true
        } else {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'error',
            message: i18n.t(response.result) || i18n.t('Error while sending reset password e-mail'),
            action1: { label: i18n.t('Okay'), action: 'close' }
          })
        }
      }).catch((err) => {
        Logger.error(err)()
        this.$bus.$emit('notification-progress-stop')
      })
    },
    switchElem () {
      this.$store.commit('ui/setAuthElem', 'login')
    }
  },
  name: 'ForgotPass',
  data () {
    return {
      email: '',
      passwordSent: false
    }
  },
  components: {
    ButtonFull,
    BaseInput
  }
}
</script>
