<template>
  <div>
    <header class="flex items-center mb-20 md:mb-0 p-15 px-20 md:p-40 justify-between">
      <h2 class="text-lg sm:text-lg text-black font-medium leading-normal m-0">
        {{ $t('Log in') }}
      </h2>
      <i
        slot="close"
        class="modal-close cursor-pointer"
        @click="close"
      >
        <svg width="40" height="40" class="w-30 h-30 md:w-40 md:h-40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="19.5" stroke="#222222" />
          <path d="M13.3333 13.3334L26.6667 26.6667" stroke="#222222" />
          <path d="M26.6673 13.3334L13.334 26.6667" stroke="#222222" />
        </svg>
      </i>
    </header>
    <div class="p-15 px-20 pt-0  md:px-40 md:py-40 md:pt-0">
      <div v-if="hasRedirect" class="py-12 px-15 md:px-20 mb-20 redirect-error bg-burnt-sienna text-white">
        <p class="text-base mb-0 pb-0">
          {{ $t('You need to be logged in to see this page') }}
        </p>
      </div>
      <form @submit.prevent="login" novalidate>
        <base-input
          class="mb-20"
          type="email"
          name="email"
          v-model="email"
          @blur="$v.email.$touch()"
          :label="false"
          :placeholder="'Email Address *'"
          :validations="[
            {
              condition: !$v.email.required && $v.email.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.email.email && $v.email.$error,
              text: $t('Please provide valid e-mail address.')
            }
          ]"
        />
        <base-input
          class="mb-20"
          type="password"
          name="password"
          v-model="password"
          @blur="$v.password.$touch()"
          :placeholder="'Password *'"
          :label="false"
          :validations="[{
            condition: !$v.password.required && $v.password.$error,
            text: $t('Field is required.')
          }]"
        />
        <div class="flex -mx-10 mb-25">
          <base-checkbox
            class="w-1/2 px-10 text-gray-200"
            id="remember"
            v-model="remember"
          >
            {{ 'Remember Me' }}
          </base-checkbox>
          <div class="w-1/2 pr-10 text-right mt-3 leading-normal">
            <a href="#" @click.prevent="remindPassword" class="text-base text-gray-200d underline hover:text-black">
              {{ 'Forgot Password?' }}
            </a>
          </div>
        </div>
        <button-full class="mb-20" type="submit" data-testid="loginSubmit" :disabled="$v.$invalid">
          {{ 'Login' }}
        </button-full>
        <div class="text-center text-gray-600 text-base">
          {{ 'Don’t Have account yet?' }}
          <a href="#" class="text-orange-dark underline hover:text-black font-medium" @click.prevent="switchElem" data-testid="registerLink">
            {{ 'Create an Account' }}
          </a>
        </div>
        <div class="text-center">
          <span class="block text-gray-200 text-base font-medium my-10">Login with another account</span>
          <social-signup />
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Login from '@vue-storefront/core/compatibility/components/blocks/Auth/Login'

import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from '../Form/BaseCheckbox.vue'
import BaseInput from '../Form/BaseInput.vue'
import { required, email } from 'vuelidate/lib/validators'
import CryptoJS from 'crypto-js'
import { mapState } from 'vuex'
import SocialSignup from 'src/modules/bocm/social-auth/components/SocialSignup';
import { setCookie, eraseCookie } from 'theme/helpers'
export default {
  mixins: [Login],
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  data () {
    return {
      hasRedirect: !!localStorage.getItem('redirect')
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    })
  },
  methods: {
    close (e) {
      if (e) localStorage.removeItem('redirect')
      this.$bus.$emit('modal-hide', 'modal-signup')
    },
    login () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors'),
          action1: { label: this.$t('OK') }
        })
        return
      }
      if (this.$store.state.googleRecaptcha.is_verified) {
        this.callLogin()
      } else {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Invalid reCAPTCHA, unauthorised access'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    remindPassword () {
      if (!(typeof navigator !== 'undefined' && navigator.onLine)) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Reset password feature does not work while offline!'),
          action1: { label: this.$t('OK') }
        })
      } else {
        this.callForgotPassword()
      }
    },
    async onSuccess () {
      this.$bus.$emit('reset-wishlist-count', false)
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
      if (this.remember && this.email && this.password) {
        const encryptedPsw = CryptoJS.AES.encrypt(this.password, 'user_password').toString();
        let LoginRemember = {
          e: this.email,
          p: encryptedPsw
        }
        setCookie('login_remember', JSON.stringify(LoginRemember), 30);
      } else {
        eraseCookie('login_remember');
      }
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: this.$t('You are logged in!'),
        action1: { label: this.$t('OK') }
      })
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    }
  },
  mounted () {
    this.$store.dispatch('googleRecaptcha/isVerifiedCaptcha')
  },
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput,
    SocialSignup
  }
}
</script>
