<template>
  <div id="cabinets-list">
    <div class="md:flex flex-wrap -mx-10">
      <div class="w-full lg:w-8/12 px-10 mb-30 lg:mb-0">
        <tabs tabs class="product-details-tabs border border-gray-500 rounded-lg" v-if="currentCategory.children_data">
          <tab :title="category.name" class="row m0 pt-16 md:pt-30" v-for="(category, cindex) in currentCategory.children_data" :key="cindex" :is-active="cindex==selectedTabIndex">
            <div class="sub small-space" v-for="(subcategory, sindex) in category.children_data" :key="'sub-' + sindex" v-observe-visibility="{ callback: (isVisible, entry) => visibilityChanged(isVisible, entry, subcategory), once: true }">
              <div class="p-16 md:p-20 pb-12 pt-0 md:pt-0 md:pb-12 text-base flex flex-wrap" v-if="sindex === 0">
                <div class="product-detail-links rounded-full leading-18 text-sm md:text-base cursor-pointer border border-gray-500 py-8 px-12 md:py-10 md:px-20 mr-10 md:mr-20 mb-7 md:mb-18 hover:text-orange-dark" v-for="(subcategory, sindex) in category.children_data" :key="sindex" @click="scrollToCategory(subcategory.slug)">
                  {{ subcategory.name }}
                </div>
              </div>
              <div class="bg-gray-100 border-t border-b text-sm md:text-base border-gray-500 p-13 font-medium text-center" :id="subcategory.slug">
                {{ subcategory.name }}
              </div>
              <div class="sm:flex flex-wrap -mx-10 p-16 md:p-20 pb-0">
                <div class="font-medium text-center w-full" v-if="!subcategoryData(subcategory.id).length > 0">
                  {{ 'No products found' }}
                </div>
                <div v-else v-for="product in subcategoryData(subcategory.id)" :key="product.id" class="product-box w-12/12 sm:w-6/12 px-10 mb-16 md:mb-20">
                  <product-tile :visible-review="true" :product="product" :visible-quick-view="false" :hover-img-view="true" :show-add-to-cart="false" class="rounded-md border border-gray-500 p-15" :icons="false" :description="true">
                    <div class="flex pt-20">
                      <product-quantity
                        class="row m0 mb35 quantity-col"
                        v-if="product.type_id !== 'grouped' && product.type_id !== 'bundle'"
                        v-model="product.qty"
                      />
                      <add-to-cart
                        :key="'add_to_'+ product.id"
                        v-if="product.type_id !== 'grouped' && product.type_id !== 'bundle'"
                        :product="product"
                        :disabled="!product.stock.is_in_stock"
                        class="min-auto wishlist-add-to-cart h-40 py-10 px-10 font-medium text-14 bg-white hover:bg-gray-200 border border-gray-200 text-gray-200 hover:text-white min-w-0"
                      />
                    </div>
                  </product-tile>
                </div>
              </div>
            </div>
          </tab>
        </tabs>
        <div class="skeleton-image rounded-lg product-details-tabs-skeleton relative" v-else />
      </div>
      <div class="w-full lg:w-4/12 px-10 cabinet-sidebar relative md:sticky self-start top-70 ">
        <div v-if="productsInCart.length" class="border hidden md:block border-gray-500 rounded overflow-hidden mb-20">
          <div class="border-b border-gray-500 bg-gray-100 px-20 py-14 flex items-center text-gray-200 leading-24 font-medium text-18">
            {{ 'Shopping Cart' }} <span class="ml-16 text-sm text-gray-600">{{ productsInCart.length }} items</span>
          </div>
          <div v-if="productsInCart.length" class="products px-20 overflow-auto custom-scrollbar">
            <product class="py-25" v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
          </div>
          <div v-if="productsInCart.length" class="bg-gray-200 leading-19 text-white font-bold p-20">
            <div class="flex justify-between items-center" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'subtotal'">
              <div>
                {{ 'Estimated Total' }}
              </div>
              <div>
                {{ segment.value | price(storeView) }}
              </div>
            </div>
          </div>
        </div>
        <div v-if="infoBox" class="category-info-box hidden md:block border border-orange-dark rounded overflow-hidden mb-20">
          <div class="border-b border-orange-dark bg-orange-light bg-opacity-50 px-20 py-14 flex justify-between items-center text-gray-200 leading-22 font-medium">
            <svg class="mr-10" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.49951 16C12.6416 16 15.9995 12.6421 15.9995 8.5C15.9995 4.35786 12.6416 1 8.49951 1C4.35738 1 0.999512 4.35786 0.999512 8.5C0.999512 12.6421 4.35738 16 8.49951 16Z" stroke="#222222" />
              <path d="M8.49902 10V6" stroke="#222222" stroke-linecap="round" />
              <path d="M8.49902 12.0001V11.6667" stroke="#222222" stroke-linecap="round" />
            </svg>
            <span class="mr-auto ml-0">{{ 'Info' }}</span>
            <span class="cursor-pointer" @click="cabinetInfo()">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L15 15" stroke="#222222" />
                <path d="M15 1L1 15" stroke="#222222" />
              </svg>
            </span>
          </div>
          <cms-block :identifier="'cabinet-info'" />
        </div>
        <div v-if="productsInCart.length" class="flex order-button-warp">
          <button-outline :link="'/' + currentCategory.f_cat_sample_link" v-if="currentCategory.f_cat_sample_link" color="light" class="button-outline w-1/2 border-gray-200 mr-20 text-center px-0">
            {{ 'Order Door Sample' }}
          </button-outline>
          <button-full
            v-if="productsInCart.length"
            :link="{ name: 'checkout' }"
            class="text-center leading-21 md:leading-26 hover:text-white text-base px-0 w-1/2 flex items-center justify-center"
          >
            {{ 'Quick Checkout' }}
          </button-full>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ProductTile from 'theme/components/core/ProductTile'
import { mapGetters } from 'vuex'
import AddToCart from 'theme/components/core/AddToCart'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import Product from 'theme/components/core/blocks/Microcart/Product'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import ButtonFull from 'theme/components/theme/ButtonFull'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import ButtonOutline from 'theme/components/theme/ButtonOutline'

export default {
  data () {
    return {
      selectedTabIndex: 0,
      infoBox: true
    }
  },
  components: {
    ProductTile,
    ProductQuantity,
    AddToCart,
    Tabs: () => import(/* webpackChunkName: "bocm-tabs" */ 'theme/components/theme/Tabs.vue'),
    Tab: () => import(/* webpackChunkName: "bocm-single-tab" */ 'theme/components/theme/Tab.vue'),
    Product,
    ButtonFull,
    CmsBlock,
    ButtonOutline
  },
  props: {
    currentCategory: {
      type: Object,
      default: () => {},
      require: true
    }
  },
  computed: {
    ...mapGetters({
      categoryProducts: 'bocmproduct/getCategoryProductList',
      productsInCart: 'cart/getCartItems',
      totals: 'cart/getTotals'
    }),
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    async getCategoryProducts (category) {
      await this.$store.dispatch('bocmproduct/categoryProductList', category)
    },
    subcategoryData (categoryId) {
      let category = this.categoryProducts.find(x => x.categoryId === categoryId)
      if (category) {
        return category.products.slice().sort((a, b) => {
          const positionA = a.category.filter(x => x.category_id === categoryId)
          const positionB = b.category.filter(x => x.category_id === categoryId)
          if (positionA[0]['position'] === 0) return 1; // Return 1 so that b goes first
          if (positionB[0]['position'] === 0) return -1; // Return -1 so that a goes first
          return positionA[0]['position'] - positionB[0]['position'];
        });
      }
      return []
    },
    visibilityChanged (isVisible, entry, category) {
      this.getCategoryProducts(category)
    },
    scrollToCategory (sectionid) {
      window.scrollTo({
        behavior: 'smooth',
        top: this.findPosition(document.getElementById(sectionid))
      });
    },
    findPosition (obj) {
      var currenttop = -65;
      if (obj.offsetParent) {
        do {
          currenttop += obj.offsetTop;
        } while ((obj = obj.offsetParent));
        return [currenttop];
      }
    },
    cabinetInfo () {
      this.infoBox = false
    }
  },
  created () {
    this.selectedTabIndex = 0
  }
}
</script>
<style lang="scss">
.order-button-warp a {
  min-width: auto;
}
.cabinet-sidebar {
  .products {
    max-height: 330px;
  }
}
.tabs__light .row:empty {
  display: none;
}
</style>
