<template>
  <div class="quick-view">
    <modal name="quick-view-modal">
      <div class="relative p-40 md:p-30 lg:p-40">
        <span
          slot="close"
          class="modal-close cursor-pointer absolute right-10 top-10"
          @click="close"
          data-testid="closeModalButton"
        >
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="14.5" stroke="#222222" />
            <path d="M10 10L20 20" stroke="#222222" />
            <path d="M20.0005 10L10.0005 20" stroke="#222222" />
          </svg>
        </span>
        <div class="flex flex-wrap">
          <div class="quick-product-image">
            <div
              class="product-cover relative"
            >
              <AddToCompare :product="product" class="-my-9 -mx-5 md:mx-0 absolute right-15 top-15">
                <div
                  class="product__icon relative"
                  :class="{'product__icon--active':isOnCompare }"
                  :title="isOnCompare ? $t('Remove from compare') : $t('Add to compare')"
                >
                  <span class="sr-only">Compare</span>
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="#FBFBFB" stroke="#F5F5F5" />
                    <rect x="11" y="17" width="13" height="13" rx="2" stroke="#222222" stroke-linejoin="round" />
                    <rect x="17" y="11" width="13" height="13" rx="2" stroke="#222222" stroke-linejoin="round" />
                  </svg>
                </div>
              </AddToCompare>
              <router-link
                class="block no-underline product-link"
                :to="productLink"
                data-testid="productLink"
                @click.native="close"
              >
                <product-image
                  class="product-cover__thumb"
                  :image="thumbnailObj"
                  :alt="product.name | htmlDecode"
                  :calc-ratio="false"
                  data-testid="productImage"
                />
              </router-link>
            </div>
          </div>
          <div class="quick-product-description pl-40">
            <div class="product-tile-info">
              <h5 class="product-tile-title mt-0 mb-10">
                <router-link
                  class="font-medium text-20 leading-30 text-gray-200"
                  :to="productLink"
                  data-testid="productLink"
                  @click.native="close"
                >
                  {{ product.name | htmlDecode }}
                </router-link>
              </h5>
              <AlReviewsDetailLabel :is-quick-view="true" :product="product" />
              <div class="product-tile-price mt-30">
                <product-price
                  :product="product"
                />
              </div>
              <product-quantity
                class="mt-30 qty"
                v-model.number="product.qty"
                :name="'Select Quantity'"
                :value="productQty"
                :max-quantity="maxQuantity"
                :loading="isStockInfoLoading"
                :is-simple-or-configurable="isSimpleOrConfigurable"
                @input="updateProductQty"
                @error="handleQuantityError"
              />
              <div class="product-tile-actions mt-20 flex">
                <AddToCart
                  class="px-10 py-12 text-sm lg:text-base"
                  :product="product"
                  :key="product.id"
                  :disabled="product.stock && product.stock.is_in_stock === false"
                />

                <!-- <button class="button-outline text-sm lg:text-base group px-10 ml-15 py-12 flex items-center justify-center border-gray-200">
                  <svg class="mr-14" width="18" height="24" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="group-hover:stroke-current hover:text-white" d="M1 13.8333L9.88889 1V10.1667H17L8.11111 23V13.8333H1Z" stroke="#222222" stroke-linejoin="round" />
                  </svg>
                  {{ 'Quick Checkout' }}
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import Modal from 'theme/components/core/Modal';
import ProductImage from '../../ProductImage'
import ProductPrice from '../../ProductPrice'
import { productThumbnailPath } from '@vue-storefront/core/helpers'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import { IsOnCompare } from '@vue-storefront/core/modules/compare/components/IsOnCompare'
import AddToCompare from 'theme/components/core/blocks/Compare/AddToCompare'
import { mapGetters } from 'vuex'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import AddToCart from 'theme/components/core/AddToCart.vue'
import { AlReviews } from 'src/modules/bocm/review-ratings/components/AlReviews.js'
import AlReviewsDetailLabel from 'src/modules/bocm/review-ratings/components/AlReviewsDetailLabel.vue'

export default {
  name: 'ProductQuickView',
  mixins: [AlReviews, IsOnCompare],
  props: {
    product: {
      required: true,
      type: Object
    },
    productBorderEnabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true
    }
  },
  components: {
    ProductImage,
    ProductPrice,
    AddToCompare,
    ProductQuantity,
    Modal,
    AddToCart,
    AlReviewsDetailLabel
  },
  computed: {
    ...mapGetters({
      attributesByCode: 'attribute/attributeListByCode'
    }),
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.product.type_id)
    },
    productQty () {
      return this.product.qty
    },
    thumbnail () {
      let thumbnail = productThumbnailPath(this.product)
      return this.getThumbnail(thumbnail, 600, 1000)
    },
    thumbnailObj () {
      return {
        src: this.thumbnail,
        loading: this.thumbnail
      }
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity
    },
    productLink () {
      return formatProductLink(this.product)
    }
  },
  methods: {
    updateProductQty (qty) {
      this.updateQuantity(qty)
    },
    async getQuantity (product) {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const validProduct = product || this.product
        const res = await this.$store.dispatch('stock/check', {
          product: validProduct,
          qty: this.productQty
        })
        return res.qty
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    close (e) {
      if (e) localStorage.removeItem('redirect')
      this.$bus.$emit('modal-hide', 'quick-view-modal')
    }
  }
};
</script>
<style lang="scss">
.quick-view {
  .modal {
    .modal-container {
      width: 895px;
      .quick-product-image {
        width: 44.18%;
        .product-image {
          padding-bottom: 120%;
        }
      }
      .quick-product-description {
        width: 55.82%;
      }
    }
  }
}
</style>
